<div class="mcq">
    <span style="font-weight:bold">Check your understanding</span><br>
    <span ng-bind-html="content.question.stem"></span>
    <table>
        <tr>
            <th style="text-wrap:suppress"></th>
            <th>True</th>
            <th>False</th>
            <th ng-if="checked"></th>
            <th ng-if="checked"></th></tr>
     <tr ng-repeat="choice in content.question.choices">
      <td style="width:35%"><span style="" class="MCQItem" ng-bind-html="choice.text"></span></td>
      <td style="width:2%;">
        <input  type="checkbox" ng-model="$parent.answer[$index]" ng-value="true" />
      </td>
      <td style="width:2%;">
        <input  type="checkbox" ng-model="$parent.answer[$index]" ng-false-value="true" ng-true-value="false" />
        <!-- <input  type="checkbox" ng-model="$parent.answer[$index]" ng-value="false"  />  -->
      </td>
      <td style="width:5%;" ng-if="checked">
        <span ng-if="''+answer[$index] == ''+choice.correct" class="correct">Correct!</span>
        <span ng-if="''+answer[$index] !==''+choice.correct" class="wrong">Wrong!</span>
      </td>
      <td width="width:46%;"> 
        <span ng-if="choice.reason" class="MCQExpl" ng-bind-html="choice.reason"></span></td>
     </tr>
    </table>
     <button  ng-click="submit()">Submit</button>
</div>
