.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.badge {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.badge-icon {
  width: 30px;
  height: 30px;
}
