// Font used by MathQuill
@import 'static/scripts/vendor/mathquill/fonts/Symbola';
:host ::ng-deep {
    // MathQuill elements are added dynamically, so Angular CLI cannot find them at compile-time.
    // We need to import them via ::ng-deep.
    @import 'static/scripts/vendor/mathquill/mathquill';
}

.visual-input {
    width: 100%;
}

.active-visual-input {
    min-height: 60px;
}

.formula-area {
    padding: 0.25em;
}

.formula-container {
    padding: 0.25em;
}

.active-field {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 5px;
}