// Font used by MathQuill
@import 'static/scripts/vendor/mathquill/fonts/Symbola';
:host ::ng-deep {
    // MathQuill elements are added dynamically, so Angular CLI cannot find them at compile-time.
    // We need to import them via ::ng-deep.
    @import 'static/scripts/vendor/mathquill/mathquill';
}

.formula-field {
    .formula-field-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
    }

    .input-container {
        padding: 0.25em;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        .visual-input {
            width: 100%;
            border-color: black;
        }

        .active-visual-input {
            min-height: 60px;
            border-color: black;
            width: 100%;
        }

        .visual-input:hover {
            border-color: black;
        }

        .render-error {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            padding: 10px 10px;
            color: red;
            pointer-events: none;
            overflow-wrap: anywhere;
            white-space: pre-wrap;
        }

        .formula-area {
            padding: 0.25em;
            font-family: "Courier New", Courier, serif;
            width: 100%;
        }
    }
}

.active-field {
    padding: 0.3em;
    border: 2px solid #004494;
    display: flex;
    flex-direction: row;
    width: 100%;
}



@media only screen and (min-width: 500px) {
    .formula-field {
        .input-container {
            flex-direction: row;

            .active-visual-input {
                width: 50%;
            }

            .formula-area {
                width: 50%;
            }

            .render-error {
                max-width: 50%;
            }
        }
    }

}
