// Font used by MathQuill
@import 'static/scripts/vendor/mathquill/fonts/Symbola';
:host ::ng-deep {
    // MathQuill elements are added dynamically, so Angular CLI cannot find them at compile-time.
    // We need to import them via ::ng-deep.
    @import 'static/scripts/vendor/mathquill/mathquill';
}

.visual-input {
    width: 100%;
    border-color: lightgrey;
}

.visual-input:hover {
    border-color: black;
}

.active-visual-input {
    min-height: 60px;
    border-color: black;
    width: 50%;
}

.formula-area {
    padding: 0.25em;
    font-family: "Courier New", Courier, serif;
    width: 50%;
}

.formula-container {
    padding: 0.25em;
}

.active-field {
    display: flex;
    flex-direction: row;
    padding: 0.3em;
    border: 2px solid #004494;
}
