:host {
    display: block;
}

.dragword {
    padding: 0.25em;
    border: 1px solid grey;
    background: #ffffff;
    cursor: grab;
    min-height: calc(1.5em + 2px);
    touch-action: manipulation;

    box-shadow: 4px 4px 1px grey;

    .touchdrag & {
        padding: 1em;
    }
}

::ng-deep .activeword {
    opacity: 0.5;
}

.dropword {
    align-content: flex-start;
    display: inline-flex;
    touch-action: manipulation; // prevents scrolling while dragging on touchscreen
    padding: 0.25em;
    background-color: #d5d5d5;
    border: 2px dashed #aaaaaa;
    min-width: 1.5em;
    min-height: calc(2.5em + 6px);

    .touchdrag & {
        padding: 1em;
        min-height: calc(4em + 8px);
    }
}

.plugindrag ul {
    list-style-type: none;
    margin: 0;
    vertical-align: middle;
}

.dndDraggingSource {
    opacity: 0.6;
}

.dndPlaceholder {
    min-width: 3em;
    min-height: calc(1.5em + 2px);

    .touchdrag & {
        min-height: calc(2.25em);
    }
}
