image: tmaier/docker-compose:latest

variables:
  DOCKER_DRIVER: overlay2
  GIT_SUBMODULE_STRATEGY: normal

services:
- docker:dind

before_script:
- docker info
- docker-compose --version
- apk add --update bash
- apk add --update git

test:
  stage: test
  script:
  - cp variables.sh.template variables.sh
  - chmod +x variables.sh
  - sed -i 's/echo variables.sh/#echo variables.sh/' variables.sh
  - export IS_TESTING=true
  - ./dc pull tim
  - ./dc run --rm --no-deps --workdir /service tim mypy -p timApp
  - ./dc pull --quiet
  - ./npmi
  - ./js
  - ./run_tests.sh
  artifacts:
    name: failed_screenshots
    when: always
    paths:
    - screenshots
