[submodule "timApp/modules/Haskell/Choices"]
	path = timApp/modules/Haskell/Choices
	url = https://github.com/TIM-JYU/haskellplugins.git
[submodule "timApp/modules/cs/jsav"]
	path = timApp/modules/cs/jsav
	url = https://github.com/vkaravir/JSAV.git
