*.pyc
*.bak
*.log
.settings
.idea
.cabal-sandbox/
dist/
bower_components/

/timApp/.hypothesis/
/timApp/modules/cs/test/a.b
/timApp/modules/cs/test/a.c
/timApp/modules/cs/nohup.out
/timApp/modules/cs/images/html
/timApp/modules/cs/images/
/timApp/modules/cs/java/cs/ComTest.jar
/docs/YPJ-palkat_1.8.2014_ja_1.8.2015.xlsx
/converters/demopisteet/*.csv
tim_secret.py
/timApp/modules/pali/log/log.txt
/timApp/tim_files/
/tim_logs/
