*.bak
*.lib
*.log
*.printing_whitelist.*
*.pyc
*~
.cache/
.dmypy.json
/.idea
/.run
.mypy_cache/
.settings
tim.conf
.stack-work/
.webassets-cache/
/Dumbo/
/screenshots
/tim_logs/
/timApp/.angular/cache
/timApp/celerybeat-schedule.db
/timApp/prodconfig.py
/timApp/hosts.json
/timApp/auth/saml/prod/settings.json
/timApp/auth/saml/prod/new/
/timApp/messages.xlf
# Outdated folder
/timApp/modules/cs/jypeli/
/timApp/modules/cs/data/
/timApp/modules/cs/generated
/timApp/modules/cs/java/cs/ComTest.jar
/timApp/modules/cs/mathcheck/mc.exe
/timApp/modules/cs/masters/
/timApp/modules/cs/nohup.out
/timApp/modules/cs/static/glowscript
/timApp/modules/cs/static/processing/anything.html
/timApp/modules/cs/static/processing/worm.html
/timApp/modules/cs/test/a.b
/timApp/modules/cs/test/a.c
/timApp/modules/Haskell/PluginConstructionKit/
/timApp/Output.txt
/timApp/static/gen/
/timApp/static/generated/
/timApp/static/profiling/*.prof
/timApp/static/profiling/*.svg
/timApp/static/scripts/build-ide/
/timApp/static/scripts/decls/
/timApp/static/scripts/jspm_packages/
/timApp/static/scripts/node_modules/
/timApp/static/scripts/tim/**/*.js
/timApp/static/scripts/tim/imagex.js
/timApp/static/scripts/tim/ngimport.js
/timApp/static/testgen/
/timApp/tim_files/
/variables.sh
_build/
build/
bower_components/
cargo-cache/
certs/
dist/
dist_*/
log.txt
MIRToolbox/
node_modules/
pg_backup
redate-settings
temp
Thumbs.db
yubi.key
/mailman/
.venv/
/test/
/docs/
/python_docs/
build_docs.sh
/timApp/modules/Haskell/
/timApp/modules/cs/jsav/

# These are generated automatically from templates
/.env
/docker-compose.yml
/docker-compose.dev.yml

# babel translation files
*.mo
*.pot
