*.pyc
*.bak
*.log
*~
.settings
.idea
.cabal-sandbox/
.mypy_cache/
.webassets-cache/
dist/
bower_components/
MIRToolbox/
pg_backup/
.stack-work/
/variables.sh
/timApp/docs/_build/
/timApp/static/gen/
/timApp/static/testgen/
/timApp/static/scripts/node_modules/
/timApp/static/scripts/jspm_packages/
/timApp/static/scripts/build/
/timApp/static/scripts/build-ide/
/timApp/static/scripts/decls/
/timApp/modules/cs/data/
/timApp/modules/cs/js/build/
/timApp/modules/cs/test/a.b
/timApp/modules/cs/test/a.c
/timApp/modules/cs/nohup.out
/timApp/modules/cs/generated
/timApp/modules/cs/static/glowscript
/timApp/modules/cs/log.txt
/timApp/modules/cs/java/cs/ComTest.jar
/converters/demopisteet/*.csv
tim_secret.py
yubi.key
/timApp/modules/pali/log/log.txt
/timApp/modules/Haskell/PluginConstructionKit/
/timApp/tim_files/
/tim_logs/
