Juhani Sihvonen <jujapisi@student.jyu.fi> <jujapisi@SOVPROJ05.ad.jyu.fi>
Juhani Sihvonen <jujapisi@student.jyu.fi> <jujapisi@SOVPROJ04.ad.jyu.fi>
Matias Berg <majukabe@student.jyu.fi> <majukabe@it.jyu.fi>
Matias Berg <majukabe@student.jyu.fi> <majukabe@SOVPROJ07.ad.jyu.fi>
Matias Berg <majukabe@student.jyu.fi> <matias.j.k.berg@student.jyu.fi>
Samuel Uusi-Mäkelä <kaiutindev@gmail.com> <samuel@MuoviLapyska.(none)>
Samuel Uusi-Mäkelä <kaiutindev@gmail.com> <sahauusi@timbeta.it.jyu.fi>
Samuel Uusi-Mäkelä <kaiutindev@gmail.com> <sahauusi@besson.it.jyu.fi>
Samuel Uusi-Mäkelä <kaiutindev@gmail.com> <guest-uNwdxU@tsang.(none)>
Vesa Lappalainen <vesal@jyu.fi> <vesal@timbeta.it.jyu.fi>
Vesa Lappalainen <vesal@jyu.fi> <agent@docker.com>
Ville Tirronen <aleator@gmail.com> <ville.tirronen+tim@jyu.fi>
Ville Tirronen <aleator@gmail.com> <ville.e.t.tirronen@jyu.fi>
Ville Tirronen <aleator@gmail.com> <ville.tirronen@jyu.fi>
Hannu Viinikainen <hajoviin@student.jyu.fi>
Mika Lehtinen <mikkalle@student.jyu.fi> <mikkalle@timbeta.it.jyu.fi>
Tomi Karppinen <tomi.j.karppinen@jyu.fi> <=>
Veli-Pekka Oksanen <veli-pekka.j.oksanen@student.jyu.fi>
Iikka Airaksinen <iisaaira@jyu.fi> <iikka.s.airaksinen@jyu.fi>
Iikka Airaksinen <iisaaira@jyu.fi> Iikka
Seppo Tarvainen <seppo.v.tarvainen@jyu.fi> <sevitarv@jyu.fi>
Seppo Tarvainen <seppo.v.tarvainen@jyu.fi> sevitarv
Unknown <unknown> <localadmin@NEPHTHYS2.ad.jyu.fi> # Accidental useless empty file commit
Unknown <unknown> <root@timbeta.it.jyu.fi> # Could be Samuel, but not 100% sure
Joonas Sakari Lattu <joonas.s.lattu@student.jyu.fi> <josalatt@SOVPROJ05.ad.jyu.fi>
