@charset "UTF-8";

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

@import "bootstrap";
@import "bootstrap-datetimepicker-build";
@import "bootstrap-print";
@import "stylesheet";
@import "common";
@import "menustyle";
@import "style";
@import "cssPrint";
@import "windowstyle";
@import "velpSelection";
@import "highContrast";
