.pluginfeedback answerbrowser {
    display: none;
}

.plugindropdown answerbrowser {
    display: none;
}

.plugindrag answerbrowser {
    display: none;
}

.plugindrag .answerBrowserPlaceholder {
    display: none;
}

.plugindropdown .answerBrowserPlaceholder {
    display: none;
}
