$grid-gutter-per2: ($grid-gutter-width/2);
$left-ratio: 100% * ($left-side-columns/$grid-columns);
$right-ratio: 100% * ($right-side-columns/$grid-columns);

$menuTab-border: 1px solid lighten($gray-base, 88%);

.flex-grow-1 {
    flex-grow: 1;
}

.fixed-side {
    position: fixed;
    z-index: 4;
    font-size: small;
}

.left-fixed-side {
    @extend .fixed-side;
    max-width: calc(#{$left-ratio} - #{$grid-gutter-per2});
    min-width: 12em; // modified dynamically by sideBarMenuCtrl
    margin-left: -$grid-gutter-per2;

    @media (max-width: $screen-xs-max) {
        margin-left: -$container-xs-padding;
    }
}

.right-fixed-side {
    @extend .fixed-side;
    right: 0;
}

#menuTabs {
    background: white;
    display: block;

    & > .nav > li > a {
        padding: 5px 11px;
    }

    & > .nav-tabs {
        .nav-link, .nav-item {
            height: 44px;
        }

        min-width: 185px; // minimum required space for 5 tabs in one row
        .glyphicon {
            font-size: x-large;
            margin: 0px -10px;
            color: $basic-color;
        }

        // make sure active tab remains black
        .active a .glyphicon {
            color: inherit;
        }
    }

    .tab-content {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 51.2833px);
        padding-left: 3px;

        .same-line {
            display: inline-block;

            &.spaced {
                padding-left: 0.3em;
            }
        }

        i.vis-hidden {
            visibility: hidden;
        }

        .tab-pane > ul {
            padding-left: 13px;

            &.subexp {
                padding-left: 0;
                list-style-type: none;

                ul {
                    padding-left: 25px;
                }

                a.exptoggle:hover {
                    text-decoration: none;
                }

                a.a3 {
                    position: relative;
                    left: 0.4em;
                    font-size: smaller;
                    display: block; // needed for line-height to work
                    line-height: 1.3;
                }
            }
        }
    }
}

#menu-points, #menu-scores {
    padding-top: 1em;
    border-bottom: $menuTab-border;

    h5 {
        margin-bottom: 2em;
    }

    .collapse-header {
        padding-bottom: 1em;
        
        * {
            display: inline;
            color: $text-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .points-header {
        margin-bottom: 0.3em;
        > p {
            display: inline;
            font-weight: 600;
            color: lighten($text-color, 40%);
            font-size: 0.8em;
            margin-bottom: 0px;
        }
    }

    .score-list {
        border-top: $menuTab-border;
        margin-bottom: 0;
        padding-left: 0px;
        
        li {
            padding-bottom: 0.7em;
            padding-top: 0.7em;
            list-style: none;

            &.task_okay {
                display: flex;
                flex-wrap: wrap;
            }
            
            &.task_prog {
                display: flex;
                flex-wrap: wrap;
            }
            
            p {
                margin-bottom: 0;
                text-align: right;
                font-weight: 600;

            }

            a {
                color: $score-menu-link-color;
                margin-right: 0.3em;

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $basic-color;
                }
                
                &:visited {
                    color: $score-menu-link-visited-color;
                }
            }
            
            &:last-child {
                border-top: $menuTab-border;
            }
        }
    }

    .full-points {
        color: lighten($text-color, 40%);
    }

    .point-total {
        text-align: right;
        font-weight: 600;
        padding-bottom: 0.7em;
        padding-top: 0.7em;
        margin-bottom: 0px;
    }
}

#menu-scores {
    border-bottom: none;
}