.ace_scrollbar {
    z-index: 0 !important;
}

.reveal .katex {
    font-family: "KaTeX_Main", Verdana, serif;
}

.csrun-clicking .katex:hover {
    cursor: grab;
}

.symbol-button .katex-display {
    margin: 0;
}


$buttons-width: 75%;

tim-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 95vh;

    &.overflow-visible {
        .modal-body {
            overflow-y: visible;
        }
    }

    dialog-body {
        display: block;
        height: 100%;
    }
}

tim-dialog-frame {
    &.overflow-visible {
        .modal-body {
            overflow-y: visible;
        }
    }
}

.modal-body {
    overflow-y: auto;
    flex: 1;
}

.modal-content {
    &.draggable-content {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 100%;
    }
}

.draggable-block, .draggable-area {
    z-index: 1200 !important;
    position: static;
    background-color: var(--bg-color);

    &.draggable-detached {
        width: var(--paragraph-preferred-width);
    }

    &.draggable-attached {
        width: initial !important;
        height: auto !important;
    }

    .draggable-content {
        position: relative;
    }
}

.draggable-plugin {
    z-index: 1200;
    background-color: $material-bg;

    [data-plugin] {
        background-color: $material-bg;
    }

    &.draggable-detached .csRunDiv {
        max-width: $paragraph-preferred-width;
        background-color: $material-bg;
    }

    &.draggable-detached .draggable-content {
        height: inherit;
        overflow-y: auto;
        max-height: 90vh;
    }
}

.modal-dialog {
    max-width: 100vw;

    .draghandle {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-weight: bold;
    }
}

.modal-xs {
    width: 215px;
}

.answerButton {
    min-width: 200px;
}

.chart {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.center p {
    text-align: center;
}

h4.questionTitle {
    padding-bottom: 0em !important;
    padding-top: 0em !important;
    font-size: 10pt;
}

/* reveal */

.reveal li {
    text-align: left;

}

.dropdown-menu > tim-dropdown-checkbox {
    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: $line-height-base;
        color: $dropdown-link-color;
        white-space: nowrap;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
        }
    }
    > .active > a {
        &,
        &:hover,
        &:focus {
            color: $dropdown-link-active-color;
            text-decoration: none;
            outline: 0;
            background-color: $dropdown-link-active-bg;
        }
    }
}

.form-horz-flex {
    display: flex;
    align-items: center;

    label {
        flex: 0 0 auto;
        margin-right: 0.5em;
    }
    input, .input-group, tim-duration-picker, textarea, select {
        flex: 0 1 auto;
    }
    tim-error-message {
        flex: 0 0 auto;

        .alert {
            margin: 0;
        }
    }

    tim-duration-picker .form-group {
        margin-bottom: 4px;
    }
}


