/** Layout styles **/
.fulldiv {
    display: block;
    min-width: 100%;
    width: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 18em;
    max-height: 60vh;

    @media screen and (max-height: 1080px) {
        min-height: 12em;
    }

    @media screen and (max-height: 800px) {
        min-height: 8em;
    }
}

annotation .fulldiv {
    min-height: unset;
}

.velp-groups-resize {
    resize: vertical;
}

.div-90 {
    width: 90%;
    float: left;
}

.div-10 {
    width: 10%;
    float: left;
}

/** Velp area styles **/
.velpMenu .tab-content {
    bottom: 0;
    top:0;
}


.velpFill {
    top: 0;
    bottom: 0;
}

.velpFixed {
    position: fixed;
    min-width: fit-content;
    max-width: 22.5em;
    min-height: 24em;
    height: fit-content;
    height: -webkit-fit-content;
    max-height: 80em;
    right: 0;
    top: 50px;
    bottom: 0;
    border: 1px solid gainsboro;
    background: white;
    z-index: 1000;
    /* border-top-left-radius: 8px; */
}

/** Velp area styles **/
.velpMenu {
    /* position: fixed; */
    min-width: fit-content;
    max-width: 22.5em;
    word-wrap: break-word;
    background: white;
    z-index: 1001;
    padding-left: 0.5em;
    top: 0;
    bottom: 0;
}

.velpMenu .nav-tabs {
    margin-left: 0;
    margin-top: 0em;
}

.velpMenu .nav-tabs > li.active > a {
    color: white;
    font-size: 0.8em;
    background-color: #3cc;
    border: 1px solid $basic-border-color;
    border-bottom: none;
    padding: 0.5em 1em;
}

.velpMenu .nav-tabs > li > a {
    color: #333;
    font-size: 0.8em;
    background-color: #F6F6F6;
    border: 1px solid $basic-border-color;
    border-bottom: none;
    padding: 0.5em 1em;
}

.velpMenu .draggable-detached {
    min-width: 19.5em;
    max-width: 19.5em;

    .velp-stack {
        border-bottom: 1px solid gainsboro;
        border-left: 1px solid gainsboro;
        border-right: 1px solid gainsboro;

        @media screen and (max-height: 1080px) {
            min-height: 24em;
        }

        @media screen and (max-height: 800px) {
            min-height: 20em;
        }
    }
}

.velpArea {
    width: 100%;
    margin-bottom: 1em;
    background-color: white;
    border-top: solid 1px gainsboro;
    float:left;
    position: relative;
    top: 0;
    bottom: 0;
}

.autoscroll {
    width: 100%;
    overflow-y: auto;
}

/* needs media queries */
.velpArea .velp-stack {
    background: white;
    min-height: 16em;
    max-height: 60vh;
    height: fit-content;
    min-width: 19.5em;
    width: 100%;
    max-width: 19.5em;
    position: relative;
    resize: vertical;

    @media screen and (max-height: 800px) {
        min-height: 10em;
    }
}

.adjustForm {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.adjustAnnForm {
    margin-top: 0.6em;
    margin-bottom: 0.9em;
}

.formLabel {
    font-size: 0.9em;

    @media screen and (max-height: 800px) {
        font-size: 0.9rem;
    }
}

.formInput {
    max-width: 59%;
    display: inline-block;
    float: right;
    margin-right: 0.3rem;

    @media screen and (max-height: 800px) {
        font-size: 0.9rem;
    }
}

/* Table styles*/
.velpTable {
    table-layout: fixed;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    border: none;
    text-align: left;
}

.velpTable input {
    border: solid 1px gainsboro;
}
.velpTable input[type="submit"] {
    border: none;
    margin: 6px;
}

.velpArea input[type="number"] {
    width: 30%;
}

.velpArea legend {
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 0.3em;

    @media screen and (max-height: 1080px) {
        font-size: 1.1em;
        margin-top: 5px;
        margin-bottom: 4px;
    }

    @media screen and (max-height: 800px) {
        font-size: 1.2rem;
        margin-top: 5px;
        margin-bottom: 4px;
    }
}

.velpTable td{
    border: 0;
    margin: 0;
    padding: 4px;
    width: 10em;
    white-space: normal;
}

.tag-true, .tag-false {
    font-size: 0.85em;
    word-wrap: break-word;
    margin: 0.25em;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
    max-width: 98%;
    white-space: normal;
}

.tag-true {
    border-bottom: solid 4px darkblue;
}

.tags {
    top: 25px;
    right: 5px;
    position: absolute;
    width: 3em;
}

.addLabelField {
    display: inline;
    width: 76%;
    margin-bottom: 10px;
}

.addLabelBtn {
    display: inline;
}

.velp {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    line-height: 1.25em;
    font-weight: 600;
    cursor: pointer;
    min-height: 10em;
    width: 18em;
}

.velp legend{
    font-size: 1.5rem;
    font-weight: 600;

    @media screen and (max-height: 1080px) {
        font-size: 1.1em;
    }

    @media screen and (max-height: 800px) {
        font-size: 1.2rem;
    }
}

.velp .truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.velp .warning{
    border: 1px solid #f0ad4e;
    background-color: #fcf8e3;
}

.velp .gray{
    color: gray;
}


.velp-data {
    position: relative;
}

.notes .velp-badge {
    position: absolute;
    top: 0;
    left: -2em;
    font-size: 9px;
    padding: 0;
    z-index: 10;
}

.notes .note-badge-with-velp {
position: absolute;
    top: 0;
    left: -1em;
    font-size: 9px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.velp:hover .emphasise{
    margin-top: -1em;
    -webkit-box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
    -moz-box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
    box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
}

.velp .emphasise{
    position: relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    z-index: 0;
    background: gainsboro;

-webkit-box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
-moz-box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
}

.bottom-part{
    height: 8em;
    width: 100%;
}

.velp .edit{
    margin-top: -1em;
    z-index: 10;
}

.velp .content{
    position: relative;
    padding: 0.4em 0.25em;
    z-index: 1;
    font-weight: 300;
    font-size: 0.9em;
}

.velp .header{
    font-size: 1.5rem;
    font-weight: 600;

    @media screen and (max-height: 800px) {
        font-size: 1.2rem;
        margin-bottom: 4px;
    }
}

.velp .content .right{
    float: right;
}

.velp .content .left{
    float: left;
}

.velp textarea{
    width: 100%;
}

/* Velp info and PopOver styles */
.velpInfo {
    float: left;
    border: 0;
}
.velpInfoText {
    word-break: keep-all;
}

.velpInfo input.points{
    background: transparent;
    border: 0;
    width: 50px;
}

.velp-content{
    padding: 0.5em 0.25em;
}

.velp-bg {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.velpInfo textarea{
    background-color: transparent;
    border: none;
}

.notes>span{
    display: block;
    margin-bottom: 0.25em;
}

/* Annotation styles */
.has-annotation::before {
    background: #3CC;
    content: "\00A0V\00A0";
    color: white;
    padding: 0.1em;
    position: absolute;
    top: 0;
    right: 0;
}

label.disabled {
    color: grey;
}

$default: gainsboro;
$positive: palegreen;
$neutral: khaki;
$negative: lightpink;
$new: lightskyblue;
$inactive: whitesmoke;

.emphasise {
    &.default {
        background: $default;
    }

    &.positive {
        background: $positive;
    }

    &.neutral {
        background: $neutral;
    }

    &.negative {
        background: $negative;
    }

    &.new {
        background: $new;
    }

    &.inactive {
        background: $inactive;
    }

    &.image-text {
        background: transparent;

        &.default {
            color: $default;
        }

        &.positive {
            color: $positive;
        }

        &.neutral {
            color: $neutral;
        }

        &.negative {
            color: $negative;
        }

        &.new {
            color: $new;
        }

        &.inactive {
            color: $inactive;
        }
    }
}

.clickable-icon {
    cursor: pointer;
    opacity: 0.6;
}

.clickable-icon:hover {
    opacity: 1;
}

.clickable {
    cursor: pointer;
}

#resetAllSelBtn {
    margin-top: 1em;
}

#selection {
    min-height: 3em;
    margin: 0;

    @media screen and (max-height: 1080px) {
        min-height: 1.6em;
    }

    @media screen and (max-height: 800px) {
        min-height: 2rem;
    }
}

.available-velps {
    background: white;
}

.editVelp-scrollarea {
    display: block;
    max-height: 16em;
    overflow-y: auto;

    @media screen and (max-height: 1080px) {
        max-height: 8em;
    }

    @media screen and (max-height: 800px) {
        font-size: 1.2rem;
        max-height: 4.8rem;
        line-height: 1rem;
    }
}

.labels-scrollarea {
    display: block;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 4em;
    margin-bottom: 4px;

    @media screen and (max-height: 800px) {
        font-size: 1.2rem;
        line-height: 1rem;
    }
}

.label-edit-glyphicons {
    margin-left: 3px;
}

.velp-color-selector {
    height: 2.35rem;
    width: 5rem;
    padding: 3px;
    vertical-align: top;
    border-block: unset;
    border: 1px solid gray;
    border-radius: 3px;
}

.btn-restore-velp-color {
    height: 2.35rem;
    width: 2rem;
    padding: 2px 0;
    vertical-align: top;
}

.velpEdit-remove-margin {
    margin: 0;
}

.velpEdit-addLabel-controls {
    margin-top: 4px;
}

.btn-create-new-velp {
    margin-top: 0.3rem;
    padding-top: 0.3rem;
    border-top: 1px solid gainsboro;
}

.btn-set-vg-visible {
    font-size: 1.2rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 3px;
}

input[type="color"]::-moz-color-swatch {
  padding: 0;
  border: 1px solid gray;
  border-radius: 2px;
}

.velp-filters {
    margin-bottom: 4px;
    line-height: unset;

    @media screen and (max-height: 800px) {
        margin-bottom: 4px;
    }
}

velp-window.velp-edit-available {
  z-index: 10;
  position: fixed;

  & > .velp {
    top: 1em !important;
  }
}