.title-button {
    width: 100%;
    background-color: #dcdcdc;
    border: none;
    border-top: 1px solid black;
    outline: none;

    &:hover {
        filter: brightness(80%) !important;
    }

    &.collapsed-button {
        filter: brightness(92%);
    }
}

.penalty-text {
    background-color: #da0000;
    width: 95%;
    padding: 2px 0.5em;
}

.centermargin {
    margin: 0 auto !important;
}
