(static) {
	file_server * {
		root /tim/timApp/static
	}
}

(mailman_dev) {
	handle /mailman3/* {
        reverse_proxy * http://mailman-web:8000
    }
    handle_path /mailman3/static/* {
        file_server * {
            root /var/www/mailman3/static
        }
    }
}

(common) {
	encode gzip

	handle_path /static/* {
		import static
	}
	handle_path /csgenerated/* {
		file_server * {
			root /csgenerated
		}
	}

	handle_path /js/* {
		@has_lang {
			file {
				root /tim/timApp/static/scripts/build/{cookie.script_lang}
				try_files {path}
			}
		}
		file_server @has_lang {
			root /tim/timApp/static/scripts/build/{cookie.script_lang}
		}
	    file_server {
			root /tim/timApp/static/scripts/build
		}
	}

	handle_path /csstatic/* {
        @is_global {
            file {
                root /tim/timApp/modules/cs/static
                try_files {path}
            }
        }
        @is_volume {
            file {
                root /cs_data/static
                try_files {path}
            }
        }
        file_server @is_volume {
			root /cs_data/static
		}
		file_server @is_global {
			root /tim/timApp/modules/cs/static
		}
	}
	handle /cs/* {
		reverse_proxy * http://csplugin:5000
	}
	handle /svn/* {
		reverse_proxy * http://showfile:5000
	}
	handle_path /stackserver/* {
		reverse_proxy * http://stack-api-server
	}
	handle_errors {
		rewrite * /html/error.html
		templates
		import static
	}
}

(tim_server) {
	import common
	@nobuffering {
		query caddy_nobuffering=1
	}
	handle @nobuffering {
		reverse_proxy * http://tim:5000 {
			flush_interval -1
		}
	}
	handle {
		reverse_proxy * http://tim:5000
	}
	log {
		output file /logs/access.log {
			roll_keep 100
			roll_keep_for 365d
		}
	}
	{$CADDY_EXTRA_TIM_CONFIG}
}

{$CADDY_DOMAINS} {
	import tim_server
}

# For running tests
http://caddy:82 {
	import common
	handle {
		reverse_proxy * http://tests:5001
	}
}

{$CADDY_EXTRA_CONFIG}
