@charset "UTF-8";

/* Fontiksi Georgia, harvempi riviväli */
$block-code-size: exportable(100%, block-code-size);
$font-family-base: exportable(Georgia, Times, serif, serif, font-family-base);
$font-family-monospace: exportable(monospace, font-family-monospace);
$font-size-base: exportable(15px, font-size-base);
$font-size-h1: exportable(floor(($font-size-base * 2.29)), font-size-h1);
$font-size-h2: exportable(floor(($font-size-base * 1.72)), font-size-h2);
$font-size-h3: exportable(floor(($font-size-base * 1.5)), font-size-h3);
$heading-outdent: exportable(0, heading-outdent);
$inline-code-size: exportable(100%, inline-code-size);
$line-height-base: exportable(1.75, line-height-base);
$pre-overflow: exportable(auto, pre-overflow);
$pre-left-border: exportable(0px, pre-left-border);
$pre-background: exportable(#eff0f1, pre-background);