@charset "UTF-8";

/* Vaaleasävyinen teema */
$basic-color: exportable(#3CC, basic-color);
$button-bg-color: exportable($basic-color, button-bg-color);
$editline-bg-color: exportable($basic-color, editline-bg-color);
$areacollapse-color: exportable($basic-color, areacollapse-color);
$tab-bg-color: exportable($basic-color, tab-bg-color);
$csrundiv-color: exportable($basic-color, csrundiv-color);
$note-private-color: exportable($basic-color, note-private-color);
$csrunmenu-link-color: exportable($basic-color, csrunmenu-link-color);
$timbutton-bg-color: exportable($button-bg-color, timbutton-bg-color);
$viewlogin-link-color: exportable($basic-color, viewlogin-link-color);
$draghandle-bg-color: exportable($basic-color, draghandle-bg-color);
$icon-color: exportable($basic-color, icon-color);
$icon-hover-color: exportable(darken($basic-color, 10%), icon-hover-color);

$brand-primary: exportable($basic-color, brand-primary);
$link-color: exportable(#5588FF, link-color);
