<fieldset class="popUpWindow">
	<div>
	<link rel="stylesheet" href="{{ url_for('static', filename='windowstyle.css')}}">
		<h1>Statistics</h1>
		<form class="showAnswersWindow">
			<div class="questionInfo">
				<label>Name:</label>
				<img id="view-icon" src="{{url_for('static', filename='images/view-icon.png')}}" 
					class="icon" ng-click="openDetails()">
				<!--Add something that contains answering time that is left-->
			</div>
			<div class="answerStatistics">
				<!--Here comes pretty picture/statistics of answers-->
				<label>Select graph type:</label>
				<select name="selectStatistics" ng-model="selectGraph" ng-dropdown required>
					<option value="select" ng-option disabled selected> -- Select --</option>
					<option ng-option value="barChartH">Bar chart (horizontal)</option>
					<option ng-option value="barChartV">Bar chart (vertical)</option>
					<option ng-option value="pieChart">Pie chart</option>
					<option ng-option value="scatter">Scatter plot</option>
					<option ng-option value="line">Line chart</option>
					<option ng-option value="wordCloud">Word cloud</option>
				</select>
				<label>Show answers from:</label>
				<select name="selectAnswers" ng-model="selectGroup" ng-dropdown required>
					<option value="select" ng-option disabled selected> -- Select --</option>
					<option ng-option value="current">Current lecture</option>
					<option ng-option value="all">All answers</option>
				</select>
		</div>
		<div class="buttons">
			<button type="button" ng-click="askQuestion()">Ask again</button>
            <button type="button" ng-click="close()">Close</button>
		</div>
		</form>
		{% include 'questioninfo.html' %}
	</div>
</fieldset>