<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <base href="{{ request.path }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="TIM - The Interactive Material."/>
        <meta name="keywords" content="tim,interactive,material"/>
        <link href="{{url_for('static', filename='images/favicon.ico')}}" rel="shortcut icon" type="image/x-icon"/>

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('bower.static', filename='jquery-ui/themes/base/jquery-ui.css') }}">


        <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='jquery-ui/jquery-ui.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='waypoints/lib/jquery.waypoints.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='waypoints/lib/shortcuts/inview.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='angular/angular.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='angular-sanitize/angular-sanitize.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='ng-file-upload/angular-file-upload-all.js') }}"></script>

        <!-- HTML5 shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <title>{% block title %}{% endblock %} - TIM</title>
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <a href="/">
            <img alt="TIM - The Interactive Material." class="pull-left"
                 src="{{url_for('static', filename='images/tim-logo_42height.png')}}"/>
        </a>
        <a href="https://www.jyu.fi">
            <img alt="Jyväskylän yliopisto" class="pull-right" height="42"
                 src="{{url_for('static', filename='images/jyulogo.png')}}"/>
        </a>
        {% include 'loginlogout.html' %}
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id="header">
        {% block header %}
            {% if self.title() != "TIM" %}
                <!-- <div class="doctitle">{{ self.title() }}</div> -->
            {% endif %}

            {% if is_owner %}
                <a href="/manage/{{docID}}">Manage</a>
                |
            {%endif%}

            {% if self.title() != "TIM" and is_owner %}
                {% if lecture_mode %}
                    <a href="/view/{{docName}}">Student view</a>
                    |
                    <a href="/teacher/{{docName}}">Teacher view</a>
                {% else %}
                    {% if teacher_mode %}
                        <a href="/view/{{docName}}">Student view</a>
                    {% else %}
                        <a href="/teacher/{{docName}}">Teacher view</a>
                    {% endif %}
                    |
                    <a href="/lecture/{{ docName }}">Lecture view</a>
                {% endif %}
            {% elif objName == "folder" %}
                <a href="/view/{{docID}}">View</a>
            {% elif doc %}
                {% if lecture_mode %}
                    <a href="/view/{{ docName }}">Student view</a>
                {% else %}
                    <a href="/lecture/{{ docName }}">Lecture view</a>
                {% endif %}
                |
                <a href="/teacher/{{docName}}">Teacher view</a>
            {% endif %}
        {% endblock %}
    </div>

    {% block beforecontent %}{% endblock %}

    <div class="material">
        <!-- <h1>{{ self.title() }}</h1> -->
        {% block content %}{% endblock %}
    </div>

    {% block aftercontent %}{% endblock %}

    <footer class="footer">
        {% block footer %}
        {% endblock %}
    </footer>
</div>

</body>
</html>
