<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <script src="{{ url_for('static', filename='scripts/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/angular-file-upload-shim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/angular/angular.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/angular/angular-sanitize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/angular-file-upload.min.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <title>{% block title %}{% endblock %} - TIM</title>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
        {% include 'loginlogout.html' %}
        <a href="/">Main page</a>
        {% if session.user_id %}
            <a href="/settings">Customize TIM</a>
        {% endif %}
    {% endblock %}
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="material">
    <h1>{{ self.title() }}</h1>
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>
