<script src="{{ url_for('bower.static', filename='ngstorage/ngStorage.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/draggable.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/resizable.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('bower.static', filename='katex-build/katex.min.css') }}">
<script src="{{ url_for('bower.static', filename='katex-build/katex.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/sidebarMenuCtrl.js') }}"></script>

<script>
    window.setsetting = function (setting, value) {
        $.ajax({
            type: 'POST',
            url: '/sessionsetting/' + setting + '/' + value,
            success: function (data) {
                console.log(data);
                settings[setting] = value;
            },
            error: function () {
                console.log("Could not set setting.");
            }
        });
    };
</script>
