{% extends "folder.html" %}
{% block title %}The requested page was not found{% endblock %}
{% block head %}
    {{ super() }}

    <script>
        var groups = {{userGroups|tojson}};
        var folder = "{{''}}";
    </script>
    <script src="{{ url_for('static', filename='scripts/timApp.js') }}"></script>
    <style type="text/css">
        table {
            margin: 0em;
            border: none;
        }

        table td {
            padding:  0.1em 0.5em 0.1em 0.5em;
            border: none;
        }
    </style>
    {% if session.user_id %}
        {% include 'common_head.html' %}
        {% if in_lecture %}
            {% include 'lecture_head.html' %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <div ng-controller="IndexCtrl">
        {% if in_lecture %}
            {% include 'lecture.html' %}
        {% elif session.user_id %}
            {% include 'side_menu.html' %}
        {% endif %}

        <p class="errormsg">{{ message or 'The requested page was not found.' }}</p>
        {% if session.user_id %}
            {% if rights %}
                <table>
                    <tr><td></td><td>Create a new document:</td></tr>
                    <tr>
                        <td></td>
                        <td>
                            <b>Pathname</b>
                        </td>
                        <td>
                            <b>Owner</b>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {{ newItem }}
                        </td>
                        <td>
                            {{ session.user_name }}
                        </td>
                        <td>
                            <button ng-click="createDocument('{{ newItem }}')" type="button">Create
                            </button>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr>
                    <tr><td></td><td>Create a new folder:</td></tr>
                    <tr>
                        <td></td>
                        <td>
                            <b>Pathname</b>
                        </td>
                        <td>
                            <b>Owner</b>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="{{ url_for('static', filename='images/folder.png') }}"/></td>
                        <td>
                            {{ newItem }}
                        </td>
                        <td>
                            <label>
                                <select ng-model="folderOwner"
                                        ng-options="group.name for group in userGroups track by group.id"></select>
                            </label>
                        </td>
                        <td>
                            <button ng-disabled="!folderOwner"
                                    ng-click="createFolder('{{ newItem }}', folderOwner.id)" type="button">Create
                            </button>
                        </td>
                    </tr>
                </table>
            {% else %}
                You cannot create documents or folders here.
            {% endif %}
        {% else %}
            To create a new document or a folder, log in.
        {% endif %}
        {% if foundItem %}
            <br>
            <br>
            <a href="/view/{{ foundItem }}">To the first existing item ({{ foundItem }}) in your search.</a>
        {% else %}
            <br>
            <br>
            <a href="{{ url_for('index_page') }}">To the index.</a>
        {% endif %}
    </div>
{% endblock %}