{% extends 'item.html' %}
{% block itemlinks %}
    {{ super() }}
    {% if rights.teacher %}
         <li role="presentation" {{ active('view_page.teacher_view') }}><a id="headerTeacher" href="/teacher/{{ doc.fullname }}">Teacher view</a></li>
    {% endif %}
    {% if rights.see_answers %}
         <li role="presentation" {{ active('view_page.see_answers_view') }}><a id="headerAnswers" href="/answers/{{ doc.fullname }}">Answers</a></li>
    {% endif %}
     <li role="presentation" {{ active('view_page.lecture_view') }}><a id="headerLecture" href="/lecture/{{ doc.fullname }}">Lecture view</a></li>
     <li role="presentation" {{ active('view_page.slide_document') }}><a id="headerSlide" href="/slide/{{ doc.fullname }}">Slide view</a></li>
    {% if translations %}
        <span style="float: right;">
                            {% for tr in translations %}
                                <li role="presentation"><a href="/{{ route }}/{{ tr.name }}">{{ tr.lang_id }}</a></li>
                                {% if not loop.last %}  {% endif %}
                            {% endfor %}
                        </span>
        <span style="clear: left"></span>
    {% endif %}
{% endblock %}
