{% extends 'item.html' %}
{% block header %}
    {{ super() }}
    <script>
        {% if editMode %}
        var editMode = {{edit_mode|tojson|safe}};
        {% else %}
        var editMode = false;
        {% endif %}
    </script>
{% endblock %}

{% block itemlinks %}
    {{ super() }}
    {% if rights.teacher %}
        | <a id="headerTeacher" href="/teacher/{{ doc.fullname }}">Teacher view</a>
    {% endif %}
    {% if rights.see_answers %}
        | <a id="headerAnswers" href="/answers/{{ doc.fullname }}">Answers</a>
    {% endif %}
    | <a id="headerLecture" href="/lecture/{{ doc.fullname }}">Lecture view</a>
    | <a id="headerSlide" href="/slide/{{ doc.fullname }}">Slide view</a>
    {% if translations %}
        <span style="float: right;">
                            {% for tr in translations %}
                                <a href="/{{ route }}/{{ tr.name }}">{{ tr.lang_id }}</a>
                                {% if not loop.last %} | {% endif %}
                            {% endfor %}
                        </span>
        <span style="clear: left"></span>
    {% endif %}
{% endblock %}
