{% extends 'item.jinja2' %}
{% block head %}
    {{ super() }}
    {% if view_settings %}
        <script class="global-vars">
            var docSettings = {};
            var exam_mode = {{ view_settings.exam_mode|tojson }};
            var hide_sidemenu = {{ view_settings.hide_sidemenu|tojson }};
        </script>
   {% endif %}
{% endblock %}
{% block content %}
    <div class="alert alert-warning">
        <i class="glyphicon glyphicon-warning-sign"></i>
        {% if msg %}
            {{ msg }}
        {% elif access.unlockable %}
            You are about to access a time-limited {{ item_type }}.
            After you click Unlock, your access to this {{ item_type }} will be removed in under {{ access.duration_now | timtimedelta }}.
        {% elif access.require_confirm %}
            You can unlock this item only after your permission is confirmed.
            Please refresh this page after a while (e.g. 20 seconds) to recheck your confirmation.
        {% elif access.duration_expired %}
            You cannot unlock this item anymore (deadline expired {{ access.duration_to | timreldatetime }}).
        {% elif access.duration_future %}
            You can unlock this item in {{ access.duration_from | timreldatetime }}.
            Please refresh this page after that time.
        {% elif access.expired %}
            Your access to this item has expired {{ access.accessible_to | timreldatetime }}.
            Goto <a href="/view/iseai/landing-page">Main page</a>.
        {% elif access.future %}
            <tim-access-countdown bind-wait-time="{{ access.time_until_access_start }}"></tim-access-countdown>
        {% else %}
            You don't have access to this item.
        {% endif %}
    </div>
    {% if next_doc %}
        <div class="text-center">
            <a href="/view/{{ next_doc.path }}?unlock=true" class="timButton">Go to the next document</a>
        </div>
    {% endif %}
    {% if access.unlockable %}
        <div class="text-center">
            <a href="/view/{{ item.path }}?unlock=true" class="timButton">Unlock</a>
        </div>
    {% endif %}
{% endblock %}
