<script src="/static/scripts/loadMap.js"></script>

<button class="showMap" onclick="showMap(this)" data-toggle="false">Show map</button>

<script>

	var gamified_data = {{ gamified_data|tojson }};

    function showMap(button) {
        var map = $(".mapContainer")[0];
        var ui = $(".uiContainer")[0];

        if (button.getAttribute("data-toggle") === "false") {
            button.setAttribute("data-toggle", "true");
            map.setAttribute("style", "z-index: 0; position: relative;");
            ui.setAttribute("style", "");

        } else {
            button.setAttribute("data-toggle", "false");
            map.setAttribute("style", "z-index: 0; display: none; position: relative;");
            ui.setAttribute("style", "display: none;");
        }
    }

</script>

<div class="uiContainer">
    <button class="showFrames">Goals</button>
    <input type="range" class="mapZoom">Zoom
    <input type="range" class="alphaRange">Goal Transparency
</div>

<div class="mapContainer"> </div>
