{% extends "base.html" %}
{% block title %}TIM{% endblock %}
{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='scripts/indexView/indexController.js')}}"></script>
<script src="{{url_for('static', filename='scripts/indexView/indexApp.js')}}"></script>

<style type="text/css">
table {
	margin: 1em;
}

thead {
	font-weight: bold;
}

table td {
	padding: 0.2em;
}

.uploadForm {
	border: 1px solid black;
	padding: 1em;
}

.material { 
	padding: 1em;
}
</style>
{% endblock %}
{% block content %}
<div ng-app="indexApp" ng-controller="IndexCtrl">
        <span ng-show="displayIndex">Welcome! Start by choosing a document to view: </span> <img
            src="{{url_for('static', filename='images/loading.gif')}}" ng-show="!displayIndex">
        <div ng-show="displayIndex">
            <table ng-show="documentList.length > 0">
                <thead>
                    <tr>
                        <td>Document name</td>
                        <td></td>
                        <td>Last modified</td>
                        <td>Owner</td>
                        <td></td>
                    </tr>
                </thead>
                <tr ng-repeat="doc in documentList">
                    <td><a href="/view/{{ '{{ doc.name }}' }}">{{ '{{ doc.name }}' }}</a></td>
                    <td><a ng-show="doc.canEdit" href="/edit/{{ '{{ doc.name }}' }}">Edit</a></td>
                    <!--<td>{{ '{{ doc.versions[0].timestamp }}' }}</td>-->
                    <!--<td><p ng-show="displayTimes">{{ '{{ doc.versions[0].timestamp }}' }}</p></td>-->
                    <td ng-show="displayIndex && !displayTimes">Updating...</td>
                    <td ng-show="displayTimes">{{ '{{ doc.versions[0].timestamp }}' }}</td>
                    <td>{{ '{{ doc.owner.name }}' }}</td>
                    <td><a ng-show="doc.isOwner" href="/manage/{{ '{{ doc.id }}' }}">Manage</a></td>
                </tr>
            </table>
            <p ng-show="documentList.length == 0">There are no documents to show.</p>
            {% if session.user_id %}
            <a ng-click="setCurrentDocument({})">Upload a new document</a>
            <div class="uploadForm" ng-show="m.currDoc">
                <p ng-show="m.currDoc.id">Upload new version for document: {{ '{{ m.currDoc.name
                    }}' }}</p>
                <p ng-show="!m.currDoc.id">Upload a new document</p>
                <input type="file"
                    ng-file-select="m.currDoc.id ? updateDocument(m.currDoc, $files) : onFileSelect('/upload/', $files)">
                <span ng-bind="progress"></span>
                <input ng-disabled="uploadInProgress" type="button"
                    value="{{ '{{ progress && !uploadInProgress ? \'Close\' : \'Cancel\' }}' }}"
                    ng-click="m.currDoc = 0">
            </div>
            <div>
                <a ng-show="!showControls" ng-click="showControls = true">Create a new document</a>
                <div ng-show="showControls">
                    <label>
                        Document name:
                        <input ng-model="docName" type="text">
                    </label>
                    <input ng-disabled="!docName" ng-click="createDocument(docName)" type="button"
                        value="Create">
                    <input ng-click="showControls = false" type="button" value="Cancel">
                </div>
            </div>
            {% else %}
            To create or upload new documents, log in.
            {% endif %}
        </div>
    </div>
{% endblock %}
