{% extends "folder.html" %}
{% block title %}{{'{} {}'.format(doc.name, '({})'.format(doc.location) if doc.location else '[root]') if doc else 'Root folder'}}{% endblock %}
{% block head %}
    {{ super() }}

    <script>
        var folder = {{ (doc.fullname if doc else '')|tojson }};
        var items = {{ items | tojson }};
    </script>
    <script src="{{ url_for('static', filename='scripts/timApp.js') }}"></script>
{% endblock %}

{% set col_m_lg = 10 %}

{% block content %}
    <div ng-controller="IndexCtrl" class="index">
        <span>Welcome! Start by choosing a document to view: </span>

            <table class="table" ng-show="itemList.length > 0 || parentfolder != null">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th></th>
                    <th>Last modified</th>
                    <th>Owner</th>
                    <th>Rights</th>
                </tr>
                </thead>
                <tr ng-show="parentfolder != null">
                    <td>
                        <a href="/view/{{ '{{ parentfolder | escape }}' }}">
                            <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td><a href="/view/{{ '{{ parentfolder | escape }}' }}">Go to parent folder</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="item in itemList">
                    <td>
                        <a ng-show="item.isFolder" href="/view/{{ '{{ item.fullname | escape }}' }}">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="/view/{{ '{{ item.fullname | escape }}' }}">{{ '{{ item.name }}' }}</a>
                        <a><i ng-show="item.unpublished" class="glyphicon glyphicon-lock" title="Unpublished item"></i></a>
                    </td>
                    <td></td>
                    <td>{{ '{{ item.modified }}' }}</td>
                    <td>{{ '{{ item.owner.name }}' }}</td>
                    <td>
                        <a title="Edit" ng-show="item.canEdit && !item.isFolder" href="/view/{{ '{{ item.id }}' }}"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a title="Manage" ng-show="item.isOwner" href="/manage/{{ '{{ item.id }}' }}"><i class="glyphicon glyphicon-cog"></i></a>
                        <a title="Teacher" ng-show="item.isOwner && !item.isFolder" href="/teacher/{{ '{{ item.fullname | escape }}' }}"><i class="glyphicon glyphicon-education"></i></a>
                    </td>
                </tr>
            </table>
            <p ng-show="itemList.length == 0">There are no items to show.</p>
            {% if session.user_id %}
                <uib-tabset active="-1">
                    <!--
                    <uib-tab heading="Upload a new document">
                        <div class="form-group">
                            <label for="docUpload">Select a file:</label>
                            <input id="docUpload" class="form-control" type="file" ngf-select="onFileSelect($file)">
                        </div>
                     <span ng-show="file.progress >= 0"
                           ng-bind="file.progress < 100 ? 'Uploading... ' + file.progress + '%' : 'Done!'">
                     </span>
                    </uib-tab>
                    -->
                    <uib-tab heading="Create a new document">
                        <div class="form-group"><label>
                            Document name:
                            <input class="form-control" ng-model="docName" type="text">
                        </label></div>
                        <checkbox class="checkbox"><label>
                            <input class="checkbox" ng-model="gamificationCheck" type="checkbox">Gamification Document
                            </input>
                        </label></checkbox>
                        <button class="timButton" ng-disabled="!docName" ng-click="createDocument(docName)" type="button">Create
                        </button>
                    </uib-tab>
                    <uib-tab heading="Create a new folder">
                        <div class="form-group"><label>
                            Folder name:
                            <input class="form-control" ng-model="folderName" type="text">
                        </label></div>
                        <div class="form-group"><label>
                            Owner: <input class="form-control" type="text" ng-model="folderOwner">
                        </label></div>
                        <button class="timButton" ng-disabled="!folderName || !folderOwner"
                                ng-click="createFolder(folderName, folderOwner)" type="button">Create
                        </button>
                    </uib-tab>
                </uib-tabset>
            {% else %}
                To create or upload new documents, log in.
            {% endif %}
    </div>
{% endblock %}
