{% extends 'base.html' %}
{%- macro active(endpoint) -%}
    {%- if request.endpoint == endpoint -%}
        class="active"
    {%- endif -%}
{%- endmacro -%}
{% block ngmodules %}
    {{ super() }}
    {{ ['ngFileUpload']|map('map_format', "'%s'")|join(', ')|safe }},
{% endblock %}
{% block ngscripts %}
    {{ super() }}
    <script src="{{ url_for('bower.static', filename='ng-file-upload/ng-file-upload-all.min.js') }}"></script>
{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var docId = {{doc.id|tojson}};
        var docName = {{doc.fullname|tojson}};
        var rights = {{rights|tojson}};
    </script>
    <script src="{{ url_for('static', filename='scripts/breadcrumbs.js') }}"></script>
{% endblock %}
{% block header %}
    {{ super() }}
    <div class="nav nav-tabs">    {% block itemlinks %}
        <li role="presentation" {{ active('view_page.view_document') }}><a id="headerView" href="/view/{{ doc.fullname }}">View</a></li>
        {% if rights.manage %}
             <li role="presentation" {{ active('manage_page.manage') }}><a id="headerManage" href="/manage/{{ doc.fullname }}">Manage</a></li>
        {% endif %}
    {% endblock %}</div>
    {% include 'breadcrumbs.html' %}
{% endblock %}
