<fieldset class="popUpWindow">
	<h1>Join the lecture</h1>
	<form class="joinLecture">
		<div>
			<label for="lecturePassword" >Password:</label>
			<input type="text" name="lecturePassword" size="45" maxlength="50">
		</div>
		<div>
			<label for="lectureView">View:</label>
				<div class="choose">
					<label><input type="checkbox" name="showLectureNotes">Lecture Notes</label>
					<label><input type="checkbox" name="showQuestions">Questions</label>
					<label><input type="checkbox" name="showWall">Wall</label>					
				</div>
		</div> 
	</form>
</fieldset>