{% extends "error.html" %}
{% block content %}
<p>
    TIM expected to get your email address from Korppi, but Korppi did not provide it.
    This probably means Korppi does not know your email address. Please contact <a href="mailto:korppi@jyu.fi">korppi@jyu.fi</a>
    and ask them to set your email address in Korppi.
</p>

<p>
    In the meantime, you can sign up as an ordinary user, but you won't be able to access materials that require you to
    be a Korppi user. If you need access urgently to such materials, please contact <a href="mailto:tim@jyu.fi">tim@jyu.fi</a>
    after signing up and we can add you manually to TIM's Korppi group.
</p>

{% endblock %}
