<!--html for upper menu-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/menustyle.css') }}">
<div class="menuSection">
    <div id="largeMenu">
        <div class="lectureSection" ng-show="!inLecture">
            <h1>Now:</h1>

            <div ng-show="lectures.length > 0" class="lectureArea">
                <select ng-model="chosenLecture" ng-options="lecture as lecture for lecture in lectures">
                </select>
                <input id="passwordInput" ng-model="passwordQuess" placeholder="Access code"
                       ng-keypress="passEnterPressed($event)" size="7">
				<div class="iconSection" ng-show="lectures.length > 0">
						<img id="join-icon" src="{{ url_for('static', filename='images/join-icon3.png') }}" class="icon"
							ng-click="joinLecture()" title="Join the lecture">
						<img id="add-icon1" src="{{ url_for('static', filename='images/add-icon3.png') }}" class="icon" ng-show="isLecturer"
							ng-click="toggleLecture()" title="Add new lecture">
				</div>
                
            </div>
			<div ng-show="lectures.length <= 0">
				<p>No running lectures</p>
				<div class="iconSection">
					<img id="add-icon2" src="{{ url_for('static', filename='images/add-icon3.png') }}" class="icon" ng-show="isLecturer"
						ng-click="toggleLecture()" title="Add new lecture">
				</div>
			</div>
        </div>
        <div class="lectureSection" ng-show="inLecture">
			<h1>Currently:</h1>

			<p ng-bind="lectureName"></p>

			<p ng-bind="lectureStartTime"></p>

			<p ng-bind="lectureEndTime"></p>
			<input type="button" ng-click="deleteLecture()" value="Delete" ng-show="canStop">
			<div class="iconSection">
				<img id="leave-icon" src="{{ url_for('static', filename='images/leave-icon3.png') }}" class="icon"
					ng-click="leaveLecture()" title="Leave this lecture" ng-show="inLecture">
				<img id="stop-icon" src="{{ url_for('static', filename='images/stop-icon3.png') }}" class="icon"
					ng-click="endLecture()" title="End this lecture" ng-show="canStop">
				<img id="edit-icon" src="{{ url_for('static', filename='images/edit-icon3.png') }}" class="icon"
					title="Edit this lecture" ng-show="canStop">	
			</div>	
        </div>

        <div class="lectureSection" ng-show="!inLecture">
            <h1>Next:</h1>
			<div class="lectureArea">
				<p ng-show="futureLectures.length <= 0">No upcoming lectures</p>
				<div ng-show="futureLectures.length > 0">
					<select ng-model="futureLecture" ng-options="lecture.lecture_code + ' ' + lecture.lecture_start for lecture in futureLectures">
					</select>
				</div>
				<div class="iconSection" ng-show="futureLectures.length > 0">
					<img id="start-icon" src="{{ url_for('static', filename='images/play-icon3.png') }}" class="icon"
						title="Start lecture now" ng-click="startFutureLecture()">
					<img id="edit-icon2" src="{{ url_for('static', filename='images/edit-icon3.png') }}" class="icon"
						title="Edit this lecture">	
				</div>
			</div>
        </div>
        <div class="loginSection">
            {% include 'loginlogout.html' %}
        </div>
		
    </div>
	<div ng-controller="SmallMenuCtrl">
		<div class="smallMenu" ng-show="!inLecture">
			<div class="current">
				<h1 ng-click="openCurrentLectureMenu()">Show current
				<br>lectures</h1>	
			</div>
			<div class="future">
				<h1 ng-click="openFutureLectureMenu()">Show future 
				<br>lectures</h1>
			</div>
			<div id="smallLogin">
				{% if session.user_id %}
					<span>Logged in as <br>{{ session.user_name }}</span>
					<form method="POST" action="/logout">
						<input type="submit" value="Logout">
					</form>
				{% endif %}
			</div>
		</div>
		<div class="smallMenu" ng-show="inLecture">
			<div class="currently">
				<h2>Currently:</h2>	
				<p>Lecture info</p>
				<div class="smallIconSection">
					<img id="leave-icon" src="../../../static/images/leave-icon3.png" class="icon"
						ng-click="leaveLecture()" title="Leave this lecture" ng-show="inLecture">
					<img id="stop-icon" src="../../../static/images/stop-icon3.png" class="icon"
						ng-click="endLecture()" title="End this lecture" ng-show="canStop">
					<img id="edit-icon" src="../../../static/images/edit-icon3.png" class="icon"
						title="Edit this lecture" ng-show="canStop">
				</div>
			</div>
			<div id="smallLogin">
				{% if session.user_id %}
					<span>Logged in as <br>{{ session.user_name }}</span>
					<form method="POST" action="/logout">
						<input type="submit" value="Logout">
					</form>
				{% endif %}
			</div>
		</div>
		<div class="lecturesList">
			<div id="currentList">
				{% raw %}
				<ul>
					<li ng-repeat="lecture in currentLecturesList">
                        <p>{{ lecture.lecture_code }}<input type="submit" value="Join"> <input type="submit" value="Edit"></p>
                    </li>
					<li ng-show="currentLecturesList.length == 0">
                        <p>No lectures</p>
                    </li>
					<li> <p ng-click="toggleLecture()" id="addLecture1"> Add new lecture </p></li>
				</ul>
				{% endraw %}
			</div>
			<div id="futureList">
				{% raw %}
				<ul>
					<li ng-repeat="lecture in futureLecturesList"> 
						<p> {{ lecture.lecture_code }}<input type="submit" value="Start"> <input type="submit" value="Edit"></p>
					</li>
					<li ng-show="futureLecturesList.length == 0">
                        <p>No lectures</p>
                    </li>
					<li> <p ng-click="toggleLecture()" id="addLecture2"> Add new lecture </p></li>
				</ul>
				{% endraw %}
			</div>
		</div>
	</div>
</div>
<div id="startLecturedialog" ng-show="showLectureCreation">
    <ng-include src="'../../../static/templates/start_lecture.html'"></ng-include>
</div>