<div ng-controller="LectureController" ng-cloak>
    {% include 'lectureinfo_menu.html' %}
    <div class="wall-behind" id="wall" ng-show="useWall" ng-cloak tim-draggable-fixed caption="Lecture Wall"
         resize="true">
        <div class="wall-base" id="wallBase">
            {# <div class="wall-topbar" ng-mousedown="checkDown($event)" ng-mouseup="checkUp($event)"
                         ng-click="hideWall()">
                        <span ng-bind="wallName">Wall</span>
                        <span ng-show="!showWall && newMessagesAmount > 0" ng-bind="newMessagesAmountText"></span>
                    </div> #}
            <div class="wall-message-area">
                <textarea id="wallArea" readonly cols="100">{{ "{{msg}}" }}</textarea>
            </div>
            <div class="wall-footer">
                <div class="wall-buttons">
                    <input id="messagebox" ng-model="newMsg" width="200"
                           ng-keypress="chatEnterPressed($event)">
                </div>
                <div class="wall-info-buttons">
                    <label title="Shows name of the sender">
                        <input type="checkbox" ng-change="showInfo()" ng-model="messageName"/>Name
                    </label>
                    <label title="Shows sending time">
                        <input type="checkbox" ng-change="showInfo()" ng-model="messageTime"/>Time
                    </label>
                </div>
            </div>
        </div>
    </div>
    <pop-up-dialog show="showLectureOptions" caption="'Join the lecture'">
        <ng-include
                src="'{{ url_for('static', filename='templates/lectureOptions.html') }}'"></ng-include>
    </pop-up-dialog>

    <pop-up-dialog show="showLectureForm" caption="'Create lecture'">
        <ng-include
                src="'{{ url_for('static', filename='templates/start_lecture.html') }}'"></ng-include>
    </pop-up-dialog>

    <pop-up-dialog show="showStudentAnswers" caption="'Statistics'">
        <ng-include
                src="'{{ url_for('static', filename='templates/showStatisticsToQuestion.html') }}'"></ng-include>
    </pop-up-dialog>

    <pop-up-dialog show="showAnswerWindow" caption="questionTitle">
        <ng-include
                src="'{{ url_for('static', filename='templates/answerToQuestion.html') }}'"></ng-include>
    </pop-up-dialog>

    <pop-up-dialog show="showLectureEnding" caption="'Lecture ending'">
        <ng-include
                src="'{{ url_for('static', filename='templates/lectureEnding.html') }}'"></ng-include>
    </pop-up-dialog>
    <pop-up-dialog show="showQuestionPreview" caption="'Question preview: ' + questionTitle">
        <ng-include
                src="'{{ url_for('static', filename='templates/questionPreview.html') }}'"></ng-include>
    </pop-up-dialog>
    <pop-up-dialog show='questionShown' caption="'Create question'">
        <div>
            <ng-include src="'{{ url_for('static', filename='templates/question.html') }}'"></ng-include>
        </div>
    </pop-up-dialog>

    {% include 'side_menu.html' %}
</div>
