{% extends "document.html" %}
{% block title %}Lecture info{% endblock %}
{% block head %}
    {{ super() }}

    <script src="{{ url_for('static', filename='scripts/controllers/lectureInfoController.js') }}"></script>

    <script>
        var lectureId = {{lectureId|tojson}};
        var lectureCode = {{lectureCode|tojson}};
        var lectureStartTime = {{lectureStartTime|tojson}};
        var lectureEndTime = {{lectureEndTime|tojson}};
        var inLecture = {{in_lecture|tojson}};
    </script>

{% endblock %}
{% block content %}
    <div ng-controller="LectureInfoController">
        <pop-up-dialog show="showLectureForm" caption="'Edit lecture'">
            <ng-include
                    src="'{{ url_for('static', filename='templates/start_lecture.html') }}'"></ng-include>
        </pop-up-dialog>
        <div class="panel panel-default">
            <div class="panel-heading">Lecture info</div>
            <div class="panel-body">
                <strong>Lecture code:</strong>

                <p ng-bind="code"></p>

                <strong>Start time:</strong>

                <p ng-bind="lectureStartTime | timdate"></p>

                <strong>End time:</strong>

                <p ng-bind="lectureEndTime | timdate"></p>

                <div ng-show="isLecturer">
                    <!--TODO: Preview questions. Needs directive from the question preview and then just use it.-->
                    <strong>Questions asked:</strong>
                    <ul>
                        <li ng-repeat="question in questions">
                            <a ng-click="editPoints(question.asked_id)">{{ "{{ question.json.title }}" }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Lecture wall</div>
            <div class="panel-body">
                <textarea class="form-control" data-ng-model="msg" readonly id="lectureInfoWall"></textarea>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Find answers <span ng-show="!isLecturer" ng-bind="selectedUser.user_name"></span>
            </div>
            <div class="panel-body">
                <label ng-show="isLecturer">User name
                    <select class="form-control" ng-model="selectedUser"
                            ng-options="user.user_name for user in answerers track by user.user_id">
                    </select>
                </label>
                <button class="timButton" ng-click="drawCharts(selectedUser)">Show answers</button>
                <button class="timButton" ng-show="isLecturer" ng-click="drawCharts()">Show all</button>

                <div ng-repeat="question in questions" style="margin-bottom: 2em">
                    <p class="bold" ng-show="showPoints"
                       ng-bind-html="question.json.title">{{ "{{question.json.title}}" }}</p>
                    <p ng-show="showPoints"
                       ng-bind-html="question.json.questionText">{{ "{{question.json.questionText}}" }}</p>
                    <show-chart-directive canvas='answerChart{{ "{{question.asked_id }}" }}'
                                          control='dynamicAnswerShowControls[$index]'
                                          class="chart"></show-chart-directive>
                    <canvas id='answerChart{{ "{{question.asked_id }}" }}' width='400' height='300'></canvas>
                    <p ng-show="showPoints">Points: <span ng-bind="points[$index]"> </span></p>
                </div>

                <p id="infoBox"></p>
            </div>
        </div>

        <div ng-show="isLecturer" class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            <div class="panel-body">
                <button class="timButton" ng-click="editLecture(lectureName)">Edit lecture</button>
                <button class="btn btn-danger" ng-click="deleteLecture()">Delete lecture</button>
            </div>
        </div>
    </div>
{% endblock %}
