{% extends "document.html" %}
{% block title %}Lecture info{% endblock %}
{% block head %}
    {{ super() }}

    <script>
        var lectureId = {{lectureId|tojson}};
        var lectureCode = {{lectureCode|tojson}};
        var lectureStartTime = {{lectureStartTime|tojson}};
        var lectureEndTime = {{lectureEndTime|tojson}};
        var inLecture = {{in_lecture|tojson}};
    </script>

{% endblock %}
{% block content %}
<div class="popUpWindow" ng-controller="AnswerToQuestionController as atqc">
        <dynamic-answer-sheet control="dynamicAnswerSheetControl"></dynamic-answer-sheet>
    <div ng-controller="LectureInfoController as lictrl">
        <pop-up-dialog show="lictrl.showLectureForm" caption="'Edit lecture'">
            <ng-include
                    src="'{{ url_for('static', filename='templates/start_lecture.html') }}'"></ng-include>
        </pop-up-dialog>
        <div class="panel panel-default">
            <div class="panel-heading">Lecture info</div>
            <div class="panel-body">
                <strong>Lecture code:</strong>

                <p ng-bind="lictrl.code"></p>

                <strong>Start time:</strong>

                <p ng-bind="lictrl.lectureStartTime | timdate"></p>

                <strong>End time:</strong>

                <p ng-bind="lictrl.lectureEndTime | timdate"></p>

                <div ng-show="lictrl.isLecturer">
                    <!--TODO: Preview questions. Needs directive from the question preview and then just use it.-->
                    <strong>Questions asked:</strong>
                    <ul>
                        <li ng-repeat="question in lictrl.questions">
                            {{"{{ question.nr }}."}} <span ng-bind="question.asked_time | timtim"></span>
                            <a ng-click="lictrl.editPoints(question.asked_id)">{{ "{{ question.json.questionTitle }}" }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Lecture wall</div>
            <div class="panel-body">
                <textarea class="form-control" data-ng-model="lictrl.msg" readonly id="lectureInfoWall"></textarea>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Find answers <span ng-show="!lictrl.isLecturer" ng-bind="lictrl.selectedUser.user_name"></span>
            </div>
            <div class="panel-body">
                <label ng-show="isLecturer">User name
                    <select class="form-control" ng-model="lictrl.selectedUser"
                            ng-options="user.user_name for user in lictrl.answerers track by user.user_id">
                    </select>
                </label>
                <button class="timButton" ng-click="lictrl.drawCharts(selectedUser)">Show answers</button>
                <button class="timButton" ng-show="lictrl.isLecturer" ng-click="lictrl.drawCharts()">Show all</button>
                <a class="timButton" href="/getLectureAnswerTotals/{{ '{{lictrl.lectureId}}' }}?sum_field_name=sum&count_field_name=cnt">Download as plain text</a>
                <div>
                    <div ng-repeat="question in lictrl.questions" style="margin-bottom: 2em">
                        <div ng-show="lictrl.showPoints">
                            <p>{{ "{{question.nr}}" }}. <span class="bold" ng-bind-html="question.json.questionTitle">{{ "{{question.json.questionTitle}}" }}</span> /
                               <span ng-bind="question.asked_time | timtim"></span>
                            </p>
                            <p ng-bind-html="question.json.questionText" ng-click="lictrl.dynamicAnswerShowControls[$index].toggle()"></p>
                        </div>
                        <div class="chartDiv" id='answerChart{{ "{{question.asked_id }}" }}'>
                            <show-chart-directive canvas='answerChart{{ "{{question.asked_id }}" }}'
                                                  control='lictrl.dynamicAnswerShowControls[$index]'
                                                  class="chart"></show-chart-directive>
                        </div>
                            <p ng-show="lictrl.showPoints && !lictrl.dynamicAnswerShowControls[$index].isText" class="chart-menu">
                                <span ng-click="lictrl.dynamicAnswerShowControls[$index].toggle()">Bar</span>
                                <span ng-click="lictrl.dynamicAnswerShowControls[$index].zoom(-1,0)">w-</span>
                                <span ng-click="lictrl.dynamicAnswerShowControls[$index].zoom(1,0)">w+</span>
                                <span ng-click="lictrl.dynamicAnswerShowControls[$index].zoom(0,-1)">h-</span>
                                <span ng-click="lictrl.dynamicAnswerShowControls[$index].zoom(0,1)">h+</span>
                            </p>
                        <p ng-show="lictrl.showPoints">Points: <span ng-bind="lictrl.points[$index]"> </span></p>
                    </div>
                </div>

                <p id="infoBox"></p>
            </div>
        </div>

        <div ng-show="lictrl.isLecturer" class="panel panel-default">
            <div class="panel-heading">
                Actions
            </div>
            <div class="panel-body">
                <button class="timButton" ng-click="lictrl.editLecture(lectureName)">Edit lecture</button>
                <button class="btn btn-danger" ng-click="lictrl.deleteLecture()">Delete lecture</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

