<script src="{{ url_for('static', filename='scripts/lectureController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/answerToQuestionController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/popUpDialog.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/smallMenuCtrl.js') }}"></script>
<script src="{{ url_for('bower.static', filename='Chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/showStatisticsToQuestionController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/showChartDirective.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/dynamicAnswerSheet.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/createLectureCtrl.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/questionPreviewController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/questionController.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='popUp.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='windowstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='progressbarstyle.css') }}">
