<script src="{{ url_for('static', filename='scripts/lectureController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/jsDatePick.min.1.3.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/answerToQuestionController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/popUpDialog.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/smallMenuCtrl.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/showStatisticsToQuestionController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/showChartDirective.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/dynamicAnswerSheet.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/createLectureCtrl.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/questionPreviewController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/controllers/questionController.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/popupMenu.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jsDatePick_ltr.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/popUp.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/menustyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/windowstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/progressbarstyle.css') }}">