{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <script>
        $(document).ready(function () {
            var target_url = {{ url_for('login_page.loginWithKorppi')|tojson }};
            var separator = target_url.indexOf('?') >= 0 ? '&' : '?';
            var came_from_raw = {{ (came_from or '')|tojson }};
            var came_from = encodeURIComponent(came_from_raw.replace("#", "%23"));
            var anchor_raw = {{ anchor|tojson if anchor else "window.location.hash.replace('#', '')"|safe }};
            var anchor = encodeURIComponent(anchor_raw);
            $("#anchor").val(anchor_raw);
            window.korppiLogin = function () {
                window.location.replace(target_url
                + separator
                + 'came_from='
                + came_from
                + '&anchor='
                + anchor);
            }
        });
    </script>

    <div class="viewLogin">
        <form method="POST" action="/altlogin">
            <p class="loginwelcome">
                {% if not hide_require_text %}
                    Login is required for this document.
                {% endif %}
                You can either login with Korppi
            </p>

            <div class="loginButtonDiv">
                <button type="button" onclick="korppiLogin()">Login with Korppi</button>
            </div>
            <p class="loginwelcome">
                or with your email address if you have a TIM email account.
            </p>

            <div class="loginFieldDiv">
                <input type="hidden" name="came_from" value="{{ came_from or '' }}">
                <input id="anchor" type="hidden" name="anchor" value="">
                <label for="email" class="loginFieldLabel">Email</label>
                <input name="email" class="loginFieldInput" type="email" value="{{ session.email }}">
            </div>
            <div class="loginFieldDiv">
                <label for="password" class="loginFieldLabel">Password</label>
                <input name="password" class="loginFieldInput" type="password">
            </div>
            <div class="loginButtonDiv">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
