{% macro scss(name) -%}
    {% assets depends=(
"stylesheets/*.scss",
"stylesheets/**/*.scss",
),
 filters="libsass",
 output="{}.css".format(name),
  name|string + ".scss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{%- endmacro %}
{% macro generated_style(name) -%}
    <link rel="stylesheet" href="{{ url_for("static", filename=(config.SASS_GEN_PATH / '{}.css'.format(name))) }}">
{%- endmacro -%}