{% extends 'item.jinja2' %}
{% block title %}{{ item.title }} - Manage{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        ANGULARMODULES = {{ (jsMods or [])|tojson }};
        JSMODULES = {{ (js or [])|tojson }};

        var accessTypes = {{access_types|tojson}};
        var orgs = {{orgs|tojson}};
    </script>
{% endblock %}
{% block content %}
    <tim-manage></tim-manage>
{% endblock %}
