{% extends "manage.html" %}
{% set obj_name = 'document' %}
{% block managecontent %}
    <div class="panel panel-default">
        <div class="panel-heading">Names</div>
<div class="panel-body">
    <table class="borderless">
            <tr>
                <th>Visible in index</th>
                <th>Location</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="alias in aliases">
                <td class="checkbox-td" ng-click="aliasPublicClicked(alias)"><input type="checkbox"
                                                                                    ng-checked="alias.public"/></td>
                <td><input type="text" ng-model="alias.location"/><a
                        href="{{ '/view/{{alias.location}}' }}">View</a></td>
                <td><input type="text" ng-model="alias.name" placeholder="Document name"/><a
                        href="{{ '/view/{{alias.fullname}}' }}">View</a></td>
                <td>
                    <button ng-click="updateAlias(alias)" ng-disabled="!aliasChanged(alias)">Update</button>
                    <button ng-click="removeAlias(alias)">Remove</button>
                </td>
            </tr>
            <tr>
                <form>
                    <td class="checkbox-td"><input type="checkbox" ng-model="newAlias.public"/></td>
                    <td><input type="text" ng-model="newAlias.location"/></td>
                    <td><input type="text" placeholder="Click to add" ng-model="newAlias.name"/></td>
                    <td>
                        <button class="fullwidth" ng-click="addAlias(newAlias)" ng-disabled="!newAlias.name">Add
                        </button>
                    </td>
                </form>
            </tr>
        </table>
</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Translations and copies (see <a href="https://tim.jyu.fi/view/tim/TIM-ohjeet#translations">help in Finnish</a>)
        </div>
<div class="panel-body">
    <table class="borderless">
            <tr>
                <th>Language</th>
                <th>Title</th>
                <th>Maintainer</th>
                <th>Document id</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td><input type="text" class="shortedit" ng-model="lang_id" placeholder="Language"/></td>
                <td><input type="text" ng-model="doc.title" placeholder="Language"/></td>
                <td>{{ '{{doc.owner.name}}' }}</td>
                <td>{{ '{{doc.id}}' }}</td>
                <td>
                    <button ng-click="updateMetadata()" ng-disabled="!metaChanged()">Update</button>
                </td>
            </tr>
            <tr ng-repeat="tr in translations">
                <td><input type="text" class="shortedit" ng-model="tr.lang_id" placeholder="Language"/></td>
                <td><input type="text" ng-model="tr.title" placeholder="Title"/></td>
                <td>{{ '{{tr.owner}}' }}</td>
                <td>{{ '{{tr.id}}' }}</td>
                <td>
                    <button ng-click="updateTranslation(tr)" ng-disabled="!trChanged(tr)">Update</button>
                </td>
            </tr>
        </table>

        <span>
        <button ng-click="toggleDiv('translate')">Create a translation</button>
        <button ng-click="toggleDiv('cite')">Create a cited copy</button>
        <button ng-click="toggleDiv('copy')">Create a copy</button>
    </span>





    <div class="margin rights-list" ng-show="showCreateDiv == 'translate'">
        <p>
            Please enter a short language identifier and the name of the document in the desired language.
        </p>
        <input type="text" ng-model="translationName" class="shortedit" placeholder="Language"/>
        <input type="text" ng-model="translationTitle" placeholder="New document title"/>
        <button ng-click="createTranslation()">Create translation</button>
    </div>

    <div class="margin rights-list" ng-show="showCreateDiv == 'cite'">
        <p>
            Please enter a fully qualified name for the new document.
        </p>
        <input type="text" ng-model="citationName" placeholder="New document name"/>
        <button ng-click="createCitation()">Create cited copy</button>
    </div>

    <div class="margin rights-list" ng-show="showCreateDiv == 'copy'">
        <p>
            Please enter a fully qualified name for the new document.
        </p>
        Path: <input type="text" ng-model="documentPath" placeholder="New document path"/>
        Name: <input type="text" ng-model="documentName" placeholder="New document name"/>
        <button ng-click="createCopy()">Create copy</button>
    </div>

    </div>
    </div>

    {% if rights['owner'] %}
    <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
            <form>
                <p>Send me email on</p>
                <div class="checkbox"><label>
                    <input type="checkbox" ng-model="emailDocModify"
                           ng-click="notifyChanged()"/>Document modifications
                </label></div>
                <div class="checkbox"><label>
                    <input type="checkbox" ng-model="emailCommentAdd"
                           ng-click="notifyChanged()"/>New comments
                </label></div>
                <div class="checkbox"><label>
                    <input type="checkbox" ng-model="emailCommentModify"
                           ng-click="notifyChanged()"/>Edited comments
                </label></div>
            </form>
        </div>
    </div>
    {% endif %}

    <span ng-show="readUpdating">Loading...</span>
    <div class="panel panel-default">
        <div class="panel-heading">Upload a new version for this document</div>
        <div class="panel-body">
            <form>
                <div class="input-group">
                    <input class="form-control" type="file" ngf-select="updateDocument($file)">
                    <span class="input-group-btn">
                    <button class="timButton" id="reset" type="reset" value="Reset">Clear</button>
                    </span>
                </div>
                <span ng-show="file.progress >= 0"
                  ng-bind="file.progress < 100 ? 'Uploading... ' + file.progress + '%' : 'Done!'">
            </span>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Edit the full document</div>
        <div class="panel-body">
    <form>
        <div>
            <textarea class="form-control" ng-model="fulltext" rows="50"></textarea>
            <button class="timButton" ng-disabled="(doc.fulltext === fulltext) || saving" ng-click="saveDocument()">Save</button>
            <span ng-show="saving">Saving...</span>
        </div>
        <div>
            <label>Import TracWiki <input type="checkbox" ng-model="showTracWiki"></label>
            <div ng-hide="!showTracWiki">
                <p>Write the wiki root address to replace "wiki:" from URL's and then copy paste
                    TracWiki page below and then press "Convert TracWiki" button to get the text converted
                    above as MarkDown. Then you can edit the MarkDown before pressing Save.
                    You may need to add extra empty lines before lists.</p>
                <div class="form-group"><label for="wikiRoot">Wiki root: </label>
                    <input id="wikiRoot" class="form-control" ng-model="wikiRoot" size="50"
                           value="https://trac.cc.jyu.fi/projects/ohj2/wiki/"/></div>
                <div class="form-group"><label for="tracWikiText">
                    TracWiki content:</label>
                    <textarea id="tracWikiText" class="form-control" ng-model="tracWikiText"></textarea></div>

                <button class="timButton" ng-click="convertDocument(doc)">Convert TracWiki</button>
            </div>
        </div>
    </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Other actions</div>
        <div class="panel-body">
            <button class="timButton" href="/download/{{ '{{ doc.id }}' }}">Download document markdown</button>
            <button class="timButton" ng-click="markAllAsRead()">Mark document as read</button>
            <button class="btn btn-danger" ng-click="deleteDocument(doc.id)">Delete document</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Document version history</div>
        <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <!--<td>Time</td>
                <td>User</td>
                <td>Difference</td>-->
                <th>Time</th>
                <th>User / group</th>
                <th>Paragraph</th>
                <th>Event</th>
            </tr>
            </thead>
            <tr ng-repeat="version in doc.versions">
                <td>{{ '{{ version.time }}' }}</td>
                <td>{{ '{{ version.group }}' }}</td>
                <td>{{ '{{ version.par_id }}' }}</td>
                <td>{{ '{{ version.op }}' }}</td>
                <!--<td><a href="/download/{{ '{{ doc.id + "/" + version.hash }}' }}">{{ '{{ version.timestamp }}' }}</a></td>
                <td>{{ '{{ version.user }}' }}</td>
                <td><a href="/diff/{{ '{{ doc.id + "/" + version.hash }}' }}">{{ '{{ version.message }}' }}</a></td>-->
            </tr>
        </table>
        </div>
    </div>
    <div class="row text-center"><a href="{{ url_for('index_page') }}">Return to the index page</a></div>
{% endblock %}
