{% extends "manage.html" %}
{% set obj_name = 'document' %}
{% block managecontent %}
    <div class="panel panel-default">
        <div class="panel-heading">Short names</div>
<div class="panel-body">
    <form class="form-horizontal" name="aliasForm">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">Visible in index, location</div>
            <div class="col-md-5">Short name</div>
        </div>
        <div class="form-group" ng-repeat="alias in aliases">
            <ng-form name="innerForm">
                <div class="col-md-1">
                    <button type="button" title="Remove this alias" class="btn btn-danger btn-sm" ng-click="removeAlias(alias)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="col-md-5">
                    <div class="input-group input-group-sm" tim-error-state data-for="innerForm.aliasLoc">
                        <span ng-click="aliasPublicClicked(alias)" class="input-group-addon">
                       <input type="checkbox" ng-checked="alias.public">
                       </span>
                        <input class="form-control" name="aliasLoc" tim-location type="text"
                               ng-model="alias.location"/>
                        <span class="input-group-btn">
                    <a class="timButton" href="{{ '/view/{{alias.location | escape}}' }}">View</a>
                    </span>
                    </div>
                    <tim-error-message for="innerForm.aliasLoc"></tim-error-message>
                </div>
                <div class="col-md-5">
                    <div class="input-group input-group-sm" tim-error-state data-for="innerForm.aliasName">
                        <input class="form-control" required name="aliasName" type="text" tim-short-name ng-model="alias.name"
                               placeholder="Short name"/>
                        <span class="input-group-btn">
                    <a class="timButton" href="{{ '/view/{{alias.path | escape}}' }}">View</a>
                            </span>
                    </div>
                    <tim-error-message for="innerForm.aliasName"></tim-error-message>
                </div>
                <div class="col-md-1">
                    <button type="button" class="timButton btn-sm" ng-click="updateAlias(alias, $first)"
                            ng-disabled="!aliasChanged(alias) || innerForm.$invalid"><span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </ng-form>
        </div>
        <div class="form-group">
            <ng-form name="newAliasForm">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="input-group input-group-sm" tim-error-state data-for="newAliasForm.newAliasLoc">
                        <span ng-click="aliasPublicClicked(newAlias)" class="input-group-addon">
                       <input type="checkbox" ng-checked="newAlias.public">
                       </span>
                    <input class="form-control" name="newAliasLoc" tim-location type="text"
                           ng-model="newAlias.location"/>
                    <span class="input-group-btn">
                    <a class="timButton" href="{{ '/view/{{newAlias.location | escape}}' }}">View</a>
                    </span>
                </div>
                <tim-error-message for="newAliasForm.newAliasLoc"></tim-error-message>
            </div>
            <div class="col-md-5">
                <div class="input-group input-group-sm" tim-error-state data-for="newAliasForm.newAliasName">
                    <input class="form-control" required name="newAliasName" tim-short-name type="text"
                           ng-model="newAlias.name"
                           placeholder="Enter new short name"/>
                    <span class="input-group-btn"><a class="timButton" disabled>View</a></span>
                </div>
                <tim-error-message for="newAliasForm.newAliasName"></tim-error-message>
            </div>
            <div class="col-md-1">
                <button type="button" class="timButton btn-sm" ng-click="addAlias(newAlias)" ng-disabled="newAliasForm.$invalid">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            </ng-form>
        </div>
    </form>
</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Translations and copies (see <a href="https://tim.jyu.fi/view/tim/TIM-ohjeet#translations">help in Finnish</a>)
        </div>
<div class="panel-body">
    <table class="table">
            <tr>
                <th>Language</th>
                <th>Title</th>
                <th>Maintainer</th>
                <th>Document id</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="tr in translations">
                <td><input type="text" class="form-control" ng-model="tr.lang_id" placeholder="Language"/></td>
                <td><input type="text" class="form-control" ng-model="tr.title" placeholder="Title"/></td>
                <td>{{ '{{tr.owner.name}}' }}</td>
                <td>{{ '{{tr.id}}' }}</td>
                <td>
                    <button class="timButton" ng-click="updateTranslation(tr)" ng-disabled="!trChanged(tr)">Update</button>
                </td>
            </tr>
        </table>
        <span>
    </span>

    <uib-tabset active="-1">
        <uib-tab heading="Create a translation">
            <div class="form-group"><label for="translationTitle">Title:</label>
                <input id="translationTitle" class="form-control" type="text" ng-model="newTranslation.title"/></div>
            <div class="form-group"><label for="translationName">Language:</label>
                <input id="translationName" class="form-control" type="text" ng-model="newTranslation.language"
                       placeholder="Short language identifier, e.g. fi or en"/></div>
            <button ng-disabled="!newTranslation.language || !newTranslation.title" class="timButton" ng-click="createTranslation()">Create</button>
        </uib-tab>
        <uib-tab heading="Create a cited copy">
            <create-item item-type="document" item-location="{{ '{{ item.location }}' }}" params="citeParams"></create-item>
        </uib-tab>
        <uib-tab heading="Create a copy">
            <create-item item-type="document" item-location="{{ '{{ item.location }}' }}" params="copyParams"></create-item>
        </uib-tab>
    </uib-tabset>
    </div>
    </div>

    {% if item.rights['owner'] %}
    <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
            <form>
                <p>Send me email on</p>
                <div class="checkbox"><label>
                    <input type="checkbox" ng-model="emailDocModify"
                           ng-click="notifyChanged()"/>Document modifications
                </label></div>
                <div class="checkbox"><label>
                    <input type="checkbox" ng-model="emailCommentAdd"
                           ng-click="notifyChanged()"/>New comments
                </label></div>
                <div class="checkbox"><label>
                    <input type="checkbox" ng-model="emailCommentModify"
                           ng-click="notifyChanged()"/>Edited comments
                </label></div>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">Upload a new version for this document</div>
        <div class="panel-body">
            <div uib-alert class="alert-danger" ng-show="uploadForm.file.$error.pattern">
                You may only upload markdown files (*.md and *.markdown).
            </div>
            <div uib-alert class="alert-danger" ng-show="fileUploadError" ng-bind="fileUploadError">
            </div>
            <form name="uploadForm">
                <div class="input-group">
                    <input class="form-control" type="file" name="file" ng-model="file" ngf-pattern="'.md,.markdown,.txt'" ngf-select="updateDocument($file)">
                    <span class="input-group-btn">
                    <button class="timButton" id="reset" type="reset" value="Reset">Clear</button>
                    </span>
                </div>
                <span ng-show="file.progress >= 0 && file.progress < 100" ng-bind="'Uploading... ' + file.progress + '%'">
                </span>
                <span ng-show="file.result">Done!</span>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Edit the full document</div>
        <div class="panel-body">
    <form id="fullDocumentEditor">
        <div id="documentEditorDiv">
            <textarea id="doctext" class="form-control" ng-model="fulltext" rows="50" ng-hide="renameFormShowing"></textarea>
            <button id="documentEditorSaveButton" class="timButton" ng-disabled="(item.fulltext === fulltext) || saving" ng-click="saveDocument()" ng-hide="renameFormShowing">Save</button>
            <span ng-show="saving">Saving...</span>
        </div>
        <div id="tracWikiDiv" ng-hide="renameFormShowing">
            <label>Import TracWiki <input type="checkbox" ng-model="showTracWiki"></label>
            <div ng-hide="!showTracWiki">
                <p>Write the wiki root address to replace "wiki:" from URL's and then copy paste
                    TracWiki page below and then press "Convert TracWiki" button to get the text converted
                    above as MarkDown. Then you can edit the MarkDown before pressing Save.
                    You may need to add extra empty lines before lists.</p>
                <div class="form-group"><label for="wikiRoot">Wiki root: </label>
                    <input id="wikiRoot" class="form-control" ng-model="wikiRoot" size="50"
                           value="https://trac.cc.jyu.fi/projects/ohj2/wiki/"/></div>
                <div class="form-group"><label for="tracWikiText">
                    TracWiki content:</label>
                    <textarea rows="50" id="tracWikiText" class="form-control" ng-model="tracWikiText"></textarea></div>

                <button class="timButton" ng-click="convertDocument(item)">Convert TracWiki</button>
            </div>
        </div>
    </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Other actions</div>
        <div class="panel-body">
            <a class="timButton" href="/download/{{ '{{ item.id }}' }}">Download document markdown</a>
            <button class="timButton" ng-click="markAllAsRead()">Mark document as read</button>
            <button class="btn btn-danger" ng-click="deleteDocument(item.id)">Delete document</button>
            <span ng-show="readUpdating">Loading...</span>
        </div>
    </div>
    {% raw %}
    <div class="panel panel-default">
        <div class="panel-heading">Document version history</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>User / group</th>
                    <th>Paragraph</th>
                    <th>Event</th>
                </tr>
                </thead>
                <tr ng-repeat="version in item.versions">
                    <td><a href="/download/{{ item.id }}/{{ version.ver[0] }}/{{ version.ver[1] }}">{{ version.time |
                        timdate }}</a></td>
                    <td>{{ version.group }}</td>
                    <td><a href="/view/{{ item.path }}#{{ version.par_id }}">{{ version.par_id }}</a></td>
                    <td>
                        <a ng-if="!$last"
                           href="/diff/{{ item.id }}/{{ item.versions[$index+1].ver[0] }}/{{ item.versions[$index+1].ver[1] }}/{{ version.ver[0] }}/{{ version.ver[1] }}">{{
                            version.op }}</a>
                        <span ng-if="$last">{{ version.op }}</span>
                    </td>
                </tr>
            </table>
            <p ng-show="hasMoreChangelog">Showing {{ item.versions.length }} latest entries.</p>
            <p ng-show="!hasMoreChangelog">Showing all {{ item.versions.length }} entries.</p>
            <button ng-disabled="changelogLoading" class="timButton" ng-show="hasMoreChangelog" ng-click="showMoreChangelog()">Show more entries</button>
        </div>
    </div>
    {% endraw %}
    <div class="row text-center"><a href="{{ url_for('view_page.index_page') }}">Return to the index page</a></div>
{% endblock %}
