{% extends 'manage.html' %}
{% set obj_name = 'folder' %}
{% block managecontent %}
    <div class="panel panel-default">
        <div class="panel-heading">Name and location</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="newName" class="control-label">Folder name:</label>
                    <div class="input-group">
                        <input class="form-control" id="newName" type="text" ng-model="newName">
                        <span class="input-group-btn">
                            <button ng-click="renameFolder(newName)" class="timButton" ng-disabled="newName === oldName">
                            Update
                        </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newFolderName" class="control-label">Location:</label>
                    <div class="input-group">
                        <input class="form-control" id="newFolderName" type="text"
                                                  ng-model="newFolderName">
                        <span class="input-group-btn">
                            <button ng-click="moveFolder(newFolderName)" class="timButton"
                                ng-disabled="newFolderName === oldFolderName">Update
                        </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="margin">
        <button class="timButton" ng-click="deleteFolder(doc.id)">Delete folder</button>
    </div>
{% endblock %}
