{% extends obj_name + ".html" %}
{% set is_folder = obj_name == 'folder' %}
{% block title %}{{ item.name }} - Manage{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/manageView/manageCtrl.js') }}"></script>
    <script>
        var accessTypes = {{access_types|tojson}};
    </script>
{% endblock %}
{% block content %}
    <div ng-controller="PermCtrl" class="manage">
        <div class="panel panel-default">
            <div class="panel-heading">{{ obj_name|capitalize }} permissions</div>
            <div class="panel-body">
                <uib-tabset>
                    <uib-tab heading="Rights for this {{ obj_name }}">
                        <rights-editor
                                item-id="item.id"
                                url-root="permissions"
                                access-types="accessTypes">
                        </rights-editor>
                    </uib-tab>
                    <uib-tab ng-if="item.isFolder" heading="Default rights for new documents">
                        <rights-editor
                                item-id="item.id"
                                url-root="defaultPermissions/document"
                                access-types="accessTypes">
                        </rights-editor>
                    </uib-tab>
                    <uib-tab ng-if="item.isFolder" heading="Default rights for new folders">
                        <rights-editor
                                item-id="item.id"
                                url-root="defaultPermissions/folder"
                                access-types="accessTypes">
                        </rights-editor>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        {% block managecontent %}{% endblock %}
    </div>
{% endblock %}
