{% extends obj_name + ".html" %}
{% set is_folder = obj_name == 'folder' %}
{% block title %}{{ doc.name }} - Manage{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/manageView/manageCtrl.js') }}"></script>
    <script>
        var isFolder = {{is_folder|tojson}};
        var doc = {{doc|tojson}};
        var accessTypes = {{access_types|tojson}};
    </script>
{% endblock %}
{% block content %}
    <div ng-controller="PermCtrl" class="manage">
        <div class="panel panel-default">
            <div class="panel-heading">{{ obj_name|capitalize }} permissions</div>
            <div class="panel-body">
                {% if rights['owner'] %}
                    <form ng-submit="changeOwner()">
                        <div class="form-group">
                            <label for="newOwnerInput">{{ obj_name|capitalize }} owner:</label>
                            <div class="input-group">
                                <input id="newOwnerInput" class="form-control" type="text" ng-model="newOwner">
                                <span class="input-group-btn">
                        <button ng-disabled="doc.owner.name === newOwner" class="timButton">
                            Update
                        </button>
                    </span>
                            </div>
                            <span ng-show="ownerUpdating">Updating...</span>
                        </div>
                    </form>
                {% else %}
                    {{ obj_name|capitalize }} owner: {{ doc.owner.name }}
                {% endif %}
                <uib-tabset>
                    <uib-tab heading="Rights for this {{ obj_name }}">
                        <rights-editor
                                item-id="doc.id"
                                url-root="permissions"
                                access-types="accessTypes">
                        </rights-editor>
                    </uib-tab>
                    <uib-tab ng-if="isFolder" heading="Default rights for new documents">
                        <rights-editor
                                item-id="doc.id"
                                url-root="defaultPermissions/document"
                                access-types="accessTypes">
                        </rights-editor>
                    </uib-tab>
                    <uib-tab ng-if="isFolder" heading="Default rights for new folders">
                        <rights-editor
                                item-id="doc.id"
                                url-root="defaultPermissions/folder"
                                access-types="accessTypes">
                        </rights-editor>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        {% block managecontent %}{% endblock %}
    </div>
{% endblock %}
