<div>
    <div id="check" ng-if="question.type == 'matriisi'">
        <label>Vastaustyyppi:</label>
        <select name="vtyyppi" ng-if="question.type == 'matriisi'" ng-model="question.matriisi.vastaus" ng-dropdown>
            <option value="" disabled selected> -- select answer type --</option>
            <option value="radiobutton-horizontal">Radiopainike vaakaan</option>
            <option value="radiobutton-vertical">Radiopainike pystyyn</option>
            <option value="vapaakenttä">Vapaakenttä</option>
            <option value="checkbox">Checkbox</option>
        </select>
    </div>
    <label>Vastausvaihtoehdot:</label>

    <div style="float:left">
        <table>
            <thead>
            <!----Top "hidden row" with + and - buttons  ---->
            <tr>
            <tr style="border: none; background-color: inherit">
                <th width="50px" style="border: none; background-color: inherit">
                <th style="border: none; background-color: inherit"></th>
                <th ng-repeat="item in columns" style="border: none; background-color: inherit"
                    ng-if="question.type == 'matriisi'">
                    <div style="top:35px; position:relative;">
                        <button ng-click="addCol($index)" style="float:left; margin-left: -20px;">+</button>
                        <button ng-click="delCol($index)" >-</button>
                    </div>
                </th>
            </tr>

            <!--- ends--->
            <tr>
                <th width="50px"
                    style="border-left: none; border-top: none; border-bottom: none; background-color:inherit">

                </th>
                <th>

                </th>

                <th ng-if="questionType == 'true-false'">True</th>
                <th ng-if="questionType == 'true-false'">False</th>

                <th ng-repeat="item in columns" ng-if="questionType != 'true-false'">
                    <div class="cart">
                        <textarea form="question-form" rows="1" cols="20"></textarea>
                        <br/>

                    </div>
                </th>


                <th ng-if="questionType == 'matriisi'">
                    <div>
                        <button style="width: 150px; height: 50px;" ng-click="addCol(-1)">+</button>
                    </div>
                </th>

            </tr>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows">
                <td id="buttons" style="width:auto;">
                    <button ng-click="addRow($index)" style="float:right; margin-top:-35px">+</button>
                    <button ng-click="delRow($index)" style="float:right">-</button>
                </td>
                <th>
                    <div class="cart">
                        <textarea form="question-form" rows="1" cols="20"></textarea>
                        <br/>

                    </div>
                </th>
                <td ng-repeat="column in columns">
                    <!-- Radiopainike vaakasuoraan-->
                    <div ng-if="question.matriisi.vastaus == 'radiobutton-horizontal' || questionType == 'true-false'">
                        <input type="radio"
                               ng-model="row.id"
                               ng-value="column.id"
                               placeholder="Placeholder"/>
                        <input type="text"
                               ng-show="row.id == column.id"
                               size="1"
                               placeholder="pts"/>
                    </div>
                    <!-- Radiopainike pystysuoraan-->
                    <div ng-if="questionType != 'true-false'">
                        <div ng-if="question.matriisi.vastaus == 'radiobutton-vertical' || questionType == 'radio-button'">
                            <input type="radio"
                                   ng-model="column.id"
                                   ng-value="row.id"
                                   placeholder="Placeholder"/>
                            <input type="text"
                                   ng-show="column.id == row.id"
                                   size="1"
                                   placeholder="pts"/>
                        </div>
                        <!-- Vapaa tekstivastaus-->
                        <div ng-if="questionType != 'radio-button'">
                            <textarea ng-if="question.matriisi.vastaus == 'vapaakenttä'"
                                      type="text"
                                      placeholder="Placeholder"
                                      rows="1"
                                      cols="20"></textarea>
                            <!-- Checkbox vaakaan-->
                            <div ng-if="question.matriisi.vastaus == 'checkbox'">
                                <input type="checkbox"
                                       ng-model="row.id"
                                       ng-true-value="column.id"
                                       ng-false-value="-1"
                                        />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border: none"></td>
                <th>
                    <div>
                        <button style="width: 150px; height: 50px;" ng-click="addRow(-1)">+</button>
                    </div>
                </th>
            </tr>


            </tbody>
        </table>
    </div>

    <br>
    <br>
</div>