<div>
    <div id="check" ng-if="question.type == 'matriisi'">
        <label>Answer type:</label>
        <select name="answerType" ng-if="question.type == 'matriisi'" ng-model="question.answerFieldType" ng-dropdown
                ng-options="item.value as item.label for item in answerFieldTypes ">
            <option value="" disabled selected> -- select answer type --</option>

        </select>
    </div>
    <div>
        <table>
            <thead>
            <!----Top "hidden row" with + and - buttons  ---->
            <tr style="border: none; background-color: inherit;">
                <th style="border: none; background-color: inherit">
                <th style="border: none; background-color: inherit"></th>
                <th ng-repeat="item in columnHeaders" style="border: none; background-color: inherit"
                    ng-if="question.type == 'matriisi'">
                    <div style="top:35px; position:relative;">
                        <button ng-click="addCol($index)" style="float:left; margin-left: -20px;">+</button>
                        <button class="negative" ng-click="delCol($index)" style="margin-left:80px">-</button>
                    </div>
                </th>
            </tr>

            <!--- ends--->
            <tr>
                <th style="border-left: none; border-top: none; border-bottom: none; background-color:inherit;">

                </th>
                <th>

                </th>
                <th ng-if="question.type == 'true-false'">True</th>
                <th ng-if="question.type == 'true-false'">False</th>

                <th ng-repeat="item in columnHeaders" ng-if="question.type != 'true-false'">
                    <div class="cart">
                        <textarea form="question-form" rows="1" cols="20" ng-model="rows[0].columns[$index].text"></textarea>
                        <br/>

                    </div>
                </th>

                <th ng-if="question.type == 'matriisi'">
                    <div>
                        <button style="width: 150px; height: 50px;" ng-click="addCol(-1)">+</button>
                    </div>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows">
                <th width="5%" id="buttons">
                    <div style="left:20px; position:relative;">
                        <button ng-click="addRow($index)" style="float:right; margin-top:-35px">+</button>
                        <button ng-click="delRow($index)" class="negative" style="float:right">-</button>
                    </div>
                </th>
                <th>
                    <div class="cart">
                        <textarea style="margin-left:5px" ng-model="row.value" form="question-form" rows="1" cols="20"></textarea>

                        <br/>

                    </div>
                </th>
                <td ng-repeat="column in row.columns">
                    <!-- Radiopainike vaakasuoraan-->
                    <div ng-if="(question.answerFieldType == 'radiobutton-horizontal' && question.type=='matriisi') || question.type == 'true-false'">
                        <input type="radio"
                               ng-model="row.id"
                               ng-value="column.id"
                               placeholder="Placeholder"/>
                        <input type="text"
                               ng-show="row.id == column.id"
                               size="1"
                               placeholder="pts"/>
                    </div>
                    <!-- Radiopainike pystysuoraan-->
                    <div ng-if="question.type != 'true-false'">
                        <div ng-if="(question.answerFieldType == 'radiobutton-vertical' && question.type=='matriisi') || question.type == 'radio-vertical'">
                            <input type="radio"
                                   name="column.rowId"
                                   ng-value="column.id"
                                   placeholder="Placeholder"/>
                            <input type="text"
                                   ng-show="column.id == row.id"
                                   size="1"
                                   placeholder="pts"/>
                        </div>
                        <!-- Vapaa tekstivastaus-->
                        <div ng-if="question.type != 'radio-button'">
                            <textarea ng-if="question.answerFieldType == 'textArea' && question.type=='matriisi'"
                                      type="text"
                                      placeholder="Placeholder"
                                      rows="1"
                                      cols="20"></textarea>
                            <!-- Checkbox vaakaan-->
                            <div ng-if="question.answerFieldType == 'checkbox' && question.type=='matriisi'">
                                <input type="checkbox"
                                       ng-model="row.id"
                                       ng-true-value="column.id"
                                       ng-false-value="-1"
                                        />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border: none"></td>
                <th>
                    <div>
                        <button style="width: 150px; height: 50px;" ng-click="addRow(-1)">+</button>
                    </div>
                </th>
            </tr>


            </tbody>
        </table>
    </div>

    <br>
    <br>
</div>