{% set areaeline = '<div class="arealine areaexpand" title="Click to expand / collapse"></div>' %}
{% set areacline = '<div class="arealine areacollapse" title="Click to collapse / expand"></div>' %}
{% set editline = '' %}
{% if rights.editable or rights.can_comment %}
    {% set editline = '<div class="editline" title="Click to edit this paragraph"></div>' %}
{% endif %}

{% if route == "view" and text|length == 0 and rights.editable %}
    <div class="par"
         id="null"
         t=""
         attrs="{}"
         ng-non-bindable>

        <div class="parContent">
            <p>Click left side to edit. You can get help with editing from editor's Help tab.</p>
            <p>This is an automatically added help paragraph. It will disappear when you add content.</p>
        </div>
        {{ editline|safe }}
    </div>
{% endif %}


{% for t in text %}
    <div class="{{[t.cls|trim, t.is_plugin|trim]|join(' ')|trim}}"
         id="{{ t.id }}"
         t="{{ t.t }}"
         attrs="{{ t.attrs_str }}"
     {% if t.attrs.area %}
         data-area-start="{{ t.attrs.area|safe }}"
     {% endif %}
     {% if area %}
         data-area="{{ area|safe }}"
         {% if area_collapse %}
             style="display: none;"
         {% endif %}
     {% endif %}
     {% if t.ref_id %}
         ref-id="{{ t.ref_id }}"
         ref-t="{{ t.ref_t }}"
         ref-attrs="{{ t.ref_attrs_str }}"
         ref-doc-id="{{ t.ref_doc_id }}"
     {% endif %}
    {% if not t.is_plugin %}ng-non-bindable{% endif %}>
    {% set task_id = (t.ref_attrs or t.attrs)['taskId'] %}
    {% if task_id and not preview %}
        <a href="#{{ task_id }}" title="Permlink" class="headerlink">#</a>
    {% endif %}
            {% if t.is_plugin and t.needs_browser and not preview %}
                    <answerbrowserlazy
                            task-id="{{ (t.ref_doc_id or t.doc_id) }}.{{ task_id }}">
                    </answerbrowserlazy>
            {% endif %}
    <div class="parContent"{% if task_id %} id="{{ task_id }}"{% endif %}>
        {{ t.html|safe }}
    </div>
    {% if t.attrs.rl == 'force' or not (not t.attrs.rd or t.attrs.rl == 'no') %}
        <a class="parlink"
           href="/view/{{ t.ref_doc_id }}#{{ t.ref_id }}"
           data-docid="{{ t.ref_doc_id }}" data-parid="{{ t.ref_id }}">
            <sup>[*]</sup></a>
    {% endif %}
    {% if t.attrs.area_end == area %}
        {% set area = none %}
    {% endif %}

    {% if area %}
        <div class="areapartline"></div>
    {% elif t.attrs.area and t.attrs.collapse %}
        {% set area = t.attrs.area %}
        {% if t.attrs.collapse == "true" %}
            {% set area_collapse = true %}
            {{ areaeline|safe }}
        {% else %}
            {% set area_collapse = false %}
            {{ areacline|safe }}
        {% endif %}
    {% endif %}

    {{ editline|safe }}
        {% if not disable_read_markings %}
            <div class="{{ ['readline', t.status]|join(' ')|trim }}"
                     title="Click to mark this paragraph as read"></div>
        {% endif %}
    {% if t.notes %}
        <div class="notes">
            {% for note in t.notes %}
                <div class="{{ ['note', 'editable' if note.editable else '', 'private' if note.private else '']|join(' ')|trim }}"
                     note-id="{{ note.id }}">
                    {{ note.html|safe }}
                    &mdash;
                    {% if rights.teacher %}
                        <a class="username" title="{{ note.real_name }}" href="mailto:{{ note.user_email }}">
                            {{ note.user_name }}</a>
                    {% endif %}
                    <span class="timestamp" title="{{ note.created }}">{{ note.created|datestr_to_relative }}</span>
                    {% if note.modified %}
                        <span class="timestamp" title="{{ note.modified }}">
                            (edited {{ note.modified|datestr_to_relative }})
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endfor %}