{% set editline = '' %}
{% if rights.editable or rights.can_comment %}
    {% set editline = '<div class="editline" title="Click to edit this paragraph"></div>' %}
{% endif %}
{% for t in text %}
    <div class="par {{ t.get_class_str() }}"
            {% if t.get_original() %}
         id="{{ t.get_original().get_id() }}"
         t="{{ t.get_original().get_hash() }}"
            {% else %}
         id="{{ t.get_id() }}"
         t="{{ t.get_hash() }}"
            {% endif %}
         attrs="{{ t.get_attrs_str() }}"
            {% if t.is_plugin() %}>
                <answerbrowser
                        task-id="{{ t.get_doc_id() }}.{{ t.get_attrs()['taskId'] }}">
                </answerbrowser>
            {% else %}
                ng-non-bindable>
            {% endif %}
    <div class="parContent">
        {{ t.get_html()|safe }}
    </div>
    {{ editline|safe }}
    <div class="readline {{ readings[t.get_id()] }}" title="Click to mark this paragraph as read"></div>
    </div>
{% endfor %}