{% set editline = '' %}
{% if rights.editable or rights.can_comment %}
    {% set editline = '<div class="editline" title="Click to edit this paragraph"></div>' %}
    {% set editlineQuestion = '<div class="editline editlineQuestion" title="Click to edit this paragraph"></div>' %}
{% endif %}

{% if route == "view" and text|length == 0 and rights.editable %}
    <script>
        var folder = "{{doc.fullname if doc else ''}}";
        var templates = true;
        var noIndex = true;
    </script>
    <script src="{{ url_for('static', filename='scripts/timApp.js') }}"></script>
    <div class="par"
         id="null"
         t=""
         attrs="{}">
        <div class="parContent">
            <p>Click left side to edit. You can get help with editing from editor's Help tab.</p>
            <p>This is an automatically added help paragraph. It will disappear when you add content.</p>
        </div>
        <div ng-controller="IndexCtrl" class="index">
            <div ng-if="templateList.length">
                <div class="parContent">
                    <p>You may also choose to use one of the templates below.</p>
                </div>
                <br>
                <table>
                    <thead>
                        <tr>
                            <td>
                                <b>Template name</b>
                            </td>
                            <td></td>
                        </tr>
                    </thead>
                    <tr ng-repeat="template in templateList">
                        <td>
                            {{ '{{ template.name }}' }}
                        </td>
                        <td>
                            <button class="timButton" ng-click="copyDocument({{ doc.id }}, template.fullname)">Load</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {{ editline | safe }}
    </div>
{% endif %}

{% set areas = [] %}
{% set open_areas = {} %}

{% macro start_area(doc_id, title, areas, attrs) %}
    {% set collapse = "" %}
    {% if attrs.collapse %}
        {% set area = attrs.area %}
        {% if attrs.collapse == "true" %}
            {% set collapse = "collapsed " %}
            {% set cclass = "areaexpand" %}
        {% else %}
            {% set cclass = "areacollapse" %}
        {% endif %}

        <div class="{{ cclass }}" title="Click to expand / collapse" data-area="{{ areas|join('_') }}">
            <span class="areatitle">{{ title }}</span>
        </div>
    {% endif %}

    {% set area_name = areas|join('_') %}
    <div class="area {{ collapse }}area_{{areas|join(' area_')}}" id="area_{{area_name}}" data-name="_{{area_name}}_" data-doc-id="{{doc_id}}">
        <div class="areaContent">
            {{ caller() }}
{% endmacro %}

{% macro end_area(open_areas) %}
    </div>
    {% if rights.editable or rights.can_comment %}
        {% for area in open_areas %}
            {% if open_areas[area] <= 3 %}
                <div class="areaeditline areaeditline{{ open_areas[area] }}"
                     title="Click to edit this area reference ({{ area }})"
                     data-area="{{ area }}">
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    {{ caller() }}
{% endmacro %}


{% for t in text %}
    {% set drop_content = false %}
    {% if t.attrs.area %}
        {% if open_areas|length > 0 %}
            {% call end_area(open_areas) %}
            {% endcall %}
        {% endif %}

        {% set areas = areas + [t.attrs.area] %}
        {#{% do open_areas.__setitem__(t.attrs.area, open_areas|length + 1) %}#}

        {% call start_area(t.doc_id, t.html|safe, open_areas, t.attrs) %}
        {% endcall %}

        {% set drop_content = true %}
    {% endif %}
    {% if t.ref_attrs and t.ref_attrs.area %}
        {% if refcount %}
            {% set refcount=refcount + 1 %}
        {% else %}
            {% set refcount = 0 %}
        {% endif %}

        {% if open_areas|length > 0 %}
            {% call end_area(open_areas) %}
            {% endcall %}
        {% endif %}

        {% set areas = areas + [t.ref_attrs.area] %}
        {# {% do open_areas.__setitem__(t.attrs.area, areas|length) %} #}

        {% call start_area(t.doc_id, t.html|safe, open_areas, t.ref_attrs) %}
        {% endcall %}

        {% set drop_content = true %}
    {% endif %}

    <div class="{{[t.cls|trim, t.is_plugin|trim]|join(' ')|trim}}"
         id="{{ t.id }}"
         t="{{ t.t }}"
         attrs="{{ t.attrs_str }}"
     {% if t.ref_attrs and t.ref_attrs.classes and "deleted" in t.ref_attrs.classes %}
         title="This paragraph has been deleted from the source document."
     {% endif %}
     {% if area %}
         data-area="{{ area|safe }}"
     {% endif %}
     {% if t.ref_id %}
         ref-id="{{ t.ref_id }}"
         ref-t="{{ t.ref_t }}"
         ref-attrs="{{ t.ref_attrs_str }}"
         ref-doc-id="{{ t.ref_doc_id }}"
     {% endif %}
    {% if not t.is_plugin %}ng-non-bindable{% endif %}>
    {% set task_id = (t.ref_attrs or t.attrs)['taskId'] %}
            {% if t.is_plugin and t.needs_browser and not preview %}
                    <answerbrowserlazy
                            task-id="{{ (t.ref_doc_id or t.doc_id) }}.{{ task_id }}">
                    </answerbrowserlazy>
            {% endif %}
    {% if task_id and not preview %}
        <a href="#{{ task_id }}" title="Permlink" class="headerlink">#</a>
    {% endif %}

    {% if not t.html %}
        {% if t.md %}
            <div class="parContent mdcontent"{% if task_id %} id="{{ task_id }}"{% endif %}>
                {{ t.md|escape }}
            </div>
        {% elif t.attrs_str %}
            <div class="parContent mdcontent"{% if task_id %} id="{{ task_id }}"{% endif %}>
                {{ t.attrs_str|escape }}
            </div>
        {% else %}
            <div class="parContent mdcontent"{% if task_id %} id="{{ task_id }}"{% endif %}>
                (hidden paragraph)
            </div>
        {% endif %}
    {% else %}
        <div class="parContent"{% if task_id %} id="{{ task_id }}"{% endif %}>
            {% if not drop_content %}
            {{ t.html|safe }}
            {% endif %}
        </div>
    {% endif %}

    {% if t.attrs.rl == 'force' or not (not t.attrs.rd or t.attrs.rl == 'no') %}
        <a
        {% if t.ref_attrs and t.ref_attrs.classes and "deleted" in t.ref_attrs.classes %}
            class="parlink deleted"
        {% else %}
            class="parlink"
        {% endif %}
           href="/view/{{ t.ref_doc_id }}#{{ t.ref_id }}"
           data-docid="{{ t.ref_doc_id }}" data-parid="{{ t.ref_id }}">
            <sup>[*]</sup></a>
    {% endif %}

    {% if t.attrs.area_end == area %}
        {% set area = none %}
    {% endif %}

    {% if area %}
        <div class="areapartline"></div>
    {% endif %}

    {% if not t.attrs.question %}
    {{ editline|safe }}
        {% if not disable_read_markings %}
            <div class="{{ ['readline', t.status]|join(' ')|trim }}"
                     title="Click to mark this paragraph as read"></div>
        {% endif %}
    {% else %}
        {{ editlineQuestion|safe }}
        {% if not disable_read_markings %}
            <div class="{{ ['readline readlineQuestion', t.status]|join(' ')|trim }}"
                     title="Click to mark this paragraph as read"></div>
        {% endif %}
    {% endif %}


    {% if t.notes %}
        <div class="notes">
            {% for note in t.notes %}
                <div class="{{ ['note', 'editable' if note.editable else '', 'private' if note.private else '']|join(' ')|trim }}"
                     note-id="{{ note.id }}">
                    {{ note.html|safe }}
                    &mdash;
                    {% if rights.teacher %}
                        <a class="username" title="{{ note.real_name }}" href="mailto:{{ note.user_email }}">
                            {{ note.user_name }}</a>
                    {% endif %}
                    <span class="timestamp" title="{{ note.created }}">{{ note.created|date_to_relative }}</span>
                    {% if note.modified %}
                        <span class="timestamp" title="{{ note.modified }}">
                            (edited {{ note.modified|date_to_relative }})
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
    {% if open_areas|length > 0 %}
        {% if t.attrs.area_end %}
            {% call end_area(open_areas) %}
            {% endcall %}

            {#{% do open_areas.pop(t.attrs.area_end, None) %}#}

            {% if open_areas|length > 0 %}
                {% call start_area(t.doc_id, t.html|safe, open_areas, t.attrs) %}
                {% endcall %}
            {% endif %}
        {% endif %}
        {% if t.ref_attrs and t.ref_attrs.area_end %}
            {% call end_area(open_areas) %}
            {% endcall %}

            {# {% do open_areas.pop(t.ref_attrs.area_end, None) %} #}

            {% if areas|length > 0 %}
                {% call start_area(t.doc_id, t.html|safe, open_areas, t.ref_attrs) %}
                {% endcall %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
