<div class="ng-scope" style="text-align:left" ng-controller="QuestionController">
	<div class="popUpWindow">
	<h1>Create question</h1>
		<form class="createQuestion" id="question-form">
			<fieldset>
				<label>
					Question title:
					<input name="question.title" type="text" cols="100" ng-model="question.title"/>
				</label>
				<br />

				<label>
					Question:
					<div>
						<textarea name="question" rows="2" cols="100" ng-model="question.question"></textarea>
					</div>
				</label>
				<br />

				<label>Question type:
					<select name="question.type" ng-model="question.type" ng-dropdown required>
						<option value="" ng-option disabled selected> -- select question type --</option>
						<option ng-option value="radio-vertical">Multiple choice (radio button)</option>
						<option ng-option value="checkbox-vertical">Multiple choice (checkbox)</option>
						<option ng-option value="true-false">True/False</option>
						<option ng-option value="matrix">Many rows and columns</option>
					</select>
				</label>

				<div ng-if="question.type == 'checkbox-vertical'" ng-init="createMatrix(2, 1,'checkbox')">
					{% include 'matrix.html' %}
				</div>
				<div ng-if="question.type == 'radio-vertical'" ng-init="createMatrix(2, 1,'radio')">
					{% include 'matrix.html' %}
				</div>
				<div ng-if="question.type == 'true-false'" ng-init="createMatrix(2, 2, 'true-false')">
					{% include 'matrix.html' %}
				</div>
				<div ng-if="question.type == 'matrix'" ng-init="createMatrix(2, 2, 'matriisi')">
					{% include 'matrix.html' %}
				</div>
				<br />
				<br />

				<label>
					Start time:
					<input type="checkbox" ng-model="question.startTimeSelected" />
					<div class="questionStartTime">
						<span ng-show="question.startTimeSelected">
							<label>Date:<input type="text" id="calendarStart">
							</label>
							<label>Time:
							<input type="text" id="startHour" name="hour" maxlength="2" size="2" placeholder="hh"
								   is-valid-change="" ng-model="question.startHour">
							<label>:</label>
							<input type="text" id="startMin" name="min" maxlength="2" size="2" placeholder="mm"
								   is-valid-change="" ng-model="question.startMin"></label>
						</span>
					</div>
				</label>
				<br />

				<label>Timer:
				 <input type="checkbox" ng-model="question.endTimeSelected" />
				 <div class="questionTimer">
					<span ng-show="question.endTimeSelected">
						<input type="number" name="hours" min="0" max="100" step="1" value="0"> h
						<input type="number" name="minutes" min="0" max="59" step="1" value="0"> m
						<input type="number" name="seconds" min="0" max="59" step="0" value="10"> s
					</span>
				</div>
				</label>
				<br>
				<br>
			</fieldset>			
		</form>
		<div class="buttons">
			<input type="button" value="Submit" ng-click="createQuestion(question.question, question.type)">
			<input type="button" value="Cancel" ng-click="close()">
		</div>
	</div>
</div>
