<fieldset class="popUpWindow">
    <div>
        <h1>Question info</h1>

        <div class="questioninfoWindow">
            <div class="sectionDetails">
                <label>Question:</label>
                <label>Time remaining:</label>
            </div>
            <div class="sectionDetails">
                <label></label>
            </div>
            <div class="sectionDetails">
                <label>Answers:</label>
                <label>Connected:</label>

                <div class="buttons">
                    <button type="button" ng-click="close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>