{% extends "base.jinja2" %}
{% block title %}Settings{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var css_files = {{ css_files|tojson }};
        var notifications = {{ notifications|tojson }};
        var notificationLimit = {{ notification_limit|tojson }};
    </script>
{% endblock %}
{% block content %}
    <tim-settings></tim-settings>
{% endblock %}
