{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block customcss %}
    {# The logic for custom CSS is dynamic on settings page, so we disable it here. #}
{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var settings = {{ prefs|tojson }};
    </script>
{% endblock %}
{% block content %}
    <tim-settings>
        <div ng-init="$ctrl = $parent.$ctrl" class="panel panel-default">
            <div class="panel-heading">Styles</div>
            <div class="panel-body">
                <form ng-submit="submit('{{ request.path + 'save' }}')">
                    {% if css_files %}
                        <span>Available themes:</span>
                    {% else %}
                        <span>There are no available themes.</span>
                    {% endif %}
                    <br>
                    {% for css_file in css_files %}
                        <div class="checkbox"><label><input type="checkbox"
                                      name="settings.css_files.{{ css_file.name }}"
                                      ng-model="$ctrl.settings.css_files.{{ css_file.name }}"
                                      ng-change="$ctrl.submit('{{ request.path + 'save' }}')"
                                      ng-disabled="$ctrl.saving">
                            <a href="{{ url_for('static', filename='css/' + css_file.name + '.scss') }}">
                                {{ css_file.name }}</a> - {{ css_file.desc }}
                        </label></div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="customCssArea">Custom CSS:</label>
                    <textarea rows="15" id="customCssArea" class="form-control" ng-model="$ctrl.settings.custom_css"></textarea>
                    </div>

                    <button class="timButton" type="submit" ng-disabled="$ctrl.saving">Save custom CSS</button>
                    <span ng-show="$ctrl.saving">Saving...</span>
                    <button class="timButton" ng-click="$ctrl.clearLocalStorage()">Clear local settings storage</button>
                </form>
            </div>
        </div>
    </tim-settings>
{% endblock %}
