{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block customcss %}
    {# The logic for custom CSS is dynamic on settings page, so we disable it here. #}
{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var settings = {{ prefs|tojson }};
    </script>
{% endblock %}
{% block content %}
    <div ng-controller="SettingsCtrl">
        <form ng-submit="submit('{{ request.path + '/save' }}')">
        <div class="panel panel-default">
            <div class="panel-heading">Styles</div>
            <div class="panel-body">
                    {% if css_files %}
                        <span>Available themes:</span>
                    {% else %}
                        <span>There are no available themes.</span>
                    {% endif %}
                    <br>
                    {% for css_file in css_files %}
                        <div class="checkbox"><label><input type="checkbox"
                                      name="settings.css_files.{{ css_file.name }}"
                                      ng-model="settings.css_files.{{ css_file.name }}"
                                      ng-change="submit('{{ request.path + '/save' }}')"
                                      ng-disabled="saving">
                            <a href="{{ url_for('static', filename='css/' + css_file.name + '.scss') }}">
                                {{ css_file.name }}</a> - {{ css_file.desc }}
                        </label></div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="customCssArea">Custom CSS:</label>
                    <textarea rows="15" id="customCssArea" class="form-control" ng-model="settings.custom_css"></textarea>
                    </div>
                <button class="btn btn-default" ng-click="addPrintSettings();">Add Print Settings</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Editor</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.use_document_word_list">Use words from the document in ACE editor autocomplete
                    </label>
                </div>
                <label>ACE editor additional word list for autocomplete (1 word per line)
                    <textarea rows="15" class="form-control" ng-model="settings.word_list"></textarea>
                </label>
            </div>
        </div>
        <button class="timButton" type="submit" ng-disabled="saving">Save changes</button>
        <span ng-show="saving">Saving...</span>
        <button class="btn btn-default" ng-click="clearLocalStorage()">Clear local settings storage</button>

    </form>
    </div>
{% endblock %}