{% extends 'view_html.html' %}
{# The custom style should be the last style element, so don't render it in view_html.html #}
{% block viewhtml_customcss %}{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/reveal/css/reveal.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/reveal/css/theme/jyu.css') }}" id="theme">
    {% include 'doc_customcss.html' %}
    <script>
        if (window.location.search.match(/print-pdf/gi)) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'reveal.js/css/print/pdf.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
        var is_owner = rights.manage;
        var pollInterval = 500;
    </script>
{% endblock %}

{% block body %}
    <div class="reveal" ng-controller="ViewCtrl">
        <div class="slides">
            <section>
                {% if text %}
                    {% set prev_is_empty = False %}
                    {% if 'settings' not in text[0].attrs %}
                        <div class="{{[text[0].cls|trim, text[0].is_plugin|trim]|join(' ')|trim}}"
                            id="{{ text[0].id }}"
                            t="{{ text[0].t }}"
                            attrs="{{ text[0].attrs_str }}">
                                {{ text[0].html|safe }}
                        </div>
                        {% else %}
                            {% set prev_is_empty = False %}
                    {% endif %}

                    {% for t in text[1:] %}
                        {% if t.md.startswith('---') and t.md.endswith('---') and not prev_is_empty %}
                            </section>
                            <section>
                                {% else %}
                                {% if ((t.html|safe).startswith("<h1") or (t.html|safe).startswith("<h2") or (t.html|safe).startswith("<h3")) and not prev_is_empty %}
                                    </section>
                                    <section>
                                {% endif %}
                                <div class="{{[t.cls|trim, t.is_plugin|trim]|join(' ')|trim}}"
                                    id="{{ t.id }}"
                                    t="{{ t.t }}"
                                    attrs="{{ t.attrs_str }}">
                                        {{ t.html|safe }}
                                </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/reveal/lib/js/head.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/reveal/js/reveal.min.js') }}"></script>

    <script>
        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            fragments: true,
            width: 1150,
            controls: true,
            progress: true,
            history: true,
            center: true,
            // Flags if speaker notes should be visible to all viewers
            showNotes: false,
            viewDistance: 10,
            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

            // Optional libraries used to extend on reveal.js
            dependencies: [
                {
                    src: "{{ url_for('static', filename='scripts/reveal/lib/js/classList.js') }}",
                    condition: function () {
                        return !document.body.classList;
                    }
                },
                {

                    src: "{{ url_for('static', filename='scripts/reveal/plugin/zoom-js/zoom.js') }}",
                    async: true,
                    condition: function () {
                        return !!document.body.classList;
                    }
                },
                {
                    src: "{{ url_for('static', filename='scripts/reveal/plugin/notes/notes.js') }}",
                    async: true,
                    condition: function () {
                        return !!document.body.classList;
                    }
                }
            ]
        });

        var pollTimeout;
        var receiving = true;

        var oldh = 0, oldv = 0;

        function refresh() {
            clearTimeout(pollTimeout);
            $.ajax({
                cache: false,
                url: '/getslidestatus/',
                data: {'doc_id': docId},
                dataType: 'json',
                error: function (xhr, status, err) {
                    console.log('error');
                    pollTimeout = setTimeout(refresh, pollInterval);
                },
                success: function (data) {
                    var oldstate = Reveal.getState();
                    var oldh = 0, oldv = 0, newh = 0, newv = 0;
                    if (oldstate.indexh !== undefined) oldh = oldstate.indexh;
                    if (oldstate.indexv !== undefined) oldv = oldstate.indexv;
                    data = JSON.parse(data);
                    console.log(data);
                    if (data !== null) {
                        if (data.indexh !== undefined) newh = data.indexh;
                        if (data.indexv !== undefined) newv = data.indexv;
                        if ((newh != oldh || newv != oldv
                                || data.indexf != oldstate.indexf) && receiving) {
                            console.log('Change slide');
                            Reveal.slide(newh, newv, data.indexf, 'remote');
                        }
                    }
                    pollTimeout = setTimeout(refresh, pollInterval);
                }
            });
        }

        if (GetURLParameter('controls') === undefined && is_owner) pollTimeout = setTimeout(refresh, pollInterval);


        function updateSlideStatus(h, v, f) {
            if (GetURLParameter('controls') !== undefined) return;
            receiving = false;
            clearTimeout(pollTimeout);
            $.ajax({
                dataType: 'json',
                url: '/setslidestatus',
                data: {'doc_id': docId, 'status': JSON.stringify({indexh: h, indexv: v, indexf: f})},
                success: function (data) {
                    pollTimeout = setTimeout(refresh, pollInterval);
                    receiving = true;
                },
                error: function () {
                    console.log('error');
                    pollTimeout = setTimeout(refresh, pollInterval);
                    receiving = true;
                }
            })
        }

        window.onload = function () {
            document.onkeyup = function (evt) {
                evt = evt || window.event;
                if (evt.keyCode == 82) {
                    pollTimeout = setTimeout(refresh, pollInterval);
                }
            };
            setTimeout(function () {
                Reveal.slide()
            }, 2000);
        };

        {% if slide_background_url %}
            var background_url = "{{ slide_background_url }}"
            if (background_url == "none") {
                $('.backgrounds').css('background-image', "None");
                //document.body.style.backgroundImage = "None";
            } else {
                $('.backgrounds').css('background-image', "url('" + background_url + "')");
                //document.body.style.backgroundImage = "url('" + background_url + "')";
            }
        {% endif %}

        {% if slide_background_color %}
            var background_color = "{{ slide_background_color }}"
            if (background_color != "none") {
                $('.backgrounds').css('background-color', background_color);
                //document.body.style.backgroundColor = background_color;
            }
        {% endif %}


    </script>
{% endblock %}
