<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ docName }}</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/reveal/css/reveal.min.css') }}"/>
    <style type="text/css">code {
        white-space: pre;
    }</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/reveal/css/theme/jyu.css') }}" id="theme">

    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='waypoints/lib/jquery.waypoints.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='waypoints/lib/shortcuts/inview.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular/angular.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-sanitize/angular-sanitize.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='ng-file-upload/angular-file-upload-all.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/checkModules.js') }}"></script>

    {% for script in js %}
        <script src=" {{ script }}"></script>
    {% endfor %}
    <script>
        var modules = checkModules([
            {% for dep in jsMods %}
                "{{ dep|safe}}",
            {% endfor %}
        ]);

    </script>


    <script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ace.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-ui-ace/ui-ace.js') }}"></script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{{ url_for('static', filename='scripts/view_html.js') }}"></script>

    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ cssFile }}">
    {% endfor %}

    {% for cssFile in custom_css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + cssFile + '.css') }}">
    {% endfor %}

    <style type="text/css">
        {{ custom_css }}
    </style>
    <script>
        var docId = JSON.parse({{docID|tojson|safe}});
        var docName = {{docName|tojson|safe}};
        var version = {{version|tojson|safe}};
        var rights = {{rights|tojson}};
        var startIndex = {{start_index|tojson}};
        var refererPath = {{request.path|tojson|safe}};
        var teacherMode = {{teacher_mode|tojson}};
        {% if teacher_mode %}
            var users = {{plugin_users|tojson}};
        {% else %}
            var users = [{{current_user|tojson}}];
        {% endif %}
    </script>



    <script>
        if (window.location.search.match(/print-pdf/gi)) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'reveal.js/css/print/pdf.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>
    <script src="{{ url_for('static', filename='scripts/reveal/lib/js/html5shiv.js') }}"></script>
    <!-- <script src="reveal.js/lib/js/html5shiv.js"></script> -->
</head>
<body>
<div class="reveal" ng-app="timApp" ng-controller="ViewCtrl">
    <div class="slides">
        <section>
        {% if text %}
            {{ text[0]['html']|safe }}
            {% set ignore=False %}
            {% for t in text[1:] %}
                {% if t['html'] == "<div></div>" %}
                    </section><section>
                {% else %}
                    {% if t['html'].startswith("<h1") or t['html'].startswith("<h2") %}
                        </section><section>
                    {% endif %}
                    {{ t['html']|safe }}
                {% endif %}
            {% endfor %}
        {% endif %}
        </section>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/reveal/lib/js/head.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/reveal/js/reveal.min.js') }}"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        viewDistance: 10,
        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
            {
                src: "{{ url_for('static', filename='scripts/reveal/lib/js/classList.js') }}", condition: function () {
                return !document.body.classList;
            }
            },
            {

                src: "{{ url_for('static', filename='scripts/reveal/plugin/zoom-js/zoom.js') }}", async: true, condition: function () {
                return !!document.body.classList;
            }
            },
            {

                src: "{{ url_for('static', filename='scripts/reveal/plugin/notes/notes.js') }}", async: true, condition: function () {
                return !!document.body.classList;
            }
            },
            //          { src: 'reveal.js/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; }, }
            //          { src: 'reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });
</script>
<script>
    window.onload = function() {
        setTimeout(function () {Reveal.slide()}, 2000);
    };
</script>
</body>
</html>
