{% extends 'view_html.jinja2' %}

{% block body %}
    <tim-view>
    <div class="reveal" style="visibility: hidden">
        <div class="slides paragraphs">
            {{ doc_content|safe }}
        </div>
    </div>
    </tim-view>
{% endblock %}
