<div ng-controller="SidebarMenuCtrl" class="sidebarMenu" ng-cloak>
    <div ng-class="['contents']">
        <div id="sidebarMenuButton" ng-click="showSidebar()" title="Show menu">
            <img class="smallMenuBtn"
                 src="{{ url_for('static', filename='images/small-menu-icon.png') }}" width="50"
                 height="75" title="Click to open sidebar-menu"/>
        </div>
        <div class="showSidebar">

            <div class="sideMenu">
                <div class="invisible" ng-show="showIndex"></div>
                <div ng-class="['index-sidebar', indexSidebarState, 'sidebar']">
                    <h1>Index</h1>
                    <div class="sideBarContainer">
                        {% include 'content.html' %}
                    </div>
                </div>

                {# if user is in lecture or lecture_view, show lecture related menus #}
                {% if lecture_mode or in_lecture %}
                    <div class="invisible" ng-show="lectureSettings.lectureMode"></div>
                    <div ng-class="['lectures-sidebar', lecturesSidebarState, 'sidebar']" ng-show="lectureSettings.lectureMode">
                        <h1>Lectures</h1>
                        <div class="sideBarContainer">
                        {% raw %}
                        <h4>Current Lectures</h4>
                        <ul>
                            <li ng-repeat="lecture in currentLecturesList">
                                <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                                <button ng-if="$parent.lectureId != lecture.lecture_id" style="margin-left: 5px;" value="Join"
                                   ng-click="$emit('joinLecture', lecture)">Join</button>
                            </li>
                            <li ng-show="currentLecturesList.length == 0"><p>No current lectures</p></li>
                        </ul>
                        <h4>Coming Lectures</h4>
                        <ul>
                            <li ng-repeat="lecture in futureLecturesList">
                                <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                            </li>
                            <li ng-show="futureLecturesList.length == 0"><p>No coming lectures</p></li>
                        </ul>
                        <h4>Past Lectures</h4>
                        <ul>
                            <li ng-repeat="lecture in pastLecturesList">
                                <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                            </li>
                            <li ng-show="pastLecturesList.length == 0"><p>No past lectures</p></li>
                        </ul>
                        {% endraw %}
                        </div>
                    </div>

                    <div class="invisible" ng-show="isLecturer"></div>
                    <div ng-class="['questions-sidebar', questionSidebarState, 'sidebar']">
                        <h1>Questions</h1>
                        <div class="sideBarContainer">
                        {% raw %}
                        <h4>Lecture questions</h4>
                        <ul>
                            <li ng-repeat="question in lectureQuestions">
                                <a ng-click="showQuestion(question.questionId)">{{
                                    question.questionTitle
                                    }}</a>
                            </li>
                            <li ng-show="lectureQuestions.length == 0"><p>No lecture questions</p></li>
                        </ul>
                        <h4>Material questions</h4>
                        <ul>
                            <li ng-repeat="question in materialQuestions">
                                <a>{{ question.question }}</a>
                            </li>
                            <li ng-show="materialQuestions.length == 0"><p>No material questions</p></li>
                        </ul>
                        {% endraw %}
                        </div>
                    </div>

                    <div class="invisible" ng-show="isLecturer && lectureSettings.inLecture"></div>
                    <div ng-class="['people-sidebar', peopleSidebarState, 'sidebar']">
                        <h1>People</h1>

                        <div class="sideBarContainer">
                        <h3>People logged-in: <span
                                ng-bind="lecturerTable.length + studentTable.length">None</span></h3>
                        {% raw %}
                        <ul>
                            <h4>Lecturer (<span ng-bind="lecturerTable.length">None</span>)</h4>
                            <li ng-repeat="lecturer in lecturerTable">
                                {{ lecturer.name }} > {{ lecturer.active }}
                            </li>
                            <p ng-show="lecturerTable.length == 0">No lecturers</p>
                            <h4>Students (<span ng-bind="studentTable.length">None</span>)</h4>
                            <li ng-repeat="person in studentTable track by $index">
                                {{ person.name }} > {{ person.active }}
                            </li>
                            <p ng-show="studentTable.length == 0">No students</p>
                        </ul>
                        {% endraw %}
                        </div>
                    </div>
                {% endif %}

                <div class="invisible"></div>
                <div ng-class="['settings-sidebar', settingsSidebarState, 'sidebar']">
                    <h1>Settings</h1>
                    <div class="sideBarContainer">
                    <h3>Customize</h3>
                    <a href="/settings">Customize TIM</a>
                    <h4>Lecture settings</h4>
                    <h4>Document settings</h4>
                    <button ng-click="editSettingsPars()">Edit settings</button>
                    {% raw %}
                    <ul ng-show="lectureSettings.inLecture">
                        <li>
                            <label> Show wall
                                <input type="checkbox" ng-model="lectureSettings.useWall">
                            </label>
                        </li>
                        <li ng-show="!isLecturer">
                            <label> Show questions
                                <input type="checkbox" ng-model="lectureSettings.useQuestions">
                            </label>
                        </li>
                        <li ng-show="isLecturer">
                            <label> Show answers
                                <input type="checkbox" ng-model="lectureSettings.useAnswers">
                            </label>
                        </li>
                        <li ng-show="isLecturer">
                            <label> Show 'not polling' dialog
                                <input type="checkbox" ng-model="lectureSettings.useNotPollingDialog">
                            </label>
                        </li>
                    </ul>
                    {% endraw %}
                    </div>
                </div>
            </div>

            <div class="menu">
                <div id="sideBarIcons">
                    <img ng-click="toggleIndex()" ng-class="['menu-icon', indexIconState]"
                         ng-show="showIndex"
                         src="{{ url_for('static', filename='images/contents.png') }}" width="50"
                         height="50" title="Contents"/>
                    {% if lecture_mode or in_lecture %}
                        <img ng-show="lectureSettings.lectureMode" ng-click="toggleLectures()" ng-class="['menu-icon', lectureIconState]"
                             src="{{ url_for('static', filename='images/lectures-icon.png') }}" width="50"
                             height="50" title="Lectures-menu"/>
                        <img ng-show="isLecturer" ng-click="toggleQuestions()"
                             ng-class="['menu-icon', questionIconState]"
                             src="{{ url_for('static', filename='images/question-icon.png') }}" width="50"
                             height="50" title="Questions-menu"/>
                        <img ng-show="isLecturer && lectureSettings.inLecture" ng-click="togglePeople()"
                             ng-class="['menu-icon', peopleIconState]"
                             src="{{ url_for('static', filename='images/people-icon.png') }}" width="50"
                             height="50" title="People logged-in"/>
                        <img ng-show="lectureSettings.inLecture && !isLecturer" ng-click="getQuestionManually()"
                             ng-class="['menu-icon']"
                             src="{{ url_for('static', filename='images/question-icon.png') }}" width="50"
                             height="50" title="Get question manually"/>
                    {% endif %}
                    <img ng-click="toggleSettings()" ng-class="['menu-icon', settingsIconState]"
                         src="{{ url_for('static', filename='images/settings-icon.png') }}" width="50"
                         height="50" title="Settings-menu"/>
                </div>
            </div>

        </div>
    </div>
</div>