<div ng-controller="SidebarMenuCtrl" ng-cloak>
    <div class="btn btn-default btn-sm pull-left" ng-click="showSidebar()" title="Show menu">
        <i class="glyphicon glyphicon-menu-hamburger" title="Click to open sidebar-menu"></i>
    </div>
    <uib-tabset id="menuTabs" active="active" class="hidden-sm hidden-xs">
        {% if headers %}
            <uib-tab>
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-book"></i>
                </uib-tab-heading>
                <h5>Index</h5>
                {% include 'content.html' %}
            </uib-tab>
        {% endif %}

        <uib-tab>
            <uib-tab-heading>
                <i class="glyphicon glyphicon-cog"></i>
            </uib-tab-heading>
            <h5>Customize</h5>
            <a href="/settings">Customize TIM</a>
            {% if route and rights.manage %}
                <h5>Document settings</h5>
                <button class="timButton" ng-click="editSettingsPars()">Edit settings</button>
            {% endif %}
            <div ng-show="lectureSettings.inLecture">
                <h5>Lecture settings</h5>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="lectureSettings.useWall"> Show wall
                    </label>
                </div>
                <div ng-show="!isLecturer" class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="lectureSettings.useQuestions"> Show questions
                    </label>
                </div>
                <div ng-show="isLecturer" class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="lectureSettings.useAnswers"> Show answers
                    </label>
                </div>
                <div ng-show="isLecturer" class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="lectureSettings.useNotPollingDialog"> Show 'not polling' dialog
                    </label>
                </div>
            </div>
        </uib-tab>

        <uib-tab ng-show="lectureSettings.lectureMode" select="toggleLectures()">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-education"></i>
            </uib-tab-heading>
            {% raw %}
            <h5>Current Lectures</h5>
            <ul>
                <li ng-repeat="lecture in currentLecturesList">
                    <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                    <button ng-if="$parent.lectureId != lecture.lecture_id" style="margin-left: 5px;" value="Join"
                            ng-click="$emit('joinLecture', lecture)">Join
                    </button>
                </li>
                <li ng-show="currentLecturesList.length == 0"><p>No current lectures</p></li>
            </ul>
            <h5>Coming Lectures</h5>
            <ul>
                <li ng-repeat="lecture in futureLecturesList">
                    <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                </li>
                <li ng-show="futureLecturesList.length == 0"><p>No coming lectures</p></li>
            </ul>
            <h5>Past Lectures</h5>
            <ul>
                <li ng-repeat="lecture in pastLecturesList">
                    <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                </li>
                <li ng-show="pastLecturesList.length == 0"><p>No past lectures</p></li>
            </ul>
            {% endraw %}
        </uib-tab>

        <uib-tab ng-show="isLecturer" select="toggleQuestions()">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-question-sign"></i>
            </uib-tab-heading>
            {% raw %}
            <h5>Lecture questions</h5>
            <ul>
                <li ng-repeat="question in lectureQuestions">
                    <a ng-click="showQuestion(question.questionId)">{{
                        question.questionTitle
                        }}</a>
                </li>
                <li ng-show="lectureQuestions.length == 0"><p>No lecture questions</p></li>
            </ul>
            <h5>Material questions</h5>
            <ul>
                <li ng-repeat="question in materialQuestions">
                    <a>{{ question.question }}</a>
                </li>
                <li ng-show="materialQuestions.length == 0"><p>No material questions</p></li>
            </ul>
            {% endraw %}
        </uib-tab>

        <uib-tab ng-show="lectureSettings.inLecture && !isLecturer" select="getQuestionManually()">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-question-sign"></i>
            </uib-tab-heading>
            Loading question manually...
        </uib-tab>

        <uib-tab ng-show="isLecturer && lectureSettings.inLecture">
            <uib-tab-heading>
                <i class="glyphicon glyphicon-user"></i>
            </uib-tab-heading>
            <h5>People logged-in: <span
                    ng-bind="lecturerTable.length + studentTable.length">None</span></h5>
            {% raw %}
            <h5>Lecturer (<span ng-bind="lecturerTable.length">None</span>)</h5>
            <ul>
                <li ng-repeat="lecturer in lecturerTable">
                    {{ lecturer.name }} > {{ lecturer.active }}
                </li>
            </ul>
            <h5>Students (<span ng-bind="studentTable.length">None</span>)</h5>
            <p ng-show="lecturerTable.length == 0">No lecturers</p>
            <ul>
                <li ng-repeat="person in studentTable track by $index">
                    {{ person.name }} > {{ person.active }}
                </li>
            </ul>
            <p ng-show="studentTable.length == 0">No students</p>
            {% endraw %}
        </uib-tab>
    </uib-tabset>
</div>
