{% extends "base.html" %}
{% block title %}{{ docName }}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/checkModules.js') }}"></script>

    {% if teacher_mode %}
        <script src="{{ url_for('bower.static', filename='ng-table/dist/ng-table.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='ng-table-export/ng-table-export.js') }}"></script>
        {#        <link rel="stylesheet" href="{{ url_for('bower.static', filename='ng-table/dist/ng-table.css') }}">#}
    {% endif %}

    {% for script in js %}
        <script src=" {{ script }}"></script>
    {% endfor %}
    <script>
        var modules = checkModules([
            {% for dep in jsMods %}
                "{{ dep|safe}}",
            {% endfor %}
            {% if teacher_mode %}
                "ngTable", "ngTableExport"
            {% endif %}
        ]);

    </script>

    <script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ace.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-ui-ace/ui-ace.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='katex-build/katex.min.js') }}"></script>

    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ cssFile }}">
    {% endfor %}

    {% for cssFile in custom_css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + cssFile + '.css') }}">
    {% endfor %}

    <style type="text/css">
        {{ custom_css }}
    </style>
    <script>

        var docId = JSON.parse({{docID|tojson|safe}});
        var docName = {{docName|tojson|safe}};
        var version = {{version|tojson|safe}};
        var rights = {{rights|tojson}};
        var startIndex = {{start_index|tojson}};
        var refererPath = {{request.path|tojson|safe}};
        var teacherMode = {{teacher_mode|tojson}};
        var group = {{group|tojson}};
        var users;
        {% if teacher_mode %}
            users = {{plugin_users|tojson}};
        {% else %}
            users = [{{current_user|tojson}}];
        {% endif %}
        var crumbs = getBreadcrumbs(docName);
        {% include 'breadcrumbs.js' %}
    </script>

{% endblock %}
{% block content %}
    {% include 'breadcrumbs.html' %}
    <div class="paragraphs">
        <iframe src="/show_slide/{{ docName }}" allowfullscreen style="width: 100%; height: 30em"></iframe>
    </div>
{% endblock %}
