<!doctype html>

<html lang="en" ng-app="timApp">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
    <script src="{{url_for('static', filename='timController.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>

    <body ng-controller="TimCtrl">
        <div class="content">
            {{fileCont}}
            
        </div>
        <script src="js/scripts.js"></script>
    </body>
</html>
