<title>Tornado WebSockets</title>
<script>
    var ws;

    function onLoad() {
        ws = new WebSocket("ws://localhost:8080/websocket");
        alert("HELLO");
        ws.onmessage = function(e) {
           alert(e.data);
        };
    }

    function sendMsg123() {
        ws.send(document.getElementById('msg').value);
        alert("HELLO");
    }
</script>


<strong>Message to Send:</strong> <input type="text" id="msg" maxlength="25">
 <input type="button" onclick="sendMsg123();" value="Send">