<script src="{{ url_for('static', filename='scripts/view_html.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/pareditor.js') }}"></script>
<script src="{{ url_for('bower.static', filename='rangyinputs/rangyinputs-jquery.js') }}"></script>
<script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ace.js') }}"></script>
<script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ext-language_tools.js') }}"></script>
<script src="{{ url_for('bower.static', filename='angular-ui-ace/ui-ace.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/answerbrowser3.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/popupMenu.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/directives/refPopup.js') }}"></script>
