{% extends "base.html" %}
{% block title %}{{ docName }}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/checkModules.js') }}"></script>

    {% if teacher_mode %}
        <script src="{{ url_for('bower.static', filename='ng-table/dist/ng-table.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='ng-table-export/ng-table-export.js') }}"></script>
        {#        <link rel="stylesheet" href="{{ url_for('bower.static', filename='ng-table/dist/ng-table.css') }}">#}
    {% endif %}

    {% for script in js %}
        <script src=" {{ script }}"></script>
    {% endfor %}

    <script>

        var modules = checkModules([
            {% for dep in jsMods %}
                "{{ dep|safe}}",
            {% endfor %}
            {% if teacher_mode %}
                "ngTable", "ngTableExport"
            {% endif %}
        ]);

    </script>

    <script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ace.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ext-language_tools.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-ui-ace/ui-ace.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/timApp.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/view_html.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pareditor.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/draggable.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/resizable.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/answerbrowser.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='katex-build/katex.min.css') }}">
    <script src="{{ url_for('bower.static', filename='katex-build/katex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/wallView/wallController.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jsDatePick.min.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/createDialog.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/createLectureCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/statisticsView/statisticsController.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/questionAnswerController.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/popUpDialog.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sidebarMenuCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/smallMenuCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/questionShowAnswersController.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/showChartDirective.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/createLectureCtrl.js') }}"></script>

    <!-- Script to load question from another file -->
    <script>
        $(function () {
            $("#question").load("../../question");
        });
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/popUp.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/menustyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/windowstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progressbarstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jsDatePick_ltr.min.css') }}">



    {% if teacher_mode %}
        <script src="{{ url_for('static', filename='scripts/userlistController.js') }}"></script>
    {% endif %}

    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ cssFile }}">
    {% endfor %}

    {% for cssFile in custom_css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + cssFile + '.css') }}">
    {% endfor %}

    <style type="text/css">
        {{ custom_css }}
    </style>
    <script>
        var docId = JSON.parse({{docID|tojson|safe}});
        var docName = {{docName|tojson|safe}};
        var version = {{version|tojson|safe}};
        var rights = {{rights|tojson}};
        var startIndex = {{start_index|tojson}};
        var refererPath = {{request.path|tojson|safe}};
        var teacherMode = {{teacher_mode|tojson}};
        var users;
        {% if teacher_mode %}
            users = {{plugin_users|tojson}};
        {% else %}
            users = [{{current_user|tojson}}];
        {% endif %}
    </script>

{% endblock %}
{% block content %}
    <div ng-app="timApp" class="paragraphs" ng-controller="ViewCtrl">
        <div ng-controller="WallController">
            {% include 'lectureinfo_menu.html' %}
            <div ng-show="!inLecture">
            </div>
            <div class="wall-behind" id="wall" ng-show="useWall" tim-draggable-fixed="false" resizable>
                <div class="wall-base" id="wallBase">
                    <div class="wall-topbar" ng-mousedown="checkDown($event)" ng-mouseup="checkUp($event)" ng-click="hideWall()">
                        <span ng-bind="wallName">Wall</span>
                        <span ng-show="!showWall && newMessagesAmount > 0" ng-bind="newMessagesAmountText"></span>

                        <!--<input type="button" ng-click="wallRelease($event)" id="detachButton" id="buttonRight"> -->

                    </div>
                    <div ng-show="showWall" class="wall-content">
                        <div class="wall-message-area">
                            <label>
                                <textarea id="wallArea" readonly rows="20" cols="100">{{ "{{msg}}" }}</textarea>
                            </label>
                        </div>
                        <div class="wall-buttons">
                            <label>
                                <input id="messagebox" ng-model="newMsg" width="200"
                                       ng-keypress="chatEnterPressed($event)">
                            </label>
                            <label title="Shows name of the sender and sending time">
                                <input type="checkbox" ng-change="showInfo()" ng-model="messageInfo"/>Info
                            </label>
                            <!-- <button ng-click="sendMessageEvent(newMsg)">Send</button> -->
                            <!-- <input type="checkbox" ng-change="pollChanged()" ng-model="polling">Poll</button> -->
                        </div>
                    </div>
                </div>
            </div>

            <pop-up-dialog show="showLectureOptions">
                <ng-include src="'{{ url_for('static', filename='templates/lectureOptions.html') }}'"></ng-include>
            </pop-up-dialog>

            <pop-up-dialog show="showLectureForm">
                <ng-include src="'{{ url_for('static', filename='templates/start_lecture.html') }}'"></ng-include>
            </pop-up-dialog>

            <pop-up-dialog show="showStudentAnswers">
                <ng-include
                        src="'{{ url_for('static', filename='templates/answersFromStudents.html') }}'"></ng-include>
            </pop-up-dialog>

            <pop-up-dialog show="showAnswerWindow">
                <ng-include
                        src="'{{ url_for('static', filename='templates/questionAskedStudent.html') }}'"></ng-include>
            </pop-up-dialog>

            <pop-up-dialog show="showLectureEnding">
                <ng-include
                        src="'{{ url_for('static', filename='templates/lectureEnding.html') }}'"></ng-include>
            </pop-up-dialog>

            <div ng-controller="SidebarMenuCtrl" class="sidebarMenu">
                <div ng-class="['contents']">
                    <div id="sidebarMenuButton" ng-click="showSidebar()" title="Show menu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div ng-class="['menu']">
                        <img ng-click="toggleIndex()" ng-class="['menu-icon']" ng-show="indexTable.length > 0"
                             src="{{ url_for('static', filename='images/contents.png') }}" width="50"
                             height="50" title="Contents"/>
                        <img ng-click="toggleLectures()" ng-class="['menu-icon']"
                             src="{{ url_for('static', filename='images/lectures-icon.png') }}" width="50"
                             height="50" title="Lectures-menu"/>
                        <img ng-show="isLecturer" ng-click="toggleQuestions()" ng-class="['menu-icon']"
                             src="{{ url_for('static', filename='images/question-icon.png') }}" width="50"
                             height="50" title="Questions-menu"/>
                        <img ng-show="isLecturer" ng-click="togglePeople()" ng-class="['menu-icon']"
                             src="{{ url_for('static', filename='images/people-icon.png') }}" width="50"
                             height="50" title="People logged-in"/>
                        <img ng-click="toggleSettings()" ng-class="['menu-icon']"
                             src="{{ url_for('static', filename='images/settings-icon.png') }}" width="50"
                             height="50" title="Settings-menu"/>
                    </div>
                    <div ng-class="['index-sidebar', indexSidebarState]">
                        <h1>Index</h1>
                        {% raw %}
                        <ul>
                            <li ng-repeat="entry in indexTable"
                                ng-class="entry.state"
                                ng-mouseup="entry.state = invertStateClearSelection($event, entry.state)">
                                <a class="indexentry" ng-class="entry.style" ng-click=""
                                   href="{{entry.target}}">{{entry.text}}</a>
                                <ul ng-show="entry.state == 'exp'">
                                    <li ng-repeat="subentry in entry.items">
                                        <a ng-class="subentry.style" ng-click=""
                                           href="{{subentry.target}}">{{subentry.text}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% endraw %}
                    </div>

                    <div ng-class="['lectures-sidebar', lecturesSidebarState]">
                        <h1>Lectures</h1>
                        {% raw %}
                        <ul>
                            <h4>Current Lectures</h4>
                            <li ng-repeat="lecture in currentLecturesList">
                                <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                            </li>
                            <p ng-show="currentLecturesList.length == 0">No current lectures</p>
                            <h4>Coming Lectures</h4>
                            <li ng-repeat="lecture in futureLecturesList">
                                <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                            </li>
                            <p ng-show="futureLecturesList.length == 0">No coming lectures</p>
                            <h4>Past Lectures</h4>
                            <li ng-repeat="lecture in pastLecturesList">
                                <a href="{{ lecture.target }}">{{ lecture.lecture_code }}</a>
                            </li>
                            <p ng-show="pastLecturesList.length == 0">No past lectures</p>
                        </ul>
                        {% endraw %}
                    </div>
                    <div ng-class="['questions-sidebar', questionSidebarState]">
                        <h1>Questions</h1>
                        {% raw %}
                        <ul>
                            <h4>Lecture questions</h4>
                            <li ng-repeat="question in lectureQuestions">
                                <a ng-click="showQuestionById(question.questionId)">{{ question.questionTitle }}</a>
                            </li>
                            <p ng-show="lectureQuestions.length == 0">No lecture questions</p>
                            <h4>Material questions</h4>
                            <li ng-repeat="question in materialQuestions">
                                <a>{{ question.question }}</a>
                            </li>
                            <p ng-show="materialQuestions.length == 0">No material questions</p>
                        </ul>
                        {% endraw %}
                    </div>
                    <div ng-class="['people-sidebar', peopleSidebarState]">
                        <h1>People</h1>
                        {% raw %}
                        <ul>
                            <h4>Lecturer</h4>
                            <li ng-repeat="lecturer in lecturerTable">
                                {{ lecturer.name }} > {{ lecturer.active }}
                            </li>
                            <p ng-show="lecturerTable.length == 0">No lecturers</p>
                            <h4>Students</h4>
                            <li ng-repeat="person in studentTable">
                                {{ person.name }} > {{ person.active }}
                            </li>
                            <p ng-show="studentTable.length == 0">No students</p>
                        </ul>
                        {% endraw %}
                    </div>
                    <div ng-class="['settings-sidebar', settingsSidebarState]">
                        <h1>Settings</h1>
                        {% raw %}
                        <ul ng-show="inLecture">
                            <h4>Lecture settings</h4>
                            <li>
                                <label> Show wall
                                    <input type="checkbox" ng-model="useWall"
                                           ng-change="changeUsingWall(useWall)">
                                </label>
                            </li>
                            <li ng-show="!isLecturer">
                                <label> Show questions
                                    <input type="checkbox" ng-model="useQuestions"
                                           ng-change="changeUsingQuestions(useQuestions)">
                                </label>
                            </li>
                             <li ng-show="isLecturer">
                                <label> Show answers
                                    <input type="checkbox" ng-model="useAnswers"
                                           ng-change="changeUsingAnswers(useAswers)">
                                </label>
                            </li>
                        </ul>
                        {% endraw %}

                    </div>
                </div>
            </div>
            {% if teacher_mode %}
                <div ng-controller="UserListController" id="users" class="userlist" tim-draggable-fixed>
                    {% if plugin_users %}
                        Users with answers ({{ plugin_users|length }}):<br>
                        {% raw %}
                        <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected"
                               export-csv="csv">
                            <tr ng-repeat="user in $data"
                                ng-click="user.$selected = !user.$selected; changeUser(user)"
                                ng-class="{'active': user.$selected}">
                                <td data-title="'Full name'" sortable="'real_name'" filter="{ 'real_name': 'text' }">
                                    {{user.real_name}}
                                </td>
                                <td data-title="'User name'" sortable="'name'" filter="{ 'name': 'text' }">
                                    {{user.name}}
                                </td>
                                <td data-title="'Tasks'" sortable="'task_count'" filter="{ 'task_count': 'text' }">
                                    {{user.task_count}}
                                </td>
                                <td data-title="'Total points'" sortable="'total_points'"
                                    filter="{ 'total_points': 'text' }">
                                    {{user.total_points}}
                                </td>
                            </tr>
                        </table>
                        <a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="users_{{ docId }}.csv">Export
                            to CSV</a>
                        {% endraw %}
                    {% else %}
                        No answerers.
                    {% endif %}
                </div>
            {% endif %}

            <div id="pars">
                {% for t in text %}
                    <div class="par">
                        {% if 'task_id' in t %}
                            <answerbrowser
                                    task-id="{{ t['task_id'] }}">
                            </answerbrowser>
                        {% endif %}
                        <div class="parContent">
                            {{ t['html']|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Adding question to view. Hidden until creation of question -->
            <pop-up-dialog show='questionShown'>
                <div>
                    <ng-include src="'../../question'"></ng-include>
                </div>
            </pop-up-dialog>

        </div>

    </div>

{% endblock %}