{% extends "document.html" %}
{% block ngmodules %}
    {{ super() }}
    {% if teacher_mode %}
    {{ (['ae-datetimepicker', 'ui.grid', 'ui.grid.cellNav', 'ui.grid.selection', 'ui.grid.exporter', 'ui.grid.autoResize', 'oc.lazyLoad', 'ui.ace', 'ngStorage'] + jsMods)|map('map_format', "'%s'")|join(', ')|safe }},
    {% else %}
    {{ (['oc.lazyLoad', 'ui.ace', 'ngStorage'] + jsMods)|map('map_format', "'%s'")|join(', ')|safe }},
    {% endif %}
{% endblock %}
{% block ngscripts %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='angular-ui-grid/ui-grid.min.css') }}">
    <script src="{{ url_for('bower.static', filename='oclazyload/dist/ocLazyLoad.min.js') }}"></script>
    {% if teacher_mode %}
        <script src="{{ url_for('bower.static', filename='angular-ui-grid/ui-grid.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.min.js') }}"></script>
    {% endif %}

    {% for script in js %}
        <script src=" {{ script }}"></script>
    {% endfor %}
{% endblock %}

{% set teacher_mode = route in ("teacher", "answers") %}
{% set velp_mode = route in ("teacher", "answers", "velp") %}
{% set lecture_mode = route == "lecture" %}
{% set slide_mode = route == "slide" %}

{% set par_edit_mode = edit_mode == "par" %}
{% set area_edit_mode = edit_mode == "area" %}

{% block title %}{{ item.title }}{% endblock %}

{# The custom style should be the last style element, so don't render it in base.html #}
{% block customcss %}{% endblock %}

{% block head %}
    {{ super() }}

    <script src="{{ url_for('static', filename='scripts/marktree.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/editmode.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts/controllers/view/areas.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/clipboard.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/editing.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/eventhandlers.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/index.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/interceptor.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/math.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/parhelpers.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/parmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/questions.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/readings.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/refpopup.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/view/viewctrl.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts/pareditor.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='rangyinputs/rangyinputs-jquery.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ace.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ext-language_tools.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-ui-ace/ui-ace.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/answerbrowser3.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/directives/popupMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/directives/refPopup.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/directives/nameArea.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/controllers/allAnswersController.js') }}"></script>

    {% if teacher_mode %}
        <script src="{{ url_for('static', filename='scripts/userlistController.js') }}"></script>
    {% endif %}

    <!-- Timber project -->

    <script src="{{ url_for('static', filename='scripts/controllers/reviewController.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/directives/annotation.js') }}"></script>
    {% if velp_mode or teacher_mode %}
    <script src="{{ url_for('static', filename='scripts/directives/velpSelection.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/directives/velpSummary.js') }}"></script>
    {% endif %}

    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ cssFile }}">
    {% endfor %}

    {# without this, lazy loading embedded_sagecell won't work because it doesn't know URL root #}
    <link property="sagecell-root" href="//sagecell.sagemath.org/"/>

    {% block viewhtml_customcss %}
        {% include 'doc_customcss.html' %}
    {% endblock %}

    <script>
        var noBrowser = {{ no_browser|tojson }};
        var showIndex = {{(headers|length > 0)|tojson}};
        var translations = {{translations|tojson}};
        var reqs = {{reqs|tojson}};
        var startIndex = {{start_index|tojson}};
        var teacherMode = {{teacher_mode|tojson}};
        var velpMode = {{velp_mode|tojson}};
        var group = {{group|tojson}};
        var lectureMode = {{lecture_mode|tojson}};
        var in_lecture = {{in_lecture|tojson}};
        var users = [];
        {% if teacher_mode %}
            users = {{plugin_users|tojson}};
        {% endif %}
        var noQuestionAutoNumbering = {{ no_question_auto_numbering|tojson}};
        var liveUpdates = {{ live_updates|tojson}};
        var docVersion = {{ version|tojson }};
    </script>
{% endblock %}

{% set col_1_lg = 2 %}
{% set col_2_lg = 7 %}
{% set col_3_lg = 3 %}

{% set col_1_md = 2 %}
{% set col_2_md = 7 %}
{% set col_3_md = 3 %}

{% set col_1_sm = 0 %}
{% set col_2_sm = 12 %}
{% set col_3_sm = 0 %}

{% block mainctrl %}ng-controller="ViewCtrl"{% endblock %}

{% block rightside %}
    {% if teacher_mode %}
        <div  save="%%PAGEID%%studentList" class="userFixed" tim-draggable-fixed resize="true"  click="true"  caption="Users with answers ({{ plugin_users|length }})">
           <div ng-controller="UserListController" class="userlist draggable-content" >
            {% if plugin_users %}
                {% raw %}
                <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-cellNav class="grid"></div>
                <!-- <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter  class="grid"></div> -->
                {% endraw %}
            {% else %}
                No answerers.
            {% endif %}
           </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <form name="ignore_me">
        <input type="text" id="page_is_dirty" name="page_is_dirty" value="0" style="display: none;"/>
    </form>
    <div class="paragraphs" ng-click="setNotePadge($event)" >
        <div ng-cloak="" class="dialog" caption="Refresh the page?" tim-draggable-fixed="" ng-show="showRefresh">
            <p>The page has been modified since the last reload. Refresh now?</p>
            <button class="timButton" ng-click="reload()">Refresh</button>
            <button class="timButton" ng-click="closeRefreshDlg()">No</button>
        </div>
        {% raw %}
        <div ng-cloak="" class="dialog" caption="Updates pending" tim-draggable-fixed="" ng-show="showUpdateDialog()">
            <p>There are {{ pendingUpdatesCount() }} pending paragraph updates.</p>
            <button class="timButton" ng-click="updatePending()">Update</button>
            <button class="timButton" ng-click="hidePending = true">Dismiss</button>
        </div>
        {% endraw %}
        {% if task_info and task_info.total_points %}
            <div class="taskSummary">
                <span> 
                <strong>Task Summary</strong> 
                Total points: {{ task_info.total_points }}
                    {%- if task_info.groups %}
                        ({%- for k, v in task_info.groups.items() -%}
                            {{ k }}: {{ v }}{% if not loop.last %}, {% endif %}
                        {%- endfor -%})
                    {%- endif -%},
                total tasks: {{ task_info.tasks_done }} / {{ task_info.total_tasks }}
                </span>
                <span class="smallNote" ng-click="reload()">Refresh (F5) to recount</span>
            </div>
            <div class="taskSmallSummary"><p>{{ task_info.total_points }} p</p></div>
        {% endif %}
        {% if slide_mode %}
            <div class="paragraphs">
                <iframe id="slideFrame" src="/show_slide/{{ item.path }}" allowfullscreen></iframe>
                <a id="showSlidesLink" href="/show_slide/{{ item.path }}">Show slides only</a>
            </div>
        {% else %}
            {% if velp_mode or teacher_mode %}
                <div ng-controller="ReviewController">
                    {% include 'velp_view.html' %}
                </div>
            {% else %}
                <div ng-controller="ReviewController">
                    {% include 'view_content.html' %}
                </div>
            {% endif %}
            {% if not text %}
                <bootstrap-panel title="Review document permissions" show-close="true">
                    Here you can give suitable initial permissions for the document.
                    You can change these later from the manage page.
                    <rights-editor
                        item-id="docId"
                        url-root="permissions">
                    </rights-editor>
                </bootstrap-panel>
            {% endif %}
        {% endif %}
    </div>
    <p id="test"></p>

{% endblock %}
