{% extends "base.html" %}
{% block title %}{{ docName }}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/checkModules.js') }}"></script>

    {% for script in js %}
        <script src=" {{ script }}"></script>
    {% endfor %}

    <script>

        var modules = checkModules([
            {% for dep in jsMods %}
                "{{ dep|safe}}",
            {% endfor %}
        ]);

    </script>

    <script src="{{ url_for('static', filename='scripts/src-min/ace.js') }}"></script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.loadTemplate-1.4.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/view_html.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/notesView/contents.js') }}"></script>

    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{ cssFile }}">
    {% endfor %}

    {% for cssFile in custom_css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + cssFile + '.css') }}">
    {% endfor %}

    <style type="text/css">
        {{ custom_css }}
    </style>
    <script>
        var docId = JSON.parse({{docID|tojson|safe}});
        var docName = {{docName|tojson|safe}};
        var version = {{version|tojson|safe}};
        var canEdit = {{editable|tojson}};
        var startIndex = {{start_index|tojson}};
    </script>
{% endblock %}
{% block content %}
    <div ng-app="timApp" class="paragraphs" ng-controller="ViewCtrl">
        <div id="contents" ng-show="indexTable.length > 0">
            <div class="menu">
                <img class="menu-icon" src="{{ url_for('static', filename='images/contents.png') }}" width="50"
                     height="50"/>
            </div>
            <div class="sidebar">
                {% raw %}
                <h1>{{docName}}</h1>
                <ul>
                    <span ng-repeat="entry in indexTable">
                        <li ng-class="entry.state"
                            ng-mouseup="entry.state = invertStateClearSelection($event, entry.state)">
                            <a class="indexentry" ng-class="entry.style" onclick="autoHide()" href="{{entry.target}}">{{entry.text}}</a>
                            <ul ng-show="entry.state == 'exp'">
                                <li ng-repeat="subentry in entry.items">
                                    <a ng-class="subentry.style" onclick="autoHide()" href="{{subentry.target}}">{{subentry.text}}</a>
                                </li>
                            </ul>
                        </li>
                    </span>
                </ul>
                {% endraw %}
            </div>
        </div>
        
        {% if plugin_users|length > 0 %}
            <div id="users" class="userlist">
                {% for user in plugin_users %}
                    <div>
                       <a class="userentry" href="?user={{user.id}}" target="_self">{{ user.name|safe }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="pars">
            {% for t in text %}
                <div class="par">
                    <div class="parContent">
                        {{ t|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
