{% extends "base.html" %}
{% block title %}Wall{% endblock %}
{% block head %}
    {{ super() }}

    <script src="{{ url_for('static', filename='scripts/checkModules.js') }}"></script>

    {% for script in js %}
        <script src=" {{ script }}"></script>
    {% endfor %}

    <script>

        var modules = checkModules([
            {% for dep in jsMods %}
                "{{ dep|safe}}",
            {% endfor %}
        ]);

    </script>

    <script src="{{ url_for('bower.static', filename='ace-builds/src-min-noconflict/ace.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='angular-ui-ace/ui-ace.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/view_html.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/wallView/wallController.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/wallView/wallApp.js') }}"></script>

{% endblock %}
{% block content %}
    <div ng-app="timApp" ng-controller="WallController">
        <div>
            <textarea readonly rows="20" cols="100">{{ "{{msg}}" }}</textarea>

            <div class="buttons">
                <input ng-model="newMsg" width="200" ng-keypress="enterPressed($event)" ng-readonly="!polling" >
                <button ng-click="sendMessageEvent(newMsg)">Send</button>
                <input type="checkbox" ng-change="pollChanged()" ng-model="polling">Poll</button>
            </div>
        </div>
    </div>
{% endblock %}
