label {
  font-weight: normal;
}

.buttons {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}
