@import "fields-box-common";

label {
  font-weight: normal;
}

.timButton {
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}