<!DOCTYPE html>
<html lang='{{ locale }}'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>{{ title }}</title>
    <link href='/static/images/favicon.ico' rel='shortcut icon' type='image/x-icon'/>
    <style>
        @page {
            size: A4;
            margin: 0.5cm;
        }

        * {
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        }

        section {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            justify-content: start;
        }

        .student-card {
            padding: 0.3em;
            border: 1px dashed black;

            display: flex;
            flex-direction: column;
        }

        @media print {
            .student-card {
                break-inside: avoid;
            }
        }

        .code {
            align-self: center;
            font-family: monospace;
            font-size: 2em;
        }

        .name-title, .url-title, .code-title {
            font-weight: bold;
            font-size: 0.8em;
            margin-top: 0.8em;
            margin-bottom: 0.3em;
        }

        .code-title {
            align-self: center;
        }

        .student-card > *:last-child {
            margin-bottom: 0;
        }

        .student-card > *:first-child {
            margin-top: 0;
        }
    </style>
</head>
<body>
<main>
    <h1>{{ gettext("Exam group codes") }}</h1>
    <ul>
        <li>{{ gettext("Exam") }}: {{ exam_title }}</li>
        <li>{{ gettext("Exam group") }}: {{ group_name }}</li>
    </ul>
</main>
<section>
    {% for user in users %}
        <div class="student-card">
            <div class="name-title">{{ gettext("Name") }}</div>
            <div class="name">{{ user.real_name }}</div>
            <div class="url-title">{{ gettext("Exam address") }}</div>
            <div class="url">{{ exam_url }}</div>
            <div class="code-title">{{ gettext("Login code") }}</div>
            <div class="code">
                {%- if user.login_code -%}
                    {%- for p in (user.login_code | slice(3)) -%}
                        {{ p | join }}{% if not loop.last %}-{% endif %}
                    {%- endfor -%}
                {%- endif -%}
            </div>
        </div>
    {% endfor %}
</section>

<script>
    window.print(); // Automatically open the print dialog
</script>
</body>
</html>