.dragword {
    padding: 4px;
    border: 1px solid grey;
    background: #ffffff;
    /* cursor: grab; */
    text-align: center;
    touch-action: none;
    display: inline;
    box-shadow: 4px 4px 1px grey;
}

.dropword{
    align-content: flex-start;
    display: inline-flex;
    touch-action: none; /* prevents scrolling while dragging on touchscreen */
    padding:0px;
    background-color: #ffea9d;
    border:2px solid #aaaaaa;
    min-width: 20px;
    min-height: 30px;
    list-style-type: none;

}

.plugindrag answerbrowser {
    display: none;
}

.dndDraggingSource {
  display: none;
}
