.icon-inline {
  margin-left: 0.5em;
}

.accessbadge {
    border-radius: 15px;
    padding: 3px;
    font-size: x-small;
}
.ab-public {
    border: solid 2px red;
    color: red;
}
.ab-logged-in {
    border: solid 2px darkorange;
    color: darkorange;
}
.ab-organization {
    border: solid 2px fuchsia;
    color: fuchsia;
}
.ab-limited {
    border: solid 2px navy;
    color: navy;
}
.ab-private {
    border: solid 2px darkgray;
    color: darkgray;
}

.itemtags {
    margin-left: 0.5em;
}
.itemtag {
    margin-left: 3px;
    border-radius: 4px;
    padding: 3px;
    font-size: x-small;
    color: #fff;
}
.tagtype-group {
    background-color: #004494;
    border-color: #00387b;
}
.tagtype-coursecode {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.tagtype-regular {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.tagtype-subject {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
