@import "static/stylesheets/variables";

.footer {
    padding-top: 19px;
    border-top: $header-footer-border;
    width: 100%;
    height: $footer-height;
    z-index: $footer-z; // make section read mark clickable if it is above footer
}
