footer {
    padding-top: 19px;
    border-top: var(--header-footer-border);
    width: 100%;
    height: var(--footer-height);
    z-index: var(--footer-z); // make section read mark clickable if it is above footer
    font-size: smaller;
}
