<div [class.updating]="updating" [class.loading]="loading">
    <tim-alert *ngFor="let alert of alerts; let i = index" [severity]="alert.type" [closeable]="true" (closing)="closeAlert(i)">
        <div [innerHTML]="alert.msg | purify"></div>
    </tim-alert>
    <label *ngIf="hidden && anyInvalid && !formMode" class="checkbox-inline onlyValid">
        <input type="checkbox" [(ngModel)]="onlyValid" (ngModelChange)="onOnlyValidChanged()">{{markupSettings.validOnlyText}}</label>
    <div *ngIf="!hidden" class="answerbrowser-container">
        <div *ngIf="viewctrl.teacherMode && users && users.length > 0" class="flex user-select">
            <div>
                <div class="input-group input-group-xs">
            <span class="input-group-btn">
               <button i18n-title class="btn btn-primary random-student" (click)="randomStudent()" title="Choose random student">R</button>
               <button i18n-title title="Previous user" class="btn btn-primary scroll-users" (click)="changeStudent(-1)">&uarr;</button>
             </span>
                    <select class="form-control"
                            focus-me="!selectedAnswer && shouldFocus #blurWhenFalse"
                            [(ngModel)]="user"
                            (ngModelChange)="userSelected()">
                             <option *ngFor="let user of users" [ngValue]="user">{{(user.real_name + ' (' + user.name + ')')}}</option>

                    </select>
                    <span class="input-group-btn">
             <button i18n-title title="Next user" class="btn btn-primary scroll-users" (click)="changeStudent(+1)">&darr;</button>
            </span>
                </div>
            </div>
            <div class="no-shrink">
            <span class="user-index-count">
                {{ findSelectedUserIndex() + 1 }}/{{ users.length }}
            </span>
                <a class="email" href="mailto:{{user?.email}}">email</a>
            </div>
        </div>
        <div i18n *ngIf="isGlobal()" class="flex">
            Showing answers from all users
        </div>
        <div class="answer-edit-tools" *ngIf="!hasUserChanged() || loading">
                        <span class="flex align-center">
            <div *ngIf="answers.length > 0">
                <div *ngIf="showBrowseAnswers" class="flex align-center ab-option-row">
                    <div *ngIf="filteredAnswers.length > 0">
                        <div class="input-group input-group-xs answer-picker">
                <span class="input-group-btn">
                    <button i18n-title title="Previous answer" class="btn btn-primary prevAnswer"
                            (click)="changeAnswerTo(-1)">&larr;</button>
                </span>
                            <select i18n-title class="form-control answer-select"
                                    title="List of answers"
                                    [(ngModel)]="selectedAnswer"
                                    (ngModelChange)="changeAnswer()">
                                 <option *ngFor="let answer of filteredAnswers; let idx = index" [ngValue]="answer">{{((filteredAnswers.length - idx) + '. ' + (answer.answered_on |  date:'dd.MM.YYYY HH:mm:ss' ))}}</option>
                            </select>
                            <span class="input-group-btn">
                    <button i18n-title title="Next answer" class="btn btn-primary nextAnswer" (click)="changeAnswerTo(1)">&rarr;</button>
                </span>
                        </div>
                    </div>
                    <div class="no-shrink">
                    <span *ngIf="filteredAnswers.length > 0" class="answer-index-count">{{ filteredAnswers.length - findSelectedAnswerIndex() }}/<a i18n-title tabindex="0"
                                                                                                  title="Newest answer" (click)="setNewest()">{{ filteredAnswers.length }}</a></span>
                        <span *ngIf="filteredAnswers.length == 0">
                                <ng-container i18n *ngIf="!isGlobal() && viewctrl.teacherMode; else emptyCurrentuser">(no valid answers from the selected user)</ng-container>
                            <ng-template #emptyCurrentuser>
                                <ng-container #emptyCurrentuser i18n *ngIf="isGlobal() || !viewctrl.teacherMode">(no valid answers)</ng-container>
                            </ng-template>
                        </span>
                        <label class="checkbox-inline onlyValid" *ngIf="anyInvalid">
                            <input type="checkbox" [(ngModel)]="onlyValid" (ngModelChange)="onOnlyValidChanged()">{{markupSettings.validOnlyText}}</label>
                        <span class="all-answers" *ngIf="showTeacher()"> <span class="delimiter">|</span> <a i18n (click)="getAllAnswers()">All answers</a>
                    </span>
                        <button i18n-title class="timButton" *ngIf="showNewTask" title="Change to new task" (click)="newTask()">{{ buttonNewTask }}</button>
                        <span class="answer-link" *ngIf="selectedAnswer"><span class="delimiter">|</span> <a i18n i18n-title title="Link to currently selected answer"
                                                          (click)="$event.preventDefault()"
                                                          href="{{ getAnswerLink() }}">Link</a>
                            <span class="answer-only-link"> (<a i18n-title title="Link to currently selected answer without other document content"
                                target="_blank"
                                href="{{ getAnswerLink(true) }}">only</a>)&nbsp;
                        </span>
                        </span>
                    </div>
                </div>
                </div>
                <a i18n i18n-title *ngIf="peerReviewEnabled && !isPeerReview"
                    title="Link to peer review"
                href="{{ getReviewLink() }}">Review</a>
                </span>
             <div *ngIf="answers.length == 0 && viewctrl.teacherMode">
                 <ng-container *ngIf="!hasUserChanged()">
                    <span i18n *ngIf="!isGlobal()">(no answers from the selected user)</span>
                    <span i18n *ngIf="isGlobal()">(no answers)</span>
                 </ng-container>
                 <span *ngIf="hasUserChanged()"> <tim-loading></tim-loading> </span>
             </div>
                 <div class="flex ab-option-row">
                            <form (ngSubmit)="savePoints()" class="point-form form-inline">
                                <label class="inline" *ngIf="showTeacher() || (giveCustomPoints && allowCustomPoints())">
                                    <ng-container i18n>Points:</ng-container><input class="form-control input-xs"
                                                  [ngClass]="{ unsaved: points != selectedAnswer?.points,
                                                  'no-step': !markupSettings.pointsStep }"
                                                  (focus)="shouldFocusIfSelectedAnswer()"
                                                  (blur)="shouldFocus = false"
                                                  [(ngModel)]="points"
                                                  (keydown)="handlePointScroll($event)"
                                                  name="points"
                                                  type="number"
                                                  step="{{ pointsStep }}"
                                                  style="max-width: 5em"
                                                  autocomplete="off"
                                                  size="2">
                                </label>

                                <button i18n-title title="Save points"
                                        class="timButton btn-xs"
                                        *ngIf="selectedAnswer && points != selectedAnswer.points">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </button>
                            </form>
<!--in ab-option-row span elements have right margin-->
                            <div *ngIf="selectedAnswer">

                            <span class="inline" *ngIf="points !== null && !(showTeacher() || (giveCustomPoints && allowCustomPoints())) && taskInfo?.pointsText">
                        {{ taskInfo?.pointsText }} {{ points }} <span i18n *ngIf="!taskInfo?.showPoints">(only visible to teachers)</span>
                    </span>
                            <span *ngIf="taskInfo?.maxPoints && points !== null">/ {{ taskInfo?.maxPoints }}</span>
                            <span i18n *ngIf="!selectedAnswer.valid && points !== null">(invalid)</span>
                            <span *ngIf="!viewctrl.teacherMode && allowCustomPoints()">
                        <label class="checkbox-inline">
                            <input type="checkbox"
                                   [(ngModel)]="giveCustomPoints"><ng-container i18n>Set custom points</ng-container></label>
                    </span>
                        <span class="answer-validity">
                            <ng-container *ngIf="showTeacher()">
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="isValidAnswer"><ng-container i18n="@@abIsValidCheckbox">Valid</ng-container>
                            </label>
                                </ng-container>
                            <span>
                                <button i18n-title title="Save validity"
                                        (click)="saveValidity()"
                                        class="timButton btn-xs"
                                        *ngIf="isValidAnswer != selectedAnswer.valid">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </button>
                            </span>
                        </span>
                                <span *ngIf="viewctrl.teacherMode && allowCustomPoints()">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" [(ngModel)]="giveCustomPoints"><ng-container i18n>cp</ng-container>
                                    </label>
                                </span>
                            </div>
                            <span *ngIf="showTeacher()" class="save-teacher">
                                <label class="checkbox-inline">
                                    <input type="checkbox" (change)="toggleInput()" [(ngModel)]="saveTeacher"><ng-container i18n>Save teacher's fix</ng-container>
                                </label>
                            </span>
                            <div class="flex">
                                <ng-container *ngIf="selectedAnswer">
                                    <span *ngIf="showVelpsCheckBox()">
                                    <label class="checkbox-inline" >
                                        <input type="checkbox" [(ngModel)]="review" (ngModelChange)="reviewToggled()"><ng-container i18n>Velps</ng-container>
                                    </label>
                                    </span>
                                    <button i18n-title *ngIf="showDelete"
                                            title="Delete answer"
                                            (click)="deleteAnswer()"
                                            class="timButton btn-xs btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </ng-container>
                                <div class="input-group input-group-xs" *ngIf="showReviewUserSelector()">
                                    <select i18n-title class="form-control"
                                            title="List of reviewers"
                                            [(ngModel)]="reviewerUser"
                                            (ngModelChange)="changeReviewerUser()">
                                        <option i18n [ngValue]="undefined">All reviewers</option>
                                        <option *ngFor="let user of reviewerUsers"
                                                [ngValue]="user">{{(user.real_name + ' (' + user.name + ')')}}</option>
                                    </select>
                                </div>
                            </div>
                        <span *ngIf="selectedAnswerWithUsers">
                        <div class="flex" *ngIf="selectedAnswerWithUsers.users.length > 1">
                            <div>
                                <ng-container i18n>Collaborators</ng-container>:
                                <ul>
                                    <li *ngFor="let c of selectedAnswerWithUsers.users"><a
                                            href="mailto:{{c.email}}">{{ c.real_name }}</a>
                                        <button i18n-title *ngIf="showDelete"
                                                title="Delete collaborator"
                                                (click)="deleteCollab(c.id)"
                                                class="timButton btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </span>
                    </div><!-- end flex-->
                 <div class="flex review-row">
                           <form (ngSubmit)="saveReview()" *ngIf="hasPeerReviewers || isPeerReview" class="point-form peer-review-area form-inline">
                               <span class="ab-option-row">
                                   <span>
                                       <label class="inline">
                                            <ng-container i18n>Peer review: </ng-container>
                                        </label>
                                   </span>
                                   <span *ngIf="isPeerReview">
                                        <label class="radio-inline"><input [(ngModel)]="previewingPeerReview"
                                                   name="previewingPeerReview"
                                                   [value]="false"
                                                   (ngModelChange)="peerReviewPreviewChanged()"
                                               type="radio"> <ng-container i18n>Edit</ng-container>
                                       </label>
                                        <label class="radio-inline">
                                        <input [(ngModel)]="previewingPeerReview"
                                                   name="previewingPeerReview"
                                                   [value]="true"
                                                    (ngModelChange)="peerReviewPreviewChanged()"
                                               type="radio"> <ng-container i18n>Preview</ng-container>
                                       </label>
                                   </span>
                               </span>
                               <div class="peer-review-area">
                                    <textarea i18n-placeholder class="peer-review-text"
                                              #peerReviewEditArea
                                              (keydown.control.s)="$event.preventDefault(); saveReview()"
                                              (keydown.meta.s)="$event.preventDefault(); saveReview()"
                                              [(ngModel)]="reviewComment"
                                              [hidden]="!isPeerReview || previewingPeerReview"
                                              rows="6"
                                              name="reviewComment"
                                              placeholder="Add your review">
                                    </textarea>
                                   <div #peerReviewContentDiv class="peer-review-render" [hidden]="isPeerReview && !previewingPeerReview">
                                       <div class="math" [innerHtml]="reviewComment | purify"></div>
                                   </div>
                               </div>
                               <div class="ab-option-row">
                                   <span><ng-container i18n>Points:</ng-container>
                                   <input class="form-control input-xs"
                                                  [ngClass]="{ unsaved: reviewPoints != savedReviewPoints,
                                                  'no-step': !markupSettings.pointsStep }"
                                                  (focus)="shouldFocusIfSelectedAnswer()"
                                                  (blur)="shouldFocus = false"
                                                  [(ngModel)]="reviewPoints"
                                                  (keydown)="handlePointScroll($event)"
                                                  (keydown.control.s)="$event.preventDefault(); saveReview()"
                                                  (keydown.meta.s)="$event.preventDefault(); saveReview()"
                                                  [disabled]="!isPeerReview"
                                                  name="reviewPoints"
                                                  type="number"
                                                  step="{{ pointsStep }}"
                                                  style="max-width: 5em"
                                                  autocomplete="off"
                                                  size="2">
                                   </span>
                                   <button i18n i18n-title title="Save your review"
                                           class="timButton btn-xs"
                                           *ngIf="isPeerReview"
                                           [disabled]="reviewPoints == savedReviewPoints && reviewComment == savedReviewComment">Save your review</button>

                                    <ng-container i18n *ngIf="!isPeerReview && this.filteredPeerReviews.length == 1 && this.reviewPoints == undefined">(no points given)</ng-container>
                                    <ng-container i18n *ngIf="!isPeerReview && this.filteredPeerReviews.length > 1">(average of {{peerReviews.length}} reviews)</ng-container>
                                    <ng-container i18n *ngIf="!isPeerReview && filteredPeerReviews.length == 0">(no reviews given)</ng-container>
                               </div>
                            </form>
                 </div>
            <div class="reviewcontainer" *ngIf="review">
                <div *ngIf="imageReview">
                    <draw-canvas
                            [options]="{enabled: false, color: 'red', drawType: 2, opacity: 1.0, fill: false, w: 2}"
                            [toolBar]="viewctrl.velpMode" [bgSources]="imageReviewData"
                            [imgLoadCallback]="setImageReview"></draw-canvas>
                </div>
                <div *ngIf="!imageReview" class="review" [innerHtml]="reviewHtml">

                </div>
            </div>
    <ng-container *ngIf="taskInfo">
                <span class="triesLeft"
                      *ngIf="taskInfo.answerLimit && taskInfo.triesText">{{ taskInfo.triesText }} {{ getTriesLeft() }}</span>

            <span class="answeringTime" *ngIf="taskInfo.starttime || taskInfo.deadline">
        <ng-container i18n>Answering time:</ng-container>
        <span *ngIf="taskInfo.starttime && !taskInfo.deadline">
            <ng-container i18n>Since</ng-container> {{ taskInfo.starttime | date:'dd.MM.YYYY HH:mm:ss' }}
        </span>
        <span *ngIf="!taskInfo.starttime && taskInfo.deadline">
            <ng-container i18n>Until</ng-container> {{ taskInfo.deadline | date:'dd.MM.YYYY HH:mm:ss' }}
        </span>
        <span *ngIf="taskInfo.starttime && taskInfo.deadline">
            {{ taskInfo.starttime | date:'dd.MM.YYYY HH:mm:ss' }} - {{ taskInfo.deadline | date:'dd.MM.YYYY HH:mm:ss' }}
        </span>
    </span>
    </ng-container>
        </div>
        <span i18n *ngIf="viewctrl.teacherMode && hasUserChanged() && !loading">(hover/click to update)</span>
        <!-- <img style="display: inline" src="/static/images/loading.gif" *ngIf="loading"> -->
    </div>
    <div class="modelAnswer" #modelAnswerDiv *ngIf="modelAnswer && !hideModelAnswerPanel">
        <a i18n-title *ngIf="showModelAnswerLink()"
           title="Show model answer"
           (click)="showModelAnswer()">{{getModelAnswerLinkText()}}</a>
        <div *ngIf="!showModelAnswerLink() && modelAnswer.linkTextBeforeCount">{{modelAnswer.linkTextBeforeCount}}</div>
        <span *ngIf="showClearModelAnswerLockLink()"><span class="delimiter">|</span><a i18n i18n-title (click)="clearModelAnswerLock()" title="Manage model answer locks">Manage model answer locks</a>
        </span>
        <div class="modelAnswerContent" *ngIf="modelAnswerVisible" [innerHtml]="modelAnswerHtml | purify">

        </div>
    </div>
    <div *ngIf="feedback">
        <tim-alert [severity]="'warning'" [closeable]="true" (closing)="showFeedback('')">
            <div #feedBack [innerHTML]="feedback | purify"></div>
        </tim-alert>
    </div>
</div>