<div class="answerBrowser">
    <select ng-show="$parent.teacherMode" ng-model="user"
            ng-options="(user.real_name + ' (' + user.name + ')') for user in $parent.users track by user.id"
            ng-change="getAvailableAnswers()"></select>
    <span ng-show="answers.length > 0 && !changed">
    <button ng-click="previous()">&larr;</button>
    <select ng-model="selectedAnswer"
            ng-options="((answers.length - idx) + '. ' + answer.answered_on) for (idx, answer) in answers track by answer.id"
            ng-change="changeAnswer()"></select>
    <button ng-click="next()">&rarr;</button>
    {{ answers.length - answers.indexOf(selectedAnswer) }}/<a ng-click="setNewest()">{{ answers.length }}</a>
        <span class="firstanswer" ng-show="answers[answers.length - 1].points !== null">1st answer points: {{ answers[answers.length - 1].points }}</span>
    </span>
    <span ng-show="$parent.teacherMode && changed">(hover/click to update)</span>
    <span ng-show="!changed && answers.length == 0 && $parent.teacherMode">(no answers)</span>
    <img style="display: inline" src="/static/images/loading.gif" ng-show="loading">
</div>
