<div class="popUpWindow" ng-controller="AnswerToQuestionController">
    <div class="questionAskedWindow">
        <dynamic-answer-sheet control="dynamicAnswerSheetControl"></dynamic-answer-sheet>
    </div>
    <div class="buttons">
        <button ng-show="isLecturer && questionEnded" class="timButton" ng-click="edit()">Edit points</button>
        <button ng-show="isLecturer && questionEnded" class="timButton" ng-click="askAsNew()">Ask as new</button>
        <button ng-show="isLecturer && questionEnded" class="timButton" ng-click="reAsk()">Reask</button>
<button ng-show="!questionEnded && !answered && !result"  class="answerButton timButton" ng-click="answer()">Answer</button>
        <br />

        <button ng-show="isLecturer" class="timButton" ng-click="showAnswers()">Show answers</button>
        <button ng-show="isLecturer && questionEnded" class="timButton" ng-click="showPoints()">Show points</button>
        <button ng-show="(isLecturer && questionEnded) || result" class="timButton" ng-click="close()">Close</button>
        <button ng-show="isLecturer && !questionEnded" class="timButton" ng-click="stopQuestion()">End question</button>
    </div>
</div>
