<div class="popUpWindow" ng-controller="AnswerToQuestionController">
    <div class="questionAskedWindow">
        <dynamic-answer-sheet control="dynamicAnswerSheetControl"></dynamic-answer-sheet>
    </div>
    <div class="buttons">
        <button ng-show="isLecturer && questionEnded" ng-click="askAsNew()">Ask as new</button>
        <button ng-show="isLecturer && questionEnded" ng-click="reAsk()">Reask</button>
        <button ng-show="!questionEnded && !answered" ng-click="answer()">Answer</button>
        <button ng-show="isLecturer" ng-click="showAnswers()">Show answers</button>
        <button ng-show="isLecturer && questionEnded" ng-click="close()">Close</button>
        <button ng-show="isLecturer && !questionEnded" ng-click="stopQuestion()">End question</button>
    </div>
</div>