<div class="form-group">
    <label>
        Name:
        <input class="form-control" ng-model="docName" type="text">
    </label>
</div>
<div class="form-group">
    <label>
        Location: <input class="form-control" type="text" ng-model="docLocation">
    </label>
</div>
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
     close="closeAlert($index)">{{ alert.msg }}</div>
<button class="timButton" ng-disabled="!docName" ng-click="createDocument(docName)" type="button">Create
</button>
