<div class="form-group">
    <label>
        Name:
        <input class="form-control" ng-model="itemName" type="text">
    </label>
</div>
<div class="form-group">
    <label>
        Location: <input class="form-control" type="text" ng-model="itemLocation">
    </label>
</div>
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
     close="closeAlert($index)">{{ alert.msg }}</div>
<button class="timButton" ng-disabled="!itemName" ng-click="createItem(itemName)" type="button">Create
</button>
