<form name="itemForm">
    <div class="form-group">
        <label>
            Title:
            <input class="form-control" ng-model="itemTitle" type="text" ng-change="titleChanged()">
        </label>
    </div>
    <div class="form-group"
         ng-class="{'has-error': !itemForm.itemName.$pristine && itemForm.itemName.$error.shortName}">
        <label>
            Short name:
            <input class="form-control" short-name name="itemName" ng-model="itemName" type="text"
                   placeholder="Type title first"
                   ng-keyup="nameChanged()">
        </label>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="automaticShortName"> Set automatically based on title
            </label>
        </div>
        <div uib-alert ng-show="itemForm.itemName.$error.shortName" class="alert-danger">
            Short name can only contain letters, numbers, underscores and dashes.
        </div>
    </div>
    <div class="form-group"
    ng-class="{'has-error': !itemForm.itemLocation.$pristine && itemForm.itemLocation.$error.shortName}">
        <label>
            Location: <input class="form-control" name="itemLocation" type="text" short-name allow-slash="true" ng-model="itemLocation">
        </label>
        <div uib-alert ng-show="itemForm.itemLocation.$error.shortName" class="alert-danger">
            Location can only contain letters, numbers, underscores, dashes and slashes.
        </div>
    </div>
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
         close="closeAlert($index)">{{ alert.msg }}</div>
    <button class="timButton" ng-disabled="formOk()" ng-click="createItem()" type="button">Create
    </button>
</form>
