<span ng-message="required">This field is required.</span>
<span ng-message="minlength">This field is too short.</span>
<span ng-message="maxlength">This field is too long.</span>
<span ng-message="email">This field needs to be a valid email.</span>
<span ng-message="timShortName">Short name can only contain letters a-z, numbers, underscores and dashes.</span>
<span ng-message="timLocation">Location can only contain letters a-z, numbers, underscores, dashes and slashes.</span>
<span ng-message="min">Number is too small.</span>
<span ng-message="max">Number is too big.</span>
<span ng-message="number">This must be a number.</span>
