<tim-dialog>
    <dialog-header>
        Export points to Korppi
    </dialog-header>
    <dialog-body>
        <form name="korppiExportForm" class="form-horizontal">
            <div class="form-group">
                <label for="totalPointField" class="col-sm-4 control-label">Total point field name</label>
                <div class="col-sm-8">
                    <input focus-me="true"
                           ng-model="$ctrl.options.totalPointField"
                           name="totalPointField"
                           type="text"
                           class="form-control"
                           id="totalPointField"
                           placeholder="Leave blank to skip exporting total points">
                </div>
            </div>
            <div class="form-group">
                <label for="taskPointField" class="col-sm-4 control-label">Task point field name</label>
                <div class="col-sm-8">
                    <input ng-model="$ctrl.options.taskPointField"
                           name="taskPointField"
                           type="text"
                           class="form-control"
                           id="taskPointField"
                           placeholder="Leave blank to skip exporting task points">
                </div>
            </div>
            <div class="form-group">
                <label for="velpPointField" class="col-sm-4 control-label">Velp point field name</label>
                <div class="col-sm-8">
                    <input ng-model="$ctrl.options.velpPointField"
                           name="velpPointField"
                           type="text"
                           class="form-control"
                           id="velpPointField"
                           placeholder="Leave blank to skip exporting velp points">
                </div>
            </div>
        </form>
    </dialog-body>
    <dialog-footer>
        <button ng-disabled="!$ctrl.options.velpPointField && !$ctrl.options.taskPointField && !$ctrl.options.totalPointField"
                class="timButton" type="button" ng-click="$ctrl.copy()">Copy
        </button>
        <button ng-disabled="!$ctrl.options.velpPointField && !$ctrl.options.taskPointField && !$ctrl.options.totalPointField"
                class="timButton" type="button" ng-click="$ctrl.ok()">Export
        </button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.dismiss()">Cancel</button>
    </dialog-footer>
</tim-dialog>
