<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Export points to Korppi</h4>
</div>
<div class="modal-body" id="modal-body">
    <form name="korppiExportForm" class="form-horizontal">
        <div class="form-group">
            <label for="pointField" class="col-sm-4 control-label">Point field name</label>
            <div class="col-sm-8">
                <input focus-me="true"
                       ng-model="$ctrl.options.pointField"
                       name="pointField"
                       type="text"
                       class="form-control"
                       id="pointField"
                       placeholder="Leave blank to skip exporting task points">
            </div>
        </div>
        <div class="form-group">
            <label for="velpPointField" class="col-sm-4 control-label">Velp point field name</label>
            <div class="col-sm-8">
                <input ng-model="$ctrl.options.velpPointField"
                       name="velpPointField"
                       type="text"
                       class="form-control"
                       id="velpPointField"
                       placeholder="Leave blank to skip exporting velp points">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-disabled="!$ctrl.options.velpPointField && !$ctrl.options.pointField" class="timButton" type="button" ng-click="$ctrl.ok()">Export
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
