<uib-accordion ng-if="$ctrl.lctrl.lectureViewOrInLecture()">
    <div uib-accordion-group class="panel-default" is-open="$ctrl.isOpen">
        <uib-accordion-heading>
            {{ $ctrl.isOpen ? 'Hide' : 'Show' }} lecture info
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': $ctrl.isOpen, 'glyphicon-chevron-right': !$ctrl.isOpen}"></i>
        </uib-accordion-heading>

        <div class="row" ng-if="$ctrl.lctrl.lectureSettings.inLecture">
            <div class="col-xs-12">
                <h4>Currently in lecture: {{ $ctrl.lctrl.lecture.lecture_code }}</h4>

                <p>Started: {{ $ctrl.lctrl.lecture.start_time | timdate }}</p>

                <p>Ends: {{ $ctrl.lctrl.lecture.end_time | timdate }}</p>
                <div>
                    <button class="timButton btn-md"
                            ng-click="$ctrl.lctrl.leaveLecture()" title="Leave lecture">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                    <button class="timButton btn-md"
                            ng-click="$ctrl.lctrl.endLecture()" title="End lecture"
                            ng-if="$ctrl.lctrl.isLecturer">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    </button>
                    <button class="timButton btn-md"
                            ng-click="$ctrl.lctrl.editLecture($ctrl.lctrl.lecture.lecture_id)" title="Edit lecture"
                            ng-if="$ctrl.lctrl.isLecturer">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <a ng-if="$ctrl.item && $ctrl.item.id !== $ctrl.lctrl.viewctrl.item.id"
                       href="/lecture/{{$ctrl.item.path}}">Go to lecture document</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" ng-if="!$ctrl.lctrl.lectureSettings.inLecture">
                <h4>Ongoing:</h4>
                <div ng-if="$ctrl.lctrl.lectures.length > 0">
                    <ul>
                        <li ng-repeat="l in $ctrl.lctrl.lectures">
                            {{ l.lecture_code }}
                            <button class="timButton btn-md"
                                    ng-click="$ctrl.lctrl.joinLecture(l)"
                                    title="Join lecture"
                                    ng-if="$ctrl.lctrl.lectureSettings">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            </button>
                            <button class="timButton btn-md"
                                    ng-click="$ctrl.lctrl.editLecture(l.lecture_id)"
                                    title="Edit lecture"
                                    ng-if="$ctrl.lctrl.isLecturer">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div ng-if="$ctrl.lctrl.lectures.length <= 0">
                    <p>No running lectures</p>
                </div>
                <button class="timButton btn-md"
                        ng-click="$ctrl.lctrl.toggleLecture()" title="Create a new lecture"
                        ng-if="$ctrl.lctrl.isLecturer">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-lg-6" ng-if="!$ctrl.lctrl.lectureSettings.inLecture">
                <h4>Upcoming:</h4>

                <div>
                    <p ng-if="$ctrl.lctrl.futureLectures.length <= 0">No upcoming lectures</p>

                    <div ng-if="$ctrl.lctrl.futureLectures.length > 0">
                        <ul>
                            <li ng-repeat="l in $ctrl.lctrl.futureLectures">
                                {{ l.lecture_code }} {{ l.start_time | timdate }}
                                <button class="timButton btn-md"
                                        ng-click="$ctrl.lctrl.startFutureLecture(l)" title="Start lecture now"
                                        ng-if="$ctrl.lctrl.isLecturer">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                                <button class="timButton btn-md"
                                        ng-click="$ctrl.lctrl.editLecture(l.lecture_id)"
                                        title="Edit lecture"
                                        ng-if="$ctrl.lctrl.isLecturer">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uib-accordion>
