<button ng-show="!$ctrl.isLoggedIn()"
        uib-popover-template="'loginTemplate.html'"
        popover-title="{{ $ctrl.getTitle() }}"
        popover-placement="bottom"
        popover-animation="false"
        popover-trigger="outsideClick"
        type="button"
        class="timButton margin-4">Log in
</button>

<script type="text/ng-template" id="loginTemplate.html">
    <div class="row" ng-click="$ctrl.stopClick($event)">
        <div class="col-sm-12">
            <form ng-submit="$ctrl.loginWithEmail()" ng-show="!$ctrl.showSignup">
                <p class="text-center">
                    JYU students and staff, please log in with Korppi:
                </p>

                <button class="timButton center-block" type="button"
                        ng-click="$ctrl.korppiLogin($ctrl.addingToSession)">Log in
                    with Korppi
                </button>
                <p class="text-center text-smaller"><a href="/view/tim/ongelmia-kirjautumisessa">Problems logging
                    in?</a></p>
                <img class="center-block" ng-show="$ctrl.korppiLoading" src="/static/images/loading.gif">
                <hr>
                <p class="text-center">
                    Others, please log in with your TIM account.
                </p>

                <div class="form-group">
                    <label for="email" class="control-label">Email or username</label>
                    <input class="form-control"
                           id="email"
                           ng-model="$ctrl.loginForm.email"
                           on-enter="$ctrl.focusLoginPassword = true"
                           type="text">
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input class="form-control"
                           id="password"
                           focus-me="$ctrl.focusLoginPassword"
                           ng-model="$ctrl.loginForm.password"
                           type="password">
                    <p class="text-smaller"><a href="#" ng-click="$ctrl.forgotPassword()">I forgot my password</a></p>
                </div>

                <button class="center-block timButton" type="submit">Log in</button>
                <tim-alert severity="danger" ng-show="$ctrl.loginError">
                    {{ $ctrl.loginError }}
                </tim-alert>
                <hr>
                <p class="text-center" ng-show="!$ctrl.showSignup">
                    Not a JYU student or staff member and don't have a TIM account?
                </p>
                <button ng-show="!$ctrl.showSignup" class="center-block timButton" type="button"
                        ng-click="$ctrl.beginSignup()">
                    Sign up
                </button>
            </form>
            <div class="form" ng-show="$ctrl.showSignup">
                <p class="text-center" ng-if="$ctrl.resetPassword && !$ctrl.emailSent">
                    To reset password, enter your email or username first.
                </p>
                <div class="form-group">
                    <label for="email-signup" class="control-label">{{ $ctrl.getEmailOrUserText(true) }}</label>
                    <input class="form-control"
                           id="email-signup"
                           focus-me="$ctrl.focusEmail"
                           ng-model="$ctrl.email"
                           ng-disabled="$ctrl.emailSent"
                           on-enter="$ctrl.provideEmail()"
                           name="email"
                           required
                           placeholder="Enter your {{ $ctrl.getEmailOrUserText() }}"
                           type="text"/>
                </div>
                <button ng-click="$ctrl.provideEmail()"
                        ng-disabled="!$ctrl.email"
                        ng-show="!$ctrl.emailSent"
                        class="timButton">
                    Continue
                </button>
                <button ng-click="$ctrl.cancelSignup()"
                        ng-show="!$ctrl.emailSent"
                        class="btn btn-default">
                    Cancel
                </button>
                <div ng-show="$ctrl.emailSent">
                    <div class="form-group" ng-show="!$ctrl.tempPasswordProvided">
                        <label for="password-signup" class="control-label">
                            TIM sent you a temporary password. Please check your email and type the password below.
                        </label>
                        <input class="form-control"
                               id="password-signup"
                               focus-me="$ctrl.focusPassword"
                               ng-model="$ctrl.tempPassword"
                               on-enter="$ctrl.provideTempPassword()"
                               name="tempPassword"
                               required
                               placeholder="Password you received"
                               type="password"/>
                    </div>
                    <button ng-click="$ctrl.provideTempPassword()"
                            ng-disabled="!$ctrl.tempPassword"
                            ng-show="!$ctrl.tempPasswordProvided"
                            class="center-block timButton">Continue
                    </button>
                    <div ng-show="$ctrl.tempPasswordProvided">
                        <div class="form-group">
                            <label for="name-signup" class="control-label">
                                Enter your name (Lastname Firstname)
                            </label>
                            <input class="form-control"
                                   id="name-signup"
                                   focus-me="$ctrl.focusName"
                                   ng-model="$ctrl.name"
                                   ng-disabled="$ctrl.nameProvided || !$ctrl.canChangeName"
                                   on-enter="$ctrl.focusNewPassword = true"
                                   name="name"
                                   required
                                   placeholder="Your name"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="newpassword-signup" class="control-label">
                                Create a new password
                            </label>
                            <input class="form-control"
                                   id="newpassword-signup"
                                   focus-me="$ctrl.focusNewPassword"
                                   ng-model="$ctrl.newPassword"
                                   ng-disabled="$ctrl.nameProvided"
                                   on-enter="$ctrl.focusRePassword = true"
                                   name="newPassword"
                                   required
                                   placeholder="Password"
                                   type="password"/>
                        </div>
                        <div class="form-group">
                            <label for="repassword-signup" class="control-label">
                                Retype the above password
                            </label>
                            <input class="form-control"
                                   id="repassword-signup"
                                   focus-me="$ctrl.focusRePassword"
                                   ng-model="$ctrl.rePassword"
                                   ng-disabled="$ctrl.nameProvided"
                                   on-enter="$ctrl.provideName()"
                                   name="rePassword"
                                   required
                                   placeholder="Retype password"
                                   type="password"/>
                        </div>
                        <button ng-click="$ctrl.provideName()"
                                ng-disabled="!$ctrl.name"
                                ng-show="!$ctrl.nameProvided"
                                class="center-block timButton">Finish
                        </button>
                    </div>
                    <span ng-if="$ctrl.finishStatus === 'registered'">
                        Thank you!
                    </span>
                    <span ng-if="$ctrl.finishStatus === 'updated'">
                        Your information was updated successfully.
                    </span>
                    <span ng-if="$ctrl.finishStatus">
                        Now you can
                        <a href="." focus-me="$ctrl.focusLink">refresh</a>
                        the page to log in.
                    </span>
                </div>
                <tim-loading ng-show="$ctrl.signUpRequestInProgress"></tim-loading>
                <tim-alert severity="danger" ng-show="$ctrl.signUpError">
                    {{ $ctrl.signUpError }}
                </tim-alert>
            </div>
        </div>
    </div>
</script>

<div ng-show="$ctrl.isLoggedIn()" class="btn-group margin-4" uib-dropdown on-toggle="$ctrl.toggled(open)">
    <button type="button" title="You're logged in" class="btn btn-primary" uib-dropdown-toggle>
        {{ $ctrl.getCurrentUser().real_name }} <span
            ng-show="$ctrl.getSessionUsers().length > 0">and {{ $ctrl.getSessionUsers().length }} <ng-pluralize
            count="$ctrl.getSessionUsers().length"
            when="{'1': 'other',
                     'other': 'others'}">
        </ng-pluralize></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"
        uib-dropdown-menu
        role="menu"
        aria-labelledby="single-button">
        <li role="menuitem"><a ng-href="/view/{{ $ctrl.getCurrentUser().folder.path }}">My documents</a></li>
        <li role="menuitem"><a
                ng-click="$ctrl.addUser($event)"
                uib-popover-template="'loginTemplate.html'"
                popover-is-open="$ctrl.addingToSession"
                popover-title="Add a user to this session"
                popover-placement="auto bottom"
                popover-append-to-body="true"
                popover-animation="false"
                href="#">Add a user to this session...</a></li>
        <li class="divider"></li>
        <li ng-show="!$ctrl.loggingout" role="menuitem">
            <a ng-click="$ctrl.beginLogout($event)" href="#">Log <span
                    ng-show="$ctrl.getSessionUsers().length > 0">everyone</span>
                out<span ng-show="$ctrl.isKorppi()">...</span></a>
        </li>
        <li ng-show="$ctrl.loggingout" role="menuitem">
            <a ng-click="$ctrl.logout($ctrl.getCurrentUser(), true)" href="#">Log out (TIM + Korppi)</a>
        </li>
        <li ng-show="$ctrl.loggingout" role="menuitem">
            <a ng-click="$ctrl.logout($ctrl.getCurrentUser(), false)" href="#">Log out (TIM only)</a>
        </li>
        <li role="menuitem" ng-repeat="u in $ctrl.getSessionUsers()"><a ng-click="$ctrl.logout(u)"
                                                                        href="#">Log {{ u.real_name }} out</a></li>
    </ul>
</div>
