<div class="actionButtons">
    <span class="error" ng-show="notification" ng-bind="notification"></span>

    <div class="row">
        <div class="col-xs-4">
            <label for="areaname">Area name:</label>
        </div>
        <div class="col-xs-8">
            <input id="areaname" type="text" ng-model="areaName" title="No spaces allowed" autofocus />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-8">
            <input id="collapsible" type="checkbox" ng-model="options.collapsible" ng-click="toggleCollapsible()" />
            <label for="collapsible">Collapsible</label>
        </div>
        <div class="col-xs-3"></div>
    </div>

    <div id="collapsible-options" class="hidden">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7">
                <label for="areatitle">Area title:</label>
                <input id="areatitle" type="text" ng-model="options.title" placeholder="Optional" />
            </div>
            <div class="col-xs-3"></div>
        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <label for="hlevel">Heading level:</label>
                <input id="hlevel" type="number" min="0" max="5" ng-model="options.hlevel" style="width: 50px" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <input id="collapse" type="checkbox" ng-model="options.collapse" />
                <label for="collapse">Collapsed by default</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-8">
            <input id="collapsible" type="checkbox" ng-model="options.timed" ng-click="toggleTimed()" />
            <label for="collapsible">Time restriction</label>
        </div>
        <div class="col-xs-3"></div>
    </div>

    <div id="timed-options" class="hidden">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <label for="starttime">Start time</label>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                <div class='input-group date' id='starttimepicker'>
                    <input type='text' id="starttime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <label for="endtime">End time</label>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                <div class='input-group date' id='endtimepicker'>
                    <input type='text' id="endtime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-7">
                <label for="alttext">Text when inaccessible:</label>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <textarea id="alttext" rows="3" width="100%" ng-model="options.alttext"></textarea>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2em">
        <div class="col-xs-6">
            <button id="add" class="wideButton" ng-click="addArea()" ng-disabled="!areaName">Add</button>
        </div>
        <div class="col-xs-6">
            <button id="cancel" class="wideButton" ng-click="cancelAdd()">Cancel</button>
        </div>
    </div>
</div>
