<div class="editButtonArea">
    <button class="parSaveButton"></button>
    <button class="cancelButton"></button>
    <button class="deleteButton">Delete</button>
</div>
<div class="noteeditor"></div>

<div>
    Show note to:
    <label>
        <input name="access" type="radio" value="everyone" checked="checked"> Everyone (anonymously)
    </label>
    <label>
        <input name="access" type="radio" value="justme"> Just me
    </label>

    <div class="tags">
        <label>
            <input type="checkbox" name="difficult"> The text is difficult to understand
        </label>
        <br>
        <label>
            <input type="checkbox" name="unclear"> The text is unclear
        </label>
    </div>
</div>