<div class="editButtonArea">
    <button class="parSaveButton"></button>
    <button class="cancelButton"></button>
    <button class="deleteButton">Delete</button>
</div>
<textarea class="noteeditor"></textarea>

<div>
    Show note to:
    <label>
        <input type="radio" value="everyone"> Everyone (anonymously)
    </label>
    <label>
        <input type="radio" value="justme"> Just me
    </label>

    <div class="tags">
        <label>
            <input type="checkbox"> The text is difficult to understand
        </label>
        <br>
        <label>
            <input type="checkbox"> The text is unclear
        </label>
    </div>
</div>