<p>Comment</p>
<div class="editButtonArea">
    <button class="timButton saveNote">Save</button>
    <button class="timButton cancelNote">Cancel</button>
    <button class="timButton deleteNote">Delete</button>
</div>
<div class="editor"></div>

<div>
    Show note to:
    <label>
        <input name="access" type="radio" value="everyone"> Everyone (anonymously)
    </label>
    <label>
        <input name="access" type="radio" value="justme" checked="checked"> Just me
    </label>

    <div class="tags">
        <label>
            <input type="checkbox" name="difficult"> The text is difficult to understand
        </label>
        <br>
        <label>
            <input type="checkbox" name="unclear"> The text is unclear
        </label>
    </div>
</div>