<span ng-show="options.showImageUpload">
    Upload image: <input type="file" ng-file-select="onFileSelect('/upload/', $files)">
    Mark as read: <input type="checkbox" ng-model="extraData.markRead">
<span ng-bind="progress"></span>
</span>
<div class="editor" ui-ace="{
  useWrapMode: false,
  onLoad: aceLoaded,
  onChange: aceChanged
    }" ng-model="editorText"></div>
<div class="editButtonArea">
    <button class="timButton savePar" ng-click="saveClicked()">Save</button>
    <button class="timButton cancelPar" ng-click="cancelClicked()">Cancel</button>
    <button class="timButton deletePar" ng-show="options.showDelete" ng-click="deleteClicked()">Delete</button>
    <button class="timButton deletePar" ng-click="wrapFn(undoClicked)">Undo</button>
    <button class="timButton deletePar" ng-click="wrapFn(redoClicked)">Redo</button>
    <button class="timButton deletePar" ng-click="wrapFn(leftClicked)">Left</button>
    <button class="timButton deletePar" ng-click="wrapFn(rightClicked)">Right</button>
    <button class="timButton deletePar" ng-click="wrapFn(upClicked)">Up</button>
    <button class="timButton deletePar" ng-click="wrapFn(downClicked)">Down</button>
    <button class="timButton deletePar" ng-click="wrapFn(indentClicked)">Indent</button>
    <button class="timButton deletePar" ng-click="wrapFn(outdentClicked)">Outdent</button>
    <button class="timButton deletePar" ng-click="wrapFn(boldClicked)">Bold</button>
    <button class="timButton deletePar" ng-click="wrapFn(italicClicked)">Italic</button>
    <button class="timButton deletePar" ng-click="wrapFn(linkClicked)">Link</button>
    <button class="timButton deletePar" ng-click="wrapFn(codeClicked)">Code</button>
    <button class="timButton deletePar" ng-click="wrapFn(listClicked)">List</button>
    <button class="timButton deletePar" ng-click="wrapFn(ruleClicked)">Rule</button>
</div>
<div class="tags">
    <label ng-repeat="tag in options.tags">
        <input type="checkbox" ng-model="extraData.tags[tag.name]"/> {{ tag.desc }}
    </label>
</div> 
<div class="choices">
    <div ng-repeat="choice in options.choices.desc">
        {{ choice.desc }}
        <label ng-repeat="opt in choice.opts">
            <input type="radio" ng-model="extraData[choice.name]" ng-value="opt.value"/> {{ opt.desc }}
        </label>
    </div>
</div>
<div id="previewDiv" tim-draggable-fixed class="preview" style='z-index:100; top: 0px; right: 0px; position="fixed";'>
    <span>Preview
        (<ng-pluralize count="parCount"
                       when="{'0': 'empty',
                     '1': '1 paragraph',
                     'other': '{} paragraphs'}">
        </ng-pluralize>)
    </span>
    <button id="releaseButton" class="timButton" style='float: right' ng-click="releaseClicked()">&#8594;</button>
    <span ng-show="outofdate">...</span>

    <div class="previewcontent"></div>
</div>