<span ng-show="options.showImageUpload">
    Upload image: <input type="file" ng-file-select="onFileSelect('/upload/', $files)">
<span ng-bind="progress"></span>
</span>
<div class="editor" ui-ace="{
  useWrapMode: false,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model="editorText"></div>
<div class="editButtonArea">
    <button class="timButton savePar" ng-click="saveClicked()">Save</button>
    <button class="timButton cancelPar" ng-click="cancelClicked()">Cancel</button>
    <button class="timButton deletePar" ng-show="options.showDelete" ng-click="deleteClicked()">Delete</button>
</div>
<div class="tags">
    <label ng-repeat="tag in options.tags">
        <input type="checkbox" ng-model="extraData.tags[tag.name]"/> {{ tag.desc }}
    </label>
</div> 
<div class="choices">
    <div ng-repeat="choice in options.choices.desc">
        {{ choice.desc }}
        <label ng-repeat="opt in choice.opts">
            <input type="radio" ng-model="extraData[choice.name]" ng-value="opt.value"/> {{ opt.desc }}
        </label>
    </div>
</div>
<div class="attributes">
    <div ng-repeat="(key, value) in extraData.attrs">
        <span ng-bind="key"></span>:
        <span ng-show="key !== 'classes'">
            <input type="text" ng-model="extraData.attrs[key]"> [<a ng-click="deleteAttribute(key)">X</a>]
        </span>
        <span ng-show="key === 'classes'">
        <span ng-repeat="value in extraData.attrs[key] track by $index">
            <input type="text" ng-model="extraData.attrs[key][$index]">
            [<a ng-click="deleteClass($index)">X</a>]
        </span>
            [<a ng-click="addClass()">+</a>]
        </span>
    </div>
    <input type="text" ng-model="newAttr"><button ng-click="addAttribute()">New attribute</button>
</div>
<div id="previewDiv" tim-draggable-fixed class="preview" style='z-index:100; top: 0px; right: 0px;'>
    <span>Preview
        (<ng-pluralize count="parCount"
                       when="{'0': 'empty',
                     '1': '1 paragraph',
                     'other': '{} paragraphs'}">
        </ng-pluralize>)
    </span>
    <button id="releaseButton" class="timButton" style='float: right' ng-click="releaseClicked()">&#8594;</button>
    <span ng-show="outofdate">...</span>

    <div class="previewcontent"></div>
</div>