<div id="tabs">
    <ul>
        <li><a href="#tabs-1" ng-click="wrapFn();editor.focus()">Navigation</a></li>
        <li><a href="#tabs-2" ng-click="wrapFn();editor.focus()">Style</a></li>
        <li><a href="#tabs-3" ng-click="wrapFn();editor.focus()">Special characters</a></li>
        <li><a href="#tabs-4" ng-click="wrapFn();editor.focus()">TeX</a></li>
        <li><a href="#tabs-5" ng-click="wrapFn();editor.focus()">Plugins</a></li>
        <li ng-show="options.showImageUpload"><a href="#tabs-6" ng-click="wrapFn();editor.focus()">Upload file/image</a>
        </li>
    </ul>

    <!--
    <button class="timButton" ng-click="ribbonClicked($event, 'navigateButtons')">Navigation</button>
    <button class="timButton" ng-click="ribbonClicked($event, 'styleButtons')">Style</button>
    <button class="timButton" ng-click="ribbonClicked($event, 'specialButtons')">Special characters</button>
    <button class="timButton" ng-click="ribbonClicked($event, 'texButtons')">TeX</button>
    <button class="timButton" ng-click="ribbonClicked($event, 'pluginButtons')">Plugins</button> -->
    <div id="tabs-1" class="extraButtonArea">
        <button title="Undo" ng-click="wrapFn(undoClicked);editor.focus();">&#8630;</button>
        <button title="Redo" ng-click="wrapFn(redoClicked)">&#8631;</button>
        <button title="Move left" ng-click="wrapFn(leftClicked)">&#11013;</button>
        <button title="Move Right" ng-click="wrapFn(rightClicked)">&#10145;</button>
        <button title="Move up" ng-click="wrapFn(upClicked)">&#11014;</button>
        <button title="Move down" ng-click="wrapFn(downClicked)">&#11015;</button>
    </div>
    <div id="tabs-2" class="extraButtonArea">
        <button title="Indent selection/line" ng-click="wrapFn(indentClicked)">&#8649;
        </button>
        <button title="Outdent selection/line" ng-click="wrapFn(outdentClicked)">&#8647;
        </button>
        <button title="Bold" ng-click="wrapFn(boldClicked)">&#119809;</button>
        <button title="Italic" ng-click="wrapFn(italicClicked)">&#119868;</button>
        <button title="Add link" ng-click="wrapFn(linkClicked)">Link</button>
        <button title="Add image" ng-click="wrapFn(imageClicked)">Image</button>
        <button title="Code block" ng-click="wrapFn(codeClicked)">Code</button>
        <button title="List item" ng-click="wrapFn(listClicked)">List</button>
        <button title="Insert horizontal rule" ng-click="wrapFn(ruleClicked)">Rule</button>
    </div>
    <div id="tabs-3" class="extraButtonArea">
        <button ng-click="charClicked($event)">@</button>
        <button ng-click="charClicked($event)">#</button>
        <button ng-click="charClicked($event)">`</button>
        <button ng-click="charClicked($event)">€</button>
    </div>
    <div id="tabs-4" class="extraButtonArea">
        <button ng-click="wrapFn(texClicked)">TeX equation</button>
        <button ng-click="wrapFn(indexClicked)">X&#x2099;</button>
        <button ng-click="wrapFn(powerClicked)">X&#x207f;</button>
        <button ng-click="wrapFn(squareClicked)">&#x221a;</button>
        <!-- <button class="timButton" ng-click="wrapFn(rootClicked)">Root</button> -->
    </div>
    <div id="tabs-5" class="extraButtonArea">
        <button ng-click="pluginClicked('csPlugin', 'template')">CsPlugin
        </button>
        <button ng-click="pluginClicked('showImage', 'template')">ImagePlugin
        </button>
        <button ng-click="pluginClicked('showVideo', 'template')">VideoPlugin
        </button>
    </div>
    <div id="tabs-6" class="extraButtonArea">
        <span>
            Upload image: <input type="file" ng-file-select="onFileSelect('/upload/', $files)">
            <span ng-bind="progress"></span>
        </span>
    </div>
</div>
<div class="editor" ui-ace="{
  useWrapMode: false,
  onLoad: aceLoaded,
  onChange: aceChanged
    }" ng-model="editorText"></div>
<div class="editButtonArea">
    <button class="timButton savePar" ng-click="saveClicked()">Save</button>
    <button class="timButton cancelPar" ng-click="cancelClicked()">Cancel</button>
    <button class="timButton deletePar" ng-show="options.showDelete" ng-click="deleteClicked()">Delete</button>
</div>
<div class="tags">
    <label ng-repeat="tag in options.tags">
        <input type="checkbox" ng-model="extraData.tags[tag.name]"/> {{ tag.desc }}
    </label>
</div>
<div class="choices">
    <div ng-repeat="choice in options.choices.desc">
        {{ choice.desc }}
        <label ng-repeat="opt in choice.opts">
            <input type="radio" ng-model="extraData[choice.name]" ng-value="opt.value"/> {{ opt.desc }}
        </label>
    </div>
</div>
<div id="previewDiv" tim-draggable-fixed class="preview" style='z-index:100; top: 0px; right: 0px; position="fixed";'>
    <span>Preview
        (<ng-pluralize count="parCount"
                       when="{'0': 'empty',
                     '1': '1 paragraph',
                     'other': '{} paragraphs'}">
        </ng-pluralize>)
    </span>
    <button id="releaseButton" class="timButton" style='float: right' ng-click="releaseClicked()">&#8594;</button>
    <span ng-show="outofdate">...</span>

    <div class="previewcontent"></div>
</div>