
<link rel="stylesheet" href="/static/css/phraseSelection.css"/>
<div class="phraseMenu">
    <label>
        <input type="checkbox" ng-model="advancedOn" />
        Advanced view
    </label>

    <uib-tabset active="active">
        <uib-tab index="0" heading="Select velp">
 <!--   <h3>Select velp</h3>-->
    <table class="phraseTable">
        <tr ng-class="getAdvancedStyle()">
            <td>
                <label for="searchLabels">Filter by labels </label>
            </td>
            <td>
                <input id="searchLabels" ng-model="filterTag" placeholder="filter labels">
            </td>
        </tr>
        <tr ng-class="getAdvancedStyle()">
            <td colspan="2">

        <div>
            <p ng-repeat="tag in filteredTags = ( tags | filter:{content:filterTag} )" class="label tag-{{ tag.selected }}"
               style="background-color: {{ getColor(tag.id) }}"
               ng-click="toggleTag(tag)" ng-model="test" value="{{ tag.id }}">
                {{ tag.content }}

            </p>
            <p ng-hide="filteredTags.length">No labels :'(</p>
        </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="searchPhrases">Search velps:</label>
            </td>
            <td>
                <input id="searchPhrases" ng-model="filterPhrase" placeholder="filter phrases">
            </td>
        </tr>
        <tr ng-class="getAdvancedStyle()">
            <td>
                <label for="orderPhrases">Order velps:</label>
            </td>
            <td><select id="orderPhrases" ng-model="orderPhrase">
                <option value="content">Alphabetical</option>
                <option value="-used">Most used</option>
                <option value="tag">Labels</option>
                <option value="-default_points">Highest point</option>
                <option value="default_points">Lowest point</option>
            </select>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div>
                    <p class="label phrase"
                       ng-repeat="phrase in filteredPhrases = (phrases | filter:{content:filterPhrase} | orderBy:orderPhrase | selectedTags:tags)"
                       ng-click="usePhrase(phrase)">
                        <span class="glyphicon glyphicon-tag" ng-repeat="tag in phrase.tags"
                              style="color: {{ getColor(tag) }} "></span>
                        &ensp;{{ phrase.content }}&ensp;<span ng-class="['badge', {zero: phrase.default_points == 0, positive: phrase.default_points > 0, negative: phrase.default_points < 0}]">{{ phrase.default_points }}</span>
                    </p>
                    <p ng-hide="filteredPhrases.length">No velps :'(</p>
                </div>
            </td>
        </tr>
    </table></uib-tab>
    <uib-tab index="1" heading="Add velp">
  <!--  <h3>Add velp</h3>-->
        <form name="addVelpForm" ng-submit="addVelp(addVelpForm)" novalidate>
        <table class="phraseTable">
                        <tr>
                <td>
                    <label for="addPhraseName">Velp name</label>
                </td>
                <td>
                    <input id="addPhraseName" name="velpName" type="text" ng-model="newPhrase['content']" required>
                </td>
            </tr>
            <tr ng-show="(addVelpForm.velpName.$invalid && !addVelpForm.velpName.$pristine) || (submitted && addVelpForm.velpName.$invalid)">
                <td colspan="2">
                    <p>Velp content is required</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="addPhrasedefault_points">Points</label>
                </td>
                <td>
                    <input id="addPhrasedefault_points" type="number" ng-model="newPhrase['default_points']" value="0">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="searchLabels">Filter labels </label>
                </td>
                <td>
                    <input id="searchLabels" ng-model="filterTag" placeholder="filter labels">
                </td>
            </tr>

            <tr>
                <td colspan="2">

        <div>
            <p ng-repeat="tag in tags | filter:{content:filterTag}" class="label tag-{{ tag.selected }}"
               style="background-color: {{ getColor(tag.id) }}"
               ng-click="toggleTag(tag)"  value="{{ tag.id }}">
                {{ tag.content }}
            </p>
        </div>
                    </td>
                </tr>

            <tr>
                <td colspan="2">


                <input type="submit" value="Add velp" />
                </td>
            </tr>
       <!--     </table>
        </form>
        <form name="addLabelForm" ng-submit="addLabel(addLabelForm)" novalidate>

            <table class="phraseTable"> -->

                <tr>
                <td>
                    <label for="newLabel">Label content </label>
                </td>
                <td>
                    <input id="newLabel" name="labelContent" ng-model="newLabel['content']" placeholder="Label content" required>
                </td>
            </tr>
            <tr ng-show="(labelAdded && addLabelForm.labelContent.$invalid) || (addLabelForm.labelContent.$invalid && !addLabelForm.labelContent.$pristine)">
                <td colspan="2">
                    <p>Label content is too short</p>
                </td>
            </tr>
                <tr>
                    <td colspan="2">
                    <input type="submit" value="Add label">
                    </td>
                </tr>
            </table>
            </form>

    </uib-tab>
    </uib-tabset>
</div>