<div class="inner">
    <div class="error" ng-show="$ctrl.vctrl.notification" ng-bind="$ctrl.vctrl.notification"></div>
    <div id="content" class="actionButtonContent"></div>

    <div class="row" ng-repeat="f in $ctrl.actions | filter:{show: true}">
        <div ng-class="$ctrl.colClass">
            <button class="wideButton btn-sm" ng-bind="f.desc" ng-click="$ctrl.callFunc($event, f)">
            </button>
        </div>

        <div class="col-xs-1" ng-if="$ctrl.save">
            <input ng-checked="$ctrl.getChecked(f.desc)"
                   ng-click="$ctrl.clicked(f)"
                   class="valign"
                   type="radio">
        </div>
    </div>

    <div class="row" style="padding-top: 6px" ng-if="$ctrl.editbutton && $ctrl.vctrl.item.rights.editable">
        <div ng-class="$ctrl.halfColClass" style="padding-right: 0">
            <button class="wideButton parEditButton" ng-model="$ctrl.model.editState" uib-btn-radio="'par'" uncheckable="true" title="Toggle paragraph edit mode">
                <i class="glyphicon glyphicon-minus"></i>
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
        <div ng-class="$ctrl.halfColClass" style="padding-left: 0">
            <button class="wideButton areaEditButton" ng-model="$ctrl.model.editState" ng-disabled="$ctrl.areaEditButton ? '' : 'disabled'" uib-btn-radio="'area'" uncheckable="true" title="Toggle area edit mode">
                <i class="glyphicon glyphicon-align-justify"></i>
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
    </div>
</div>
