<!-- Controller defined to be PrintCtrl when creating the modal @ SidebarMenuCtrl -->

<div class="modal-header">
    <button type="button" ng-click="dismissModal()" class="close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Printing {{ document.title }}</h4>
</div>
<div class="modal-body" id="modal-body">
    <p ng-if="(defaultTemplates.length > 0) || (userTemplates.length > 0)">
        The following LaTeX-templates were found that you can use. Please choose a template.
    </p>
    <p ng-if="(defaultTemplates.length <= 0) && (userTemplates.length <= 0)" class="text-danger">
        No templates were found.
    </p>

    <form>
        <div ng-if="defaultTemplates.length > 0">
            <h5>Templates from document tree:</h5>
            <div class="form-group input-group-sm">
                <div ng-repeat="item in defaultTemplates">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="chosenTemplate.id" ng-value="item.doc_id" name="template-selection">
                            <a ng-href="/view/{{ item.doc_path }}" class="force-hyphenate-link">{{ item.doc_path }}</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="userTemplates.length > 0">
            <h5>Templates from user home:</h5>
            <div class="form-group input-group-sm">
                <div ng-repeat="item in userTemplates">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="chosenTemplate.id" ng-value="item.doc_id" name="template-selection">
                            <a ng-href="/view/{{ item.doc_path }}" class="force-hyphenate-link">{{ item.doc_path }}</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div ng-if="notificationmsg" class="alert alert-warning">
        <strong>Warning!</strong><p>{{ notificationmsg }}</p>
    </div>
    <div ng-if="errormsg" class="alert alert-danger">
        <strong>Error!</strong><p>{{ errormsg }}</p>
    </div>

</div>
    <!-- A working version. Short but creates ugly headers for categories
    <form>
        <div class="form-group input-group-sm">
            <h4>Template</h4>
            <div ng-repeat="(cat, items) in $ctrl.templatesJSON">
                <h4>{{ cat }}</h4>
                <div ng-repeat="item in items">
                    {{ item.doc_path }}
                </div>
            </div>
        </div>
    </form>
    -->

<div class="modal-footer">
    <div>
        <button class="btn btn-primary" type="button" ng-click="createLatex()">Create LaTeX</button>
        <button class="btn btn-primary" type="button" ng-click="createPdf()">Create PDF</button>
    </div>
</div>
