<div ng-controller="QuestionPreviewController" class="popUpWindow questionPopUp">
    <div class="questionPreview">
        <div id="questionTypeAndTimeLimit">
            <span>Time limit:</span>
            <span ng-if="json.timeLimit > 0"
                  ng-bind="json.timeLimit">{{ json.timeLimit }} seconds</span>
            <span ng-if="json.timeLimit <= 0">No time limit.</span>
        </div>
        <dynamic-answer-sheet preview="true" control="dynamicAnswerSheetControl"></dynamic-answer-sheet>
    </div>
    <div class="buttons">
        <button ng-click="deleteQuestion()" class="btn btn-danger pull-left">Delete</button>
        <button ng-show="inLecture" ng-click="ask()" class="timButton">Ask</button>
        <button ng-click="editQuestion()" class="timButton">Edit</button>
        <button ng-click="close()" class="timButton">Close</button>
    </div>
</div>