<div class="refPopup">
    <span ng-show="!$ctrl.loaded">
        Loading...
    </span>

    <span ng-show="$ctrl.error">
        <label>ERROR:</label> {{ $ctrl.error }}
    </span>

    <span ng-show="$ctrl.doc_author">
        <label>Author:</label> {{ $ctrl.doc_author }}
    </span>

    <span ng-show="$ctrl.doc_name">
        <label>Document:</label> {{ $ctrl.doc_name }}
    </span>

    <span ng-show="$ctrl.par_name">
        <label>Paragraph:</label> {{ $ctrl.par_name }}
    </span>
</div>
