<!-- tim-draggable-fixed class="editorArea" ei oikeasti kuulu tähän paikkaan... -->

<div id="reviewEditor" tim-draggable-fixed class="editorArea" ng-controller="ReviewController">
    <div class="col-md-8">
    <ul class="tabsarea">
        <li id="navigate" class="tab active"><a ng-click="tabClicked($event, 'navigateButtons')">Navigation</a></li>
        <li id="style" class="tab"><a ng-click="tabClicked($event, 'styleButtons')">Style</a></li>
        <li id="insert" class="tab"><a ng-click="tabClicked($event, 'insertButtons')">Insert</a></li>
        <li id="special" class="tab"><a ng-click="tabClicked($event, 'specialButtons')">Special characters</a></li>
        <li id="tex" class="tab"><a ng-click="tabClicked($event, 'texButtons')">TeX</a></li>
        <li id="plugin" class="tab" ng-if="options.showPlugins"><a ng-click="tabClicked($event, 'pluginButtons')">Plugins</a>
        </li>
        <li id="upload" class="tab" ng-if="options.showImageUpload"><a ng-click="tabClicked($event, 'uploadButtons')">Upload
            file/image</a>
        </li>
        <li id="help" class="tab"><a ng-click="tabClicked($event, 'helpButtons')">Help</a></li>
    </ul>
    <div id="navigateButtons" class="extraButtonArea">
        <button class="editorButton" title="Undo" ng-click="wrapFn(undoClicked)">&#8630;</button>
        <button class="editorButton" title="Redo" ng-click="wrapFn(redoClicked)">&#8631;</button>
        <button class="editorButton" title="Move left" ng-click="wrapFn(leftClicked)">&#8592;</button>
        <button class="editorButton" title="Move Right" ng-click="wrapFn(rightClicked)">&#8594;</button>
        <button class="editorButton" title="Move up" ng-click="wrapFn(upClicked)">&#8593;</button>
        <button class="editorButton" title="Move down" ng-click="wrapFn(downClicked)">&#8595;</button>
        <button class="editorButton" title="Move to the beginning of the line" ng-click="wrapFn(homeClicked)">Home
        </button>
        <button class="editorButton" title="Move to the end of the line" ng-click="wrapFn(endClicked)">End</button>
        <button class="editorButton" title="Move to the beginning of the file" ng-click="wrapFn(topClicked)">Top
        </button>
        <button class="editorButton" title="Move to the end of the file" ng-click="wrapFn(bottomClicked)">Bottom
        </button>
        <button class="editorButton" title="Toggle insert mode on or off" ng-click="wrapFn(insertClicked)">Ins
        </button>
    </div>
    <div id="styleButtons" class="extraButtonArea hidden">
        <button class="editorButton" title="Indent selection/line" ng-click="wrapFn(indentClicked)">&#8649;
        </button>
        <button class="editorButton" title="Outdent selection/line" ng-click="wrapFn(outdentClicked)">&#8647;
        </button>
        <button class="editorButton" title="Bold (Ctrl-B)" ng-click="surroundClicked('**', '**'); wrapFn()"><b>B</b></button>
        <button class="editorButton" title="Italic (Ctrl-I)" ng-click="surroundClicked('*', '*', surroundedByItalic); wrapFn()">
            <i>I</i></button>
        <button class="editorButton" title="Underline" ng-click="surroundClicked('<u>', '</u>'); wrapFn()"><u>U</u></button>
        <button class="editorButton" title="Strikethrough" ng-click="surroundClicked('<s>', '</s>'); wrapFn()"><s>Z</s></button>
        <button class="editorButton" title="Code (Ctrl-O)" ng-click="surroundClicked('`', '`'); wrapFn()">Code</button>
        <button class="editorButton" title="Code block (Ctrl-9)" ng-click="wrapFn(codeBlockClicked)">Code block</button>
        <button class="editorButton" title="Subscript" ng-click="surroundClicked('~', '~'); wrapFn()">X_</button>
        <button class="editorButton" title="Superscript" ng-click="surroundClicked('^', '^'); wrapFn()">X^</button>
        <button class="editorButton" title="Heading 1 (Ctrl-1)" ng-click="headerClicked('#')">H1</button>
        <button class="editorButton" title="Heading 2 (Ctrl-2)" ng-click="headerClicked('##')">H2</button>
        <button class="editorButton" title="Heading 3 (Ctrl-3)" ng-click="headerClicked('###')">H3</button>
        <button class="editorButton" title="Heading 4 (Ctrl-4)" ng-click="headerClicked('####')">H4</button>
    </div>
    <div id="insertButtons" class="extraButtonArea hidden">
        <button class="editorButton" title="Add link"
                ng-click="linkClicked('Linkin teksti', 'Linkin osoite'); wrapFn()">Link
        </button>
        <button class="editorButton" title="Add image"
                ng-click="linkClicked('Kuvan teksti', 'Kuvan osoite', true); wrapFn()">Image
        </button>
        <button class="editorButton" title="List item" ng-click="wrapFn(listClicked)">List</button>
        <button class="editorButton" title="Table" ng-click="tableClicked($event)">Table</button>
        <button class="editorButton" title="Break text to start a new slide" ng-click="wrapFn(ruleClicked)">Slide break</button>
        <button class="editorButton" title="Break text to start a new paragraph (Shift-Enter)" ng-click="wrapFn(paragraphClicked)">Paragraph break</button>
        <button class="editorButton" title="Forces line to end at cursor position (Ctrl-Enter)" ng-click="wrapFn(endLineClicked)">End line</button>
    </div>
    <div id="specialButtons" class="extraButtonArea hidden">
        <button class="editorButton" ng-click="charClicked($event)">@</button>
        <button class="editorButton" ng-click="charClicked($event)">#</button>
        <button class="editorButton" ng-click="charClicked($event)">`</button>
        <button class="editorButton" ng-click="charClicked($event)">$</button>
        <button class="editorButton" ng-click="charClicked($event)">€</button>
        <button class="editorButton" ng-click="charClicked($event)">%</button>
        <button class="editorButton" ng-click="charClicked($event)">&</button>
        <button class="editorButton" ng-click="charClicked($event)">{</button>
        <button class="editorButton" ng-click="charClicked($event)">}</button>
        <button class="editorButton" ng-click="charClicked($event)">[</button>
        <button class="editorButton" ng-click="charClicked($event)">]</button>
        <button class="editorButton" ng-click="charClicked($event)">/</button>
        <button class="editorButton" ng-click="charClicked($event)">\</button>
    </div>
    <div id="texButtons" class="extraButtonArea hidden">
        <button class="editorButton" ng-click="surroundClicked('$', '$'); wrapFn()">TeX equation</button>
        <button class="editorButton" ng-click="surroundClicked('$$', '$$'); wrapFn()">TeX block</button>
        <button class="editorButton" ng-click="wrapFn(indexClicked)">X&#x2093;</button>
        <button class="editorButton" ng-click="wrapFn(powerClicked)">X&#x207f;</button>
        <button class="editorButton" ng-click="wrapFn(squareClicked)">&radic;</button>
    </div>
    <div id="pluginButtons" class="extraButtonArea hidden" ng-if="options.showPlugins"></div>
    <div id="uploadButtons" class="extraButtonArea hidden" ng-if="options.showImageUpload">
        <span>
            Upload image/file: <input type="file" ngf-select="onFileSelect($file)">
            <span ng-show="file.progress >= 0 && !file.error"
                  ng-bind="file.progress < 100 ? 'Uploading... ' + file.progress + '%' : 'Done!'"></span>
        </span>
        <div class="error" ng-show="file.error" ng-bind="file.error"></div>
    </div>
    <div id="helpButtons" class="extraButtonArea hidden">
        <a onclick="window.open('https://tim.it.jyu.fi/view/tim/TIM-ohjeet','_blank')">Help</a>
        <span id="editorHelpCiteText">
            To cite this paragraph: <input id="helpCite" type="text" title="Copy this line to cite this paragraph" onclick="this.select();" />
            <a onclick="window.open('https://tim.jyu.fi/view/tim/TIM-ohjeet#viitteen-katsominen','_blank')">[?]</a>
        </span>
    </div>

    <div class="editorContainer">
        <div id="ace_editor" ng-if="!options.touchDevice" class="editor" ui-ace="{
  useWrapMode: false,
  onLoad: aceLoaded,
  onChange: aceChanged
    }" ng-model="editorText">
        </div>
    </div>
    <div class="editButtonArea">
        <button class="timButton" title="Change editor between Ace and normal textarea" ng-click="changeEditor()">Editor</button>
        <button class="timButton" ng-show="fullscreenSupported()" ng-click="goFullScreen()">Fullscreen</button>
        <button class="timButton savePar" title="Save (Ctrl-S)" ng-click="saveClicked()">Save</button>
        <button class="timButton cancelPar" ng-click="cancelClicked()">Cancel</button>
        <button class="timButton deletePar" ng-show="options.showDelete" ng-click="deleteClicked()">Delete</button>
    </div>
    <div class="tags">
        <label ng-repeat="tag in options.tags">
            <input type="checkbox" ng-model="extraData.tags[tag.name]"/> {{ tag.desc }}
        </label>
    </div>
    <div class="choices">
        <div ng-repeat="choice in options.choices.desc">
            {{ choice.desc }}
            <label ng-repeat="opt in choice.opts">
                <input type="radio" ng-model="extraData[choice.name]" ng-value="opt.value"/> {{ opt.desc }}
            </label>
        </div>
    </div>
    <div id="previewDiv" tim-draggable-fixed caption="Preview" class="preview"
         style='z-index:100; top: 0px; right: 0px;'>
    <span>Preview
        (<ng-pluralize count="parCount"
                       when="{'0': 'empty',
                     '1': '1 paragraph',
                     'other': '{} paragraphs'}">
        </ng-pluralize>)
    </span>
        <button id="releaseButton" class="timButton" style='float: right' ng-click="releaseClicked()">
            &#8594;</button>
        <span ng-show="outofdate">...</span>

        <div id="previewContent" class="previewcontent" ng-click="selectText()"></div>
    </div>
        <p>{{ selectedMarking["points"] }}</p>
        <p>{{ selectedMarking["phrase"] }}</p>
        <p>{{ selectedMarking["comment"] }}</p>
    </div>
    <div class="col-md-4">
    <phrase-selection></phrase-selection>
</div>
    {{ loadMarkings() }}
    </div>