<div class="checkbox">
    <label>
        <input ng-model="rectrl.showActiveOnly" type="checkbox"/> Show only active or upcoming rights
    </label>
</div>
<div class="margin rights-list" ng-repeat="type in rectrl.accessTypes">
    <a ng-click="rectrl.showAddRightFn(type)"
       title="Click to add {{ type.name }} right to some usergroup">{{ type.name }} right</a><span
        ng-show="filtered.length > 0"> ({{ filtered.length }})</span>:
    <span ng-show="filtered.length == 0">none</span>

    <ul>
        <li ng-repeat="right in filtered = (grouprights | filter: {access_type: type.id}:true | filter: rectrl.obsoleteFilterFn | orderBy: ['!fullname', 'fullname', 'name'])">
            <span ng-show="!rectrl.isObsolete(right)" ng-bind="rectrl.getGroupDesc(right)"></span>
            <s ng-show="rectrl.isObsolete(right)" ng-bind="rectrl.getGroupDesc(right)"></s>
            <i ng-show="rectrl.showClock(right)"
               class="glyphicon glyphicon-time"></i>
            <span class="label label-success"
                  uib-tooltip="{{ right.accessible_from | timdate }}"
                  ng-show="rectrl.shouldShowBeginTime(right)">Begins {{ right.accessible_from | timreldate }}</span>
            <span class="label label-info"
                  ng-show="rectrl.shouldShowDuration(right)"
                  uib-tooltip="{{ right.duration | timpreciseduration }}">Duration: {{ right.duration | timduration }}</span>
            <span class="label label-warning"
                  uib-tooltip="{{ right.accessible_to | timdate }}"
                  ng-show="rectrl.shouldShowEndTime(right)">Ends {{ right.accessible_to | timreldate }}</span>
            <span class="label label-danger"
                  uib-tooltip="{{ right.accessible_to | timdate }}"
                  ng-show="rectrl.shouldShowEndedTime(right)">Ended {{ right.accessible_to | timreldate }}</span>
            <span class="label label-success"
                  uib-tooltip="{{ right.duration_from | timdate }}"
                  ng-show="rectrl.shouldShowUnlockable(right)">Unlockable {{ right.duration_from | timreldate }}</span>
            <span class="label label-warning"
                  uib-tooltip="{{ right.duration_to | timdate }}"
                  ng-show="rectrl.shouldShowNotUnlockable(right)">No longer unlockable {{ right.duration_to | timreldate }}</span>
            <span class="label label-danger"
                  uib-tooltip="{{ right.duration_to | timdate }}"
                  ng-show="rectrl.shouldShowNotUnlockableAnymore(right)">No longer unlockable since {{ right.duration_to | timreldate }}</span>
            <a class="btn btn-default btn-xs" ng-click="rectrl.removeConfirm(right, type.name)">remove</a>
            <a ng-show="rectrl.selectedRight !== right" class="btn btn-default btn-xs" ng-click="rectrl.editRight(right)">edit</a>
            <span ng-show="selectedRight === right" class="label label-primary">Editing</span>
            <a ng-show="rectrl.selectedRight === right" class="btn btn-default btn-xs" ng-click="rectrl.expireRight(right)">expire</a>
        </li>
    </ul>
</div>
<button class="timButton" ng-show="!rectrl.addingRight && !rectrl.editingRight()" ng-click="rectrl.showAddRightFn(rectrl.accessType)">Add right...
</button>
<div ng-show="rectrl.addingRight || rectrl.editingRight()" class="rights-list">
    <form ng-submit="rectrl.addOrEditPermission(groupName, rectrl.accessType)">
        <div class="row" ng-show="rectrl.addingRight">
            <div class="form-group col-md-6 input-group-sm">
                <label for="{{ rectrl.listMode ? 'groupNameList' : 'groupName' }}">Name: </label>
                <div class="input-group">
                    <input ng-show="!rectrl.listMode" id="groupName" class="form-control" type="text" ng-model="rectrl.groupName"
                           focus-me="rectrl.focusEditor"
                           placeholder="{{ rectrl.getPlaceholder() }}">
                    <textarea ng-show="rectrl.listMode" id="groupNameList" class="form-control" type="text"
                              ng-model="rectrl.groupName"
                              focus-me="rectrl.focusEditor"
                              placeholder="{{ rectrl.getPlaceholder() }}"></textarea>
                    <span class="input-group-addon btn btn-default"
                          ng-click="rectrl.listMode = !rectrl.listMode"
                          uib-tooltip="Toggle multiline mode"
                          data-tooltip-placement="right">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-6 input-group-sm">
                <label for="accessType">Right:</label>
                <select id="accessType" class="form-control" ng-model="rectrl.accessType"
                        ng-options="access.name for access in rectrl.accessTypes track by access.id"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 input-group-sm">
                <fieldset>
                    <legend>Time:</legend>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="rectrl.timeOpt.type" value="always">
                            Always
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="rectrl.timeOpt.type" value="range">
                            Set start and/or end date...
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="rectrl.timeOpt.type" value="duration">
                            Set duration...
                        </label>
                    </div>
                    <div class="form-group" ng-show="rectrl.timeOpt.type == 'range'">
                        <div class="col-md-12">
                            <div class="input-group date" datetimepicker ng-model="rectrl.timeOpt.from"
                                 data-options="datePickerOptionsFrom">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                            to
                            <div class="input-group date" datetimepicker ng-model="rectrl.timeOpt.to"
                                 data-options="datePickerOptionsTo">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="rectrl.timeOpt.type == 'duration'">
                        <div class="col-md-6">
                            <input ng-model="rectrl.timeOpt.durationAmount"
                                   class="form-control"
                                   type="number"
                                   min="0"
                                   step="0.1"/>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" ng-model="rectrl.timeOpt.durationType"
                                    ng-options="d for d in rectrl.durationTypes"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="rectrl.timeOpt.type == 'duration'">
                        <div class="col-md-12">Duration unlockable from:
                            <div class="input-group date" datetimepicker ng-model="rectrl.timeOpt.durationFrom"
                                 data-options="datePickerOptionsDurationFrom">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                            to
                            <div class="input-group date" datetimepicker ng-model="rectrl.timeOpt.durationTo"
                                 data-options="datePickerOptionsDurationTo">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Leave blank for no restriction"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <button ng-show="rectrl.addingRight" class="timButton" type="submit" ng-disabled="!rectrl.groupName">Add</button>
        <button ng-show="rectrl.editingRight()" class="timButton" type="submit">Save</button>
        <button class="btn btn-default" type="button" ng-click="rectrl.cancel()">Cancel</button>
        <span ng-show="rectrl.addingRight">
        <button class="timButton" type="button" ng-click="rectrl.addOrEditPermission('Korppi users', rectrl.accessType)">Add Korppi users
        </button>
        <button class="timButton" type="button" ng-click="rectrl.addOrEditPermission('Logged-in users', rectrl.accessType)">Add logged-in
            users
        </button>
        <button class="timButton" type="button" ng-click="rectrl.addOrEditPermission('Anonymous users', rectrl.accessType)">Add anonymous
            users
        </button>
        </span>
    </form>
</div>
