<!--RESIZABLE Didn't work with just adding resizable and 100% 100% -->
<!--<div class="popUpWindow" style="z-index: 10"> -->
<div class="show-answer" ng-controller="ShowStatisticsToQuestionController as sstqctrl">
    <div class="statisticsWindow">
        <h2 ng-bind-html="sstqctrl.questionTitle" ng-click="sstqctrl.dynamicAnswerShowControl.toggle()"></h2>
        <div id="chartDiv" class="chartDiv">
            <show-chart-directive divresize="true" control="sstqctrl.dynamicAnswerShowControl"></show-chart-directive>
        </div>
    </div>
    <div class="buttons" style="margin-top: -35px;">
        <p ng-show="!sstqctrl.dynamicAnswerShowControl.isText" class="chart-menu" style="display: inline;">
            <span ng-click="sstqctrl.dynamicAnswerShowControl.toggle()">Bar</span>&nbsp;&nbsp;
        </p>
        <button class="timButton" ng-click="sstqctrl.hide()">Close</button>
    </div>
</div>
