<tim-dialog>
    <dialog-header>
        {{ clctrl.creatingNew() ? 'Create' : 'Edit' }} lecture
    </dialog-header>
    <dialog-body>
        <form name="clctrl.form" ng-keydown="clctrl.handleKey($event)">
            <div class="form-group form-horz-flex" tim-error-state>
                <label for="lCode">Lecture name</label>
                <input type="text" class="form-control" name="code" id="lCode" required
                       ng-model="clctrl.lectureCode">
                <tim-error-message></tim-error-message>
            </div>
            <div class="form-group form-horz-flex">
                <label for="lPassword">Access code</label>
                <input class="form-control" id="lPassword" type="text" name="password" ng-model="clctrl.password"
                       placeholder="Optional"/>
            </div>
            <div class="form-group form-horz-flex" tim-error-state>
                <label for="maxStudents">Max number of students</label>
                <input class="form-control" max="999" min="0" id="maxStudents" type="number" name="max_students"
                       ng-model="clctrl.options.max_students" placeholder="Optional"/>
                <tim-error-message></tim-error-message>
            </div>
            <div class="form-group form-horz-flex" tim-error-state>
                <label for="startTime" class="control-label">Starting time</label>
                <div class="input-group">
                    <input type="text"
                           datetimepicker
                           ng-model="clctrl.startTime"
                           data-options="clctrl.dateTimeOptions"
                           id="startTime"
                           name="startTime"
                           class="form-control"
                           required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
                <tim-error-message></tim-error-message>
            </div>
            <tim-alert severity="warning" ng-show="clctrl.startingBeforeNow()">Lecture start time is set in the past.
            </tim-alert>
            <div class="checkbox" ng-show="clctrl.showEarlyJoin">
                <label><input type="checkbox"
                              ng-model="clctrl.earlyJoining">
                    Allow students to join 15 minutes prior to the start of the lecture.</label>
            </div>
            <div class="form-group form-horz-flex" tim-error-state>
                <label>
                    <input type="radio" name="useDate" ng-change="clctrl.enableDate2()"
                           ng-model="clctrl.useDate" ng-value="true"/>
                    Ending time
                </label>
                <div class="input-group">
                    <input type="text"
                           datetimepicker ng-model="clctrl.endTime"
                           data-options="clctrl.dateTimeOptions"
                           name="endTime"
                           class="form-control"
                           ng-required="clctrl.useDate"
                           ng-disabled="!clctrl.useDate"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
                <tim-error-message></tim-error-message>
            </div>

            <div class="form-horz-flex">
                <label>
                    <input type="radio" name="useDate" ng-change="clctrl.enableDue2()"
                           ng-model="clctrl.useDate" ng-value="false"/>
                    Duration
                </label>
                <tim-duration-picker disabled="clctrl.useDate"
                                     required="!clctrl.useDate"
                                     amount="clctrl.durationAmount"
                                     type="clctrl.durationType"></tim-duration-picker>
            </div>
            <tim-alert ng-show="clctrl.lectureTooShort()">Lecture must last at least two minutes.</tim-alert>
            <tim-alert severity="warning" ng-show="clctrl.endingBeforeNow()">Lecture end time is set in the past.
            </tim-alert>
            <div class="form-group">
                <label for="lLink">Direct link to join lecture:</label>
                <input class="form-control" ng-focus="clctrl.selectText($event)"
                       readonly id="lLink" type="text"
                       ng-value="clctrl.getJoinLectureLink()"/>
            </div>
            <div class="form-group">
                <label for="lLink2">Link to automatically join lectures for this document:</label>
                <input class="form-control" ng-focus="clctrl.selectText($event)"
                       readonly id="lLink2" type="text"
                       ng-value="clctrl.getAutoJoinLink()"/>
            </div>
            <uib-accordion>
                <div uib-accordion-group class="panel-default" is-open="clctrl.advancedOpen">
                    <uib-accordion-heading>
                        Advanced settings
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': clctrl.advancedOpen, 'glyphicon-chevron-right': !clctrl.advancedOpen}"></i>
                    </uib-accordion-heading>
                    <div class="form-inline">
                        <label>Student poll interval: <input id="poll_interval" type="text" name="poll_interval"
                                                             maxlength="3"
                                                             class="form-control"
                                                             size="3"
                                                             ng-model="clctrl.options.poll_interval"
                                                             ng-pattern="/[0-9]*/"> s</label> &nbsp;
                        <div class="checkbox"><label><input id="long_poll" type="checkbox" name="long_poll"
                                                            ng-model="clctrl.options.long_poll"> Use long
                            polling</label></div>
                    </div>
                    <div class="form-inline">
                        <label>Teacher poll interval: <input id="poll_interval_t" type="text" name="poll_interval_t"
                                                             maxlength="3" size="3"
                                                             class="form-control"
                                                             ng-model="clctrl.options.poll_interval_t"
                                                             ng-pattern="/[0-9]*/"> s</label> &nbsp;
                        <div class="checkbox"><label><input id="long_poll_t" type="checkbox" name="long_poll_t"
                                                            ng-model="clctrl.options.long_poll_t"> Use long
                            polling</label></div>
                    </div>
                    <div class="form-group">
                        <label for="teacher_poll">Use teacher poll for</label>
                        <input id="teacher_poll" type="text" name="teacher_poll"
                               maxlength="40"
                               class="form-control"
                               size="40"
                               placeholder="List of usernames to get same poll rate as teacher, separate by ;"
                               ng-model="clctrl.options.teacher_poll">
                    </div>
                </div>
            </uib-accordion>
        </form>
    </dialog-body>
    <dialog-footer>
        <button class="timButton"
                ng-click="clctrl.submitLecture()"
                ng-show="clctrl.creatingNew()"
                ng-disabled="!clctrl.form.$valid || clctrl.submittingLecture">Create
        </button>
        <button class="timButton"
                ng-click="clctrl.submitLecture()"
                ng-show="!clctrl.creatingNew()"
                ng-disabled="!clctrl.form.$valid || clctrl.submittingLecture">Update
        </button>
        <button class="timButton"
                ng-click="clctrl.cancelCreation()">Cancel
        </button>
    </dialog-footer>
</tim-dialog>
