<div class="popUpWindow">
    <form class="createLecture" name="form">
        <div id="infoFields">
            <div>
                <label for="lCode">Lecture name:</label>
                <input id="lCode" type="text" name="code" ng-model="clctrl.lectureCode"/>
            </div>
            <div>
                <label for="lPassword">Lecture access code (optional):</label>
                <input id="lPassword" type="text" name="password" ng-model="clctrl.password"/>
            </div>
            <div>
                <label for="maxStudents">Max number of students (optional):</label>
                <input size="3" maxlength="3" id="maxStudents" type="number" name="max_students" ng-model="clctrl.maxStudents"/>
            </div>
        </div>
        <div class="startingTime">
            Starting time:
            <div id="startInfo">
                <div class="form-inline">
                    <div class="input-group date" datetimepicker ng-model="clctrl.startTime"
                         data-options="clctrl.dateTimeOptions">
                        <input type="text"
                               class="form-control"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div ng-show="clctrl.showEarlyJoin" id="studentsJoinEarly"><label><input type="checkbox" ng-model="clctrl.earlyJoining">
                    Allow students to join 15 minutes prior to the start of the lecture.</label></div>
            </div>
        </div>
        <div class="endingTime">
            Ending time:
            <div id="endInfo">
                <label>
                <input type="radio" id="dateChosen2" name="dateStop" ng-click="clctrl.enableDate2()"
                       ng-model="clctrl.dateChosen" ng-checked="clctrl.dateCheck"/>
                Use date:
                </label>
                <div class="form-inline">
                    <div class="input-group date" datetimepicker ng-model="clctrl.endTime"
                         data-options="clctrl.dateTimeOptions">
                        <input type="text"
                               class="form-control"
                               ng-disabled="!clctrl.dateCheck"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <label>
                <input type="radio" id="durationChosen" name="dueStop" ng-click="clctrl.enableDue2()"
                       ng-model="clctrl.durationChosen"
                       ng-checked="clctrl.dueCheck"/>
                Duration:
                </label>
                <div id="durationDiv">
                    <label>Hours:
                        <input type="number" name="durationHour" min="0"
                               ng-model="clctrl.durationHour" ng-disabled="!clctrl.useDuration"/></label>
                    <label>Min:
                        <input type="number" name="durationMin" min="0" max="59"
                               ng-model="clctrl.durationMin" ng-disabled="!clctrl.useDuration"/></label>
                </div>
            </div>
        </div>
        <div>
            <label for="lLink" class="linkLabelWide">Direct link to join lecture:</label>
            <input onclick="document.getElementById('lLink').setSelectionRange(0, 9999)"
                   style="background-color: #DCDCDC" readonly id="lLink" type="text" name="link"
                   ng-value="clctrl.getJoinLectureLink()"/>
            <label for="lLink2" class="linkLabelWide">Link to automatically join lectures for this document:</label>
            <input onclick="document.getElementById('lLink2').setSelectionRange(0, 9999)"
                   style="background-color: #DCDCDC" readonly id="lLink2" type="text" name="link2"
                   ng-value="clctrl.getAutoJoinLink()"/>
        </div>
        <div>
            <br />
            <span>Polling: <label>Interval: <input id="poll_interval" type="text" name="poll_interval" maxlengt="3" size="3"
                                  ng-model="clctrl.options.poll_interval" ng-pattern="/[0-9]*/"> s</label> &nbsp;
                            <label><input id="long_poll" type="checkbox" name="long_poll" ng-model="clctrl.options.long_poll"> Use long polling.</label>
                </span>
            <br />
            <span>Teacher: <label>Interval: <input id="poll_interval_t" type="text" name="poll_interval_t" maxlengt="3" size="3"
                                  ng-model="clctrl.options.poll_interval_t" ng-pattern="/[0-9]*/"> s</label> &nbsp;
                            <label><input id="long_poll_t" type="checkbox" name="long_poll_t" ng-model="clctrl.options.long_poll_t"> Use long polling.</label>
                </span>
            <br />
            <label>Teacher poll for: <input id="teacher_poll" type="text" name="teacher_poll" maxlengt="40" size="40"
                                                   title="List of usernames to get same poll rate as teacher, separate by ;"
                                                   ng-model="clctrl.options.teacher_poll" ></label>

        </div>
        <p id="errorMessage" ng-if="clctrl.errorMessage.length" ng-bind-html="clctrl.errorMessage"></p>

    </form>
    <div class="buttons">
        <button class="timButton" type="button" ng-click="clctrl.submitLecture()" ng-show="clctrl.creatingNew()">Create
        </button>
        <button class="timButton" type="button" ng-click="clctrl.submitLecture()" ng-show="!clctrl.creatingNew()">Update
        </button>
        <button class="timButton" type="button" ng-click="clctrl.cancelCreation()">Cancel</button>
    </div>
</div>
