<link rel="stylesheet" href="/static/css/velpSelection.css"/>
<div class="velpMenu">
<label id="advView">
        <input type="checkbox" ng-model="advancedOn"/> Advanced view
    </label>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Select velp">
            <!--   <h3>Select velp</h3>-->
            <div class="velpArea">

                <table class="velpTable">
                    <tr ng-class="getAdvancedStyle()">
                        <td>
                            <label for="searchLabels">Filter labels </label>
                        </td>
                        <td>
                            <input id="searchLabels" ng-model="filterLabel" placeholder="filter labels">
                        </td>
                    </tr>
                </table>
                 <!--   <tr>
                        <td colspan="4">-->
                            <div ng-class="getAdvancedStyle()">
                                <p ng-repeat="label in filteredLabels = ( labels | filter:{content:filterLabel} )"
                                   class="label tag-{{ label.selected }}"
                                   style="background-color: {{ getColor(label.id) }}"
                                   ng-click="toggleLabel(label)" ng-model="test" value="{{ label.id }}">
                                    {{ label.content }}
                                </p>
                                <p ng-hide="filteredLabels.length">No labels :'(</p>
                            </div>
                    <!--    </td>
                    </tr>-->
                <table class="velpTable">
                    <tr>
                        <td>
                            <label for="searchVelps">Search velps:</label>
                        </td>
                        <td>
                            <input id="searchVelps" ng-model="filterVelp" placeholder="Filter velps">
                        </td>
                    </tr>
                    <tr ng-class="getAdvancedStyle()">
                        <td>
                            <label for="orderVelps">Order velps:</label>
                        </td>
                        <td><select id="orderVelps" ng-model="orderVelp">
                            <option value="content">Alphabetical</option>
                            <option value="-used">Most used</option>
                            <option value="label">Labels</option>
                            <option value="-points">Highest point</option>
                            <option value="points">Lowest point</option>
                        </select>
                        </td>
                    </tr>
                </table>
                 <!--   <tr>
                        <td colspan="4">-->
                            <div class="stack">
                                <div ng-model="newVelp" class="velp" ng-dblclick="selectVelpToEdit(newVelp)" ng-style="{top: 0}">
                                    <div ng-class="['emphasise', 'new', { neutral: newVelp.points == 0, positive: newVelp.points > 0, negative: newVelp.points < 0,
                                     edit: newVelp.edit}]">

                                    <div ng-class="['content']">
                                        <p ng-class="[{hide:  newVelp.edit}]">
                                            <span>Add velp!&ensp;</span>
                                            <span class="points">{{ newVelp.points }}</span>
                                        </p>
                                        <form ng-class="[{hide: !newVelp.edit}]" name="addVelpForm"
                                              ng-submit="addVelp(addVelpForm)" novalidate>

                                            <p><input name="velpName" type="text"
                                                   ng-model="newVelp['content']"
                                                   required placeholder="Add velp!" autofocus>
                                            <span ng-class="['glyphicon', 'glyphicon-tag', {hide: !advancedOn}]"
                                                  ng-repeat="label in selectedLabels"
                                                  ng-style="{ color: getColor(label) }"></span></p>

                                            <p ng-show="(addVelpForm.velpName.$invalid && !addVelpForm.velpName.$pristine) || (submitted && addVelpForm.velpName.$invalid)">
                                                Velp content is required
                                            </p>

                                            <p><input id="addVelpPoints" type="number" ng-model="newVelp['points']"
                                                   placeholder="Points" value="0"></p>

                                            <p><input type="submit" value="Add velp"/></p>
                                        </form>
                                    </div>
                                    </div>
                                </div>

                            <span ng-repeat="velp in filteredVelps = (velps | filter:{content:filterVelp} | orderBy:orderVelp | selectedLabels:labels)">

                                <div class="velp" ng-dblclick="selectVelpToEdit(velp)" ng-click="useVelp(velp)"
                                     ng-style="{top: 2+$index*2 + 'em'}">
                                    <div ng-class="['emphasise', {neutral: velp.points == 0, positive: velp.points > 0, negative: velp.points < 0,
                                    edit: velp.edit}]">

                                    <div ng-class="['content']">
                                        <p ng-class="[{hide: velp.edit}]">
                                            <span>{{ velp.content }}&ensp;</span>
                                            <span class="points">{{ velp.points }}</span>
                                            <span ng-class="['glyphicon', 'glyphicon-tag', {hide: !advancedOn}]" ng-repeat="label in velp.labels" ng-style="{ color: getColor(label) }"></span>
                                        </p>

                                        <form ng-class="[{hide: !velp.edit}]" name="editVelpForm"
                                              ng-submit="editVelp(editVelpForm)" novalidate>

                                            <p><input name="velpName" type="text"
                                                   ng-model="velpToEdit['content']"
                                                   required placeholder="Edit velp!">
                                            <span ng-class="['glyphicon', 'glyphicon-tag', {hide: !advancedOn}]"
                                                  ng-repeat="label in selectedLabels"
                                                  ng-style="{ color: getColor(label) }"></span></p>

                                            <p ng-show="(editVelpForm.velpName.$invalid && !editVelpForm.velpName.$pristine) || (submitted && editVelpForm.velpName.$invalid)">
                                                Velp content is required
                                            </p>

                                            <p><input id="addVelpPoints" type="number" ng-model="velpToEdit['points']"
                                                   placeholder="Points" value="0"></p>

                                            <p><input type="submit" value="Edit velp"/></p>
                                        </form>
                                    </div>
                                </div>
                                    </div>

                                <!-- div ng-class="['emphasise', {neutral: velp.points == 0, positive: velp.points > 0, negative: velp.points < 0}]" style="height: 2px;"></div -->
                            </span>

                            <p ng-hide="filteredVelps.length">No velps :'(</p>
                                </div>
                      <!--  </td>
                    </tr>-->
            </div>
        </uib-tab>

        <!-- ADD VELP TAB -->
  <!--      <uib-tab index="1" heading="Add velp">

            <div class="velpArea">
                <form name="addVelpForm" ng-submit="addVelp(addVelpForm)" novalidate>
                    <table class="velpTable">
                        <tr>
                            <td>
                                <label for="addVelpName">Velp name</label>
                            </td>
                            <td>
                                <input id="addVelpName" name="velpName" type="text" ng-model="newVelp['content']"
                                       required>
                            </td>
                        </tr>
                        <tr ng-show="(addVelpForm.velpName.$invalid && !addVelpForm.velpName.$pristine) || (submitted && addVelpForm.velpName.$invalid)">
                            <td colspan="2">
                                <p>Velp content is required</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="addVelpPoints">Points</label>
                            </td>
                            <td>
                                <input id="addVelpPoints" type="number" ng-model="newVelp['points']"
                                       value="0">
                            </td>
                        </tr>
                        <tr ng-class="getAdvancedStyle()">
                            <td>
                                <label for="searchLabels">Filter labels </label>
                            </td>
                            <td>
                                <input id="searchLabels" ng-model="filterLabel" placeholder="filter labels">
                            </td>
                        </tr>
                    </table>-->
                      <!--  <tr>
                            <td colspan="2">-->
                            <!--    <div ng-class="getAdvancedStyle()">
                                    <p ng-repeat="label in labels | filter:{content:filterLabel}"
                                       class="label tag-{{ label.selected }}"
                                       style="background-color: {{ getColor(label.id) }}"
                                       ng-click="toggleLabel(label)" ng-model="test" value="{{ label.id }}">
                                        {{ label.content }}
                                    </p>
                                </div>-->
                        <!--    </td>
                        </tr>-->
                <!--    <table class="velpTable">
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Add velp"/>
                            </td>
                        </tr>
                    </table>
                </form>
                <form ng-class="getAdvancedStyle()" name="addLabelForm" ng-submit="addLabel(addLabelForm)" novalidate>

                    <table class="velpTable">
                        <tr>
                            <td colspan="2">
                                <label>Add new label (optional):</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="newLabel">Label text</label>
                            </td>
                            <td>
                                <input id="newLabel" name="labelContent" ng-model="newLabel['content']"
                                       placeholder="Label text" required>
                            </td>
                        </tr>
                        <tr ng-show="(labelAdded && addLabelForm.labelContent.$invalid) || (addLabelForm.labelContent.$invalid && !addLabelForm.labelContent.$pristine)">
                            <td colspan="2">
                                <p>Label content is too short</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Add label">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </uib-tab>-->
        <uib-tab index="1" heading="Manage velps">
            <div class="velpArea">
                <table class="velpTable">
                    <tr>
                        <td>
                            <label>Search velp groups</label>
                        </td>
                        <td>
                            <input placeholder="Enter text..."></input>
                        </td>
                    </tr>
                </table>
                <input value="Import group" type="submit"></input>
                <table class="velpTable">
                    <tr>
                        <td>
                            <label>Search velps</label>
                        </td>
                        <td>
                            <input placeholder="Enter text..."></input>
                        </td>
                    </tr>
                </table>
                <input value="Import velp" type="submit"></input>
                <table class="velpTable">
                    <tr>
                        <td>
                            <label>Attach velp to a group</label>
                        </td>
                    </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Summary">
            <div class="velpArea">
               <div class="velpSummary">
             <!--    <span id="summaryHeader">Summary:</span>-->
                <table>
                    <tr>
            <th>Velp</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>
               <span>Virheellinen henkilö (1 hit)</span>
            </td>
            <td id="summaryColumn">
                <span>-1,5</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Virheellinen alue (2 hits)</span>
            </td>
            <td id="summaryColumn">
                <span>-2</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Virheellinen ajankohta (1 hit)</span>
            </td>
            <td id="summaryColumn">
                <span>-1</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Hienosti muistettu! (2 hits)</span>
            </td>
            <td id="summaryColumn">
                <span>+2</span>
            </td>
        </tr>
        <tr>
            <th>Points total</th>
            <th>3,5</th>
        </tr>
    </table>
                    <span id="summaryComment">Comment:</span>
                    <textarea>Vastaus kokonaisuudessaan oli ihan hyvä; jonkin verran asiavirheitä sekä epämääräisyyksiä mutta toisaalta monia asioita oli muistettu hienosti ja pälä pälä... HUOM pitäiskö kommenttiketju muodostaa tästä eikä yksittäisistä velpeistä</textarea>
                    <textarea id="lowerTextarea">Write your reply here...</textarea>
                    <input value="Submit" type="submit"></input>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>