<link rel="stylesheet" href="/static/css/velpSelection.css"/>
<div class="velpMenu">
<label id="advView">
        <input type="checkbox" ng-model="advancedOn"/> Advanced view
    </label>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Select velp">
            <!--   <h3>Select velp</h3>-->
            <div class="velpArea">

                <table class="velpTable">
                    <tr ng-class="getAdvancedStyle()">
                        <td>
                            <label for="searchLabels">Filter by labels </label>
                        </td>
                        <td>
                            <input id="searchLabels" ng-model="filterTag" placeholder="filter labels">
                        </td>
                    </tr>
                </table>
                 <!--   <tr>
                        <td colspan="4">-->
                            <div ng-class="getAdvancedStyle()">
                                <p ng-repeat="label in filteredTags = ( labels | filter:{content:filterTag} )"
                                   class="label tag-{{ label.selected }}"
                                   style="background-color: {{ getColor(label.id) }}"
                                   ng-click="toggleTag(label)" ng-model="test" value="{{ label.id }}">
                                    {{ label.content }}
                                </p>
                                <p ng-hide="filteredTags.length">No labels :'(</p>
                            </div>
                    <!--    </td>
                    </tr>-->
                <table class="velpTable">
                    <tr>
                        <td>
                            <label for="searchPhrases">Search velps:</label>
                        </td>
                        <td>
                            <input id="searchPhrases" ng-model="filterPhrase" placeholder="Filter velps">
                        </td>
                    </tr>
                    <tr ng-class="getAdvancedStyle()">
                        <td>
                            <label for="orderPhrases">Order velps:</label>
                        </td>
                        <td><select id="orderPhrases" ng-model="orderPhrase">
                            <option value="content">Alphabetical</option>
                            <option value="-used">Most used</option>
                            <option value="tag">Labels</option>
                            <option value="-points">Highest point</option>
                            <option value="points">Lowest point</option>
                        </select>
                        </td>
                    </tr>
                </table>
                 <!--   <tr>
                        <td colspan="4">-->
                            <div class="stack">
                            <div ng-repeat="velp in filteredVelps = (velps | filter:{content:filterPhrase} | orderBy:orderPhrase | selectedLabels:labels)">

                                <div class="velp" ng-click="usePhrase(velp)" ng-style="{top: $index*2 + 'em'}">
                                    <div ng-class="['emphasise', {neutral: velp.points == 0, positive: velp.points > 0, negative: velp.points < 0}]">

                                    <div ng-class="['content']">
                                        <p>
                                            <span>{{ velp.content }}&ensp;</span>
                                            <span class="points">{{ velp.points }}</span>
                                            <span ng-class="['glyphicon', 'glyphicon-tag', {hide: !advancedOn}]" ng-repeat="label in velp.labels" ng-style="{ color: getColor(label) }"></span>
                                        </p>
                                    </div>
                                </div>
                                    </div>
                                <!-- div ng-class="['emphasise', {neutral: velp.points == 0, positive: velp.points > 0, negative: velp.points < 0}]" style="height: 2px;"></div -->
                            </div>
                            <p ng-hide="filteredVelps.length">No velps :'(</p>
                                </div>
                      <!--  </td>
                    </tr>-->
            </div>
        </uib-tab>

        <!-- ADD VELP TAB -->
        <uib-tab index="1" heading="Add velp">

            <div class="velpArea">
                <form name="addVelpForm" ng-submit="addVelp(addVelpForm)" novalidate>
                    <table class="velpTable">
                        <tr>
                            <td>
                                <label for="addPhraseName">Velp name</label>
                            </td>
                            <td>
                                <input id="addPhraseName" name="velpName" type="text" ng-model="newPhrase['content']"
                                       required>
                            </td>
                        </tr>
                        <tr ng-show="(addVelpForm.velpName.$invalid && !addVelpForm.velpName.$pristine) || (submitted && addVelpForm.velpName.$invalid)">
                            <td colspan="2">
                                <p>Velp content is required</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="addPhrasePoints">Points</label>
                            </td>
                            <td>
                                <input id="addPhrasePoints" type="number" ng-model="newPhrase['points']"
                                       value="0">
                            </td>
                        </tr>
                        <tr ng-class="getAdvancedStyle()">
                            <td>
                                <label for="searchLabels">Filter labels </label>
                            </td>
                            <td>
                                <input id="searchLabels" ng-model="filterTag" placeholder="filter labels">
                            </td>
                        </tr>
                    </table>
                      <!--  <tr>
                            <td colspan="2">-->
                                <div ng-class="getAdvancedStyle()">
                                    <p ng-repeat="label in labels | filter:{content:filterTag}"
                                       class="label tag-{{ label.selected }}"
                                       style="background-color: {{ getColor(label.id) }}"
                                       ng-click="toggleTag(label)" ng-model="test" value="{{ label.id }}">
                                        {{ label.content }}
                                    </p>
                                </div>
                        <!--    </td>
                        </tr>-->
                    <table class="velpTable">
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Add velp"/>
                            </td>
                        </tr>
                    </table>
                </form>
                <form ng-class="getAdvancedStyle()" name="addLabelForm" ng-submit="addLabel(addLabelForm)" novalidate>

                    <table class="velpTable">
                        <tr>
                            <td colspan="2">
                                <label>Add new label (optional):</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="newLabel">Label text</label>
                            </td>
                            <td>
                                <input id="newLabel" name="labelContent" ng-model="newLabel['content']"
                                       placeholder="Label text" required>
                            </td>
                        </tr>
                        <tr ng-show="(labelAdded && addLabelForm.labelContent.$invalid) || (addLabelForm.labelContent.$invalid && !addLabelForm.labelContent.$pristine)">
                            <td colspan="2">
                                <p>Label content is too short</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Add label">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Manage velps">
            <div class="velpArea">
                <label>Not much here yet</label>
            </div>
        </uib-tab>
    </uib-tabset>
</div>