<link rel="stylesheet" href="/static/stylesheets/velpSelection.css"/>
<div class="velpSummary">
    <span id="summaryHeader">Summary:</span>
    <table>
        <tr>
            <th>Velp</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>
               <span>Virheellinen henkilö (1 hit)</span>
            </td>
            <td id="summaryColumn">
                <span>-1,5</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Virheellinen alue (2 hits)</span>
            </td>
            <td id="summaryColumn">
                <span>-2</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Virheellinen ajankohta (1 hit)</span>
            </td>
            <td id="summaryColumn">
                <span>-1</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Hienosti muistettu! (2 hits)</span>
            </td>
            <td id="summaryColumn">
                <span>+2</span>
            </td>
        </tr>
        <tr>
            <th>Points total</th>
            <th>3,5</th>
        </tr>
    </table>
    <span id="summaryComment">Comment:</span>
  <textarea>Vastaus kokonaisuudessaan oli ihan hyvä; jonkin verran asiavirheitä sekä epämääräisyyksiä mutta toisaalta monia asioita oli muistettu hienosti ja pälä pälä... HUOM pitäiskö kommenttiketju muodostaa tästä eikä yksittäisistä velpeistä</textarea>
  <textarea id="lowerTextarea">Write your reply here...</textarea>
  <input value="Submit" type="submit"></input>
</div>