<div class="velpArea">
    <div class="velpSummary">
        <h5>{{ vsumctrl.selectedUser.name }} task annotations</h5>
        <table>
            <tr>
                <!-- Commented out for now, these are intended for publishing annotations.
                <th class="summCheckbox"><input type="checkbox" ng-model="settings.selectedAll"
                                                ng-change="checkAll()"></th>-->
                <th class="summSecColumn">Annotation</th>
                <th class="summThiColumn">Points</th>
            </tr>
            <tr ng-repeat="a in ( filteredList1 = (vsumctrl.annotations | orderBy:'creationtime' | filter: {'user_id': vsumctrl.selectedUser.id}:true)) ">
                <!--<td class="summCheckbox"><input type="checkbox" ng-model="a.selected"></td> See comment above^-->
                <td class="summSecColumn"><a ng-click="vsumctrl.toggleAnnotation({$ANNOTATION: a, $SCROLL: true})">{{ a.content }}</a></td>
                <td class="summThiColumn"><span>{{ a.points }}</span></td>
            </tr>
            <tr>
                <!--<th class="summCheckbox"></th> See comment above^-->
                <th class="summSecColumn">Points total</th>
                <th class="summThiColumn"><span>{{ vsumctrl.getTotalPoints(filteredList1) }}</span></th>
            </tr>
        </table>
         <h5>Other document annotations</h5>
        <table>
            <tr>
                <!-- Commented out for now, these are intended for publishing annotations.
                <th class="summCheckbox"><input type="checkbox" ng-model="vsumctrl.settings.selectedAll"
                                                ng-change="vsumctrl.checkAll()"></th>-->
                <th class="summSecColumn">Annotation</th>
                <th class="summThiColumn">Points</th>
            </tr>
            <tr ng-repeat="b in vsumctrl.annotations | orderBy:'creationtime' | filter: {'user_id': null}:true ">
                <!--<td class="summCheckbox"><input type="checkbox" ng-model="a.selected"></td> See comment above^-->
                <td class="summSecColumn"><a ng-click="vsumctrl.toggleAnnotation({$ANNOTATION: b, $SCROLL: true})">{{ b.content }}</a></td>
                <td class="summThiColumn"><span>{{ b.points }}</span></td>
            </tr>
            <!--<tr>
                <!--<th class="summCheckbox"></th> See comment above^
                <th class="summSecColumn">Points total</th>
                <th class="summThiColumn"><span>{{ vsumctrl.getTotalPoints(filteredList2) }}</span></th>
            </tr>-->
        </table>
    </div>
</div>
