<div  tim-draggable-fixed="" class="velpFixed" save="%%PAGEID%%velpMenu" click="true" caption="Velp menu" id="velpSelection">
  <div class="velpMenu draggable-content" >

    <uib-tabset active="$ctrl.active" class="velpFill">
        <uib-tab index="0" heading="Select">
                <p id="selection"
                   uib-tooltip="{{$ctrl.rctrl.selectedArea}}"
                   tooltip-placement="bottom">
                    <span ng-if="!$ctrl.rctrl.selectedElement">
                        Nothing selected
                    </span>
                    <span ng-if="$ctrl.rctrl.selectedElement">
                    Selected:
                        <span ng-if="$ctrl.rctrl.selectedArea">
                            '{{ $ctrl.rctrl.getSelectedAreaBeginning() }}' of
                        </span>
                        <span ng-if="$ctrl.rctrl.selectionIsDrawing">
                            new drawing in review image of
                        </span>
                    </span>
                    <span ng-if="$ctrl.rctrl.selectedElement">
                        <span ng-if="!$ctrl.rctrl.getSelectedAnswerTaskName()">paragraph '{{$ctrl.rctrl.getSelectedParagraphBeginning()}}'</span>
                        <span ng-if="$ctrl.rctrl.getSelectedAnswerTaskName()">
                            answer in task '{{$ctrl.rctrl.getSelectedAnswerTaskName()}}'
                        </span>
                    </span>
                </p>
            <label><input type="checkbox" ng-model="$ctrl.advancedOn" ng-change="$ctrl.setAdvancedOnlocalStorage($ctrl.advancedOn)"> Advanced view</label>
            <div class="velpArea">

                <!-- LABELS -->
                <div id="labels" ng-show="$ctrl.advancedOn">
                    <form class="form-inline adjustForm">
                        <div class="form-group">
                            <label class="formLabel" for="searchLabels">Search labels:</label>
                            <input class="formInput" id="searchLabels" ng-model="$ctrl.filterLabel"
                                   placeholder="Filter labels">
                        </div>
                    </form>
                    <div>
                        <div class="fulldiv">
                            <p ng-repeat="label in filteredLabels = ( $ctrl.labels | filter:{content:$ctrl.filterLabel} )"
                               class="label tag-false"
                               ng-style="{ backgroundColor: $ctrl.getColor(label.id) };"
                               ng-click="$ctrl.toggleLabel(label)" ng-model="$ctrl.test" value="{{ label.id }}">
                                {{ label.content }} <span class="glyphicon glyphicon-ok"
                                                          ng-show="label.selected"></span>
                            </p>
                            <hr/>
                        </div>
                    </div>
                </div>
                <div>
                    <form class="form-inline adjustForm">
                        <div class="form-group">
                            <label class="formLabel" for="searchVelps">Search velps:</label>
                            <input class="formInput" id="searchVelps" ng-model="$ctrl.filterVelp" placeholder="Filter velps">
                        </div>
                    </form>
                </div>
                <div ng-show="$ctrl.advancedOn">
                    <form class="form-inline adjustForm">
                        <div class="form-group">
                            <label class="formLabel" for="orderVelps">Order velps:</label>
                            <select id="orderVelps" ng-model="$ctrl.order" ng-change="$ctrl.changeOrdering($ctrl.order)">
                                <option value="content">Alphabetical</option>
                                <option value="-used">Most used</option>
                                <option value="label">Labels</option>
                                <option value="-points">Highest point</option>
                                <option value="points">Lowest point</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div>
                    <form class="form-inline adjustForm">
                        <div class="form-group">
                            <label class="formLabel" for="displayVelps">Display velps for:</label>
                            <select id="displayVelps" ng-model="$ctrl.displayedVelpGroupsScope"
                                    ng-change="$ctrl.changeDisplayedVelpGroupsScope($ctrl.displayedVelpGroupsScope)">
                                <option ng-value="0">Whole document</option>
                                <option ng-value="1">Selected paragraph</option>
                            </select>
                        </div>
                    </form>
                </div>

                <button class="timButton margin-4"
                        ng-disabled="!$ctrl.initialized"
                        ng-click="$ctrl.openCreateNewVelpWindow()"
                        value="">Create new velp</button>

                <div save="%%PAGEID%%selectVelpsDiv"
                     tim-draggable-fixed
                     detachable="true"
                     click="true"
                     resize="false"
                     caption="Available velps">

                    <div class="velp-stack draggable-content available-velps">
                        <velp-window class="velp" ng-style="{top: 0}"
                                     ng-show="$ctrl.newVelp.edit"
                                     velp="$ctrl.newVelp"
                                     index="-1"
                                     velp-groups="$ctrl.velpGroups"
                                     teacher-right="$ctrl.vctrl.item.rights.teacher"
                                     labels="$ctrl.labels"
                                     new="true"
                                     vctrl="$ctrl.vctrl"
                                     advanced-on="$ctrl.advancedOn"></velp-window>
                        <velp-window
                                ng-repeat="velp in filteredVelps = ($ctrl.rctrl.velps | filter:{content:$ctrl.filterVelp} | orderByWhenNotEditing:$ctrl.order:filteredVelps | filterByVelpGroups:$ctrl.velpGroups | filterByLabels:$ctrl.labels:$ctrl.advancedOn
                                                 ) track by $index"
                                advanced-on="$ctrl.advancedOn"
                                doc-id="$ctrl.docId"
                                index="$index"
                                labels="$ctrl.labels"
                                new="false"
                                on-velp-select="$ctrl.rctrl.useVelp($VELP)"
                                teacher-right="$ctrl.vctrl.item.rights.teacher"
                                velp-groups="$ctrl.velpGroups"
                                velp="velp"></velp-window>
                    </div>
                </div>
            </div>
        </uib-tab>

        <!-- MANAGE VELPS -->
        <uib-tab index="1" heading="Manage">

            <div class="velpArea">
                <div class="velpSummary">
                    <form>
                        <table class="fulldiv">

                            <h5>Choose area for velp group:</h5>
                            <fieldset>
                                <input type="radio" ng-model="$ctrl.groupAttachment.target_type"
                                       ng-value="0" name="selArea" id="selDoc" ng-change="$ctrl.updateVelpList()">
                                <label for="selDoc">Whole document</label><br/>
                                <input title="A paragraph must be clicked to choose this option" type="radio"
                                       ng-model="$ctrl.groupAttachment.target_type" ng-value="1"
                                       name="selArea" id="selPar" ng-class="{disabled: $ctrl.rctrl.selectedElement == null}"
                                       ng-disabled="$ctrl.rctrl.selectedElement == null" ng-change="$ctrl.updateVelpList()">
                                <label for="selPar" ng-class="{'disabled':$ctrl.rctrl.selectedElement == null}">Selected paragraph</label>
                            </fieldset>

                            <tr>
                                <th><label class="comment-info small"><input type="checkbox"
                                                                            ng-model="$ctrl.settings.selectedAllShows"
                                                                            ng-change="$ctrl.changeAllVelpGroupSelections('show')">Show</label>
                                </th>
                                <th><label ng-class="['comment-info', 'small', {disabled: !$ctrl.vctrl.item.rights.manage}]"><input type="checkbox"
                                                                            ng-model="$ctrl.settings.selectedAllDefault"
                                                                            ng-disabled="!$ctrl.vctrl.item.rights.manage"
                                                                            ng-change="$ctrl.changeAllVelpGroupSelections('default')">Default</label>
                                </th>
                                <th><span class="small">Velp group</span></th>
                            </tr>

                            <tr ng-repeat="group in $ctrl.velpGroups" ng-hide="group.id<0">
                                <td>
                                    <input type="checkbox" ng-model="group.show"
                                           ng-change="$ctrl.changeVelpGroupSelection(group, 'show')">
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="group.default" ng-disabled="!$ctrl.vctrl.item.rights.manage"
                                           ng-change="$ctrl.changeVelpGroupSelection(group, 'default')">
                                </td>
                                <td>
                                    <a ng-href="/manage/{{ group.location }}">{{ group.name }}</a>
                                </td>
                            </tr>
                        </table>
                        <input type="button" class="timButton" title="Shows only the default velp groups in current area (document or paragraph)"
                               value="Set area default groups visible" ng-click="$ctrl.resetCurrentShowsToDefaults()"/>
                        <input id="resetAllSelBtn" type="button" class="timButton"
                               title="Shows only the default velp groups in all areas"
                               value="Set all default groups visible" ng-click="$ctrl.resetAllShowsToDefaults()"/>
                    </form>
                    <hr>
                    <form ng-submit="$ctrl.addVelpGroup(addVelpGroupForm)" name="addVelpGroupForm">
                        <p><label>Create new velp group:</label><input type="text" ng-model="$ctrl.newVelpGroup.name"
                                                                       placeholder="Velp group name" required></p>
                        <fieldset>
                            <p><input type="radio" name="group1" ng-model="$ctrl.newVelpGroup.target_type" id="radioPar"
                                      ng-value="0" checked="checked"> <label for="radioPar">Personal
                                collection</label><br>
                                <input type="radio" name="group1" ng-model="$ctrl.newVelpGroup.target_type" id="radioDoc"
                                       ng-value="1" ng-disabled="!$ctrl.vctrl.item.rights.editable"> <label for="radioDoc" ng-class="{'disabled':!$ctrl.vctrl.item.rights.editable}">Document</label><br>
                                <input type="radio" name="group1" ng-model="$ctrl.newVelpGroup.target_type" id="radioFolder"
                                       ng-value="2" ng-disabled="!$ctrl.vctrl.item.rights.editable"> <label for="radioFolder" ng-class="{'disabled':!$ctrl.vctrl.item.rights.editable}">Folder</label></p>
                        </fieldset>

                        <p><input type="submit" class="timButton" value="Create velp group"></p>
                        <p ng-show="(addVelpGroupForm.newVelpGroup.name.$invalid && !addVelpGroupForm.newVelpGroup.name.$pristine) || ($ctrl.submitted.velpGroup && addVelpGroupForm.newVelpGroup.name.$invalid)"
                           class="error">
                            Velp group name is required!
                        </p>
                    </form>
                </div>
            </div>
        </uib-tab>

        <!-- SUMMARY -->
        <uib-tab index="2" heading="Summary">
            <velp-summary
                    [annotations]="$ctrl.rctrl.annotations"
                    (annotationselected)="$ctrl.rctrl.toggleAnnotation($event, true)"
                    [selected-user]="$ctrl.vctrl.selectedUser"
            >
            </velp-summary>
        </uib-tab>
    </uib-tabset>
    </div>
</div>
