<div class="velp" ng-style="{top: 1+$ctrl.index*2 + 'em'}"  ng-click="$ctrl.notAnnotationRights($ctrl.velp.points) || $ctrl.useVelp()">
    <div ng-class="['velp-data', 'emphasise', 'default',
                    {neutral: $ctrl.velp.points == 0,
                    positive: $ctrl.velp.points > 0,
                    negative: $ctrl.velp.points < 0,
                    new: $ctrl.new,
                    inactive: $ctrl.notAnnotationRights($ctrl.velp.points),
                    edit: $ctrl.velp.edit}]"
        ng-style="{ backgroundColor: $ctrl.getCustomColor()}"
    ><!--

        Show this when velp is NOT being edited

       --><div ng-if="!$ctrl.velp.edit" class="content velpContent">
            <div>
                <span class="header math">{{ $ctrl.velp.content }}</span>

                <span ng-click="$ctrl.toggleVelpToEdit(); $event.stopPropagation();"
                      ng-if="$ctrl.hasEditAccess"
                      class="pull-right glyphicon glyphicon-pencil clickable-icon"></span>
                <span ng-show="$ctrl.notAnnotationRights($ctrl.velp.points)"
                      class="annmark glyphicon glyphicon-exclamation-sign clickable-icon pull-right"
                      ng-attr-title="{{ $ctrl.settings.teacherRightsError }}" >
                </span>
                <span class="margin-5-right header pull-right">{{ $ctrl.velp.points }}</span>
                <p class="velpInfoText truncate math">{{ $ctrl.velp.default_comment }}</p>

                <div class="tags">
                    <span class="pull-right" ng-show="$ctrl.advancedOn"
                          ng-class="['glyphicon', 'glyphicon-tag']"
                          ng-repeat="label in $ctrl.velp.labels" title="label.content"
                          ng-style="{ color: $ctrl.getColor(label) }"></span>
                </div>

            </div>
            <div class="bottom-part"></div>
        </div><!--

        Show this when velp IS being edited

     --><div ng-if="$ctrl.velp.edit" class="content">
                            <tim-close-button ng-click="$ctrl.toggleVelpToEdit(); $event.stopPropagation();"
                            class="clickable-icon"></tim-close-button>

        <form name="saveVelpForm" ng-submit="$ctrl.saveVelp(saveVelpForm)">
            <p class="header"><input name="velpName" type="text" ng-model="$ctrl.velp.content"
                       required placeholder="Velp content" title="Annotation visible text">
            </p>
            <p ng-show="(saveVelpForm.velpName.$invalid && !saveVelpForm.velpName.$pristine)"
               class="error velpInfoText">
                {{ $ctrl.settings.velpContentError }}
            </p>


            <p ng-show="$ctrl.allowChangePoints()" class="header"><input id="addVelpPoints" type="number" style="width: 100%;"
                                                    title="Default points from this velp"
                                                    ng-model="$ctrl.velp.points"
                                                    step="0.01"
                                                    placeholder="Points" value="0"></p>
            <p ng-hide="$ctrl.allowChangePoints()" class="velpInfoText">{{ $ctrl.settings.teacherRightsError }}</p>

            <p><textarea placeholder="Add default comment" ng-model="$ctrl.velp.default_comment" title="Default comment for annotation" ></textarea></p>

            <fieldset ng-show="$ctrl.advancedOn">
                <legend>Labels
                    <span class="pull-right"
                          ng-class="['glyphicon', 'glyphicon-tag']"
                          ng-repeat="l in $ctrl.velp.labels"
                          ng-style="{ color: $ctrl.getColor(l) }">
                    </span>
                </legend>
                <div class="editVelp-scrollarea">
                <span ng-repeat="l in $ctrl.labels">

                    <!-- Show this when label IS NOT being edited -->
                    <span ng-if="!l.edit">
                        <label>
                            <input type="checkbox"
                                      ng-click="$ctrl.updateVelpLabels(l)"
                                      ng-checked="$ctrl.isLabelInVelp(l)">
                            {{ l.content }}
                        </label>

                        <span class="pull-right" ng-click="$ctrl.toggleLabelToEdit(l)"
                              ng-class="['glyphicon', 'glyphicon-pencil', 'clickable-icon']">
                        </span>
                        <br>
                    </span>

                    <!-- Show this when label IS being edited -->
                    <span ng-if="l.edit">
                        <input type="text"
                               placeholder="Add label"
                               ng-change="$ctrl.setLabelValid($ctrl.labelToEdit)"
                               ng-model="$ctrl.labelToEdit.content">

                        <span class="pull-right" ng-click="$ctrl.toggleLabelToEdit(l)"
                              ng-class="['glyphicon', 'glyphicon-pencil', 'clickable-icon']">
                        </span>
                        <input class="timButton" type="button"
                               value="Save" ng-click="$ctrl.editLabel($ctrl.labelToEdit)"
                               ng-disabled="!$ctrl.isVelpValid($ctrl.velpToEdit)">
                        <input class="timButton" type="button"
                               value="Cancel" ng-click="$ctrl.toggleLabelToEdit(l)">
                        <br>
                        <span ng-hide="$ctrl.labelToEdit.valid">
                            <span class="error velpInfoText">{{ settings.labelContentError }}</span>
                            <br>
                        </span>
                    </span>
                </span>
                </div>
                <!-- Add new label -->
                <input class="addLabelField" placeholder="Add label"
                       ng-change="$ctrl.setLabelValid($ctrl.newLabel)"
                       ng-model="$ctrl.newLabel.content">
                <input class="addLabelBtn" type="button" value="Add"
                       ng-click="$ctrl.addLabel()">
                <span ng-hide="$ctrl.newLabel.valid" class="error velpInfoText">{{ $ctrl.settings.labelContentError }}</span>
            </fieldset>

            <!-- Velp groups -->
            <fieldset ng-show="$ctrl.advancedOn">
                <legend>Velp groups</legend>
                <div class="editVelp-scrollarea">
                <span ng-repeat="g in $ctrl.velpGroups">

                    <label title="{{ !g.show ? 'This group is not shown in the selected area. Change setting in manage tab.' : ''}}"
                           ng-class="{disabled: !g.edit_access, gray: !g.show}"><input type="checkbox"
                                                                                       ng-click="$ctrl.updateVelpGroups(g)"
                                                                                       ng-checked="$ctrl.isGroupInVelp(g)"
                                                                                       ng-disabled="!g.edit_access">
                        {{ g.name }}
                    </label>
                    <br>
                </span>
                </div>
            </fieldset>
            <p class="error velpInfoText" ng-show="!$ctrl.isSomeVelpGroupSelected()">
                {{ $ctrl.settings.velpGroupError }}
            </p>
            <p class="warning velpInfoText" ng-show="!$ctrl.isSomeVelpGroupShown()">
                {{ $ctrl.settings.velpGroupWarning }}
            </p>

            <p>
                <label>
                    <span title="Visible to"
                          class="glyphicon glyphicon-eye-open visible-icon">

                    </span>
                    <select ng-model="$ctrl.velp.visible_to" title="Visible to"
                            ng-options="v as $ctrl.visibleOptions.names[v-1] for v in $ctrl.visibleOptions.values">
                    </select>
                    <span ng-class="['glyphicon', 'glyphicon-question-sign', 'clickable-icon']"
                          uib-popover="Who can see the velp as a default?
                                      'Just me' means that the annotation is visible only to yourself.
                                      'Document owner' refers to the person or group who has been named as the document owner.
                                      'Teachers' refers to the users that have teacher access to this document.
                                      'Everyone' means that the annotation is visible to everyone who can view the assessed content."
                          popover-placement="top">
                    </span>
                </label>
                <span style="float: right">
                <input type="color" ng-model="$ctrl.velp.color" title="change Velp default color" class="colorchange-button">
                <input ng-if="$ctrl.isVelpCustomColor()" class="smallButton" type="button" ng-click="$ctrl.clearVelpColor()" title="Reset color to original value" value="R">
                </span>
            </p>
            <p>
                <label>
                    <span>Style</span>
                    <select ng-model="$ctrl.velp.style" title="Style"
                            ng-options="v as $ctrl.styleOptions.names[v-1] for v in $ctrl.styleOptions.values">
                    </select>
                </label>
            </p>
            <!-- submit executes 'saveVelp'-function -->
            <p>
            <input type="submit" class="timButton" ng-value="$ctrl.saveButtonText()" ng-disabled="!$ctrl.isVelpValid()"/>
            <input type="button" class="timButton" value="Cancel" ng-click="$ctrl.toggleVelpToEdit(); $event.stopPropagation();">
            </p>
        </form>
        </div>
    </div>

</div>
