@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

.web-console {
    border: 1px solid black;
    background:black;
    border-radius: 8px 8px 8px 8px;
    padding: 5px
}
.web-console .console-curIndex {
    font-family: 'Droid Sans Mono', 'Courier', monospace !important;
    font-size:90%;
    width:20%;
    color:#e0e4cc;
    margin-right:3px;
}
.web-console .console-input {
    width:86%; 
    margin-left:auto; 
    margin-right:auto;
    display: inline;
    border: none;

    // border-bottom: 1px dashed black;
    border-radius: 3px 3px 3px;
    background-color:#CCC;
    font-family: 'Droid Sans Mono', 'Courier', monospace !important;
    font-size:90%;
    outline-color:#0A0;
    //color:#0F0;
    //background-color:black;
}

.web-console .console-output{
 background-color: black;
 color: #E0E4CC;
 height:100%;
 display: block;
 min-height:14em;
 max-height:14em;
 overflow:auto;
 transition: 0.5s;
}

.enlarged .console-output {
 background-color: black;
 color: #E0E4CC;
 height:100%;
 display: block;
 min-height:25em;
 max-height:25em;
 overflow:auto;

}


.web-console {
  max-width:80ex;
  position:relative;
}

.console-expander-sym{
position:absolute;
right:3px ; bottom:3px;
color: #AAA;
}

.normal .console-expander-sym:before{
content:"▼";
}

.enlarged .console-expander-sym:before{
content:"▲";
}

.console-output-elem{
margin-bottom:3px;
font-family: 'Droid Sans Mono', 'Courier', monospace !important;
//font-size:normal;
}

.console-userInput {
color:#a7dbd8;
}
.console-response {
word-break: break-all;
color:#69d2e7;
}

.console-in {
color:#e0e4cc;
width:9ex;
display: inline-block;
}

.error {
color: #FA6900;
}

.warning {
color: #f38630;
}

.console-out {
color:#e0e4cc;
width:9ex;
display: inline-block;
}

.console-examples-box li {
    cursor:pointer;
}

.examples-title {
    cursor:pointer;
    display:block;
    text-align:center;
}

.console-examples-box {
transition: 0.5s;
color: #E0E4CC;
background:rgba(255,255,255,0.3);
overflow:hidden;
position: absolute;
top:0px;
right:0px;
height:1.5em;
font-family: 'Droid Sans Mono', 'Courier', monospace !important;
font-size:80%;
border-radius: 0px 6px 0px 6px;
width:40%;
}

.console-examples-box:hover {
background:rgb(76,76,76);
opacity:1;
height:85%;
}

.expandedExamplesBox {
 height:85%;
}



