.draghandle {
  position: absolute;
  top: -20px;
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.minimized {
  visibility: hidden;
}

.modal-footer {
  &:empty {
    display: none;
  }
}
