$draghandle-height: 20px;

.draghandle {
  position: absolute;
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.minimized {
  visibility: hidden;
}

.modal-footer {
  &:empty {
    display: none;
  }
}

.modal-dialog {
  margin: 0 auto 0;
}

.modal-body {
  max-height: 90vh;
}

.draggable-content {
  padding-top: $draghandle-height;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  max-height: 100vh;
}