div.archive-options {
  margin-top: 10px;
}

input[type='radio'] {
  margin-right: 10px;
}

input[type='text'] {
  //margin-left: 10px;
  margin-right: 0.5em;
}

.list-name {
  font-weight: bold;
}

label {
  font-weight: normal;
}

tim-loading {
  margin-right: 1em;
}