div.archive-options {
  margin-top: 10px;
}

input[type='radio'] {
  margin-right: 10px;
}

input[type='text'] {
  margin-left: 10px;
}

.list-name {
  font-weight: bold;
}

label {
  font-weight: normal;
}