h1 {
  margin-bottom: 1em;
}

//
//.multiple-emails {
  //margin-bottom: 20px;
//}


div.archive-options {
  margin-top: 2em;
  margin-bottom: 0.2em;
}

.list-archive-policy-header {
  margin-bottom: 0.5em;
  font-weight: bold;
}

//.list-info {
  //margin-left: 10px;
  //margin-top: 20px;

//}

input[type='radio'] {
  margin-right: 2em;
}


input[type='checkbox'] {
  margin-right: 2em;
  margin-bottom: 2em;
}


.list-name {
  font-weight: bold;
//  margin-top: 20px;
}


.owner-address {
  font-weight: bold;
  //margin-top: 20px;
}


.short-description {
  font-weight: bold;
  //margin-top: 20px;
}

.long-description {
  font-weight: bold;
  //margin-bottom: 20px;
}


label {
  font-weight: normal;
}

//#search-groups {
  //margin-bottom: 5px;
//}








