h1 {
  margin-bottom: 1em;
}

div.archive-options {
  margin-top: 2em;
  margin-bottom: 0.2em;
}

.list-archive-policy-header {
  margin-bottom: 0.5em;
  font-weight: bold;
}


input[type='radio'] {
  margin-right: 2em;
}


input[type='checkbox'] {
  margin-right: 2em;
  margin-bottom: 2em;
}


.list-name {
  font-weight: bold;
}


.owner-address {
  font-weight: bold;
}


.short-description {
  font-weight: bold;
}

.long-description {
  font-weight: bold;
}


label {
  font-weight: normal;
  padding-left: 1em;
}

#add-multiple-members {
  width: 25em;
  height: 5em;
}

.section {
  padding-top: 3em;
}

#archive-policy-list {
  list-style-type: none
}

#add-member-feedback {
  padding-top: 1em;
  padding-bottom: 1em;
}

.indented {
  padding-left: 2em;
}





