:host {
    display: block;
    @media (min-width: 1400px) {
        &:not(.global-message) {
            margin: 0 10% 0 10%;
        }
    }

    &.global-message .timMessageDisplay {
        background-color: var(--state-info-bg);
        border-color: var(--state-info-border);
    }
}

tim-alert {
    display: block;
    margin-bottom: 1em;
}

.timMessageDisplay {
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 8px 8px 8px;
    background-color: var(--basic-color-inverse);

    .fullMessageContent, .cutMessageContent {
        text-align: justify;
        text-justify: auto;
        margin-bottom: 4px;
    }

    p {
        margin-bottom: 4px;
    }

    .messageHeading {
        font-weight: bold;
    }

    .replyArea {
        padding-top: 5px;

        textarea {
            width: 500px;
            display: block;
        }

        .timButton {
            margin-right: 5px;
        }

        .sent {
            margin-top: 5px;
        }
    }

    .readReceiptArea {
        margin-top: 5px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "checkbox link button";
        column-gap: 1em;
        align-items: center;

        .mark-as-read {
            grid-area: checkbox;
        }

        .readReceiptLink {
            grid-area: link;
            font-size: 0.8em;
        }

        .hide-message {
            grid-area: button;
        }
    }
}