tim-datetime-picker {
  display: inline-block;
  width: 50%;
  float: right;
}

input[type='checkbox'], input[type='radio'] {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

label {
  font-weight: normal;
}

#optionsButton {
  margin-bottom: 10px;
}