tim-datetime-picker {
  display: inline-block;
  width: 50%;
  float: right;
}

.tableEmail {
  display: flex;
  flex-direction: column;
}

tim-close-button {
  align-self: flex-end;
}

.message-info {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 1em 0.5em;
  align-items: baseline;
}

textarea {
  width: 100%;
  resize: vertical;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

input[type='checkbox'], input[type='radio'] {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

label {
  font-weight: normal;
}

.send-as-label {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  & span {
    margin-right: 0.5em;
  }
}

.extra-options {
  cursor: pointer;
  font-weight: bold;

  & .glyphicon {
    margin-right: 0.5em;
  }
}

.tim-message {
  padding-left: 40px;
}

#optionsButton {
  margin-bottom: 10px;
}

.cb-collection {
  display: flex;
  flex-direction: column;
  margin-left: 1em;

  & > div {
    display: flex;

    & > label {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }
  }
}

.top-space {
  margin-top: 1em;
}

.page-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  & .pages-label label {
    margin-right: 0.5em;
  }
}

.message-expiration {
  align-items: center;

  & label {
    margin-left: 0 !important;
  }
}