.velpSummary {
  /*  position: fixed;
    max-width: 20em;*/
    word-wrap: break-word;
    /*right: 0;*/
    top: 50px;
    /*border: 1px solid gainsboro;
    background: white;
    z-index: 100000;
    overflow-y: auto;
    padding: 0.5em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;*/
    min-width: 100%;
}

.velpSummary table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    width: 98%;
  /*  border: 1px solid gainsboro;*/
}

.velpSummary h5 {
    margin-top: 2rem;
}

.summSecColumn {
    border-left: 0;
}

.summThirdColumn {
    text-align: center;
}

/* TODO remove media queries once component has been converted to Angular */
.velp-summary-autoscroll {
    max-height: 36em;
    overflow-y: auto;

    @media screen and (max-height: 1080px) {
        max-height: 24em;
    }

    @media screen and (max-height: 800px) {
        max-height: 20em;
    }
}