.folder-links {
  padding-top: 0.25em;

  & > a:not(:last-child):after {
    content: " | ";
  }
}

input#min-relevance-selector {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

.text-italic {
    font-style: italic;
}

.small-note {
  font-size: x-small;
  margin-top: 0.5em;
  margin-bottom: 0;
}