.plugintextfield answerbrowser {
    display: none;
}

textfield-runner .stem {
    text-align: center;
    height: 6px;
}

.plugintextfield .answerBrowserPlaceholder {
    display: none;
}

.hidepre {
    display: none;
}