.plugintextfield answerbrowser {
    display: none;
}

textfield-runner .stem {
    text-align: left;
    height: 6px;
}

.plugintextfield .answerBrowserPlaceholder {
    display: none;
}

.warnFrame {
    border-right-color: red;
    border-right-width: thick;
}

input:focus.warnFrame {
    border-right-color: red !important;
}

[data-plugin="/textfield"] {
    opacity: 1 !important;
}
