<button class="showMap" onclick="showMap(this)" data-toggle="false">Show map</button>
<!--<label class="showMap no-popup-menu">Show map <input type="checkbox"  onclick="showMap(this)" data-toggle="false"></input></label>-->

<script>
    function showMap(button) {
        var map = $(".mapContainer")[0];
        var ui = $(".uiContainer")[0];

        if (button.getAttribute("data-toggle") === "false") {
            button.setAttribute("data-toggle", "true");
            map.setAttribute("style", "z-index: 0; position: relative;");
            ui.setAttribute("style", "");

        } else {
            button.setAttribute("data-toggle", "false");
            map.setAttribute("style", "z-index: 0; display: none; position: relative;");
            ui.setAttribute("style", "display: none;");
        }
    }

</script>

<div class="uiContainer" style="display: none;">
    <!--<button type="checkbox" class="showFrames">Goals</button>-->
    <table>
    <tr><td>Goals <input type="checkbox" class="showFrames"></input></td></tr>
    <tr><td>Zoom </td><td><input type="range" class="mapZoom" /></td></tr>
    <tr><td>Goal Transparency</td><td><input type="range" class="alphaRange" /></td></tr>
    </table>
</div>

<div class="mapContainer" data-mapdata='{{ gamified_data|tojson }}'> </div>

<br>


