<!--html for upper menu-->
{% macro lecbtn(icon, title, action, condition='') -%}
    <button class="timButton btn-lg"
            ng-click="{{ action }}" title="{{ title }}" ng-show="{{ condition }}">
        <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></span>
    </button>
{%- endmacro %}
<div ng-cloak class="menuSection" ng-show="lctrl.lectureSettings.inLecture || lctrl.lectureSettings.lectureMode">
    <div id="largeMenu">
        <div class="lectureSection" ng-show="!lctrl.lectureSettings.inLecture">
            <h1>Now:</h1>
            <div ng-show="lctrl.lectures.length > 0" class="lectureArea">
                <select ng-change="lctrl.clearChange()" ng-model="lctrl.chosenLecture"
                        ng-options="lecture.lecture_code for lecture in lctrl.lectures">
                </select>
                {{ lecbtn('log-in', 'Join the lecture', 'lctrl.joinLecture(lctrl.chosenLecture.lecture_code, lctrl.chosenLecture.is_access_code)', 'lctrl.lectureSettings') }}
                {{ lecbtn('edit', 'Edit this lecture', 'lctrl.editLecture(lctrl.chosenLecture.lecture_id)', 'lctrl.isLecturer') }}
                {{ lecbtn('plus-sign', 'Add new lecture', 'lctrl.toggleLecture()', 'lctrl.isLecturer') }}
            </div>
            <div ng-show="lctrl.lectures.length <= 0">
                <p>No running lectures</p>
                {{ lecbtn('plus-sign', 'Add new lecture', 'lctrl.toggleLecture()', 'lctrl.isLecturer') }}
            </div>
        </div>
        <div class="lectureSection" ng-show="lctrl.lectureSettings.inLecture">
            <h1 ng-bind="lctrl.lecture.lecture_code"></h1>
            {% raw %}
            <p>Started: {{ lctrl.lecture.start_time | timdate }}</p>

            <p>Ends: {{ lctrl.lecture.end_time | timdate }}</p>
            {% endraw %}
            <div id="inLectureIconSection">
                {{ lecbtn('log-out', 'Leave this lecture', 'lctrl.leaveLecture()', 'lctrl.lectureSettings.inLecture') }}
                {{ lecbtn('stop', 'End this lecture', 'lctrl.endLecture()', 'lctrl.canStop') }}
                {{ lecbtn('edit', 'Edit this lecture', 'lctrl.editLecture(lctrl.lecture.lecture_id)', 'lctrl.canStop') }}
            </div>
        </div>

        <div class="lectureSection" ng-show="!lctrl.lectureSettings.inLecture">
            <h1>Later:</h1>

            <div class="lectureArea">
                <p ng-show="lctrl.futureLectures.length <= 0">No upcoming lectures</p>

                <div ng-show="lctrl.futureLectures.length > 0">
                    <select ng-model="lctrl.futureLecture"
                            ng-options="lecture.lecture_code + ' ' + (lecture.start_time | timdate) for lecture in lctrl.futureLectures">
                    </select>
                </div>
                <div class="iconSection" ng-show="lctrl.futureLectures.length > 0">
                    {{ lecbtn('play', 'Start lecture now', 'lctrl.startFutureLecture()', 'lctrl.isLecturer') }}
                    {{ lecbtn('edit', 'Edit this lecture', 'lctrl.editLecture(lctrl.futureLecture.lecture_id)', 'lctrl.isLecturer') }}
                </div>
            </div>
        </div>
    </div>
    <tim-small-menu></tim-small-menu>
</div>
{% raw %}
    <div class="wall-behind" save="wall" id="wall" ng-show="lctrl.lectureSettings.useWall && lctrl.lectureSettings.inLecture" ng-cloak
         tim-draggable-fixed close="lctrl.changeUsingWall(false)"
         caption="{{ lctrl.wallName }}">
        <tim-lecture-wall
                lecture-id="lctrl.lecture.lecture_id"
                messages="lctrl.wallMessages">
        </tim-lecture-wall>
    </div>
{% endraw %}
    <!--<pop-up-dialog show="lctrl.showAnswerWindow" caption="questionTitle" class="answerWindow">-->
        <!--<ng-include-->
                <!--src="'{{ url_for('static', filename='templates/answerToQuestion.html') }}'"></ng-include>-->
    <!--</pop-up-dialog>-->

    <!--<pop-up-dialog show="lctrl.showQuestionPreview" caption="'Question preview: ' + questionTitle">-->
        <!--<ng-include-->
                <!--src="'{{ url_for('static', filename='templates/questionPreview.html') }}'"></ng-include>-->
    <!--</pop-up-dialog>-->
    <!--<pop-up-dialog show='lctrl.questionShown' caption="'Create question'">-->
        <!--<div>-->
            <!--<ng-include src="'{{ url_for('static', filename='templates/question.html') }}'"></ng-include>-->
        <!--</div>-->
    <!--</pop-up-dialog>-->

    <!--<div ng-cloak save="chartAnswers" class="userFixed chartAnswers"   tim-draggable-fixed="" resize="true" broadcastmsg="resizeElement"  ng-show="lctrl.showStudentAnswers" caption="Statistics">-->
        <!--<ng-include-->
                <!--src="'{{ url_for('static', filename='templates/showStatisticsToQuestion.html') }}'"></ng-include>-->
    <!--</div>-->
