<tim-sidebar-menu ng-cloak>
    <div ng-init="$ctrl = $parent.$ctrl">
        <div class="btn btn-default btn-sm pull-left" ng-click="$ctrl.showSidebar()" title="Show menu">
            <i class="glyphicon glyphicon-menu-hamburger" title="Click to open sidebar-menu"></i>
        </div>
        <uib-tabset id="menuTabs" active="$ctrl.active" class="hidden-sm hidden-xs">
            {% if not hide_links %}
            <uib-tab index="6" select="$ctrl.bookmarkTabSelected(true)"
                     deselect="$ctrl.bookmarkTabSelected(false)"
                     ng-show="$ctrl.users.isLoggedIn()">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-bookmark"></i>
                </uib-tab-heading>
                <h5>Bookmarks</h5>
                <bookmarks data="$ctrl.bookmarks"></bookmarks>
            </uib-tab>

            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-cog"></i>
                </uib-tab-heading>
                <h5>Customize</h5>
                <a href="/settings">Customize TIM</a>
                {% if route and item.rights.manage %}
                <h5>Document settings</h5>
                <button class="timButton btn btn-block" ng-click="$ctrl.vctrl.editingHandler.editSettingsPars()">Edit settings</button>
                {% else %}
                    <br />
                {% endif %}
                <div ng-show="$ctrl.lctrl.lectureSettings.inLecture">
                    <h5>Lecture settings</h5>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.lctrl.lectureSettings.useWall"> Show wall
                        </label>
                    </div>
                    <div ng-show="!isLecturer" class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.lctrl.lectureSettings.useQuestions"> Show questions
                        </label>
                    </div>
                    <div ng-show="$ctrl.lctrl.isLecturer" class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.lctrl.lectureSettings.useAnswers"> Show answers
                        </label>
                    </div>
                    <div ng-show="$ctrl.lctrl.isLecturer" class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.lctrl.lectureSettings.useNotPollingDialog"> Show 'not
                            polling' dialog
                        </label>
                    </div>
                </div>
                <!-- TODO: check rights -->
                <div ng-show="$ctrl.vctrl.item && !$ctrl.vctrl.item.isFolder">
                    <h5 style="display: inline-block">Print document</h5>
                    <a style="display: inline-block" href="https://tim.jyu.fi/view/tim/ohjeita/tulostusohje">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                    <button class="timButton btn btn-block"  title="Print using LaTeX => best quality" ng-click="$ctrl.printDocument()">Print document</button>
                    <br>
                    <button class="timButton btn btn-block" title="Print using Browser own printing capabilities" ng-click="$ctrl.cssPrint()">Browser print</button>
                    <br>
                    <h5 style="display: inline-block">Document tags</h5>
                    <button class="timButton btn btn-block" title="" ng-click="$ctrl.addTag()">Edit tags</button>
                    <br>
                    <h5 style="display: inline-block" ng-show="$ctrl.isMinutesOrInvitation()">Memos/Minutes</h5>
                    <button class="timButton btn btn-block" ng-show="$ctrl.enableCreateExtractsButton()" ng-click="$ctrl.createMinuteExtracts()">Create extracts</button>
                    <button class="timButton btn btn-block" ng-show="$ctrl.enableCreateMinutesButton()" ng-click="$ctrl.createMinutes()">Create minutes</button>
                    <br>
                    <button class="timButton btn btn-block" ng-show="$ctrl.isMinutesOrInvitation()" ng-click="$ctrl.stampPdf()">Stamp attachments</button>
                    <br>
                    <button class="timButton btn btn-block" ng-show="$ctrl.isMinutesOrInvitation()" ng-click="$ctrl.mergePdf()">Merge attachments</button>
                    <br>
                </div>

            </uib-tab>
            {% endif %}

            {% if headers %}
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-book"></i>
                </uib-tab-heading>
                <h5>Index <a href="#" title="Go to top" class="pull-right">Go to top</a></h5>
                {% include 'partials/content.html' %}
            </uib-tab>
            {% endif %}

            {% if not hide_links %}
            <uib-tab index="2" ng-show="$ctrl.lctrl.lectureSettings.lectureMode" select="$ctrl.toggleLectures()">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-education"></i>
                </uib-tab-heading>
                {% raw %}
                <h5>Current Lectures</h5>
                <ul>
                    <li ng-repeat="lecture in $ctrl.currentLecturesList">
                        <a href="/showLectureInfo/{{ lecture.lecture_id }}">{{ lecture.lecture_code }}</a>
                        <button class="timButton btn-xs" ng-if="$ctrl.lctrl.lecture.lecture_id != lecture.lecture_id"
                                value="Join"
                                ng-click="$ctrl.lctrl.joinLecture(lecture)">Join
                        </button>
                    </li>
                    <li ng-show="$ctrl.currentLecturesList.length == 0"><p>No current lectures</p></li>
                </ul>
                <h5>Coming Lectures</h5>
                <ul>
                    <li ng-repeat="lecture in $ctrl.futureLecturesList">
                        <a href="/showLectureInfo/{{ lecture.lecture_id }}">{{ lecture.lecture_code }}</a>
                    </li>
                    <li ng-show="$ctrl.futureLecturesList.length == 0"><p>No coming lectures</p></li>
                </ul>
                <h5>Past Lectures</h5>
                <ul>
                    <li ng-repeat="lecture in $ctrl.pastLecturesList">
                        <a href="/showLectureInfo/{{ lecture.lecture_id }}">{{ lecture.lecture_code }}</a>
                    </li>
                    <li ng-show="$ctrl.pastLecturesList.length == 0"><p>No past lectures</p></li>
                </ul>
                {% endraw %}
            </uib-tab>

            <uib-tab index="4" ng-show="$ctrl.lctrl.lectureSettings.inLecture && !$ctrl.lctrl.isLecturer"
                     select="$ctrl.lctrl.getQuestionManually()">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-question-sign"></i>
                </uib-tab-heading>
                Loading question manually...
            </uib-tab>

            <uib-tab index="5" ng-show="$ctrl.lctrl.isLecturer && $ctrl.lctrl.lectureSettings.inLecture">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-user"></i>
                </uib-tab-heading>
                <h5>People logged-in: <span
                        ng-bind="$ctrl.lctrl.lecturerTable.length + $ctrl.lctrl.studentTable.length">None</span></h5>
                {% raw %}
                <h5>Lecturers (<span ng-bind="$ctrl.lctrl.lecturerTable.length">None</span>)</h5>
                <ul>
                    <li ng-repeat="lecturer in $ctrl.lctrl.lecturerTable">
                        {{ lecturer.user.name }} > {{ lecturer.active | timreldate }}
                    </li>
                </ul>
                <h5>Students (<span ng-bind="$ctrl.lctrl.studentTable.length">None</span>)</h5>
                <p ng-show="$ctrl.lctrl.lecturerTable.length == 0">No lecturers</p>
                <ul>
                    <li ng-repeat="person in $ctrl.lctrl.studentTable track by $index">
                        {{ person.user.name }} > {{ person.active | timreldate }}
                    </li>
                </ul>
                <p ng-show="$ctrl.lctrl.studentTable.length == 0">No students</p>
                {% endraw %}
            </uib-tab>
            {% endif %}
        </uib-tabset>
    </div>
</tim-sidebar-menu>
