feedback-runner {
    margin-bottom: 15px;
    display: block;
}

.pluginfeedback .answerBrowserPlaceholder {
    display: none;
}

.fbanswer {
    display: table;
}

.task {
    border-color: #33CCCC;
    border-style: solid;
    border-radius: 10px;
    padding: 50px;
    min-height: 30vh;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pluginfeedback button {
    display: block;
    /* margin-top: 2em; */
    margin-left: auto;
    margin-right: 130px;
}