.points-list {
    padding-top: 1em;

    h5 {
        margin-bottom: 2em;
    }

    .collapse-header {
        padding-bottom: 1em;

        * {
            display: inline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .points-header {
        margin-bottom: 0.3em;

        > p {
            display: inline;
            font-weight: 600;
            font-size: 0.8em;
            margin-bottom: 0px;
        }
    }

    .score-list {
        margin-bottom: 0;
        padding-left: 0px;

        li {
            padding-bottom: 0.7em;
            padding-top: 0.7em;
            list-style: none;

            &.task {
                display: flex;
                flex-wrap: wrap;
            }

            p {
                margin-bottom: 0;
                text-align: right;
                font-weight: 600;

            }

            a {
                margin-right: 0.3em;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .point-total {
        text-align: right;
        font-weight: 600;
        padding-bottom: 0.7em;
        padding-top: 0.7em;
        margin-bottom: 0px;
    }

    .no-bottom {
        border-bottom: none;
    }
}
