@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@media (max-width: $screen-xs-max) {
  .jyu-logo {
    display: none;
  }

  .button-search > span {
    display: none;
  }
}

.collapse-view-header {
  margin-bottom: 20px;
}

.view-toggle {
  display: flex;
  margin-left: 0.5em;
  align-items: center;
  flex-wrap: nowrap;
  user-select: none;

  i {
    margin-left: 0.25em;
    font-size: 0.7em;
  }

  &:hover {
    text-decoration: none;
  }
}