.validation-error {
  color: red;
  margin-top: 0.5em;
}

.pseudo-info {
  margin-top: 0.5em;
}

.pseudonym-input {
  margin-top: 0.5em;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-7 {
  padding-top: 7px;
}

.fit-width {
  width: fit-content;
}