# We can ignore all files because we don't need them when building the image.
__pycache__/
modules/
routes/
static/
templates/
tim_files/
tim_dev/
test_files/
timdb/
*.py
*.txt
*.sh
*.md
*.sql
*.log
*.orig
*.markdown
