# Updated on 2022-05-07

# Install tools
wheel
setuptools

# Packages needed by TIM
attrs
authlib==1.0.0rc1
autopep8
beautifulsoup4
bcrypt
bleach
celery[redis]==4.4
cffi
cssselect
docformatter
filelock
flask
flask-apispec
flask-assets
flask-caching
flask-compress
flask-migrate
flask-oidc
flask-openid
flask-sqlalchemy
flask-testing
flask-wtf
gevent
git+https://github.com/miracle2k/webassets.git
gunicorn
html5lib
httpagentparser
humanize
isodate
langcodes[data]
libsass
lxml
mailmanclient
marshmallow
marshmallow-enum
marshmallow_union
mmh3
pandocfilters
pillow
psycogreen
psycopg2-binary
pyaml
pylatex
pypandoc
python-dateutil
python-magic
python3-saml
pytz
recommonmark
responses
selenium
sphinx
sqlalchemy<1.4.0
sqlalchemy-utils
typing-inspect
voikko
wand
webargs==5.5

# Default packges
requests
six