:host {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #CCC;

    &.timButton {
      background: #AAA;
    }
  }

  & .load-text {
    padding-left: 0.6em;
    padding-right: 0.6em;

    & > span {
      padding-left: 0.3em;
    }
  }
}
