:host {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.info {
    border: 1px solid #0535d4;
    background-color: #b8bfe8;
    text-align: left;
}

a {
  &:not(:last-child) {
    margin-right: 0.6em;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #CCC;

    &.timButton {
      background: #AAA;
    }
  }
}

.load-text {
  user-select: none;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  & > span {
    padding-left: 0.3em;
  }

  & tim-loading {
    // On some browsers spin glyphicons can wobble
    // Setting their size to a multiple of 14px seems to help:
    // https://github.com/FortAwesome/Font-Awesome/issues/671#issuecomment-338336059
    font-size: 14px;
  }
}
