.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #20202020;
    backdrop-filter: blur(7px);
    pointer-events: all;
}

.content {
    white-space: pre;
}
