.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: black;
    opacity: 0.5;
    pointer-events: all;
}

.content {
    white-space: pre;
    text-wrap-mode: wrap;
}

textarea {
    resize: vertical;
    height: 10em;
}

tim-loading {
    margin-right: 1em;
}