h4 {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--basic-color);
  color: #FFF;
  font-family: "Helvetica", Arial, sans-serif;
}
