div.alert {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: auto;
  align-items: baseline;
  column-gap: 0.5em;
}

i.glyphicon-remove {
  margin-left: 1em;
}