:host {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  user-select: none;
}

span.lowTime {
  font-size: 1em;
  line-height: 1.8em;
  animation-name: low-time-anim;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

span.lowTimeWarning {
  margin-top: 2px;
  margin-bottom: 0;
  padding: 3px;
}

@keyframes low-time-anim {
  from { background-color: grey; }
  to { background-color: red; }
}