.viewer-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 30px 200px #0000cc38, 0 0 20px #0F0C0020;
  padding: 1em;
  border-radius: 1em;
  margin: 2em 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.user_badges, .users_group_badges {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.badge-card {
  flex: 0 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 20px 0 20px;
}

.badge-card tim-badge {
  transform: scale(clamp(0.4, 1, 1));
  transition: transform 0.2s ease-in-out;
}

.badge-card tim-badge:hover {
  transform: scale(1);
  z-index: 2;
}

.user_badges::after {
  content: "";
  flex-grow: 9999;
  min-width: 70px;
}

@media (max-width: 785px) {
  .badge-card {
    margin: 0 10px 0 10px;
  }
  .user_badges, .users_group_badges {
    gap: 2px;
  }
  .badge-card tim-badge {
    transform: scale(clamp(0.5, 0.7, 0.7));
  }
}

@media (max-width: 550px) {
  .user_badges, .users_group_badges {
    gap: 0;
  }
  .badge-card {
    margin: -10px 5px -10px 5px;
  }
  .badge-card tim-badge {
    transform: scale(clamp(0.4, 0.6, 0.6));
  }
  .badge-card tim-badge:hover {
    transform: scale(0.9);
  }
}
