.material-symbols-outlined {
    font-size: 52px;
    position: relative;
    margin-top: 10px;
    text-align: center;
    color: gray;
    margin-left: -6px;
    z-index: 1;
}

.first .material-symbols-outlined {
  color: orange;
}

.second .material-symbols-outlined {
  color: silver;
}

.third .material-symbols-outlined {
  color: burlywood;
}

.fourth .material-symbols-outlined {
  color: #808080;
}

.fifth .material-symbols-outlined {
  color: #d3d3d3;
}

.nimi {
  color: red;
  font-weight: bold;
}

.viewer-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 30px 200px #0000cc38, 0 0 20px #0F0C0020;
  padding: 1em;
  border-radius: 1em;
  margin: 2em 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.leaderboard {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  padding-top: 32px;
}

.position {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .trophy {
    width: 90px; /* Keskikokoiset näytöt, kuten tabletit tai kapeat selainikkunat */
  }
}

/* Erittäin pienille näytöille */
@media (max-width: 320px) {
  .trophy {
    width: clamp(50px, 20vw, 119px); /* Voit nostaa suhteellista osuutta (vw) pienentämään elementtiä */
    margin: 0 3px 10px; /* Vähennä vaakasuuntaista marginaalia */
    padding: 8px;      /* Pienempi padding */
  }
}

.trophy {
  box-sizing: border-box;
  width: clamp(75px, 15vw, 119px);
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  transition: height 0.3s ease;
}

.first .trophy {
  background: gold;
  height: 300px;
}

.second .trophy {
  background: silver;
  height: 250px;
}

.third .trophy {
  background: #cd7f32;
  height: 200px;
}

.fourth .trophy {
  background: #808080;
  height: 150px;
}

.fifth .trophy {
  background: #d3d3d3;
  height: 110px;
}

.team {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.badge-count {
  font-size: 16px;
  color: #555;
}
