.viewer-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 30px 200px #0000cc38, 0 0 20px #0F0C0020;
  padding: 1em;
  border-radius: 1em;
  margin: 2em 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.user_badges {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  align-items: center;
  padding: 1.5em 0;
}

.badge-card {
  width: 150px; /* Aseta kortin koko */
  height: 150px; /* Aseta kortin korkeus */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.badge-card tim-badge {
  max-width: 100%;
  max-height: 100%;
}

