.fieldCell textfield-runner h4,
.fieldCell numericfield-runner h4,
.fieldCell cbfield-runner .h4,
.fieldCell rbfield-runner .h4,
.fieldCell dropdown-runner .h4 {
    font-size: small;
    background-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #b4b4b4;
    line-height: 1.5em;
    margin: 0;
}

.fieldCell textfield-runner .stem,
.fieldCell numericfield-runner .stem,
.fieldCell cbfield-runner .stem,
.fieldCell rbfield-runner .stem,
.fieldCell dropdown-runner .stem {
    font-size: 0.7em;
    background-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #b4b4b4;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    font-weight: 600;
    margin: 0;
}

.fieldCell .textfieldNoSaveDiv,
.fieldCell .numericfieldNoSaveDiv {
    text-align:center;
}

.fieldCell textfield-runner input,
.fieldCell numericfield-runner input {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}

.fieldCell .plaintext {
    display: inline-block;
}

.fieldCell tim-plugin-loader {
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b4b4;
    margin-right: -1px;
    display: inline-block;
    max-width: 100%;
}

.singleLine {
    white-space: nowrap;
}

.plaintextFrame {
    border: none;
    box-shadow: none;
}

.inlineplugin label {
    font-weight: unset;
    margin-left: 2px;
}

.inlineplugin input {
    padding: 0 0 0 2px;
}

.inlineplugin textarea {
    padding: 2px 0 0 2px;
    overflow:hidden;
    height: auto;
}
