// Font used by MathQuill
@import 'static/scripts/vendor/mathquill/fonts/Symbola';
:host ::ng-deep {
    // MathQuill elements are added dynamically, so Angular CLI cannot find them at compile-time.
    // We need to import them via ::ng-deep.
    @import 'static/scripts/vendor/mathquill/mathquill';
}

.mq-editable-field {
    width: 100%;
}
.math-editor-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
