iframe.lti {
    width: 100%;
    height: 500px;
}

form.lti {
    display: none;
}

div.lti button {
    margin-left: 5px;
    margin-right: 5px;
}

.lti-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 10px;
}

.lti-text > p.login-text {
    color: rgb(122, 122, 122);
    margin: 10px;
}
