@import url('node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss');

// Hide when a viewport has no margin.
@media(max-width: $screen-xs-max) {
  visibility: hidden;
}

// Align to the right.
:host {
  float: right;
}

// Remove focus effect from the button.
:focus {
  outline: none;
}
