.scroll-box {
  height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 3vh
}

.chat-bot {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  color: #EB541C
}

.chat-user{
  color: #3DBDB5
}

.chattim-dialog-frame .modal-dialog {
  min-width: 35vh;
  min-height: 32vh;
}
