/* app css stylesheet */
.phraseMenu {
    margin-top: 1.75em;
}

.phraseMenu .nav-tabs {
    margin-left: 0;
    margin-top: 1em;
}

.phraseMenu .nav-tabs > li.active > a {
    color: white;
    font-size: 0.8em;
    background-color: #3cc;
    border: 1px solid #B7B7B7;
    border-bottom: none;
    padding: 0.5em 1em;
}

.phraseMenu .nav-tabs > li > a {
    color: #333;
    font-size: 0.8em;
    background-color: #F6F6F6;
    border: 1px solid #B7B7B7;
    border-bottom: none;
    padding: 0.5em 1em;
}

.tag-true, .tag-false {
    font-size: 0.85em;
    margin: 0.25em;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
}

.tag-true {
    border-bottom: solid 4px darkblue;
}

.phrase {
    font-size: 0.85em;
    line-height: 1.75em;
    margin: 0.25em;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
    background-color: #ececec;
    color: black;
    max-width: 100%;
    white-space: normal;
    text-align: left;
}

/* Marking styles */
.marking {
    cursor: pointer;
}

.marking.positive {
    background: palegreen;
}

.marking.neutral {
    background: khaki;
}

.marking.negative {
    background: lightpink;
}


.clickable {
    cursor: pointer;
    color: darkblue;
}

.clickable:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* Table styles */
.phraseTable {
    width: 100%;
   /* max-width: 700px;*/
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #B7B7B7;
    margin-left: 0;
    border-collapse: separate;
   /* padding: 20px;
    -moz-border-radius: 10px;*/
}
.phraseTable input {
    border: 1px solid #B7B7B7;
}
.phraseTable input[type="submit"] {
    border: none;
}
.phraseTable td{
    border: 0;
    margin: 0;
    padding: 4px;/*0 0 0.5em 0;*/
    /*max-width: 900px;*/
}
/*
.phraseTable label[for="newLabel"]{
    margin-top: 7px;
}*/

.zero {
    background-color: #FFCC00;
}

.positive {
    background-color: green;
}

.negative {
    background-color: red;
}
/*
.reviewPreview {
    max-width: 100%;
}*/
.pointsPhrase {
    margin-top: 30px;
   /* margin-right: 0;
    max-width: 20%;
    float: right;*/
    border-radius: 10px;
    border: #000000 solid 1px;
    padding: 4px;
    color: blue;
    white-space: normal;
    text-align: left;
}

.phraseTable input[type="submit"] {
    margin: 6px;
}

