/* app css stylesheet */

.phraseMenu {
    margin-top: 1.75em;
    float: left;
}

.phraseMenu .nav-tabs {
    margin-left: 0;
    margin-top: 1em;
}

.phraseMenu .nav-tabs > li.active > a {
    color: white;
    font-size: 0.8em;
    background-color: #3cc;
    border: 1px solid #B7B7B7;
    border-bottom: none;
    padding: 0.5em 1em;
}

.phraseMenu .nav-tabs > li > a {
    color: #333;
    font-size: 0.8em;
    background-color: #F6F6F6;
    border: 1px solid #B7B7B7;
    border-bottom: none;
    padding: 0.5em 1em;
}

.tag-true, .tag-false {
    font-size: 0.85em;
    margin: 0.25em;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
}

.tag-true {
    border-bottom: solid 4px darkblue;
}


.velp {
    position: relative;
    font-size: 0.85em;
    line-height: 1.25em;
    font-weight: 600;
    cursor: pointer;
    width: 98%;
    border-bottom: solid grey 2px;
    margin: 0 1%;
    padding: 0.5em;
}

.velp:hover .emphasise{
    opacity:1;
}

.velp .emphasise{
    position: absolute;
    opacity: 0.7;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: gainsboro;

    /*
    -webkit-box-shadow: inset 2px -27px 32px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 2px -27px 32px 8px rgba(0,0,0,0.08);
    box-shadow: inset 2px -27px 32px 8px rgba(0,0,0,0.08);
    */
}
.velp .content{
    position: relative;
    z-index: 1;
}

.velp .content .right{
    float: right;
}

.velp .content .left{
    float: left;
}

/* Velp info and PopOver styles */
.velpInfo {
    float: left;
    border: 0;
}

.velpInfo input.points{
    background: transparent;
    border: 0;
    width: 50px;
}

.velp-content{
    padding: 0.5em 0.25em;
}

.velp-bg {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.velpInfo textarea{
    background-color: transparent;
    border: none;
}

.velpInfo-parent-draggable{

}

.popover h3, .popover p, .popover-content{
    margin: 0;
}

.popover-content{
    padding: 0;
}

.popover {
    border: 0;
    margin: 0;
    padding: 0;
}

.popover.top>.arrow:after {
    border-top-color: lightpink;
}

/* Marking styles */
.marking {
    cursor: pointer;
}


.emphasise.positive {
    background: palegreen;
}

.emphasise.neutral {
    background: khaki;
}

.emphasise.negative {
    background: lightpink;
}

.clickable {
    cursor: pointer;
    color: darkblue;
}

.clickable:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.velpArea {
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #B7B7B7;
    float:left;
}

/* needs media queries */
.velpArea .stack{
    width: 49%;
    margin-right: 1%;
    float: left;
}

/* Table styles */
.phraseTable {
    table-layout: fixed;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: separate;
}
.phraseTable input {
    border: 1px solid #B7B7B7;
}
.phraseTable input[type="submit"] {
    border: none;
}
.phraseTable td{
    border: 0;
    margin: 0;
    padding: 4px;
    width: 10em;
    white-space: normal;
}

/*
.phraseTable label {
    float: left;
}*/

/*
.reviewPreview {
    max-width: 100%;
}*/
.pointsPhrase {
    margin-top: 30px;
   /* margin-right: 0;
    max-width: 20%;
    float: right;*/
    border-radius: 10px;
    border: #000000 solid 1px;
    padding: 4px;
    color: blue;
    white-space: normal;
    text-align: left;
}

.phraseTable input[type="submit"] {
    margin: 6px;
}

.velp.stack