.pop-up-overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.2;
}

.pop-up-dialog {
    max-height: calc(100% - 100px);
    max-width: calc(100% - 100px);
    overflow: auto;
    z-index: 6;
    position: fixed;
    top: 25%;
    right: 25%;

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.pop-up-dialog-content {
    padding: 10px;
    text-align: center;
}