table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
    background: white;
    padding: 0;
    margin: 0;
}

th {
    background: steelblue;
    height: 54px;
    width: 25%;
    color: #000000;
    border: 1px solid #38678f;
    transition: all 0.2s;
}

#buttons {
    border: none;
    background-color: inherit;
}

.negative {
    background: #c12e2a;
}

tr {
}

td {
    border-right: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
}

td.selected {
    background: #d7e4ef;
}

.questions {
    display: inline-flex;
    float: left;
    margin-left: 2em;
    position: absolute;
}

.wall-behind {
	border: 1px solid #3cc;
    border-radius: 10px;
    width: 20em;
    z-index: 6;
    position: fixed;
    top: 5%;
    right: 5%;
    border-style: outset;
    min-width: 20em;
    /*background-color: #3cc;*/
}


.wall-base {
    width: 100%;
    height: 100%;
    position: relative;
}

.wall-topbar {
	border: 1px solid #3cc;
    border-radius: 10px;
	background-color: #3cc;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 1.75em;
}

.wall-content {
    height: 99%;
	width: 100%;
	display: inline-block;
}

.wall-message-area {
    height: 100%;
    /*padding-bottom: 2.5em;*/
}

.wall-behind textarea {
    width: 99%;
    height: 90%;
    resize: none;
    font-family: "Arial", Verdana, "Arial", Verdana, sans-serif;
    font-size: 12px;
	min-height: 20px;
    line-height: 1.5;
}

.wall-behind input {
    margin: 3px;
}

#messagebox {
    width: 66%;
    margin: 10px;
}

.wall-buttons {
	border: 1px solid #3cc;
    border-radius: 10px;
	background-color: #3cc;
    position: absolute;
    bottom: 0;
    width: 100%;

}

#detachButton {
    float: right;
    text-align: right;
    background: url("../images/detach.png") no-repeat;

}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.questionAskedWindow {
    z-index: 10;
    background-color: snow;
    width: auto;
    height: auto;
}

.questionAskedWindow h1 {
    margin-top: 0px;
}

.answerSheet {
    min-width: 10em;
    max-width: 100%;
}

.answerSheet table {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: large;
}

.answerSheet label {
    width: 100%;
    height: 100%;
}

.answerSheet h2 {
    text-align: center;
}

#progressLabel {
    text-align: center;
}

.answerSheet th,
.answerSheet td,
.answerSheet tr {
    background-color: #3cc;
}

.show-answer h2 {
    margin-top: 0;
    text-align: center;
}

.chart {
    width: 100%;
    height: 100%;
}