table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
    background: white;
    padding: 0;
    margin: 0;
}

th {
    background: steelblue;
    height: 54px;
    width: 25%;
    color: #000000;
    border: 1px solid #38678f;
    transition: all 0.2s;
}

#buttons {
    border: none;
    background-color:inherit;
}
.negative {
    background: #c12e2a;
}
tr {
}

td {
    border-right: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
}

td.selected {
    background: #d7e4ef;
}

.wall-behind {
    width: 20em;
    z-index: 6;
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-style: outset;

}

.wall-behind textarea {
    max-width: 100%;
    resize: none;
}

.wall-behind input {
    margin: 3px;
}

#messagebox {
    margin: 10px;
}

.wall-topbar {
    width: 100%;
    background-color: #cccccc;
    height: 10%;

}

.wall-topbar-content {
    cursor: pointer;
    text-align: center;
    width: 100%;
    min-width: 20em;
    min-height: 30px;

}

#detachButton {
    background: url("../images/detach.png") no-repeat;

}

#rightWall {
    float: right;
    text-align: right;
}