/* app css stylesheet */
.container{
    padding: 0;
    max-width: 75%;
}

@media (max-width: 768px) {
    .container{
        margin-left: 5%;
    }
}

/** Layout styles **/
.fulldiv {
    width: 100%;
    float: left;
}

.div-90 {
    width: 90%;
    float: left;
}

.div-10 {
    width: 10%;
    float: left;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.delAnnotation {
    margin-top: 8px;
    margin-right: 2px;
}

/** Velp area styles **/
.velpMenu {
    position: fixed;
    max-width: 20em;
    word-wrap: break-word;
    right: 0;
    top: 50px;
    bottom: 0;
    border: 1px solid gainsboro;
    background: white;
    z-index: 1000;
    overflow-y: auto;
    padding: 0.5em;
    border-top-left-radius: 8px;
}

#advView {
    padding-top: 0.5em;
    padding-left: 0.2em;
}

.velpMenu .nav-tabs {
    margin-left: 0;
    margin-top: 1em;
}

.velpMenu .nav-tabs > li.active > a {
    color: white;
    font-size: 0.8em;
    background-color: #3cc;
    border: 1px solid #B7B7B7;
    border-bottom: none;
    padding: 0.5em 1em;
}

.velpMenu .nav-tabs > li > a {
    color: #333;
    font-size: 0.8em;
    background-color: #F6F6F6;
    border: 1px solid #B7B7B7;
    border-bottom: none;
    padding: 0.5em 1em;
}

.velpArea {
    width: 100%;
    margin-bottom: 1em;
    background-color: white;
    border-top: solid 1px gainsboro;
    float:left;
    position: relative;
    top: 0;
    bottom: 0;
}

/* needs media queries */
.velpArea .stack{
    width: 98%;
    height: auto;
    margin: 1em 1%;
    float: left;
    height: 22em;
    position: absolute;
}

/* Table styles */
.velpTable {
    table-layout: fixed;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: separate;
    text-align: left;
}

.velpTable input {
    border: solid 1px gainsboro;
}
.velpTable input[type="submit"] {
    border: none;
    margin: 6px;
}
.velpTable td{
    border: 0;
    margin: 0;
    padding: 4px;
    width: 10em;
    white-space: normal;
}

.tag-true, .tag-false {
    font-size: 0.85em;
    word-wrap: break-word;
    margin: 0.25em;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
    max-width: 98%;
    white-space: normal;
}

.tag-true {
    border-bottom: solid 4px darkblue;
}

.velp {
    position: absolute;
    line-height: 1.25em;
    font-weight: 600;
    cursor: pointer;
    height: 10em;
    width: 18em;
}

.velp:hover .emphasise{
    margin-top: -1em;
    -webkit-box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
    -moz-box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
    box-shadow: 0px -11px 16px -12px rgba(0,0,0,1);
}

.velp .emphasise{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: gainsboro;

-webkit-box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
-moz-box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
box-shadow: 0px -11px 16px -12px rgba(0,0,0,0.5);
}

.velp .edit{
    margin-top: -1em;
    z-index: 10;
}

.velp .content{
    position: relative;
    padding: 0.4em 0.25em;
    z-index: 1;
}

.velp .content .right{
    float: right;
}

.velp .content .left{
    float: left;
}

/* Velp info and PopOver styles */
.velpInfo {
    float: left;
    border: 0;
}

.velpInfo input.points{
    background: transparent;
    border: 0;
    width: 50px;
}

.velp-content{
    padding: 0.5em 0.25em;
}

.velp-bg {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.velpInfo textarea{
    background-color: transparent;
    border: none;
}

/* Annotation styles */

annotation {
    position: relative;
    display: inline;
}

.annotation {
    cursor: pointer;
}

.annotation-info{
    font-size: 1.4rem;
    color: black;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
    width: 18em;
    position: absolute;
    display: inline-block;
    z-index: 1000;
    padding: 0.5em 0.75em;
    top: 1.25em;
    -webkit-box-shadow: 2px 6px 16px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 6px 16px -5px rgba(0,0,0,0.6);
    box-shadow: 2px 6px 16px -5px rgba(0,0,0,0.6);
}

.annotation-info .comments li{
    width: 100%;
    padding: 0.25em;
    font-size: 0.9em;
    margin: 0;
}

.annotation-info ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}

.annotation-info p {
    padding: 0.5em 0;
    margin: 0;
}

.annotation-info input, .annotation-info textarea {
    background: transparent;
}

.annotation-info input[type="number"]{
    width: 4em;
    border: 0;
}

.annotation-info textarea{
    width: 100%;
    font-size: 0.9em;
    resize: vertical;
}

.emphasise.default {
    background: gainsboro;
}

.emphasise.positive {
    background: palegreen;
}

.emphasise.neutral {
    background: khaki;
}

.emphasise.negative {
    background: lightpink;
}

.emphasise.new {
    background: lightskyblue;
}

.clickable-icon {
    cursor: pointer;
    opacity: 0.6;
}

.clickable-icon:hover {
    opacity: 1;
}

.clickable {
    cursor: pointer;
    color: darkblue;
}

.clickable:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/** Editor styles **/
.previewcontent{
    overflow-y:visible;
    max-height: none;
}

#previewDiv{
    overflow: visible;
}
.velpSummary {
  /*  position: fixed;
    max-width: 20em;*/
    word-wrap: break-word;
    /*right: 0;*/
    top: 50px;
    /*border: 1px solid gainsboro;
    background: white;
    z-index: 100000;
    overflow-y: auto;
    padding: 0.5em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;*/
}

#summaryHeader {
    font-size: 1.3em;
    font-weight: bold;
}

.velpSummary table {
    margin-top: 1.3em;
    margin-bottom: 2em;
    margin-left: 0;
    width: 98%;
  /*  border: 1px solid gainsboro;*/
}

.velpSummary table th {
    text-align: center;
}

#summaryColumn {
    text-align: center;
}

#summaryComment {
    font-size: 1.1em;
    font-weight: bold;
}

.velpSummary textarea {
    width: 98%;
    height: 12em;
}

#lowerTextarea {
    margin-top: 0.5em;
    width: 98%;
    height: 5em;
    color: grey;
}

.velpSummary input {
    margin-top: 0.5em;
}