@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@media (max-width: $screen-xs-max) {
  .user-name {
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.user-button {
  display: flex;
  align-items: center;
}


.dropdown-toggle {
  display: flex;
  align-items: center;

  .caret {
    margin-left: auto;

    &.caret-right {
      transform: rotate(270deg);
    }
  }
}


.access-selector .dropdown-item {
  display: flex;
  column-gap: 0.5em;
  align-items: center;

  .glyphicon {
    margin-left: auto;
    font-size: 0.7em;
    color: #333;
  }
}