.badge-creator {
  display: flex;
  flex-direction: column;
  box-shadow: 0 30px 200px #0000cc38, 0 0 20px #0F0C0020;
  padding: 1em;
  border-radius: 1em;
  margin: 2em 0 2em 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

h2 {
  color: black;
  margin-bottom: 1.2em;
}

#badgeForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}


.icon-color-group {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.icon-color-group .form-group {
  flex: 1;  /* Asettaa kentän täyttämään jäljelle jäävän tilan */
  max-width: 50%;  /* Kenttä täyttää 50% leveyksistä */
}

.shape-preview-group {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.shape-preview-group .form-group {
  flex: 1;  /* Asettaa kentän täyttämään jäljelle jäävän tilan */
  max-width: 50%;  /* Kenttä täyttää 50% leveyksistä */
}

label {
  font-weight: 600;
  color: #333;
}

input, select {
  padding: 0.8em;
  border: 1px solid #0F4096;
  border-radius: 0.5em;
  background-color: #f0f4ff;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

textarea {
  padding: 0.8em;
  border: 1px solid #0F4096;
  border-radius: 0.5em;
  background-color: #f0f4ff;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

input:focus, select:focus {
  border-color: #0D357A;
  outline: none;
}

button {
  width: 100%;
  padding: 0.8em;
  border: none;
  border-radius: 0.5em;
  background-color: #0F4096;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0D357A;
}

.preview {
  width: 100%;
  height: 163px;
  border: 2px solid #0F4096;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4ff;
  margin-bottom: 2em;
}

.shape {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  padding: 0.8em;
  border: 1px solid #0F4096;
  border-radius: 0.5em;
  background-color: #f0f4ff;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.shape label {
  margin-right: 10px;
}

.all_badges {
  margin-top: 2em;
}

.all_badges tim-badge {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.all_badges tim-badge:hover {
  transform: scale(1.05);
}

button[type="button"] {
  background-color: #FF5C5C;
  width: 100%;
  padding: 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #D74040;
}

#deleteButton[disabled], #cancelButton[disabled] {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
  opacity: 0.6;
}

.delete-edit {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

#cancelButton {
  background-color: #6c757d;
  color: #fff;
}

#cancelButton[disabled]:hover {
  background-color: #ccc;
}

#cancelButton:hover {
  background-color: #5a6268;
}


.delete-edit .button-group {
  flex: 1;  /* Asettaa kentän täyttämään jäljelle jäävän tilan */
  max-width: 50%;  /* Kenttä täyttää 50% leveyksistä */
}