<div class="badge-creator" [formGroup]="badgeForm">
    <fieldset>
        <h2>Create a new badge:</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="title">Badge title:
                <input type="text" id="title" name="title" formControlName="title">
            </label>
            <label for="description">Badge description:
                <input type="text" id="description" formControlName="description">
            </label>

            <label for="image">Badge icon:
                <select id="image" formControlName="image">
                    <option *ngFor="let image of availableImages" [value]="image">{{ image }}</option>
                </select>
            </label>

            <!-- Colors are selected from the color list -->
            <label for="color">Badge color:
                <select id="color" formControlName="color">
                    <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
                </select>
            </label>

            <label>Badge shape:</label>
            <div class="shape">
              <label *ngFor="let shape of shapes">
                <input type="radio" [id]="shape.value" formControlName="shape" [value]="shape.value" [checked]="shape.value === 'round'"> {{ shape.label }}
              </label><br>
            </div>

            <!--TODO: description -->
            <!--TODO: image attachment -->
        </form>
    </fieldset>
    <div class="preview">
        <fieldset>
            <tim-badge
                *ngIf="badgeForm.value.shape"
                [title]="badgeForm.value.title || ''"
                [color]="badgeForm.value.color || 'yellow'"
                [image]="badgeForm.value.image || 0"
                [description]="badgeForm.value.description || ''"
                [shape]="badgeForm.value.shape || ''">
            </tim-badge>
        </fieldset>
    </div>
    <button (click)="onSubmit()">Create</button>

    <div class="something">
        <fieldset>
            <tim-badge
                *ngIf="newBadge"
                [title]="newBadge.title || ''"
                [color]="newBadge.color || ''"
                [image]="newBadge.image || 0"
                [description]="newBadge.description || ''"
                [shape]="newBadge.shape || ''">
            </tim-badge>
        </fieldset>
    </div>
</div>