<div class="badge-giver">
    <h2>Badge Giver</h2>

    <div class="user-selection">
        <h3>Select a User</h3>
        <select [(ngModel)]="selectedUser">
            <option *ngFor="let user of users" [ngValue]="user" (click)="fetchUserBadges(selectedUser?.id)">{{ user.name }}</option>
        </select>
    </div>
    
    <ng-container *ngIf="userBadges.length > 0">
            <p *ngIf="selectedUser?.name != undefined">{{selectedUser.name}}'s badges</p>
            <div class="user_badges">
                <tim-badge *ngFor="let badge of userBadges"
                           title="{{badge.title}}"
                           color="{{badge.color}}"
                           shape="{{badge.shape}}"
                           [image]="badge.image"
                           description="{{badge.description}}"
                           message="{{badge.message}}"
                           (click)="selectBadge(badge)">
                </tim-badge>
            </div>
        </ng-container>
        <ng-container *ngIf="userBadges.length == 0">
         <p>user has no badges</p>
        </ng-container>


<!--         Delete button, only shown when a badge is selected -->
        <div *ngIf="showDeleteButton">
          <button (click)="removeBadge(selectedBadge?.badgegiven_id)">Delete</button>
        </div>


    <div class="form-group">
        <label for="badge_to_assign">Badge to Assign</label>
        <select id="badge_to_assign" [(ngModel)]="selectedBadge">
            <option *ngFor="let badge of badges" [ngValue]="badge">{{ badge.title }}</option>
        </select>
    </div>

    <!-- Preview of the selected badge -->
    <div *ngIf="selectedBadge" class="badge-preview">
        <h3>Selected Badge Preview</h3>
        <tim-badge *ngIf="selectedBadge"
                   title="{{ selectedBadge!.title  }}"
                   color="{{ selectedBadge!.color }}"
                   shape="{{ selectedBadge!.shape }}"
                   [image]="selectedBadge!.image"
                   description="{{ selectedBadge!.description }}"
                   message="{{ message }}">
        </tim-badge>
    </div>

    <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" rows="3" [(ngModel)]="message" placeholder="Enter a message..."></textarea>
    </div>

    <button id="assignButton" (click)="assignBadge(message)" [disabled]="!selectedUser || !selectedBadge">
        Give Badge
    </button>
        <button (click)="emptyForm()" [disabled]="!selectedUser && !selectedBadge && !message">Cancel</button>
    </div>

