<div class="badge-creator" [formGroup]="badgeForm">
    <fieldset>
        <h2>Create a new badge:</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="title">Badge title:
                <input type="text" id="title" name="title" formControlName="title">
            </label>
            <label for="description">Badge description:
                <input type="text" id="description" formControlName="description">
            </label>

            <label for="image">Badge icon:
                <select id="image" formControlName="image">
                    <option *ngFor="let image of availableImages" [value]="image">{{ image }}</option>
                </select>
            </label>

            <!-- Colors are selected from the color list -->
            <label for="color">Badge color:
                <select id="color" formControlName="color">
                    <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
                </select>
            </label>

            <label>Badge shape:</label>
            <div class="shape">
                <label>
                    <input type="radio" id="circle" formControlName="shape" value="circle" checked> Circle
                </label><br>

                <label>
                    <input type="radio" id="rectangle" formControlName="shape" value="rectangle"> Rectangle
                </label><br>

                <label>
                    <input type="radio" id="triangle" formControlName="shape" value="triangle"> Triangle
                </label><br>
            </div>
            <!--TODO: description -->
            <!--TODO: image attachment -->
            <div *ngIf="editingBadge">
                <button type="button" (click)="deleteBadge()">Delete</button>
            </div>
        </form>
    </fieldset>
    <div class="preview">
        <fieldset>
            <tim-badge
                *ngIf="badgeForm.value.title"
                [title]="badgeForm.value.title || ''"
                [color]="badgeForm.value.color || ''"
                [image]="badgeForm.value.image || 1"
                [description]="badgeForm.value.description || ''"
                [shape]="badgeForm.value.shape || ''">
            </tim-badge>
        </fieldset>
    </div>
    <button type="submit" (click)="editingBadge ? saveBadge() : onSubmit()">
        {{ editingBadge ? 'Save Changes' : 'Create Badge' }}
    </button>
    <div class="all_badges">
        <fieldset>
            <ng-container *ngIf="all_badges.length > 0">
                <tim-badge *ngFor="let badge of all_badges"
                           title="{{badge.title}}"
                           color="{{badge.color}}"
                           shape="{{badge.shape}}"
                           [image]="badge.image"
                           description="{{badge.description}}"
                (click)="editBadge(badge)">
                </tim-badge>
            </ng-container>
        </fieldset>
    </div>
</div>