<div class="badge-giver">
    <h2>Badge Giver</h2>

    <div class="user-selection">
        <h3>Select a User</h3>
        <select [(ngModel)]="selectedUser">
            <option *ngFor="let user of users" [ngValue]="user">{{ user.name }}</option>
        </select>
    </div>
    
    <tim-badge-viewer *ngIf="selectedUser"
            [id]="selectedUser!.id"
            [selectedUserName]="selectedUser!.name">
    </tim-badge-viewer>

    <div class="badge-selection">
        <h3>Select a Badge to Assign</h3>
        <select [(ngModel)]="selectedBadge">
            <option *ngFor="let badge of badges" [ngValue]="badge">{{ badge.title }}</option>
        </select>
    </div>

    <!-- Preview of the selected badge -->
    <div *ngIf="selectedBadge" class="badge-preview">
        <h3>Selected Badge Preview</h3>
        <tim-badge *ngIf="selectedBadge"
                   title="{{ selectedBadge!.title  }}"
                   color="{{ selectedBadge!.color }}"
                   shape="{{ selectedBadge!.shape }}"
                   [image]="selectedBadge!.image"
                   description="{{ selectedBadge!.description }}"
                   message="{{ message }}">
        </tim-badge>
    </div>


    <div class="message-box">
        <h3>Message to Student</h3>
        <textarea [(ngModel)]="message" placeholder="Enter a message..."></textarea>
    </div>

    <button (click)="assignBadge(message)" [disabled]="!selectedUser || !selectedBadge">Give Badge</button>
    <button (click)="emptyForm()" [disabled]="!selectedUser && !selectedBadge && !message">Cancel</button>
</div>