.console {
  font-family: Courier, serif;
  color: #ccc;
  background: #000000;
  border: 3px double #ccc;
  padding: 10px;
  width: 95% !important;
}

p.stem {
  margin-bottom: 1em;
}

.reveal {
  .csRunChanged {
    display: none;
  }

  .csRunMenu {
    font-size: 0.1em;
  }
}

.csRunChanged {
  background-color: rgb(41, 255, 0);
  width: 0.5em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -0.5em;
}

.csRunPre, .csRunPost {
  margin-left: 0;
  border-style: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.1;

}

.csRunError {
  white-space: pre-wrap;
  text-align: left;
}

.csRunPre {
  margin-bottom: 0;
}

.csRunPost {
  margin-top: 0;
}

.csRunCode {
  font-family: Courier, serif;
  margin-left: 2em;
  border-width: 1px;
  padding: 4px;
  margin-right: 0;
  line-height: 1;
  font-size: 1em;
}

.csRunArea {
  font-family: Courier, serif;
  margin: 0;
  border-radius: 0;
  padding: 1px;
  line-height: 1.1;
  font-size: 0.96em;
  box-shadow: none;
  width: 100% !important;
  min-width: 600px !important;
  white-space: pre;
  border: 0 none;
  border-left: thin solid #0066FF;
}

.showVideo {
  display: block;
  margin: 0 auto;
}

.listVideoRunDiv img {
  display: inline-block;
  width: 0.8em;
}

.smallVideoRunDiv img {
  display: inline-block;
  width: 0.8em;
}

.taunoOhje {
  font-size: 0.7em;
  margin-bottom: 1em;
}

.csRunArea:focus {
  border: 1px solid;
  border-radius: 5px;
  width: 100% !important;
}

.csRunMenu {
  margin-top: 0.9em;
}

.csPlugin {
  margin-top: 1em;
}

.pluginHide {
  text-align: right;
}

.pluginShow {
  text-align: right;
}

.unitTestGreen {
  background: #00FF00;
  width: 30%;
  margin-top: 5pt;
  height: 1.5em;
}

.unitTestRed {
  background: #FF7777;
}

.csRunDiv {
  border: solid 1px;
  border-radius: 5px;
  border-color: $csrundiv-color;
  margin: 0.3em 0 0.3em 2em;
  padding-bottom: 0.5em;
  width: calc(100% - 2em - 2px);
}

.csRunDiv h4 {
  margin-top: 0.0em;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  background-color: $csrundiv-color;
  color: #FFF;
  font-family: "Helvetica", Arial, sans-serif;
}

.csRunPre, .csRunPost, .csRunArea {
  margin-left: -1.5em;
  box-shadow: none;
  word-wrap: initial;
}

.stem {
  margin-left: 0.3em;
  margin-right: 0.5em;
}

.csRunMenu {
  margin-left: 0.3em;
}

.csRunMenu button {
  background: $csrunmenu-button-bg-color;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.console {
  margin-left: 0.2em;
}

.csRunMenu link, .csRunMenu :visited {
  color: $csrunmenu-link-color;
}

.csArgsArea {
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
  border: 0 none;
  border-left: thin solid #0066FF;
}

.csArgsDiv {
  width: 100%;
}

.csArgsDiv span {
  display: block;
  overflow: hidden;
  padding: 0 5px;
}

.csArgsDiv label {
  margin-left: 0;
  float: left;
  font-size: 0.96em;

}

.grconsole {
  margin-top: 0.8em !important;
  border: 1px double black;
}

.csRunChanged {
  background-color: rgb(41, 255, 0) !important;
  width: 0.2em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -0.5em;
}

.csLazyPre {
    margin-left: 0.7em;
    border-left: none;
    margin-top: 0;
    padding-top: 0;
}

.csLazyPre pre {
    margin-left: 0;
    border-left: thin solid #0066FF;
    padding-left: 0;
    margin-top: 0.1em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 2pt;
}
