/* Hakemistoa varten */
.smallMenu {
    display: none;
}

.lecturesList {
    display: block;
}

#currentList {
    display: none;
}

#futureList {
    display: none;
}

.menuSection {
    margin-top: 1em;
}

.menuSection #largeMenu {
    background-color: #3cc;
    border: 1px solid #3cc;
    border-radius: 5px;
    padding: 1px 10px 10px 10px;
    top: 0;
    height: auto;
    display: flex;
}

#largeMenu .lectureSection, .loginSection {
    display: block;
}

.menuSection p {
    line-height: 100%;
    display: block;
    width: 100%
}

.iconSection .icon {
    display: inline;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.iconSection {
    display: inline-block;
    clear: both;
}

.smallMenuBtn {
    width: 100%;
    height: 100%;
}

.lectureSection {
    line-height: 70%;
    width: 100%;
    display: inline-block;
}

.loginSection {
    display: inline-block;
    width: 100%;
    float: right;
}

.menuSection .lectureSection h1 {
    font-family: verdana;
    color: white;
    text-align: left;
    margin: 0 0 10px 0;
    line-height: 1;
}

.lectureSection h2 {
    font-family: verdana;
    color: white;
    font-size: 70%;
    text-align: right;
}

.lectureSection p {
    float: left;
    margin: 0;
    text-align: left;
}

.lectureArea input {
    width: 50%;
    max-width: 50%;
    margin-bottom: 0.15em;
    display: block;
}

.lectureArea select {
    width: 50%;
    max-width: 50%;
    margin-bottom: 0.15em;
    display: block;
}

.menuSection button {
    background: #E6E6E6;
    border: 0;
    border-radius: 3px;
    color: #3CC;
    display: inline-block;
    font-size: 11px;
    /* font-weight: bold; */
    cursor: pointer;
    line-height: normal;
    padding: 5px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-icon.clicked {
    z-index: 501;
    opacity: 0.99;
    /*background: #e6e6e6;*/
    background: #d0d0d0;
}

/* Sisällysluetteloa varten */

.menu img {
    max-width: 95%;
    display: block;
    margin: 0 auto;
}

#sidebarMenuButton {
    display: none;
}

.contents {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#sidebarIcons {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.sideMenu {
    position: fixed;
    top: 0;
    left: 0;
}

.sidebarMenu p {
    margin: 0;
}

.invisible {
    height: 50px;
    width: 50px;
}

.sidebar {
    position: relative;
    left: 44px;
    top: -50px;
    z-index: 500;
    width: 180px;
    padding: 0 10px 10px 10px;
    max-height: 98vh;
    word-wrap: break-word;
    background-color: #e6e6e6;
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden, .autohidden {
    display: none;
}

.col ul {
    padding-left: 10px !important;
}

.lectures-sidebar .sideBarContainer, .questions-sidebar .sideBarContainer,
.people-sidebar .sideBarContainer, .settings-sidebar .sideBarContainer {
    padding-left: 10px;
}

.sideBarContainer ul {
    margin: 0;
    padding-left: 0;
    text-align: left;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.9em;
}

.sideBarContainer p, .people-sidebar li, .sideBarContainer label {
    text-align: left;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.85em;
}

.sidebar li {
    list-style: none;
}

.index-sidebar li {
    list-style-position: inside;
    margin-top: 2px;
    margin-bottom: 2px;
}

li.basic, li.basic_active {
    list-style: none;
    margin-left: 20px;
}

.sub {
    display: none;
}

.subexp {
    display: block;
}

li.exp {
    list-style-image: url("images/plus.png");
    cursor: pointer;
}

li.col {
    list-style-image: url("images/minus.png");
    cursor: pointer;
}

li.exp_active {
    list-style-image: url("images/plus.png");
    background-color: #eeeeff;
    cursor: pointer;
}

li.col_active {
    list-style-image: url("images/minus.png");
    background-color: #eeeeff;
    cursor: pointer; /* if not included, bullets are not shown right in moz*/
}

li.basic_active {
    background-color: #eeeeff;
}

.index-sidebar a {
    text-align: left;
    color: #2bb;
}

.settings-sidebar a {
    margin-top: 5px;
    margin-left: 15px;
    color: blue;
}

.lectures-sidebar a, .questions-sidebar a, .people-sidebar a {
    margin: 0;
    text-align: left;
    color: black;
}

.sidebar a:hover {
    color: #3cc;
    text-decoration: none;
}

.sidebar a.a1 {
    font-size: 110%;
}

.sidebar a.a2 {
    font-size: 100%;
}

.sidebar a.a3 {
    font-size: 100%;
    padding-left: 15px;
}

.sidebar h3, .sidebar h4 {
    margin: 10px 0 0 0;
    color: #3cc;
    font-size: 0.9em;
}

.sidebar h1 {
    font-size: 120%;
    background-color: #3cc;
    color: white;
    margin: 0 0 15px 0;
    border: none;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 10pt;
    line-height: 1.3;
    text-align: left;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 45px;
}

.menu-icon {
    z-index: 501;
    background: #F0F0F0;
    cursor: pointer;
}

.menu-icon:hover {
    z-index: 501;
    background: rgb(149, 149, 149) !important;
    /* Filter disabled because it doesn't work with IE. It has been replaced with background color change.
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
    -moz-filter: brightness(0.8);*/
}

/*Pienet resoluutiot*/
@media only screen and (max-width: 1200px) {
    .menuSection #largeMenu {
        display: none;
    }

    .lecturesList {
        display: block;
    }

    .sidebar.autohidden {
        display: none;
    }

    #sidebarMenuButton {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 505;
        display: block;
        width: 46px;
        height: 46px;
    }

    #sidebarMenuButton:hover {
        cursor: pointer;
    }

    .menu, .sideMenu {
        display: none;
        top: 46px;
        margin-top: 3px;
    }

    .smallMenu {
        border: 1px solid #3cc;
        border-radius: 5px;
        background-color: #3cc;
        display: -webkit-flex;
        display: flex;
        color: white;
        font-size: 0.7em;
        padding: 0 10px 0 10px;
        min-width: 230px;
        margin-top: auto;
    }

    .smallMenu p {
        font-size: 0.9em;
        color: black;
    }

    .smallMenu h1 {
        color: white;
        border: 2px groove;
        padding: 0;
        font-size: 1.5em;
        text-align: center;
        font-weight: normal;
        margin: 0;
        max-width: 100px;
        min-width: 65px;
    }

    .smallMenu h1:hover {
        cursor: pointer;
    }

    .smallMenu div {
        display: inline-block;
        width: 100%;
        overflow: hidden;
    }

    .lecturesList div {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .lecturesList img {

    }

    .lecturesList div ul {
        display: block;
    }

    .lecturesList div ul li {
        display: block;
    }

    .lecturesList div ul li p {
        font-family: verdana;
        font-size: 0.8em;
        padding: 5px;
        display: block;
        margin: 5px;
        background: #3cc;
        text-decoration: none;
        color: white;
        width: 90%;
    }

    .currently p {
        color: black;
        font-family: verdana;
        font-size: 15px;
        margin: 0;
    }

    .currently h2 {
        color: white;
        font-family: verdana;
        font-size: 20px;
        margin: 0;
    }

    #addLecture1, #addLecture2 {
        cursor: pointer;
    }

    .smallIconSection img {
        display: inline;
    }

    .index-sidebar, .lectures-sidebar, .questions-sidebar, .people-sidebar, .settings-sidebar {
        max-height: calc(100vh - 60px);
    }
}

@media only screen and (min-width: 1201px) {
    .menu, .sideMenu {
        display: block !important;
    }
}