/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.largetext {
    margin-top: 30px;
    margin-bottom: 50px;
}

.largeimage img {
    max-width: 100%;
    max-height: 100%;
}

.textfield input {
    border: 1px solid #c8c8c8;
	border-radius: 3px;

	padding: 10px;
	margin-top: 8px;
	margin-bottom: 0px;
	width: 100%;
}

.loginbutton input {
    color: #fff;
    background-color: #3cc;
	border: 1px solid #c8c8c8;
	border-radius: 3px;

	padding: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 100%;
}

.loginbutton:hover input {
    background-color: #4dd;
}

.loginbutton:active input {
    background-color: #2bb;
}

.openidbutton div {
    margin-top: 12px;
    margin-left: 8px;
}

.openidcontent {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #c8c8c8;
    padding: 8px;
}

.marketing ul {
    list-style-type: none;
    margin-left: 20px;
    padding-left: 0;
}

.marketing a {
    color: #2bb;
}

.marketing a:hover {
	color: #3cc;
	text-decoration: none;
}

.footer p {
    float: left;
    margin-left: 10px;
    display: inline;
}

.footer ul {
    float: right;
    margin-right: 10px;
    display: inline;
    list-style-type: none;
}

.footer a {
    color: #3cc;
}

.flashes {
    padding: 0;
    margin: 0;
}

.flashes li {
	list-style-type: none;
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.5em;
}

.errormsg {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}