
.content{
        width: 30em;
        text-align: justify;
        
}

.paragraph{
        position: relative;
        width: 60em;
        margin-left:1em;
        margin-top: 2em;
}

.editButton{ 
    position: relative;
    top: -3em;
    left:5em;
    font-size: x-small;
    width: 5em;
    height: 3em;
    top:0em;
    border: 2px none;
    border-radius: 25px;
    background-color: #66FF99;
}

.material{
     background-color: white;
     display:inline-block;
     width: 100%;
     border: 2px solid;
     border-radius: 25px;
     box-shadow: 10px 10px 5px #888888;
}
