.content {
    text-align: justify;
}

.container {
    max-width: 52em;
}

body {
    text-align: justify;
    margin: auto auto auto 250px;
}

.correct {
    background-color: limegreen;
    padding: 0.5em;
}

.wrong {
    background-color: red;
    padding: 0.5em;
}

.mcq table p {
    margin-left: 0;
    text-align: left;
}

.mcq table {
    left: 2em;
}

.docEditor {
    width: 100%;
    height: 30em;
}

.flashes {
    padding: 0;
    margin: 0;
}

.flashes li {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5em;
}

/*=============================================*/
/* Gather all colors here                      */
/*=============================================*/
.ansi_fore {
    color: #FFFFFF;
}

.ansi_back {
    background-color: #000000;
}

.ansi1 {
    font-weight: bold;
}

.ansi3 {
    font-style: italic;
}

.ansi4 {
    text-decoration: underline;
}

.ansi9 {
    text-decoration: line-through;
}

.ansi30 {
    color: #000000;
}

.ansi31 {
    color: #FF0000;
}

.ansi32 {
    color: #00FF00;
}

.ansi33 {
    color: #FFFF00;
}

.ansi34 {
    color: #0000FF;
}

.ansi35 {
    color: #FF00FF;
}

.ansi36 {
    color: #00FFFF;
}

.ansi37 {
    color: #FFFFFF;
}

.ansi40 {
    background-color: #000000;
}

.ansi41 {
    background-color: #FF0000;
}

.ansi42 {
    background-color: #00FF00;
}

.ansi43 {
    background-color: #FFFF00;
}

.ansi44 {
    background-color: #0000FF;
}

.ansi45 {
    background-color: #FF00FF;
}

.ansi46 {
    background-color: #00FFFF;
}

.ansi47 {
    background-color: #FFFFFF;
}

.noteButton, .addNoteButton, .addParButton, .editButton, .cancelButton, .parSaveButton, .deleteButton, .addQuestionButton {
    background-color: #f8f8f8;
    color: white;
    font-size: x-small;
    text-align: center;
    border-radius: 12px;
    outline: none;
    float: left;

    border: 2px none;
    line-height: 0.8;
    width: 5em;
    height: 3em;
}

input[type="submit"], button, input[type="button"] {
    margin-right: 1px;
    background: #3CC;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    line-height: normal;
    padding: 5px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.material {
    background-color: white;
}

.editorArea {
    background-color: #B0B0B0;
}

table th {
    background-color: #dedede;
}

td p {
    margin-left: 0;
}

.readline {
    border-color: #F60; /* rgb(236,103,27); */
}

.readline:hover {
    opacity: 0.5;
    background: #F60; /* rgb(236,103,27); */
}

.editline:hover {
    opacity: 0.5;
    background: #3CC; /* rgb(236,103,27); */
}

.readline.read {
    display: none;
}

.readline.modified {
    border-color: yellow;
}

.readline.modified:hover {
    background: yellow;
}

.pluginError {
    border: 1px solid red;
    background-color: pink;
}

.note.private {
    border-color: red;
}

/*=============================================*/
li p {
    margin-left: 0;
}

ul, ol {
    margin-left: 1.5em;
}

ul ul, ol ol {
    margin-left: -1em;
}

ul ul ul, ol ol ol {
    margin-left: -1em;
}

.note p {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.note p:last-child {
    margin-bottom: 0;
}

.paragraph, .par {
    position: relative;
    margin-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.par.lightselect {
    background-color: #f7f7f7;
}

.par.selected {
    background-color: lightgray;
}

.material img {
    max-width: 95%;
    display: block;
    margin: 0 auto;
}

.figure {
    text-align: center;
}

.notes, .speaker {
    position: absolute;
    left: 112%;
    width: 17em;
    top: 0;
}

.note {
    font-size: 0.7em;
}

.noteButton {
    z-index: 3;
    height: 1.8em;
    top: 0;
    float: left;
}

.addNoteButton {
    position: absolute;
    right: -8.2em;
    z-index: 3;
    top: 0;
}

.headerlink {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.par:hover .headerlink {
    display: inherit;
}

.parContent {
    position: relative;
}

.parref {
    border: 1px solid #cad;
    border-radius: 3px;
    padding-bottom: 20pt;
}

.parref-begin {
    border-top: 1px solid #cad;
    border-left: 1px solid #cad;
    border-right: 1px solid #cad;
    border-radius: 3px;
    //padding-bottom: 20pt;
}

.parref-mid {
    border-left: 1px solid #cad;
    border-right: 1px solid #cad;
    border-radius: 3px;
}

.parref-end {
    border-left: 1px solid #cad;
    border-right: 1px solid #cad;
    border-bottom: 1px solid #cad;
    border-radius: 3px;
    padding-bottom: 20pt;
}

.parlink:before {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    color: #cad;
    content: "\"";
    margin-left: 12px;
    margin-right: 12px;
}

a.parlink {
    color: #97a;
}

a.parlink:hover {
    color: #dde;
    text-decoration: none;
}

#previewDiv {
    max-width: 52em;
    clear: both;
    overflow: hidden;
    border-radius: 5px;
    background: inherit;
}

#previewDiv .editline, #previewDiv .readline, .csrunPreview  .editline, .csrunPreview  .readline { 
    display: none;
}

#previewDiv .par {
    margin-left: 0;
    margin-right: 0;
}

#slideFrame {
    width: 100%;
    height: 30em;
    margin-top: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}

.released {
    clear: both;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    background: inherit;
}

.previewcontent {
    clear: both;
    overflow-y: auto;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
    padding-top: 0.0em;
    margin-top: 5px;
    background-color: #f8f8f8;
}

.timButton, .editorButton {
    display: block;
    margin: auto;
    min-width: 40px;
}

.readline {
    position: absolute;
    right: -1em;
    z-index: 3;
    width: 10em;
    height: 100%;
    top: 0;
    border-right: 0.5em solid;
    border-color: #F60; /* rgb(236,103,27); */
}

.editline {
    position: absolute;
    left: -1.2em;
    z-index: 3;
    width: 3em;
    height: 100%;
    top: 0;
}

.addNoteButton:hover {
    background: #C0C0C0;
    color: black;
}

.noteButton:hover {
    background: #C0C0C0;
    color: black;
}

.edit {
    top: 0;
}

.edit:before {
    content: "Edit";
}

.delete:before {
    content: "Delete";
}

.delete {
    top: 3em;
}

.editButton {
    z-index: 3;
    position: absolute;
    right: -8.2em;
}

.editButton:hover {
    visibility: visible;
    background: #C0C0C0;
    color: black;
}

.deleteButton {
    left: 0;
    z-index: 10;
    top: 6em;
    background: #FF0000;
}

.deleteButton:hover {
    color: black;
}

.parSaveButton {
    top: 0;
    left: 0;
    z-index: 10;
    background: #19D119;
}

.parSaveButton:hover {
    color: black;
}

.parSaveButton:before {
    content: "Save";
}

.cancelButton:hover {
    background: #999966;
    color: black;
}

.cancelButton:before {
    content: "Cancel";
}

.cancelButton {
    z-index: 10;
    left: 0;
    top: 3em;
    background: #999966;
}

#topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;

}

.navigationBar {
    width: auto;
    background-color: #00CC00;

}

.flashEdit {
    position: absolute;
    background-color: #FF1919;
    left: 45em;
    height: 10em;
    width: 40em;
}

.addParButton:before {
    content: "Add";
}

.addParButton:hover:before {
    content: "Add new paragraph here";
}

.addParButton {
    z-index: 2;
    right: -8.2em;
    bottom: -1.5em;
    height: 1.5em;
    padding-top: 0.5em;
    position: absolute;
}

.addParButton:hover {
    content: "Add new paragraph here";
    display: block;
    background-color: #C0C0C0;
    border: 1px dotted #338533;
    border-radius: 25px;
    opacity: 1;
    width: 110%;
    left: 0;
    color: black;
}

PRE {
    /* border-style: solid; */

    /* border-width: 1px; */

    /* border-radius: 5px; */

    padding: 4px;

    margin-left: 2.5em;
    margin-right: 0.00cm;
    line-height: 1;
    font-size: 1em;

    /* box-shadow: 10px 10px 5px #888888; */
}

.leveaPre {
    width: 100em;
    background-color: white;
}

p code {
    font-size: 1.2em;
}

pre code {
    margin-right: 0.00cm;
    line-height: 1;
    font-size: 1em;
}

PRE.esimerkki-western {
    font-size: 1em;
}

PRE.huonoesimerkki-western {
    font-size: 1em;
}

table {
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table code {
    font-size: 1.2em;
}

table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

P {
    margin-top: 0;
    margin-bottom: 0.0cm;
    margin-left: 2em;
}

P.sananselitys-western {
    padding: 0.4cm;
    margin-left: 0;
    margin-right: 0;
}

p.kannentiedot-western {
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
}

p.kannentiedotoikea-western {
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
}

.caption {
    text-align: center;
    font-style: italic;
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

.par h1 {
    text-align: center;
    margin-top: 3cm;
    /*margin-top: 0cm;*/
    margin-bottom: 1cm;
    color: navy;
    border-top: navy 2pt solid;
    border-bottom: navy 2pt solid;
    padding-top: 10pt;
    padding-bottom: 10pt;
    line-height: 1.3;
}

.par h2 {
    text-align: left;
    margin-top: 1.5cm;
    /*margin-top: 0cm;*/
    line-height: 1.2;
}

.par h3 {
    text-align: left;
    margin-top: 1cm;
    /*margin-top: 0cm;*/
    margin-bottom: 0.5cm;
}

.par h4 {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 0.5cm;
}

.par blockquote {
    margin-left: 1.5cm;
    margin-right: 1.5cm;
}

/*Georgia, - huonot numerot pystysuunnassa*/
body {
    /*	margin-left: 0.7cm; */
    /*	margin-right: 0.7cm; */
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.2;
}

:link, a {
    color: navy;
    text-decoration: none;
    font-size: 0.8em;
}

:visited {
    color: blue;
}

a:active {
    color: navy;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: navy;
    text-decoration: underline;
}

answerbrowser a {
    font-size: inherit;
}

answerbrowser .firstanswer {
    float: right;
}

sub {
    font-size: 0.8em;
    /* gecko-pohjaisilla selaimilla sub nakyy liian ylhaalla, ellei fonttia pienenna */
}

br {
    margin: 0;
    padding: 0;
    line-height: 0.4; /* pienempi vali monisteen kansia varten */
}

/* lukujen #-linkit */
a.placeholder {
    font-size: 0.7em;
    color: #ccccff;
    text-decoration: none;
}

a.placeholder:visited {
    font-size: 0.7em;
    color: #ccccff;
    text-decoration: none;
}

a.placeholder:hover {
    font-size: 0.7em;
    color: #aaaaff;
    text-decoration: none;
}

p.links_h1 {
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 1.55em;
    font-size: 1em;
}

p.links_h2 {
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    font-size: 0.9em;
}

p.links {
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    font-size: 0.8em;
}

/* uusi ankkurityyli, korvaa placeholderit.
influenced by trac anchors */
a.anchor:hover {
    border: none;
    font-weight: bold;
    color: #7777ff;
    text-decoration: none;
    vertical-align: text-bottom;
}

.anchor:link, .anchor:visited {
    border: none;
    color: #aaaaff;
    text-decoration: none;
    vertical-align: text-bottom;
}

* > .anchor:link, * > .anchor:visited {
    visibility: hidden;
}

.kaava {
    text-align: center;
    line-height: 1.7em;
    font-size: 1.2em;
    font-family: serif;
}

.huomautus {
    margin-left: 3em;
    margin-top: 0.4cm;
    background: #e6e6e6;
    border: 1.00pt solid #000000;
    padding: 0.25cm;
    font-family: Verdana, Arial, sans-serif;
    text-align: left;
}

/* pre-blokit, joissa sub/sup - spanit ymp�rill�, v�hennet��n paddingia */
/*pre.esimerkki-western-sub {
    font-size:1em;
    border: 1px solid #000000; padding: 0cm 0.1cm; so-language: zxx
}*/

/*body {font-family: Verdana, Arial, sans-serif}*/
.editor {
    width: 100%;
    padding: 5px 0;
    text-align: left;
    resize: both;
    border-radius: 5px;
}

.editorContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.editorArea {
    overflow: hidden;
    z-index: 110;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 6.5em;
    padding: 0.5em;
    border-radius: 5px;
    background: #e0e0e0;
}

#pareditor {
    background: inherit;
}

.editButtonArea {
    float: left;
    padding-right: 1em;
    margin-bottom: 0;
}

.editorButton {
    font-size: 14px !important;
    height: 35px;
    margin: 0 2px 0 2px !important;
}

.extraButtonArea {
    font-size: 0;
    padding: 8px 16px;
    margin: 0 0 3px 0;
    background: white;
    border-left: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.extraButtonArea * {
    font-size: 14px;
}

.extraButtonArea.hidden {
    display: none;
}

.tabsarea, .extraButtonArea {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgb(183, 183, 183);
}

.tabsarea {
    margin: 0;
    padding: 0;
}

.tabsarea li {
    height: 100%;
    display: inline-block;
    list-style: none;
    border: 1px solid rgb(183, 183, 183);
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
    background: rgb(246, 246, 246);
}

li.tab.active, li.tab.pinned {
    background: #3CC;
}

li.tab.active a, li.tab.pinned a {
    color: white;
}

.tabsarea li > a {
    display: block;
    height: auto;
    margin: 0;
    color: rgb(96, 96, 96);
    padding: 0.5em 1em;
    text-decoration: none;
}

input[type="file"] {
    margin: 0;
    padding: 0;
    border: none;
}

.tabsarea li > a:hover {
    text-decoration: none;
}

video {
    display: block;
    margin: 0 auto;
}

img.console {
    margin-left: 2em;
}

/* csRun-tyylit ================================================== */
.console {
    font-family: Courier, serif;
    color: #ccc;
    background: #000000;
    border: 3px double #ccc;
    padding: 10px;
    width: 95% !important;
}

p.stem {
    margin-bottom: 1em;
}

.reveal .csRunChanged {
    display: none;
}

.reveal .csRunMenu {
    font-size: 0.1em;
}

.csRunChanged {
    background-color: rgb(41, 255, 0);
    width: 0.5em;
    height: 100%;
    position: absolute;
    top: 0;
    left: -0.5em;
    /* margin-bottom: 2em; */
}

.csRunPre, .csRunPost {
    margin-left: 0;
    border-style: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.1;

}

.csRunError {
    white-space: pre-wrap;
    text-align: left;
}

.csRunPre {
    margin-bottom: 0;
}

.csRunPost {
    margin-top: 0;
}

.csRunCode {
    font-family: Courier, serif;
    margin-left: 2em;
    /* border-style: solid; */

    border-width: 1px;

    /* border-radius: 5px; */
    padding: 4px;
    margin-right: 0;
    line-height: 1;
    font-size: 1em;

    /* box-shadow: 10px 10px 5px #888888; */
    /* width: 98%; */
}

.csRunArea {
    font-family: Courier, serif;
    margin: 0;
    border-style: none;
    border-width: 0;
    border-radius: 0;
    padding: 1px;
    line-height: 1.1;
    font-size: 0.96em;
    box-shadow: none;
    width: 100% !important;
    min-width: 600px !important;
    white-space: pre;
    border-left: thin solid #0066FF;
}

.showVideo {
    display: block;
    margin: 0 auto;
}

.showVideoHolder {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.listVideoRunDiv {
    /* margin-left: 2em; */
    margin-top: -1em;
}

.listVideoRunDiv img {
    display: inline-block;
    width: 0.8em;
}

.smallVideoRunDiv img {
    display: inline-block;
    width: 0.8em;
}

.taunoOhje {
    font-size: 0.7em;
    margin-bottom: 1em;
}

.csRunArea:focus {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 100% !important;
}

.csRunMenu {
    margin-top: 0.9em;
}

.pluginHide {
    text-align: right;
}

.pluginShow {
    text-align: right;
}

.unitTestGreen {
    background: #00FF00;
    width: 30%;
    margin-top: 5pt;
    height: 1.5em;
}

.unitTestRed {
    background: #FF7777;
    /* width: 30%; */
    /* height: 1em; */
}

.smalllink {
    font-size: 50%;
    margin-top: -3em;
    margin-bottom: 3em;
    margin-right: 1em;
    text-align: right;
}

body {
    line-height: 1.4;
}

.defaultCheckbox {
    vertical-align: middle;
    margin-left: 2em;
}

task, .csRunDiv {
    border: solid 1px #3CC;
    border-radius: 5px;
    margin: 0.3em 2em;
    padding-bottom: 0.5em;
    width: 96.5%
}

.csRunDiv h4 {
    margin-top: 0.0em;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    background-color: #3CC;
    color: #FFF;
    font-family: "Helvetica", Arial, sans-serif;

}

.note {
    border-top: 4px solid;
    width: 240px;
    padding-bottom: 5px;
    /*position: absolute;*/
    overflow-y: auto;
    border-color: #F60;
}

.note.private {
    border-color: #3CC;
}

pre {
    font-family: "Courier New", Courier, serif;
    font-weight: normal;
    border-left: 4px solid #3CC;
    padding: 0.5em 0 0.5em 1em;
    /* margin: 0 0 1em 1em; */
    font-size: 0.95em;
}

.csRunPre, .csRunPost, .csRunArea {
    margin-left: -1.5em;
    box-shadow: none;
    word-wrap: initial;
}

.stem {
    margin-left: 0.3em;
    margin-right: 0.5em;
}

.csRunMenu {
    margin-left: 0.3em;
}

.csRunMenu button {
    background: #3CC;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.console {
    margin-left: 0.2em;
    /* max-width: 60em; */
}

img.console {
    margin-left: 0.2em;
}

.csRunMenu link, .csRunMenu :visited {
    color: #3CC;
}

.notes:hover, .speaker:hover {
    background-color: white;
    display: block;
    z-index: 9;
}

@media only screen and (max-width: 1600px) {

    .notes:hover, .speaker:hover {
        margin-left: -60%;
        width: 200em;
        background-color: white;
        display: block;
        z-index: 9;
        padding-left: 2em;
    }

}

/* Opettajanäkymän käyttäjälistaa varten ================================*/

.userlist {
    position: fixed;
    top: 13px;
    right: 120px;
    padding: 5px;
    word-wrap: break-word;
    background-color: #e6e6e6;
    z-index: 501;
    overflow: auto;
    overflow-x: hidden;
    max-height: 90vh;
}

.userlist td, .userlist th {
    max-width: 50px;
}

.userlist td {
    padding: 1px;
}

.userlist td:first-child, .userlist th:first-child {
    max-width: 200px;
}

.userlist .input-filter {
    width: 95%;
}

.userlist .sortable.header {
    cursor: pointer;
}

.userlist li {
    list-style-type: none;
    display: inline;
}

.userentry {
    font-family: Verdana, serif;
    font-size: 12px;
    color: #a6b6f6;
}

.close {
    float: right;
    position: relative;
}

.runo {
    text-align: center;
    font-style: italic;
    margin-bottom: 2em;
    font-size: 0.9em;
}

.tehtava {
    margin-left: 2em;
    font-size: 0.9em;
}

.questionAdded img {
    cursor: pointer;
    z-index: 1;
    position: relative;
}

/* =============================== Vesan lisäyksiä ==================================*/

.ace_editor {
    position: relative;
    overflow: hidden;
    font-family: 'Courier', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 14px;
    line-height: 1.1;
    direction: ltr;
}

.timButton, .editorButton {
    margin: auto;
    background: #3CC;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}

.actionButtons, .menuButtons {
    display: table;
    position: absolute;
    white-space: nowrap;
    border-radius: 3px;
    padding: 12px;
    margin: 0;
    background-color: #f8f8ff;
    z-index: 100;
    min-height: 50px;
}

.actionButtonRow {
    display: table-row;
}

.par.selected {
    background-color: #f8f8f8;
}

.addNote, .editPar, .addPar .menuClose {
    width: 220px;
}

.defaultButton {
    margin: 0.2em;
    float: right;
}

.questionButton {
    margin: 0.2em;
}

.listVideoRunDiv {
    /* margin-left: 2em; */
    margin-top: -1.5em;
    margin-bottom: -1.2em;
}

.csArgsArea {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    border-style: none;
    border-width: 0;
    border-left: thin solid #0066FF;
}

.csArgsDiv {
    width: 100%;
}

.csArgsDiv span {
    display: block;
    overflow: hidden;
    padding: 0 5px;
}

.csArgsDiv label {
    margin-left: 0;
    float: left;
    font-size: 0.96em;

}

.grconsole {
    margin-top: 0.8em !important;
    border: 1px double black;
}

@media print {
    p {
        font-size: 12pt;
        page-break-inside: avoid;
    }

    body {
        margin: 0;
        max-width: 100%;
    }

    .material {
        width: 100%;
    }

    .readline {
        display: none;
    }

    .parContent {
        position: static;
        border: 0;
        max-width: 100%;
    }

    .par {
        position: static;
        border: 0;
        max-width: 100%;
    }

    .headerlink {
        display: none;
    }

    #header {
        display: none;
    }

    #contents {
        display: none;
    }

    /* Harmaa varjo dokumentilta pois */
    .material {
        box-shadow: none !important;
        border: none !important;
    }
}

.speaker {
    position: absolute;
    left: 105%;
    width: 400px;
}

.doctitle {
    font-size: 0.7em;
    color: #3cc;
    text-align: center;
    margin-bottom: -1.5em;
}

.mcq {
    padding-left: 2em;
}

.answerBrowser {
    padding-left: 2em;
}

.csRunChanged {
    background-color: rgb(41, 255, 0) !important;
    width: 0.2em;
    height: 100%;
    position: absolute;
    top: 0;
    left: -0.5em;
}

.sagecell_editor {
    line-height: 13px;
    margin-bottom: 8px;
    font-size: 10pt;
}

pre.sagecell_pyout {
    border: none;
}

pre.sagecell_stdout {
    border: none;
}

button:disabled, input[type="submit"]:disabled, input[type="button"]:disabled {
    background: #AAA;
    color: #CCC;
}

@media screen and (min-width: 60em) {
    .body {
        margin-left: 60em !important;
    }
}

.breadcrumb > li + li:before {
    padding: 0 !important;
    color: #ccc !important;
    content: "/" !important;
}

.breadcrumb-div {
    margin-top: 3px !important;
    background-color: #fff !important;
}

.breadcrumb {
    font-size: 1.0em;
    background-color: #fff !important;
}

.breadcrumb.ol {
    background-color: #fff;
}

.breadcrumb a {
    /* Overrides the default TIM style for links */
    /*background-color: #fff;  */
    font-size: 1.0em;
    padding: 0 !important;
    margin-bottom: 20px;
    border-radius: 4px;
}

.breadcrumb active {
    text-decoration: bold;
}

.breadcrumb > li {
    display: inline-block;
}

.borderless {
    border-collapse: collapse;
}

.borderless td {
    border: none;
    outline: none;
}

.fullwidth {
    width: 100%;
}

.checkbox-td {
    text-align: center;
}

p.plgfooter {
    text-align: center;
}

.addBottomContainer {
    margin: 0.25em 0 0.25em 1em;
    position: relative;
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding-bottom: 1em;
}

#teksti {
    font-size: 15px;
    line-height: 15px;
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    height: auto;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(183, 183, 183);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#teksti:focus {
    outline: none;
}

.lazyHidden {
    visibility: hidden;
}    

.lazyVisible {
    margin-top: 0pt;
    padding-top: 0pt;
}

.csLazyPre {
    margin-left: 0.7em;
    border-left: none;
    margin-top: 0pt;
    padding-top: 0pt;
}

.csLazyPre pre {
    margin-left: 0pt;
	border-left: thin solid #0066FF;
    padding-left: 0pt;
}

/* Tablettien ja pienempien laitteiden erikoistyylit =============================================*/
@media only screen and (max-width: 1200px) {
    .editor {
        /* height: 5em; */
    }

    div.header {
        min-height: 46px;
    }

    .pull-left {
        padding-left: 55px;
    }

    .content {
        text-align: justify;
        margin-right: 0.5em;
    }

    .paragraph, .par {
        position: relative;
        margin-left: 0;
        margin-top: 1em;
        margin-right: 1em;
    }

    .addBottomContainer {
        margin-left: 0;
    }

    .addNoteButton {
        position: absolute;
        top: 0;
        left: 106%;
        outline: none;
    }

    .readline {
        width: 6em;
    }

    .notes, .speaker {
        position: absolute;
        left: 116%;
        width: 17em;
        top: 0;
    }

    .editButton {
        position: absolute;
        top: 0;
        left: 106%;
        outline: none;
    }

    .editorArea {
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .previewcontent {
        max-height: 15em;
    }

    .addParButton {
        left: 106%;
    }

    body {
        margin-left: 2px;
        margin-right: 2px;
        font-family: Verdana, Arial, sans-serif;
        font-size: 1em;
        line-height: 1.2;
    }

    .material {
        background-color: white;
        display: inline-block;
        width: 100%;
        margin-left: 0;
    }

    .noteeditor {
        /*
            position: absolute;
            top: 0em;
            left: 0em;
        */
    }
}

/* Kännyköiden erikoistyylit =============================================*/
@media only screen and (max-device-width: 500px) {

    P {
        margin: 0 5px 0 1px;
    }

    .content {
        text-align: left;
    }

    .material {
        display: inline-block;
        width: 100%;
    }

    body {
        text-align: left;
        max-width: 50em;
        margin-left: 0.0cm !important;
        margin-right: 0.0cm;
        font-family: Verdana, Arial, sans-serif;
        font-size: 1em;
        line-height: 1.2;
    }

    PRE {
        margin-left: 0.5em;
        margin-right: 0.00cm;
    }

    .csRunCode {
        margin-left: 1.1em;
        /*width: 98%;  */
    }

    .addNoteButton {
        position: absolute;
        line-height: 0.8;
        top: 0;
        left: 101%;
        outline: none;
    }

    .notes, .speaker {
        position: absolute;
        left: 115%;
        width: 17em;
        top: 0;
    }

    .readline {
        width: 3em;
    }

    task, .csRunDiv {
        margin-left: 0.2em;
        margin-right: 0;
    }

    .csrunEditorDiv .csEditArea {
        /* margin-left: 1px;  */
    }

    .huomautus {
        margin-left: 0.1em;
        text-align: left;
    }

    blockquote {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    ul, ol {
        margin-left: 0.1em;
    }

    .sidebar.autohidden {
        display: none;
    }
}

@media print {
  div.header {
    display: none;
  }
  .showSidebar {
    display: none;
  }  

  div#header {
    display: none;
  }
  
  .breadcrumb-div {
    display: none;
  }
  
  .addBottomContainer {
    display: none;
  }
}
