@charset "UTF-8";

$basic-color: #3CC;
$button-bg-color: $basic-color;
$editline-bg-color: $basic-color;
$areacollapse-color: $basic-color;
$tab-bg-color: $basic-color;
$csrundiv-color: $basic-color;
$note-private-color: $basic-color;
$pre-color: $basic-color;
$csrunmenu-button-bg-color: $basic-color;
$csrunmenu-link-color: $basic-color;
$timbutton-bg-color: $button-bg-color;
$viewlogin-link-color: $basic-color;
$draghandle-bg-color: $basic-color;
$sidebar-heading-color: $basic-color;
$sidebar-link-hover-color: $basic-color;
$index-sidebar-color: #2bb;
$line-height: 1.4;
$font-family: Verdana, Arial, sans-serif;
$font-size: 1em;
$bg-color: white;
$material-shadow: none;
$body-margin-left: 250px;
$material-border: none;
$material-border-radius: 0;
$body-text-align: justify;

// Bootstrap variable overrides:
$brand-primary: $basic-color;
