.createLecture, .showAnswersWindow, .questioninfoWindow, .questionAskedWindow {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background: #F0F0F0;
    padding: 15px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #505050;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #E4E4E4;
}

#infoFields label {
    display:inline-block;
	width: 150px;
}

.icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	
}

.questionInfo {
	border: 1px solid #E4E4E4;
	margin-bottom: 10px;
	padding: 10px;
}

.startingTime #startInfo, #endInfo{
	margin-left: 20px;
}

.popUpWindow h1 {
   font-family: verdana;
   font-size: 16px;
   padding: 0px 0px 0px 0px;
   color: #3cc;
   text-align: left;
   margin-top: 0cm;
   margin-bottom: 0cm;
   border-top: none;
   border-bottom: none;
   padding-top: 10px;
   padding-bottom: 10px;
   line-height: 1;    
}

.createLecture input[type="text"], .createLecture input[type="date"], .createLecture select {
    border: 1px solid #3cc;
    color: #505050;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.createLecture.buttons {
    background: #33cccc;
    border: none;
	margin: 10px;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
	display: inline-block;
    font-size: 11px;
    line-height: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.createLecture button:disabled, .createLecture input[type="button"]:disabled {
	cursor: default;
	background-color: #DCDCDC;
}

.createLecture input[type="text"]:disabled {
	background-color: #DCDCDC;
	border: 1px solid #DCDCDC;
}

.createLecture p {
	color: red;
	margin-left: 0px;
}

.answerStatistics select, .questioninfoWindow label , .questionAskedWindow label {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sectionDetails {
	border: 1px solid #E4E4E4;
}


